<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>
      <Variable Name="WindowsIISHostingModulePath" Value="[ProgramFiles64Folder]IIS\Asp.Net Core Module\V2\aspnetcorev2.dll" />
      <util:FileSearch Id="WindowsIISHostingModuleExists" Path="[WindowsIISHostingModulePath]" Variable="WindowsIISHostingModuleExists" Result="exists" />
      <util:FileSearch Id="WindowsIISHostingModuleVersion" Path="[WindowsIISHostingModulePath]" Variable="WindowsIISHostingModuleVersion" Result="version" />

      <!--<Variable Name="WindowsDotNetHosting501InstallDir" Value="[ProgramFiles64Folder]dotnet\host\fxr\6.*" />
          <util:DirectorySearch Id="WindowsDotNetHosting501Installed" Path="[WindowsDotNetHosting501InstallDir]" Variable="WindowsDotNetHosting501Installed" Result="exists" />-->
      <!--<WixVariable Id="WindowsDotNetHosting501InstalledDetectCondition" Value="WindowsIISHostingModuleExists AND WindowsIISHostingModuleVersion &gt;= MinDotNetCoreModuleVersion" Overridable="yes" />-->

      <WixVariable Id="WindowsDotNetHosting501InstalledInstallCondition" Value="" Overridable="yes" />

      <!-- aspnetcorev2.dll version is v16.0.22335.13 for Bundle 6.0.13 -->
      <!-- aspnetcorev2.dll version is v17.0.22323.1 for Bundle 7.0.1 -->
      <PackageGroup Id="WindowsDotNetHosting501">
        <ExePackage
          Name="dotnet-hosting-7.0.1-win.exe"
          InstallCommand="/install /quiet /norestart /log &quot;[WindowsDotNetHosting501Log]&quot;"
          RepairCommand="/repair /quiet /norestart /log &quot;[WindowsDotNetHosting501Log]&quot;"
          UninstallCommand="/uninstall /quiet /norestart /log &quot;[WindowsDotNetHosting501Log]&quot;"
          PerMachine="yes"
          DetectCondition="WindowsIISHostingModuleExists AND WindowsIISHostingModuleVersion &gt;= v17.0.22323.1"
          InstallCondition="!(wix.WindowsDotNetHosting501InstalledInstallCondition)"
          Vital="yes"
          Permanent="yes"
          Protocol="burn"
          DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/352e02d2-66be-48d5-b9bf-959a9a02982d/e29621ccbdb41d69b06bb29b4434b13a/dotnet-hosting-7.0.1-win.exe"
          LogPathVariable="WindowsDotNetHosting501Log"
          Compressed="no">
        <!-- heat.exe payload "dotnet-hosting-3.1.1-win.exe" -o "dotnet-hosting.wxs" -->
          <RemotePayload CertificatePublicKey="0A7D1EFF01D4EBAD21E85C51499576EBAA40E676" 
                         CertificateThumbprint="AFBF0B8B6A18F7E23CCA1DDCD0AC1A55B4035173" 
                         Description="Microsoft .NET 7.0.1 - Windows Server Hosting" 
                         Hash="CEEA795BAD4D37DDA66EA249F305D2544E00FDBA" 
                         ProductName="Microsoft .NET 7.0.1 - Windows Server Hosting" 
                         Size="109988280" 
                         Version="7.0.1.22568" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>
