<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>
      <Variable Name="WindowsIISHostingModulePath" Value="[ProgramFiles64Folder]IIS\Asp.Net Core Module\V2\aspnetcorev2.dll" />
      <util:FileSearch Id="WindowsIISHostingModuleExists" Path="[WindowsIISHostingModulePath]" Variable="WindowsIISHostingModuleExists" Result="exists" />
      <util:FileSearch Id="WindowsIISHostingModuleVersion" Path="[WindowsIISHostingModulePath]" Variable="WindowsIISHostingModuleVersion" Result="version" />

      <!--<Variable Name="WindowsDotNetHosting501InstallDir" Value="[ProgramFiles64Folder]dotnet\host\fxr\6.*" />
          <util:DirectorySearch Id="WindowsDotNetHosting501Installed" Path="[WindowsDotNetHosting501InstallDir]" Variable="WindowsDotNetHosting501Installed" Result="exists" />-->
      <!--<WixVariable Id="WindowsDotNetHosting501InstalledDetectCondition" Value="WindowsIISHostingModuleExists AND WindowsIISHostingModuleVersion &gt;= MinDotNetCoreModuleVersion" Overridable="yes" />-->

      <WixVariable Id="WindowsDotNetHosting501InstalledInstallCondition" Value="" Overridable="yes" />

      <!-- aspnetcorev2.dll version is v16.0.22335.13 for Bundle 6.0.13 -->
      <!-- aspnetcorev2.dll version is v17.0.22323.1 for Bundle 7.0.10 -->
	  <!-- aspnetcorev2.dll version is v18.0.24080.4 for Bundle 8.0.4 -->
	  <!-- aspnetcorev2.dll version is v18.0.24141.6 for Bundle 8.0.6 -->
	  
      <PackageGroup Id="WindowsDotNetHosting501">
        <ExePackage
          Name="dotnet-hosting-8.0.6-win.exe"
          InstallCommand="/install /quiet /norestart /log &quot;[WindowsDotNetHosting501Log]&quot;"
          RepairCommand="/repair /quiet /norestart /log &quot;[WindowsDotNetHosting501Log]&quot;"
          UninstallCommand="/uninstall /quiet /norestart /log &quot;[WindowsDotNetHosting501Log]&quot;"
          PerMachine="yes"
          DetectCondition="WindowsIISHostingModuleExists AND WindowsIISHostingModuleVersion &gt;= 18.0.24141.6"
          InstallCondition="!(wix.WindowsDotNetHosting501InstalledInstallCondition)"
          Vital="yes"
          Permanent="yes"
          Protocol="burn"
          DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/751d3fcd-72db-4da2-b8d0-709c19442225/33cc492bde704bfd6d70a2b9109005a0/dotnet-hosting-8.0.6-win.exe"
          LogPathVariable="WindowsDotNetHosting501Log"
          Compressed="no">
        <!-- heat.exe payload "dotnet-hosting-3.1.1-win.exe" -o "dotnet-hosting.wxs" -->
		<RemotePayload 
		  CertificatePublicKey="7F26B48DA3B4A59D2AD0B7D1CB3C081359B4D820" 
		  CertificateThumbprint="F9A7CF9FBE13BAC767F4781061332DA6E8B4E0EE" 
		  Description="Microsoft .NET 8.0.6 - Windows Server Hosting" 
		  Hash="DD67F44E2DEDB0F17AD208B4E359D7E7696910D7" 
		  ProductName="Microsoft .NET 8.0.6 - Windows Server Hosting" 
		  Size="113750176" Version="8.0.6.24269" />           
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>
