
@model Main.Core.View.Answer.CompleteAnswerView
           
<div>@Model.Title</div>
<img src="@Url.Action("Thumb", "Resource", new { id = Model.AnswerImage })" alt="@Model.Title"  height="100" />