
@model Main.Core.View.Answer.CompleteAnswerView
@*@{var radibutonname = ViewData.TemplateInfo.GetFullHtmlFieldId("PublicKey");    }
<label for="@radibutonname">@Model.Title</label>*@


@Model.Title