
@model Main.Core.View.Answer.CompleteAnswerView
@{
    string radibutonname = string.Format("radiobutton-{0}", Model.PublicKey);
    var textArrtrs = new Dictionary<string, object> {{"onchange", Model.Selected ? "$(this.form).submit();" : ""}, {"input-label", true}, {"style", "float: right; height: auto; margin: 0; position: static;"}};
}   
<label for="@radibutonname">
    <div class="ui-grid-a">
        <div class="ui-block-a">@Model.Title</div>
        <div class="ui-block-b">
            <div>
                @Html.TextBox("AnswerValue", Model.AnswerValue, textArrtrs)
            </div>
        </div>
    </div>
</label>