@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@model CompleteQuestionnaireViewEnumerable
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SaveFirstStep", "CompleteQuestionnaire"))
{
    <h1>@Model.Title</h1>
       
    <h2>
        Questions:</h2>
    
    if (Model.CurrentGroup != null)
   {
    <div>
        @{ Html.RenderPartial("~/Views/Group/_Screen.cshtml", Model.CurrentGroup); }
    </div>
   }
   else
   {
    <div>
        Complete</div>
   }

    @Html.HiddenFor(model => Model.Id)
    <p>
        @if (Model.CurrentGroup != null)
        {
            <input type="submit" value="Next" name="order" class="btn primary" />}
    </p>

    <div class="">
        @Html.ActionLink("Back to List of Questionnaires", "Index", null, new { @class = "btn" })
    </div>
}