@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@model CompleteQuestionnaireView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SaveResult", "CompleteQuestionnaire"))
{
    <h1>@Model.Title</h1>
       
    <h2>Questions:</h2>
    Html.RenderPartial("~/Views/Question/_Take.cshtml", Model.Questions);
    @Html.HiddenFor(model => Model.Id)
    <p>
        <input type="submit" value="Save" class="btn btn-primary" />
    </p>

    <div class="">
        @Html.ActionLink("Back to List of Questionnaires", "Index", null, new {@class="btn"})
    </div>
}