@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@model CompleteQuestionnaireView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SaveResult", "CompleteQuestionnaire"))
{
    <fieldset>
        <legend>@Model.Title</legend>
        <div class="display-label">
            Title</div>
        <div class="display-field">
            <b>@Html.DisplayFor(model => model.Title)</b>
        </div>
        <br />
        <div class="display-label">
            <b>Questions:</b></div>
        @{Html.RenderPartial("~/Views/Question/_Take.cshtml", Model.Questions);}
        @Html.HiddenFor(model => Model.Id)
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
    <p>
        @Html.ActionLink("Back to List of Questionnaires", "Index")
    </p>
}