<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="MonoAndroid22" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.0.13" targetFramework="MonoAndroid22" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.0.13" targetFramework="MonoAndroid22" />
  <package id="MvvmCross.PortableSupport" version="3.5.0" targetFramework="MonoAndroid40" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="MonoAndroid40" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="MonoAndroid40" />
</packages>