@using WB.UI.Headquarters.Code
@model WB.Core.SharedKernels.SurveyManagement.Web.Controllers.InterviewReviewModel
@{
    ViewBag.Title = string.Format(ReviewInterview.PageTitle, Model.Key);
}
@section Scripts{
    @Html.RenderHqConfig(Model)
    <script>
        window.CONFIG.audioGet = '@Url.Content(@"~/Resource/AudioRecordReview")'
    </script>
}

<div id="vueApp"></div>
