<div class="form-group">
    <label for="geometry-type" ng-i18next="GeometryType">></label>
    <div class="btn-group dropup " uib-dropdown>
        <button class="btn dropdown-toggle" id="geometry-type" uib-dropdown-toggle type="button">
            {{ (activeQuestion.geometryTypeOptions | filter : {value : activeQuestion.geometryType})[0].text }}
            <span class="dropdown-arrow"></span>
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" ng-repeat="type in activeQuestion.geometryTypeOptions">
                <a role="menuitem" tabindex="-1" ng-click="changeGeometryType(type)">
                    {{type.text}}
                </a>
            </li>
        </ul>
    </div>
</div>
