<div class="row">
    <div class="col-md-5">
        <label class="wb-label">Record quality</label> <br/>
        
        <div class="btn-group" uib-dropdown>
            <button class="btn dropdown-toggle form-control" uib-dropdown-toggle type="button">
                {{ activeQuestion.qualityOptions[activeQuestion.quality] }}
                <span class="dropdown-arrow"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li role="presentation" ng-repeat="(key, value) in activeQuestion.qualityOptions">
                    <a role="menuitem" tabindex="-1" ng-click="setQuality(key)">
                        {{value}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>