<div id="sourceOfLinkedEntity" class="dropdown-with-breadcrumbs-and-icons">
    <input type="hidden" name="cascadeFromQuestionId" ng-model="activeQuestion.cascadeFromQuestionId" ng-update-hidden ng-required="true" />
    <label for="singleOptionQuestionSource">Select parent question</label>
    <div class="btn-group dropdown" uib-dropdown>
        <button class="btn dropdown-toggle" uib-dropdown-toggle id="singleOptionQuestionSource" type="button">
            <span class="select-placeholder" ng-if="(activeQuestion.cascadeFromQuestion.title || '') == ''">Select question</span>

            <div class="selected-item" ng-if="(activeQuestion.cascadeFromQuestion.title || '') !== ''">
                <span class="path">{{activeQuestion.cascadeFromQuestion.breadcrumbs}}</span>
                <div class="selected-block">
                    <div>
                        <span class="chosen-item "><i class="dropdown-icon" ng-class="'icon-'+activeQuestion.cascadeFromQuestion.type"></i>{{activeQuestion.cascadeFromQuestion.title}}</span>
                    </div>
                    <div class="var-block">
                        <span class="var-name" ng-bind-html="activeQuestion.cascadeFromQuestion.varName"></span>
                    </div>
                </div>
            </div>

            <span class="dropdown-arrow"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
            <li role="presentation" ng-class="{'dropdown-header': breadCrumb.isSectionPlaceHolder}" ng-repeat="breadCrumb in sourceOfSingleQuestions track by $index">
                <span ng-if="breadCrumb.isSectionPlaceHolder">{{::breadCrumb.title}}</span>
                <a ng-if="!breadCrumb.isSectionPlaceHolder"
                   ng-click="setCascadeSource(breadCrumb.id)"
                   role="menuitem"
                   tabindex="-1"
                   href="javascript:void(0);">
                    <div>
                        <i class="dropdown-icon icon-{{breadCrumb.type}}"></i>
                        <span ng-bind-html="breadCrumb.title"></span>
                    </div>
                    <div class="var-block">
                        <span class="var-name" ng-bind-html="breadCrumb.varName"></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <p class="help-block ng-cloak" ng-show="questionForm.cascadeFromQuestionId.$error.required">
        You must select the parent question
    </p>
</div>