<div class="row">
    <div class="col-xs-3">
        <input id="cb-is-timestamp" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isTimestamp"/>
        <label for="cb-is-timestamp"><span></span>{{'QuestionCurrentTime' | i18next}}</label>
        <help key="isTimestamp"></help>
    </div>
    <div class="col-xs-6" ng-if="!activeQuestion.isTimestamp">
        <div class="form-group singleline-group">
            <label for="dt-default-date">{{'QuestionDefaultDate' | i18next}}</label>
            <input id="dt-default-date" type="text" jqdatepicker ng-model="activeQuestion.defaultDate" class="form-control small-date-input" readonly="readonly"/>
            <help key="defaultDate"></help>
        </div>
    </div>

</div>
