<div class="multyOption">
    <div ng-if="!activeQuestion.isLinked">

        <div ng-if="activeQuestion.useListAsOptionsEditor" class="form-group">
            <div class="table-holder">
                <div class="table-row question-options-editor" ng-repeat="option in activeQuestion.options">
                    <div class="column-2">
                        <input class="form-control question-option-value-editor" 
                               type="number" 
                               min="-2147483648" 
                               max="2147483647" 
                               name="option_value_{{$index}}" 
                               ng-model="option.value" 
                               ng-pattern="/^([-+]?\d+)$/" 
                               ng-keypress="onKeyPressInOptions($event)"
                               ng-class="{'has-error': !questionForm.option_value_{{$index}}.$valid}" >
                    </div>
                    <div class="column-3">
                        <input ng-attr-id="{{'option-title-' + $index}}" type="text" ng-model="option.title" ng-keypress="onKeyPressInOptions($event)" class="form-control">
                    </div>
                    <div class="column-4">
                        <a href="javascript:void(0);" ng:click="removeOption($index)" class="btn"></a>
                    </div>
                </div>
            </div>
            <p>
                <button class="btn btn-link pull-right" ng-click="showOptionsInTextarea()">Show strings</button>
                <button class="btn btn-link" ng-if="!activeQuestion.isLinked" ng-hide="activeQuestion.optionsCount >= MAX_OPTIONS_COUNT" id="edit-question-save-button" ng-click="addOption()">Add Option</button>
            </p>
        </div>
        <div ng-if="!activeQuestion.useListAsOptionsEditor">
            <div class="form-group" ng-class="{'has-error': !questionForm.stringifiedOptions.$valid}">
                <textarea name="stringifiedOptions"
                          class="form-control mono"
                          ng-model="activeQuestion.stringifiedOptions"
                          match-options-pattern
                          max-options-count
                          msd-elastic></textarea>
                <p class="help-block">
                    <input class="btn btn-link" type="button" value="Show list" ng-click="showOptionsInList()" ng-disabled="!questionForm.stringifiedOptions.$valid" />
                </p>
                <p class="help-block ng-cloak" ng-show="questionForm.stringifiedOptions.$error.matchOptionsPattern">
                    You entered an invalid input. Each line should follow the format: "Title...Value". 'Value' must be an integer or decimal number. Title must be an alpha-numeric string. No empty lines are allowed.
                </p>
                <p class="help-block ng-cloak" ng-show="questionForm.stringifiedOptions.$error.maxOptionsCount">
                    You entered more than maximum allowed 200
                </p>
            </div>
        </div>
        <ng-include src="'categorical-filter-expression'"></ng-include>
    </div>
</div>
<div class="table-holder">
    <div class="row">
        <div class="col-xs-5">
            <div class="checkbox checkbox-in-column">
                <input id="cb-is-ordered" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.areAnswersOrdered" />
                <label for="cb-is-ordered"><span></span>Record answer order</label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group singleline-group checkbox-in-column" ng-class="{'has-error': !questionForm.editQuestionMaxAnswersNumber.$valid}">
                <label for="edit-question-max-answers-number">Max number of answers</label>
                <input maxlength="9" name="editQuestionMaxAnswersNumber" ng-pattern="/^\d+$/" id="edit-question-max-answers-number" type="text" class="form-control small-numeric-input" ng-model="activeQuestion.maxAllowedAnswers">
                <p class="help-block ng-cloak" ng-show="questionForm.editQuestionMaxAnswersNumber.$error.pattern">
                    Only integers are allowed
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="checkbox checkbox-in-column" ng-show="!activeQuestion.isLinked">
                <input id="cb-multyoption-yes-no-view" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.yesNoView" />
                <label for="cb-multyoption-yes-no-view"><span></span>Yes/No mode</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4" ng-show="!activeQuestion.yesNoView">
            <div class="checkbox checkbox-in-column">
                <input id="cb-multyoption-is-linked" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isLinked" />
                <label for="cb-multyoption-is-linked"><span></span>Is linked</label>
            </div>
        </div>
    </div>

    <div class="form-group" ng-include="activeQuestion.isLinked ? 'linkTemplate.html' : ''" ng-class="{'has-error': !questionForm.linkedToEntity.$valid}">
    </div>
</div>