<div class="multyOption">
    <ng-include src="'views/question-details/OptionsEditor-template.html'"
                ng-if="!activeQuestion.isLinked"></ng-include>
    <ng-include src="'categorical-filter-expression'"></ng-include>
</div>
<div class="table-holder">
    <div class="row">
        <div class="col-xs-5">
            <div class="checkbox checkbox-in-column">
                <input id="cb-is-ordered" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.areAnswersOrdered" />
                <label for="cb-is-ordered"><span></span>{{'QuestionOrdered' | i18next}}</label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group singleline-group checkbox-in-column" ng-class="{'has-error': !questionForm.editQuestionMaxAnswersNumber.$valid}">
                <label for="edit-question-max-answers-number" ng-i18next="QuestionMaxNumberOfAnswers"></label>
                <input maxlength="9" name="editQuestionMaxAnswersNumber" ng-pattern="/^\d+$/" id="edit-question-max-answers-number" type="text" class="form-control small-numeric-input" ng-model="activeQuestion.maxAllowedAnswers"/>
                <p class="help-block ng-cloak" ng-show="questionForm.editQuestionMaxAnswersNumber.$error.pattern" ng-i18next="QuestionOnlyInts">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="checkbox checkbox-in-column" ng-show="!activeQuestion.isLinked">
                <input id="cb-multyoption-yes-no-view" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.yesNoView" />
                <label for="cb-multyoption-yes-no-view"><span></span>{{'QuestionYesNoMode' | i18next}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4" ng-show="!activeQuestion.yesNoView">
            <div class="checkbox checkbox-in-column">
                <input id="cb-multyoption-is-linked" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isLinked" />
                <label for="cb-multyoption-is-linked"><span></span>{{'QuestionIsLinked' | i18next}}</label>
            </div>
        </div>
    </div>

    <div class="form-group" ng-include="activeQuestion.isLinked ? 'linkTemplate.html' : ''" ng-class="{'has-error': !questionForm.linkedToEntity.$valid}">
    </div>
</div>