<div class="row">
    <div class="col-md-5">
        <div class="checkbox checkbox-in-column">
            <input id="cb-is-integer" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isInteger" ng-change="isIntegerChange()" />
            <label for="cb-is-integer"><span></span>{{'QuestionInteger' | i18next}}</label>
        </div>
    </div>
    <div class="col-md-5 inline-inputs">
        <div class="form-group checkbox-in-column" ng-show="!activeQuestion.isInteger" ng-class="{'has-error': !questionForm.countOfDecimalPlaces.$valid}">
            <label for="edit-question-count-decimal" ng-i18next="QuestionDecimalPlaces"></label>
            <input id="edit-question-count-decimal" type="text"
                   maxlength="15"
                   name="countOfDecimalPlaces"
                   ng-pattern="/^\d+$/"
                   ng-model="activeQuestion.countOfDecimalPlaces"
                   class="form-control small-numeric-input">
            <p class="help-block ng-cloak" ng-show="questionForm.countOfDecimalPlaces.$error.pattern" ng-i18next="QuestionOnlyInts">
            </p>
        </div>
    </div>
   
</div>
<div class="row">
    <div class="col-md-6 inline-inputs">
        <div class="checkbox checkbox-in-column">
            <input id="cb-use-formatting" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.useFormatting" />
            <label for="cb-use-formatting"><span></span>{{'QuestionUseSeparator' | i18next}}</label>
            <help key="useFormatting"></help>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 options-editor">
        <div ng-if="activeQuestion.useListAsOptionsEditor">
            <div class="table-holder">
                <div class="table-row question-options-editor" ng-repeat="option in activeQuestion.options">
                    <div class="column-2">
                        <ng-form name="options_value_form">
                            <input type="number" min="-2147483648" max="2147483647"
                                   name="option_value"
                                   ng-model="option.value"
                                   ng-pattern="/^([-+]?\d+)$/"
                                   ng-class="{'has-error': !options_value_form.option_value.$valid}"
                                   ng-keypress="onKeyPressInOptions($event)"
                                   class="form-control question-option-value-editor"/>
                        </ng-form>
                    </div>
                    <div class="column-3">
                        <input ng-attr-id="{{'option-title-' + $index}}" type="text" ng-model="option.title" ng-keypress="onKeyPressInOptions($event)" class="form-control"/>
                    </div>
                    <div class="column-4">
                        <a href="javascript:void(0);" ng:click="removeOption($index)" class="btn" tabindex="-1"></a>
                    </div>
                </div>
            </div>
            <p>
                <button class="btn btn-link" ng-hide="activeQuestion.optionsCount >= MAX_OPTIONS_COUNT" ng-click="addOption()" ng-i18next="QuestionAddSpecialValues"></button>
                <button class="btn btn-link pull-right" ng-click="showOptionsInTextarea()" ng-i18next="QuestionShowStrings"></button>
            </p>
        </div>
        <div ng-if="!activeQuestion.useListAsOptionsEditor">
            <div class="form-group" ng-class="{'has-error': !questionForm.stringifiedOptions.$valid}">
                <textarea name="stringifiedOptions"
                          class="form-control mono"
                          ng-model="activeQuestion.stringifiedOptions"
                          match-options-pattern
                          max-options-count
                          msd-elastic></textarea>
                <p class="help-block">
                    <input class="btn btn-link" type="button" ng-i18next="[value]ShowList" value="Show list" ng-click="showOptionsInList()" ng-disabled="!questionForm.stringifiedOptions.$valid"/>
                </p>
                <p class="help-block ng-cloak" ng-show="questionForm.stringifiedOptions.$error.matchOptionsPattern" ng-i18next="OptionsListError">
                </p>
                <p class="help-block ng-cloak" ng-show="questionForm.stringifiedOptions.$error.maxOptionsCount"
                   ng-i18next="({count: 200})EnteredMoreThanAllowed">
                </p>
            </div>
        </div>
    </div>
</div>
