<div class="row">
    <div class="col-md-5">
        <div class="checkbox checkbox-in-column">
            <input id="cb-is-integer" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isInteger" ng-change="isIntegerChange()" />
            <label for="cb-is-integer"><span></span>Integer</label>
        </div>
    </div>
    <div class="col-md-5 inline-inputs">
        <div class="form-group checkbox-in-column" ng-show="!activeQuestion.isInteger" ng-class="{'has-error': !questionForm.countOfDecimalPlaces.$valid}">
            <label for="edit-question-count-decimal">Number of decimal places</label>
            <input id="edit-question-count-decimal" type="text"
                   maxlength="15"
                   name="countOfDecimalPlaces"
                   ng-pattern="/^\d+$/"
                   ng-model="activeQuestion.countOfDecimalPlaces"
                   class="form-control small-numeric-input">
            <p class="help-block ng-cloak" ng-show="questionForm.countOfDecimalPlaces.$error.pattern">
                Only integers are allowed
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 inline-inputs">
        <div class="checkbox checkbox-in-column">
            <input id="cb-use-formatting" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.useFormatting" />
            <label for="cb-use-formatting"><span></span>Use 1000 separator</label>
            <help key="useFormatting"></help>
        </div>
    </div>
</div>