<div class="singleOption">
    <div class="well well-sm" ng-if="!(activeQuestion.isCascade || activeQuestion.isFilteredCombobox) && !activeQuestion.isLinked && activeQuestion.wereOptionsTruncated">As the question was marked as "Combo box" or "Cascading combo box" while uploading question's details and contained many options, it's value was reduced up to 200</div>
    <div ng-if="!activeQuestion.isFilteredCombobox && !activeQuestion.isLinked && !activeQuestion.isCascade">
        <div ng-if="activeQuestion.useListAsOptionsEditor">
            <div class="table-holder">
                <div class="table-row question-options-editor" ng-repeat="option in activeQuestion.options">
                    <div class="column-2">
                        <input type="number" min="-2147483648" max="2147483647"
                               name="option_value_{{$index}}"
                               ng-model="option.value" ng-pattern="/^([-+]?\d+)$/"
                               ng-keypress="onKeyPressInOptions($event)" 
                               class="form-control question-option-value-editor"/>
                    </div>
                    <div class="column-3">
                        <input  ng-attr-id="{{'option-title-' + $index}}" type="text" ng-model="option.title" ng-keypress="onKeyPressInOptions($event)" class="form-control"/>
                    </div>
                    <div class="column-4">
                        <a href="javascript:void(0);" ng:click="removeOption($index)" class="btn" tabindex="-1"></a>
                    </div>
                </div>
            </div>
            <p>
                <button class="btn btn-link pull-right" ng-click="showOptionsInTextarea()">Show strings</button>
                <button class="btn btn-link" ng-hide="activeQuestion.optionsCount >= MAX_OPTIONS_COUNT" ng-click="addOption()">Add Option</button>
            </p>
        </div>
        <div ng-if="!activeQuestion.useListAsOptionsEditor">
            <div class="form-group" ng-class="{'has-error': !questionForm.stringifiedOptions.$valid}">
                <textarea name="stringifiedOptions"
                          class="form-control mono"
                          ng-model="activeQuestion.stringifiedOptions"
                          match-options-pattern
                          max-options-count
                          msd-elastic></textarea>
                <p class="help-block">
                    <input class="btn btn-link" type="button" value="Show list" ng-click="showOptionsInList()" ng-disabled="!questionForm.stringifiedOptions.$valid" />
                </p>
                <p class="help-block ng-cloak" ng-show="questionForm.stringifiedOptions.$error.matchOptionsPattern">
                    You entered an invalid input. Each line should follow the format: "Title...Value". 'Value' must be an integer number. Title must be an alpha-numeric string. No empty lines are allowed.
                </p>
                <p class="help-block ng-cloak" ng-show="questionForm.stringifiedOptions.$error.maxOptionsCount">
                    You entered more than maximum allowed 200
                </p>
            </div>
        </div>
    </div>
    <ng-include src="'categorical-filter-expression'"></ng-include>
</div>
<p>
    <a ng-if="activeQuestion.isFilteredCombobox"
       href="javascript:void(0);"
       class="btn btn-link"
       ng-click="editFilteredComboboxOptions()">
        Upload new options
    </a>
    <a ng-if="activeQuestion.isCascade && (activeQuestion.cascadeFromQuestionId || '') !== ''"
       href="javascript:void(0);"
       class="btn btn-link"
       ng-click="editCascadingComboboxOptions()">
        Upload new options
    </a>
</p>
<div class="table-holder">
    <div class="row">
        <div class="col-xs-5" ng-if="!activeQuestion.isFilteredCombobox && !activeQuestion.isLinked">
            <div class="checkbox checkbox-in-column">
                <input id="cb-is-cascading" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isCascade" />
                <label for="cb-is-cascading"><span></span>Cascading combo box</label>
            </div>
        </div>
        <div class="col-xs-5" ng-if="!activeQuestion.isCascade && !activeQuestion.isLinked">
            <div class="checkbox checkbox-in-column">
                <input id="cb-is-filtered-combobox" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isFilteredCombobox" />
                <label for="cb-is-filtered-combobox"><span></span>Combo box</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div ng-if="!activeQuestion.isFilteredCombobox && !activeQuestion.isCascade" class="checkbox checkbox-in-column">
                <input id="cb-is-linked" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isLinked" />
                <label for="cb-is-linked"><span></span>Is linked</label>
            </div>
        </div>
    </div>
</div>

<div>
    <div ng-if="!activeQuestion.isFilteredCombobox || !activeQuestion.isCascadingCombobox" class="form-group"
         ng-include="activeQuestion.isLinked ? 'linkTemplate.html' : ''" ng-class="{'has-error': !questionForm.linkedToEntity.$valid}" />
</div>

<div>
    <div ng-if="activeQuestion.isCascade && !activeQuestion.isLinked"
         ng-class="{'has-error': !questionForm.linkedToEntity.$valid}"
         class="form-group" ng-include="'views/question-details/CascadingComboBox-template.html'" />
</div>