<div class="singleOption">
    <div class="well well-sm" ng-if="!(activeQuestion.isCascade || activeQuestion.isFilteredCombobox) && !activeQuestion.isLinked && activeQuestion.wereOptionsTruncated"
        ng-i18next="({count: 200})QuestionOptionsCut">
    </div>
    <div ng-if="!activeQuestion.isFilteredCombobox && !activeQuestion.isLinked && !activeQuestion.isCascade">
        <div ng-if="activeQuestion.useListAsOptionsEditor">
            <div class="table-holder">
                <div class="table-row question-options-editor" ng-repeat="option in activeQuestion.options">
                    <div class="column-2">
                        <ng-form name="options_value_form">
                            <input type="number" min="-2147483648" max="2147483647"
                                        name="option_value"
                                        ng-model="option.value"
                                        ng-pattern="/^([-+]?\d+)$/"
                                        ng-class="{'has-error': !options_value_form.option_value.$valid}" 
                                        ng-keypress="onKeyPressInOptions($event)"
                                        class="form-control question-option-value-editor"/>
                        </ng-form>
                    </div>
                    <div class="column-3">
                        <input  ng-attr-id="{{'option-title-' + $index}}" type="text" ng-model="option.title" ng-keypress="onKeyPressInOptions($event)" class="form-control"/>
                    </div>
                    <div class="column-4">
                        <a href="javascript:void(0);" ng:click="removeOption($index)" class="btn" tabindex="-1"></a>
                    </div>
                </div>
            </div>
            <p>
                <button class="btn btn-link" ng-hide="activeQuestion.optionsCount >= MAX_OPTIONS_COUNT" ng-click="addOption()" ng-i18next="AddOption"></button>
                <button class="btn btn-link pull-right" ng-click="showOptionsInTextarea()" ng-i18next="ShowStrings"></button>
            </p>
        </div>
        <div ng-if="!activeQuestion.useListAsOptionsEditor">
            <div class="form-group" ng-class="{'has-error': !questionForm.stringifiedOptions.$valid}">
                <textarea name="stringifiedOptions"
                          class="form-control mono"
                          ng-model="activeQuestion.stringifiedOptions"
                          match-options-pattern
                          max-options-count
                          msd-elastic></textarea>
                <p class="help-block">
                    <input class="btn btn-link" type="button" value="Show list" ng-click="showOptionsInList()" ng-disabled="!questionForm.stringifiedOptions.$valid" />
                </p>
                <p class="help-block ng-cloak" ng-show="questionForm.stringifiedOptions.$error.matchOptionsPattern" ng-i18next="OptionsListError">
                </p>
                <p class="help-block ng-cloak" ng-show="questionForm.stringifiedOptions.$error.maxOptionsCount"
                    ng-i18next="({count: 200})EnteredMoreThanAllowed">
                </p>
            </div>
        </div>
    </div>
    <ng-include src="'categorical-filter-expression'"></ng-include>
</div>
<p>
    <a ng-if="activeQuestion.isFilteredCombobox"
       href="javascript:void(0);"
       class="btn btn-link"
       ng-click="editFilteredComboboxOptions()" ng-i18next="QuestionUploadOptions">
    </a>
    <a ng-if="activeQuestion.isCascade && (activeQuestion.cascadeFromQuestionId || '') !== ''"
       href="javascript:void(0);"
       class="btn btn-link"
       ng-click="editCascadingComboboxOptions()" ng-i18next="QuestionUploadOptions">
    </a>
</p>
<div class="table-holder">
    <div class="row">
        <div class="col-xs-5" ng-if="!activeQuestion.isFilteredCombobox && !activeQuestion.isLinked">
            <div class="checkbox checkbox-in-column">
                <input id="cb-is-cascading" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isCascade" />
                <label for="cb-is-cascading"><span></span>{{'QuestionCascading' | i18next}}</label>
            </div>
        </div>
        <div class="col-xs-5" ng-if="!activeQuestion.isCascade && !activeQuestion.isLinked">
            <div class="checkbox checkbox-in-column">
                <input id="cb-is-filtered-combobox" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isFilteredCombobox" />
                <label for="cb-is-filtered-combobox"><span></span>{{'QuestionComboBox' | i18next}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div ng-if="!activeQuestion.isFilteredCombobox && !activeQuestion.isCascade" class="checkbox checkbox-in-column">
                <input id="cb-is-linked" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isLinked" />
                <label for="cb-is-linked"><span></span>{{'QuestionIsLinked' | i18next}}</label>
            </div>
        </div>
    </div>
</div>

<div>
    <div ng-if="!activeQuestion.isFilteredCombobox || !activeQuestion.isCascadingCombobox" class="form-group"
         ng-include="activeQuestion.isLinked ? 'linkTemplate.html' : ''" ng-class="{'has-error': !questionForm.linkedToEntity.$valid}" />
</div>

<div>
    <div ng-if="activeQuestion.isCascade && !activeQuestion.isLinked"
         ng-class="{'has-error': !questionForm.linkedToEntity.$valid}"
         class="form-group" ng-include="'views/question-details/CascadingComboBox-template.html'" />
</div>