<div class="form-group" ng-class="{'has-error': !questionForm.maxAnswerCount.$valid}">
    <label for="edit-question-max-answers-number" ng-i18next="QuestionMaxListCount"></label>
    <input id="edit-question-max-answers-number"
           maxlength="9"
           name="maxAnswerCount"
           type="text"
           ng-pattern="/^\d+$/"
           ng-model="activeQuestion.maxAnswerCount"
           class="form-control" />
    <p class="help-block ng-cloak" ng-show="questionForm.maxAnswerCount.$error.pattern" ng-i18next="QuestionOnlyInts">
    </p>
</div>