@model dynamic
@{
    ViewBag.Title = Pages.UpgradeAssignmentsTitle;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@section Scripts{
    @Html.RenderHqConfig((object)Model)
}
<div id="vueApp"></div>
