@model WB.UI.Headquarters.Models.UpgradeAssignmentsModel
@{
    ViewBag.Title = Pages.UpgradeAssignmentsTitle;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
