@using WB.Core.SharedKernels.SurveyManagement.Web.Utils
<div id="alerts">
    @if (TempData.ContainsKey(Alerts.ATTENTION))
    {
        <div class="alert alert-warning">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Attention!</strong>
            @Html.Raw(@TempData[Alerts.ATTENTION])
        </div>
    }
    @foreach (string key in Alerts.ALL.Except(new[] { Alerts.ATTENTION }))
    {
        if (TempData.ContainsKey(key))
        {
            <div class="alert alert-@key">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.Raw(@TempData[key])
            </div>
        }
    }
</div>
