@using WB.UI.Shared.Web.Extensions
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @this.GenerateFavicon(Url.Content("~/Content/favicon.png"))
</head>
<body>
    <div id="page" class="container-fluid">
        <div id="main">
            @RenderBody()
        </div>
    </div>
    <div class="row-fluid" id="footer-block">
    </div>
</body>
</html>
