@if (ViewBag.ShowLimitIndicator)
{
    <li class='dropdown active @(ViewBag.PayAttention ? "open" : "")'>
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" style='background: @(ViewBag.PayAttention ? "red" : "#ffa500")'>
            <i class="glyphicon glyphicon-warning-sign"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#"><b>You are in TESTING MODE</b></a>
            </li>
            <li>
                <a href="#">You can create @ViewBag.InterviewsLeft new interview(s)</a>
            </li>
        </ul>
    </li>
}