<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.0.2" targetFramework="net45" />
  <package id="Humanizer" version="1.32.0" targetFramework="net45" />
  <package id="ManagedEsent" version="1.9.2.0" targetFramework="net45" />
  <package id="Microsoft.Database.Collections.Generic" version="1.9.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="3.0.0" targetFramework="net45" />
  <package id="RavenDB.Client" version="3.0.3528" targetFramework="net45" />
</packages>