@model RavenQuestionnaire.Core.Views.Synchronization.SyncProgressView
@{
    Layout = "~/Views/Shared/_LayputHtml5.cshtml";
}
<div data-role="panel" data-id="main">
    <!-- Start of second page -->
    <div data-role="page" id="main" class="page">
        <h1>
            Synchronization progress</h1>
        <p>@Model.StateDescription</p>
        @if(Model.EndDate.HasValue)
        {
             @Html.ActionLink("Back to Dashboard", "Index", "Dashboard", new { }, new { rel = "external", data_role = "button", data_theme = "e", id = "btnSync", @class = "ui-state-persist" })
        }
        @if (Model.ProgressPercentage.HasValue)
        {
            <p>@Model.ProgressPercentage.Value %</p>
        }
    </div>
</div>
