@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Statistics
@model IEnumerable<Questionnaire.Core.Web.WCF.ServiceDiscover.SyncSpot>
@if (Model.Any())
{
    foreach (var spot in Model)
    {
    <p>
        @Html.ActionLink(spot.SpotName, "Index", "Synchronizations", new { url = spot.SpotUri.AbsoluteUri }, new { rel = "external", data_role = "button", data_theme = "e", id = "btnSync", @class = "ui-state-persist" })
    </p>
    }

}
else
{
    <h1>
        No spots avalible for synchronization</h1>
}
@*  </div>
</div>
*@