@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Controllers.SendInvitationsModel
@{
    ViewBag.Title = WebInterviewSetup.WebInterviewSetup_SendInvitationsTitle;
}

@section Scripts{
    @Html.RenderHqConfig(Model)
}

<div id="vueApp"></div>
