@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Controllers.SetupModel
@{
    ViewBag.Title = WebInterviewSetup.WebInterviewSetup_Title;
}


@section Scripts{
    @Html.RenderHqConfig(Model)
}

<div id="vueApp"></div>

