<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humanizer.Core" version="2.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Humanizer.Core.es" version="2.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Humanizer.Core.fr" version="2.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Humanizer.Core.id" version="2.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Humanizer.Core.pt" version="2.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Humanizer.Core.ru" version="2.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Humanizer.Core.vi" version="2.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Humanizer.Core.zh-CN" version="2.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable-net45+win8+wpa81" />
  <package id="MvvmCross.Core" version="4.2.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Platform" version="4.2.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.Messenger" version="4.2.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.PictureChooser" version="4.2.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="portable-net45+win8" />
</packages>