@model string

@{
    this.Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
    this.ViewBag.Title = "Control Panel: Import broken package";
}

<h3>Import broken package</h3>

@using (Html.BeginForm("ImportBrokenPackage", "ControlPanel", new {  }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <label for="assignmentid">Assignment id:</label>
        <input type="number" name="assignmentid" id="assignmentid" value="" />
    </div>
    <div>
        <label for="packagefile">Package:</label>
        <input type="file" name="packagefile" id="packagefile" value="" />
    </div>
    <div>
        <input type="submit" value="Submit" class="submit" name="upload"/>
    </div>
}

@this.Model
