@{
    this.Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
    this.ViewBag.Title = "Control Panel: Reexport Interviews";
}
<h3>Revalidate Interviews</h3>

<pre id="statusArea" style="height: 500px; overflow-y: scroll;">
Requesting status...
</pre>

@Html.ActionLink("Reexport Approved by HQ or SV", "StartReexportApprovedInterviews", new { }, new { @class = "btn btn-primary", onclick = "return confirmAction()" })


@section scripts
{
    <script type="text/javascript">
        function confirmAction() {
            var confirmed = confirm("Are you sure you want to reexport interviews at " + window.location.host + " ?");
            return confirmed;
        }
        function updateStatus() {
            return $.ajax({
                url: '@Url.Action("GetReexportStatus")',
                data: { timestamp: new Date().getMilliseconds() }
            }).done(function (result) {
                $('#statusArea').text('Updated from server: ' + new Date().toTimeString() + '\r\n\r\n' + result);
            }).fail(function (xhr, status, error) {
                $('#statusArea').text(error + '\r\n' + xhr.responseText + '\r\n\r\nUpdated from server: ' + new Date().toTimeString());
            });
        }

        function updateStatusNeverending() {
            $.when(updateStatus()).always(function () {
                setTimeout(updateStatusNeverending, 1000);
            });
        }

        $(function () {
            updateStatusNeverending();
        });

    </script>

}