@using System.Web.Optimization
@using Main.Core.Entities.SubEntities
@using WB.Core.SharedKernels.SurveyManagement.Web.Utils

@{
    this.Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
    ViewBag.Title = "Control Panel: Create Headquarters User";
}

@section scripts
{
    @Scripts.Render("~/validate")
}

<div class="page-header">
    <h3>
        Restore deleted questionnaire projections
    </h3>
</div>
@using (Html.BeginForm("RestoreAllDeletedQuestionnaireProjectionsPost","ControlPanel"))
{
    @Html.AntiForgeryToken()
    <fieldset class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Restore</button>
            </div>
        </div>
    </fieldset>
}