<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="MonoAndroid40" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="MonoAndroid40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="MonoAndroid40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="MonoAndroid40" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.1.1" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.Droid.Fragging" version="3.1.1" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.1.1" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.Plugin.Color" version="3.1.1" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.Plugin.PictureChooser" version="3.1.1" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.Plugin.ResourceLoader" version="3.1.1" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.Plugin.Sqlite" version="3.1.1" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.PortableSupport" version="3.1.1" targetFramework="MonoAndroid40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="MonoAndroid40" />
  <package id="Portable.Ninject" version="3.3" targetFramework="MonoAndroid40" />
  <package id="Xamarin.Android.Support.v13" version="20.0.0.4" targetFramework="MonoAndroid40" />
  <package id="Xamarin.Android.Support.v4" version="20.0.0.4" targetFramework="MonoAndroid40" />
</packages>