@using System.Web.Optimization
@using Newtonsoft.Json
@using AppSettings = WB.Core.SharedKernels.SurveyManagement.Web.Code.AppSettings
@{
    ViewBag.Title = "InterviewChart";
}
<div id="content">

</div>

@section scripts
{

}

@section styles
{

}
