@using WB.UI.Designer.Resources
@{
    Layout = "Layout";
}

@section Styles
{
    <!-- admin:css -->
    <link rel="stylesheet" href="~/css/admin.css">
    <!-- endinject -->
}

<div class="row">
    <div id="edit-form">
        <div class="col-sm-3 col-md-2 sidebar">

            <ul class="nav nav-sidebar">
                <menu-item asp-area="Admin" asp-page="/RestoreQuestionnaire">@QuestionnaireController.RestoreQuestionnaire</menu-item>
                <menu-item asp-area="Admin" asp-action="Index" asp-controller="PublicFolders">@QuestionnaireController.QuestionnaireTreeFolders</menu-item>
                <menu-item asp-area="Admin" asp-action="Versions" asp-controller="ControlPanel">Versions</menu-item>
                <menu-item asp-area="Admin" asp-action="MakeAdmin" asp-controller="ControlPanel">Make the user an administrator</menu-item>
                <menu-item asp-area="Admin" asp-action="CompilationVersions" asp-controller="ControlPanel">Compilation versions</menu-item>
                <menu-item asp-area="Admin" asp-action="DocumentSchema" asp-controller="ControlPanel">Questionnaire document schema</menu-item>
                <menu-item asp-area="Admin" asp-action="Exceptions" asp-controller="ControlPanel">Exceptions</menu-item>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            @RenderBody()
        </div>
    </div>
</div>

@RenderSection("scripts", false)
