@using Main.Core.Entities.SubEntities
@using Questionnaire.Core.Web.Helpers
@model Core.CAPI.Views.PropagatedGroupViews.QuestionItemView.ColumnItems.QuestionColumnItem
<div data-role="popup" id="grid-popup-@(Model.ItemPublicKey)" style="max-width: 300px;">
    <h3>@Model.Title</h3>
    @using (Ajax.BeginGridFormHtml5("SaveGroupAnswer", "Survey", ViewBag.AjaxOptions as AjaxOptions, Model.QuestionnaireId, Model.ItemPublicKey, Model.QuestionType))
    {
        @Html.Hidden("ParentGroupPublicKey", Model.ParentGroupPublicKey)
          
        Html.RenderPartial(string.Format("~/Views/Survey/Answer/GridAnswerList/_{0}.cshtml", Model.QuestionType), Model);

    }
    @using (Ajax.BeginGridFormHtml5("SaveGroupComment", "Survey", ViewBag.AjaxOptions as AjaxOptions, Model.QuestionnaireId, Model.ItemPublicKey, "comment-form"))
    {
        <div style="display: none">
            @Html.Hidden("ParentGroupPublicKey", Model.ParentGroupPublicKey)
          
            @Html.TextBox("Comment", string.Empty, new { draw_key_board = "true", id="Comment"+Model.ItemPublicKey })
        </div>
    }
</div>
