@using RavenQuestionnaire.Core.Views.Question
@model CompleteQuestionView
@{
    ViewBag.EnabledRadioBoxSettings = new Dictionary<string, object>();
    var questionKey = (Guid)ViewBag.CurrentQuestion;
    var bodyClass = Model.Valid ? Model.Enabled ? "" : "ui-disabled" : "ui-body error_block";
    bodyClass += " " + (questionKey == Model.PublicKey ? "scrollHere" : "");
    bodyClass += " " + (Model.Answered ? "answered" : "");
    var questionId = "question" + Model.PublicKey;
}
<div class="@bodyClass question" id="@questionId">
    <a href="#" class="error"></a>
    @*@if (!string.IsNullOrWhiteSpace(Model.Instructions))
    {
        <a id="inctruction-ref-@(Model.PublicKey)" href="#inctruction-@(Model.PublicKey)"  data-icon="info" data-role="button" data-inline="true" data-rel="page" data-transition="flip">
            Read instructions</a>
        <script type="text/javascript">
            $('#inctruction-ref-@(Model.PublicKey)').click(function() {
                $('.scrollHere').removeClass('scrollHere');
                $(this).parents('.question').addClass("scrollHere");
            });
        </script>
    }
    @if (Model.Cards.Length > 0)
    {
        <a id="gallery-ref-@(Model.PublicKey)" data-role="button" rel="external" data-icon="grid" data-inline="true" href="#gallery-@(Model.PublicKey)">
            Cards</a>
        <script type="text/javascript">
            $('#gallery-ref-@(Model.PublicKey)').click(function() {
                $('.scrollHere').removeClass('scrollHere');
                $(this).parent('.question').addClass("scrollHere");
            });
        </script>
    }*@
    @Html.Hidden("QuestionType", Model.QuestionType)
    @{ Html.RenderPartial(string.Format("~/Views/Survey/Answer/AnswerList/_{0}.cshtml", Model.QuestionType), Model); }
    @Html.ValidationMessage("AnswerValue")
    @Html.Hidden("PublicKey", Model.PublicKey)
</div>