@using System.Globalization
@using Questionnaire.Core.Web.Helpers

@model Core.CAPI.Views.PropagatedGroupViews.QuestionItemView.ColumnItems.QuestionColumnItem

@using (Html.BeginCollectionItem("Answers", true, Guid.NewGuid()))
{
    var settings = new Dictionary<string, object>();
    settings.Add("onchange", "$(this.form).submit();");
   
    var required = string.Empty;
    if (Model.Mandatory) { required = "true"; }
    @Html.Hidden("Parent", Model.ItemPublicKey)
    <div class="answer hide-date-box">
        @Html.Hidden("Selected", true)          
        <p>FDGDF</p>    
        @Html.TextBox("AnswerValue", string.Empty, new
   {
       data_role = "datebox",
       onchange = "$(this.form).submit();",
       data_options = "{\"zindex\": 9999999, \"centerWindow\": true, \"mode\": \"datebox\",\"calStartDay\": 1,\"noButtonFocusMode\": true, \"dateFormat\": \""
           + CultureInfo.InvariantCulture.DateTimeFormat.ShortDatePattern.ToUpperInvariant() + "\"}"
   })
     @*   @Html.IconInput("AnswerValue", dateValue, Model.Title,
                          new
                          {
                              data_options = "{\"zindex\": 9999999, \"centerWindow\": true, \"mode\": \"datebox\",\"calStartDay\": 1,\"noButtonFocusMode\": true, \"dateFormat\": \""
                              + CultureInfo.InvariantCulture.DateTimeFormat.ShortDatePattern.ToUpperInvariant() + "\"}",
                              type = "hidden",
                              @class = "hidden",
                              data_role = "datebox",
                              onchange = "$(this.form).submit();",
                              @required
                          }, new { @class = "calendar", grab_parent_areas=6 },
                          new { @class = "bold" })*@
    </div>
}