<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WKHtmlToPdfExecutablePath" value="C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe" />
    <add key="IsReCaptchaEnabled" value="false"/>
    <add key="IsTrackingEnabled" value="false"/>
  
    <add key="EventStore.ServerTcpPort" value="1113"/>
    <add key="EventStore.ServerHttpPort" value="2113"/>
    <add key="IsApiSSLVerificationEnabled" value="false" />
    <add key="IsDevelopmentEnvironment" value="true" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="me@org.com">
        <specifiedPickupDirectory pickupDirectoryLocation="f:\email" />
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
