<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Raven.DocumentStore" value="http://localhost:8080" />
    <add key="WKHtmlToPdfExecutablePath" value="..\..\..\..\tools\3rdparty\wkhtmltopdf-0.11.0-rc1\wkhtmltopdf.exe" />
    <add key="ReCaptchaPrivateKey" value="6LfoEN0SAAAAAKStZ-x6wK5aYyMGxKt7cayjdzmN" />
    <add key="ReCaptchaPublicKey" value="6LfoEN0SAAAAAObDFAWtYkbszB478vXNHz1O7uvr" />
    <add key="IsReCaptchaEnabled" value="true"/>
    <add key="IsLockingAccountPolicyForced" value="true"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\email" />
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
