<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Raven.DocumentStore" value="http://localhost:8080" />
    <add key="SiteRoot" value="http://localhost:8011" />
    <add key="WKHtmlToPdfExecutablePath" value="..\..\..\..\tools\3rdparty\wkhtmltopdf-0.11.0-rc1\wkhtmltopdf.exe" />
  </appSettings>
</configuration>
