<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SiteRoot" value="http://localhost/Designer" />
    <add key="WKHtmlToPdfExecutablePath" value="C:\Program Files (x86)\wkhtmltopdf\wkhtmltopdf.exe" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@designer.com" deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="roman.lytvyn.test@gmail.com" password="mnbfi9IOrm" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
