<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 8030, 8040, etc. ports are used for dev versions and 7030, 7040, etc. are used for stable versions -->
    <add key="Raven.DocumentStore" value="http://localhost:8030" />
    <add key="WKHtmlToPdfExecutablePath" value="C:\Program Files (x86)\wkhtmltopdf\wkhtmltopdf.exe" />
    <add key="ReCaptchaPrivateKey" value="6Lf__t0SAAAAAKuXNDIUgoerLtJUS_IEDcjXajSG"/>
    <add key="ReCaptchaPublicKey" value="6Lf__t0SAAAAAMyYJTZ_euJfkjjQNmE3fBhjEQY3"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@designer.com" deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="roman.lytvyn.test@gmail.com" password="mnbfi9IOrm" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
