<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="IsApiSSLVerificationEnabled" value="false" />
    <add key="Raven.DocumentStore" value="http://localhost:8040" />
    <add key="Raven.Databases.Events" value="DesignerEvents" />
    <add key="Raven.Databases.Views" value="DesignerViews" />
    <add key="IsReCaptchaEnabled" value="false" />
    <add key="IsTrackingEnabled" value="false"/>
    <add key="Core.EventStoreProvider" value="Raven"/>
    <add key="EventStore.ServerTcpPort" value="1113"/>
    <add key="EventStore.ServerHttpPort" value="2113"/>
    <add key="IsDevelopmentEnvironment" value="true" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="me@org.com">
        <specifiedPickupDirectory pickupDirectoryLocation="d:\email" />
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>