<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="Raven.DocumentStore" value="http://localhost:8040" />
    <add key="IsReCaptchaEnabled" value="false" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="me@org.com">
        <specifiedPickupDirectory pickupDirectoryLocation="d:\email" />
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>