<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Raven.DocumentStore" value="http://localhost:8080" />
    <add key="WKHtmlToPdfExecutablePath" value="C:\Program Files (x86)\wkhtmltopdf\wkhtmltopdf.exe" />
    <add key="IsReCaptchaEnabled" value="true"/>
    <add key="ReCaptchaPrivateKey" value="6LdeKeISAAAAALUofxNu_Tp-1qYrzFnnf07okzE2"/>
    <add key="ReCaptchaPublicKey" value="6LdeKeISAAAAABJG9KhhWwLfhx2FXR6FnGWLj_dg"/>
    <add key="IsTrackingEnabled" value="true"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="&lt;wbcapi@worldbank.org&gt;" deliveryMethod="Network">
        <network defaultCredentials="true" host="mail.worldbank.org" port="25" />
      </smtp>
    </mailSettings>
    <defaultProxy>
      <proxy proxyaddress="http://dmzproxy.worldbank.org:3128"/>
    </defaultProxy>
  </system.net>
</configuration>