<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsReCaptchaEnabled" value="false"/>
    <add key="ReCaptchaPrivateKey" value="***REMOVED***" />
    <add key="ReCaptchaPublicKey" value="***REMOVED***" />
    <add key="IsTrackingEnabled" value="false" />
    <add key="IsApiSSLVerificationEnabled" value="false" />
    <add key="EventStore.Provider" value="Postgres" />
    <add key="IsDevelopmentEnvironment" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="EventStore" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=P@$$w0rd;Database=Design-Events;Pooling=false;CommandTimeout=200;" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="me@org.com">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\email" />
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
