<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsReCaptchaEnabled" value="false"/>
    <add key="IsTrackingEnabled" value="false" />
    <add key="IsApiSSLVerificationEnabled" value="false" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="me@org.com">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\email" />
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
