<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsReCaptchaEnabled" value="false"/>
    <add key="IsApiSSLVerificationEnabled" value="false" />

    <add key="EventStore.ServerTcpPort" value="1114"/>
    <add key="EventStore.ServerHttpPort" value="2114"/>
    <add key="IsApiSSLVerificationEnabled" value="false" />
    <add key="IsDevelopmentEnvironment" value="true" />
    <add key="EventStore.Provider" value="Postgres" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\email" />
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="EventStore" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=P@$$w0rd;Database=Design-EvnentStore;Pooling=false;CommandTimeout=200;" />
    <add name="PlainStore" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=P@$$w0rd;Database=Design-Plain;" />
  </connectionStrings>
</configuration>
