<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsReCaptchaEnabled" value="false"/>
    <add key="IsApiSSLVerificationEnabled" value="false" />

    <add key="EventStore.ServerTcpPort" value="1114"/>
    <add key="EventStore.ServerHttpPort" value="2114"/>
    <add key="IsApiSSLVerificationEnabled" value="false" />
    <add key="IsDevelopmentEnvironment" value="true" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\email" />
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
