<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsReCaptchaEnabled" value="false"/>
    <add key="IsTrackingEnabled" value="false" />
    <add key="IsApiSSLVerificationEnabled" value="false" />
    <add key="IsHttpsRequired" value="false" />
    <add key="Esent.Cache.Enabled" value="false" />
    <add key="EventStore.Provider" value="Postgres" />
    <add key="IsDevelopmentEnvironment" value="true" />
    <add key="WKHtmlToPdfExecutablePath" value="c:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe" />
  </appSettings>
  <connectionStrings>
    <add name="Postgres" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=P@$$w0rd;Database=Design;" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="CustomMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear />
        <add name="CustomMembershipProvider"
             type="WB.UI.Designer.DesignerMembershipProvider"
             applicationName="WB.UI.Designer"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             minRequiredPasswordLength="1"
             minRequiredNonalphanumericCharacters="0"
             maxInvalidPasswordAttempts="5"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression="^.*$"
             requiresUniqueEmail="true" />
      </providers>
    </membership>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="me@org.com">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\Work\email" />
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
