<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsReCaptchaEnabled" value="false"/>
    <add key="IsApiSSLVerificationEnabled" value="false" />

    <add key="EventStore.ServerTcpPort" value="2217" />
    <add key="EventStore.ServerHttpPort" value="2216" />
    <add key="EventStore.Login" value="admin" />
    <add key="EventStore.Password" value="changeit" />
  </appSettings>
</configuration>

 