<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dynamicCompilerSettingsGroup" type="WB.UI.Designer.DynamicCompilerSettingsGroup, WB.UI.Designer, Version=3.0.60.0, Culture=neutral" />
  </configSections>
  <appSettings>
    <!--<add key="WKHtmlToPdfExecutablePath" value="C:\Program Files (x86)\wkhtmltopdf\bin\wkhtmltopdf.exe" />-->
    <add key="WKHtmlToPdfExecutablePath" value="C:\Tools\wkhtmltopdf\bin\wkhtmltopdf.exe" />
    <add key="EventStore.ServerTcpPort" value="1115"/>
    <add key="EventStore.ServerHttpPort" value="2115"/>
    <add key="IsReCaptchaEnabled" value="false"/>
    <add key="IsTrackingEnabled" value="false" />
    <add key="IsApiSSLVerificationEnabled" value="false" />
    <add key="DataStorePath" value="C:/Projects/Data/AppData/D.RC" />
    <!--<add key="EventStore.Provider" value="Postgres" />-->
  </appSettings>
  <connectionStrings>
    <add name="Postgres" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=Qwerty1234;Database=D.Local;" />
  </connectionStrings>
  <dynamicCompilerSettingsGroup enableDump="true" dumpFolder="C:\Projects\Data\AppData\D.Local\Temp\CodeDump">
    <settings>
      <dynamicCompilerSettings name="profile111" portableAssembliesPath="C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETPortable\v4.5\Profile\Profile111" portableAssemblies="System.dll; System.Core.dll; System.Runtime.dll; System.Collections.dll; System.Linq.dll; System.Linq.Expressions.dll; System.Linq.Queryable.dll; mscorlib.dll; System.Runtime.Extensions.dll; System.Text.RegularExpressions.dll" />
      <dynamicCompilerSettings name="profile24" portableAssembliesPath="C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETPortable\v4.0\Profile\Profile24" portableAssemblies="System.dll; System.Core.dll; mscorlib.dll" />
    </settings>
  </dynamicCompilerSettingsGroup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="me@org.com">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Projects\Data\D.email" />
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
