<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WKHtmlToPdfExecutablePath" value="C:\Program Files (x86)\wkhtmltopdf\wkhtmltopdf.exe" />
    <add key="EventStore.ServerTcpPort" value="1115"/>
    <add key="EventStore.ServerHttpPort" value="2115"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="me@org.com">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Projects\Temp\email" />
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
