<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Raven.DocumentStore" value="http://localhost:8030" />
    <add key="Raven.Username" value="Raven" />
    <add key="Raven.Password" value="_data_base_" />
    <add key="WKHtmlToPdfExecutablePath" value="C:\Program Files (x86)\wkhtmltopdf\wkhtmltopdf.exe" />
  </appSettings>
</configuration>
