<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <add key="WKHtmlToPdfExecutablePath" value="C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe" />
    <add key="recaptchaPrivateKey" value="6Lc3HxATAAAAADQ24nfx6grw3ExpzzVNk4AEHkhs"/>
    <add key="recaptchaPublicKey" value="6Lc3HxATAAAAAAXkAe_N9K7JcACaAC45luOC2070"/>
    <add key="IsApiSSLVerificationEnabled" value="false" />
    <add key="IsReCaptchaEnabled" value="true"/>
    <add key="EventStore.Provider" value="Postgres" />
    <add key="EventStore.ServerIP" value="127.0.0.1" />
    <add key="EventStore.ServerTcpPort" value="9217" />
    <add key="EventStore.ServerHttpPort" value="9216" />
    <add key="EventStore.UseJson" value="true" />
  </appSettings>
  <connectionStrings>
      <add name="Postgres" connectionString="Server=127.0.0.1;Port=5434;User Id=postgres;Password=Qwerty1234;Database=Designer;" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@designer.com" deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="roman.lytvyn.test@gmail.com" password="mnbfi9IOrm" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
