@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-area="Identity" asp-page="/Account/Logout" 
      asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
