packages
*.orig

*.suo
bin
obj
*.csproj.user

*.mdb

obj.Wpf
*.sdf
*.opensdf

*.StyleCop
StyleCop.Cache
*.suo

*.userprefs
*.cache

*.DotSettings.user
*.dotCover
*.ReSharper.user
_ReSharper.*

*.ncrunchsolution.user
_NCrunch_*
nCrunchTemp_*

ClientDependency

*.log
success.marker

Externals/lib/*
Bin
lib/Release
lib/Debug
App_Data/LocalStorage/*

scaffolding.config
src/UI/Headquarters/WB.UI.Headquarters/App_Data/
src/UI/Designer/WB.UI.Designer/questionnaire/node_modules/
src/UI/Designer/WB.UI.Designer/App_Data/ReadSide/Esent

Thumbs.db
src/Core/Infrastructure/WB.Core.Infrastructure.Android/Resources/Resource.Designer.cs
src/Core/Infrastructure/WB.Core.Infrastructure.Files.Android/Resources/Resource.Designer.cs
src/UI/Tester/WB.UI.Tester/Resources/Resource.designer.cs
src/UI/Shared/WB.UI.Shared.Enumerator/Resources/Resource.Designer.cs
src/UI/Capi/WB.UI.Capi/Resources/Resource.Designer.cs
src/UI/Shared/WB.UI.Shared.Android/Resources/Resource.Designer.cs
src/UI/Interviewer/WB.UI.Interviewer/Resources/Resource.Designer.cs
src/Infrastructure/Shared/Enumerator/WB.Infrastructure.Shared.Enumerator/Resources/Resource.Designer.cs

/src/.vs

src/UI/Designer/WB.UI.Designer/App_Data/Temp/EsentCache/*
src/UI/Headquarters/WB.UI.Headquarters/Dependencies/node_modules/*
src/UI/Headquarters/WB.UI.Headquarters/Dependencies/vendor/*
src/UI/Headquarters/WB.UI.Headquarters/Dependencies/build/markup-*.min.css
src/UI/Headquarters/WB.UI.Headquarters/Dependencies/build/libs-*.min.js
src/UI/Headquarters/WB.UI.Headquarters/Dependencies/build/libs-*.min.css
