packages
*.orig

*.suo
bin
obj
*.csproj.user

*.mdb

obj.Wpf
*.sdf
*.opensdf

*.StyleCop
StyleCop.Cache
*.suo

*.userprefs
*.cache

*.DotSettings.user
*.dotCover
*.ReSharper.user
_ReSharper.*

*.ncrunchsolution.user
*.ncrunchproject
_NCrunch_*
nCrunchTemp_*

ClientDependency

*.log
success.marker

Externals/lib/*
Bin
lib/Release
lib/Debug
App_Data/LocalStorage/*

node_modules/
npm-debug.log
.vs/

scaffolding.config
src/UI/Headquarters/WB.UI.Headquarters/App_Data/
src/UI/Designer/WB.UI.Designer/App_Data/ReadSide/Esent

Thumbs.db

src/Core/Infrastructure/WB.Core.Infrastructure.Android/Resources/Resource.Designer.cs
src/Core/Infrastructure/WB.Core.Infrastructure.Files.Android/Resources/Resource.Designer.cs
src/UI/Tester/WB.UI.Tester/Resources/Resource.designer.cs
src/UI/Shared/WB.UI.Shared.Enumerator/Resources/Resource.Designer.cs
src/UI/Capi/WB.UI.Capi/Resources/Resource.Designer.cs
src/UI/Shared/WB.UI.Shared.Android/Resources/Resource.Designer.cs
src/UI/Interviewer/WB.UI.Interviewer/Resources/Resource.Designer.cs
src/Infrastructure/Shared/Enumerator/WB.Infrastructure.Shared.Enumerator/Resources/Resource.Designer.cs
src/UI/Shared/WB.UI.Shared.Extensions/Resources/Resource.Designer.cs

src/UI/Designer/WB.UI.Designer/App_Data/Temp/EsentCache/*
src/UI/Headquarters/WB.UI.Headquarters/Dependencies/dist/*

.designTime
.tools/

src/*v3.ncrunchsolution

**/HqApp/dist/*

/src/UI/Designer/WB.UI.Designer/questionnaire/vendor
src/UI/Designer/WB.UI.Designer/questionnaire/build/*.js
src/UI/Designer/WB.UI.Designer/questionnaire/build/*.css

src/Tools/k6/k6.exe
/src/UI/Designer/WB.UI.Designer/questionnaire/build/resources/*.*
/src/UI/Headquarters/WB.UI.Headquarters/Views/Shared/partial.hq.cshtml
/src/UI/Headquarters/WB.UI.Headquarters/Views/Shared/partial.webInterview.cshtml

/src/UI/Shared/WB.UI.Shared.Extensions/Resources/Resource.Designer.cs
/src/UI/Designer/WB.UI.Designer/Content/plugins/*
/src/UI/Headquarters/WB.UI.Headquarters/HqApp/locale/.resources
/src/UI/Headquarters/WB.UI.Headquarters/HqApp/.coverage

/src/UI/WB.UI.WebTester/Content/Styles/**
/src/UI/WB.UI.WebTester/Content/Scripts/**
/src/UI/WB.UI.WebTester/Content/Dist/**
/src/UI/WB.UI.WebTester/Content/Fonts/**
/src/UI/WB.UI.WebTester/Views/Shared/partial.webtester.cshtml
Elmah/
/src/UI/Supervisor/WB.UI.Supervisor/Resources/Resource.Designer.cs
/src/UI/Designer/WB.UI.Designer/questionnaire/build/rev-manifest.json
