Anastasiia Kholodova <nastya.kholodova@gmail.com> Anastasiya Kholodova <nastya.kholodova@gmail.com> 
Anastasiia Kholodova <nastya.kholodova@gmail.com> Anastasya Kholodova <nastya.kholodova@gmail.com> 
ajita@agni.home.my <ajita@agni.home.my> ajita@localhost <ajita@localhost>
Anatoliy 'TLK' Kolesnick <anatoliy@kolesnick.com> Anatoliy 'TLK' Kolesnick <none@none>
Andrii Kozhyn <hedgic@gmail.com> Andrey Kozhyn <andrii.kozhyn@outlook.com>
Andrii Kozhyn <hedgic@gmail.com> Andrey Kozhyn <ank@scalepoint.com>
Andrii Kozhyn <hedgic@gmail.com> Andrey Kozhyn <hedgic@gmail.com>
Andrii Kozhyn <hedgic@gmail.com> Andrey Kozhyn <none@none>
Andrii Kozhyn <hedgic@gmail.com> Andrii Kozhyn <andrii.kozhyn@continuity2.com>
Andrii Kozhyn <hedgic@gmail.com> andrii kozhyn <andrii.kozhyn@outlook.com>
Andrii Kozhyn <hedgic@gmail.com> Andrii Kozhyn <andrii.kozhyn@outlook.com>
Andrii Kozhyn <hedgic@gmail.com> Andrii Kozhyn <andriikozhyn@Kodachi.local>
Juliya Pushkalova <julia@toidev.com> julia <none@none>
Juliya Pushkalova <julia@toidev.com> julia@toidev.com <julia@toidev.com>
Dmitry Sverbilov <dsverbilov@dbbest.com> Kharkov SV <dsverbilov@dbbest.com>
Kirill Rudenko <cyril.rudenko@gmail.com> Kirill Rundeko <cyril.rudenko@gmail.com>
Pavel Stovpivskyi <sby@rambler.ru> SPuV <sby@rambler.ru>
Pavel Stovpivskyi <sby@rambler.ru> admin@RLA376582.amguest.worldbank.org <admin@RLA376582.amguest.worldbank.org>
Roman Lytvyn <litvin.roma@gmail.com> Roman <55691555+roman-lytvyn@users.noreply.github.com> 
Roman Lytvyn <litvin.roma@gmail.com> Roman Litvin <litvin.roma@gmail.com>
Roman Lytvyn <litvin.roma@gmail.com> Roman Lytvyn <none@none>
Slava Scherbak <slava.scherbak@gmail.com> slava <slava.scherbak@gmail.com>
Slava Scherbak <slava.scherbak@gmail.com> Slava Scherbak <Slava Scherbak>
Slava Scherbak <slava.scherbak@gmail.com> Slava Scherbak <vs@cloudwk.com>
Slava Scherbak <slava.scherbak@gmail.com> SlavaS <slava.scherbak@gmail.com>
Slava Scherbak <slava.scherbak@gmail.com> user@win1.cloudwk.local <user@win1.cloudwk.local>
Victor Hladkikh <me@alfeg.net> Victor Gladkikh <me@alfeg.net>
Victor Hladkikh <me@alfeg.net> Alfeg <me@alfeg.net>
Victor Hladkikh <me@alfeg.net> Alfeg <victor.gladkikh@gmail.com>
Victor Hladkikh <me@alfeg.net> Victor Gladkikh <victor.gladkikh@gmail.com>
Victor Hladkikh <me@alfeg.net> Viktor Hladkikh <victor.gladkikh@gmail.com>
Vitalii Balabanov <vitaliy.balabanov@gmail.com> V-B <vitaliy.balabanov@gmail.com>
Vitalii Balabanov <vitaliy.balabanov@gmail.com> Vitaliy Balabanov <vitaliy.balabanov@gmail.com> 
Vitalii Balabanov <vitaliy.balabanov@gmail.com> Vitaliy Balabanov vitaliy.balabanov@gmail.com <Vitaliy Balabanov vitaliy.balabanov@gmail.com> 
Vitalii Balabanov <vitaliy.balabanov@gmail.com> vitaliy.balabanov@gmail.com <vitaliy.balabanov@gmail.com>
Weblate <noreply@weblate.org> Weblate Admin <me@alfeg.net>
Zurab Sajaia <zsajaia@worldbank.org> Zurab Sajaia <16375540+vavalomi@users.noreply.github.com>
Zurab Sajaia <zsajaia@worldbank.org> Zurab Sajaia <none@none> 
Zurab Sajaia <zsajaia@worldbank.org> Zurab Sajaia <wbcapi@worldbank.org>
