//

#verify-popover {
  display: none;
}

#verify-popover-content {
  //max-height: 600px;
  overflow: auto;
  //width: 900px;

  .question-list {
    .wb-question-item('verify');
    //.wb-question-list('verify');

    .breadcrumbs {
      .wb-breadcrumbs('gray');
      margin: 10px 0;
    }

    ul.error-list {
      margin-top: 5px;
      list-style: none;
      margin-bottom: 20px;
      .wb-question-verify-error-li-fontstyle();

      > li:before {
        position: relative;
        top: -0.3em;
        width: 1.2em;
        display: inline-block;
        content:'';
        margin-left:-2em;
        margin-right: 1em;
        border-bottom: 1px @verify-popup-color solid;
      }
      a {
         .wb-question-verify-error-li-fontstyle();
      }
      > li > span.var {
        .wb-question-verify-error-li-var-fontstyle();
      }
    }

    .question {
        height: auto;
        white-space: normal;
        min-height: 25px;
        padding-right: 80px;
        padding-left: 15px;
        color: @verify-popup-error-color;
        line-height: 1.6;
    }
  }
}

