/*@import "../../vendor/bootstrap/less/bootstrap.less";
@import "../lib/wb-vars.css.less";
@import "../lib/wb-fontstyles.css.less";
@import "../lib/controls/wb-buttons.css.less";
@import "../lib/controls/wb-breadcrumbs.css.less";*/

#loading-logo {
    width: @chapter-menu-panel-width;
    height: @header-height;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 900;
    background: url(../i/d-loading.gif) left top no-repeat;
}

.ace_editor { 
    height: 30px; 
}

.pseudo-form-control{
    border: 2px solid #cccccc;
    padding-top: 8px;
    padding-bottom:8px;
    border-radius: 4px;
}
.ui-match {
    background-color: #FFCC00;
    border-top: solid 1px #FAD540;
    border-bottom: solid 1px #FAD540;
    border-radius: 3px;
}

.scroller {
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

.angular-ui-tree-placeholder {
    border: none;
    height: @questionnaire-tree-item-height;
    background: rgba(0,0,0,0.1);
}

#designer-editor.container {
    width: 100%;
    min-width: 1280px;
    height: 100%;
    padding: 0 15px;

    section#header {
        position: relative;
        height: @header-height;
        padding-left: @chapter-menu-panel-width + 18px;

        > .designer-logo {
            position: absolute;
            left: 0;
            top: 0;
            width: @chapter-menu-panel-width;
            height: 100%;
            background: @designer-editor-lightblue-bg-color url(../i/d-normal.gif) left top no-repeat;
        }

        > .header-line {
            .clearfix();

            > div {
                margin-top: 18px;
            }

            > .breadcrumbs {
                float: left;
                .wb-breadcrumbs('blue');
            }

            > .header-menu {
                float: right;
                padding-right: 10px;
                .header-menu-fontstyle();

                strong {
                    color: #5D6468;
                    font-weight: normal;
                }

                .buttons {
                    display: inline-block;
                    margin-left: 8px;

                    input[type="button"] {
                        margin-left: 3px;
                    }
                }
            }

            > .questionnarie-title {
                margin-top: 14px;

                > .title {
                    .questionnarie-title-fontstyle();
                    vertical-align: top;
                    padding-right: 50px;

                    .questionnarie-title-text {
                        max-width: 1000px;
                        max-height: 25px;
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: top;
                    }

                    .questionnarie-title-buttons {
                        display: block;
                        vertical-align: top;
                        position: relative;
                    }

                    #verification-button {
                        margin-left: 5px;
                    }

                    > span.gray {
                        .questionnarie-title-span-gray-fontstyle();
                    }

                    span.error-message {
                        margin-left: 5px;
                        .questionnarie-title-span-error-fontstyle();
                    }

                    span.text-success {
                        margin-left: 5px;
                        .questionnarie-title-span-success-fontstyle()
                    }
                }
            }
        }
    }

    section#spacer {
        height: @spacer-height;

        > .left {
            float: left;
            width: @chapter-menu-panel-width;
            height: 100%;
            border-top: #a4aaaf 1px solid;
            border-bottom: #999fa4 1px solid;
        }

        > .right {
            float: left;
            width: calc(~"100%" - @chapter-menu-panel-width);
            height: 100%;
            border-top: #c5c8ca 1px solid;
            border-bottom: #a7acaf 1px solid;
        }
    }

    section#main {
        position: relative;
        height: @main-height;
        //overflow: hidden;
        .chapter-panel {
            @unfolded_width: 354px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 800;
            width: @chapter-menu-panel-width;
            height: 100%;
            background: @designer-editor-mediumblue-bg-color url(../i/chapter-panel-btn.png) 0 19px no-repeat;
            cursor: pointer;
            .transition(width 0.4s ease);

            &:hover {
                background-position: -555px 19px;
            }

            > .foldback-button {
                @side: 50px;
                display: none;
                position: absolute;
                cursor: pointer;
                top: 0;
                right: -@side;
                z-index: 15;
                width: @side;
                height: @side;
                background: #dbdfe2 url(../i/arrow-left.png) center 0 no-repeat;
                //.box-shadow(50px 0 50px -15px rgba(0, 0, 0, 0.25));
                &:hover {
                    background-position: -3px -55px;
                }
            }

            &.unfolded {
                width: @unfolded_width;
                cursor: default;
                background-image: none;
                //.box-shadow(0 5px 100px rgba(0, 0, 0, .45));
                //.box-shadow(50px 0 50px -15px rgba(0, 0, 0, 0.25));
                &:after {
                    @shadow-width: 219px;
                    position: absolute;
                    content: '';
                    width: @shadow-width;
                    height: 100%;
                    top: 0;
                    right: -@shadow-width;
                    background: url(../i/left-panel-shadow.png) repeat-y;
                }

                > .foldback-button {
                    display: block;
                }

                > .ul-holder {
                    .chapters {
                        display: block;
                    }

                    .button-holder {
                        display: block;
                    }
                }
            }

            > .ul-holder {
                width: 100%;
                height: 100%;

                .chapters {
                    width: 100%;
                    height: 100%;
                    display: none;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    padding-left: 8px;
                    //overflow: hidden;
                    h3 {
                        margin-left: 18px;
                        margin-right: 24px;
                        margin-bottom: 0;
                        margin-top: 29px;
                        .chapters-title-fontstyle();
                        padding-bottom: 8px;
                        border-bottom: 2px solid @tree-item-border-color;
                    }

                    .btn-group ul.dropdown-menu {
                        left: inherit;
                        right: 0;
                    }
                }

                .button-holder {
                    margin-top: 2px;
                    margin-left: 18px;
                    margin-right: 24px;
                    border-top: 2px solid @tree-item-border-color;
                    padding: 8px 0 20px 0;
                    overflow: hidden;
                }
            }
        }

        > .questionnaire-tree {
            height: 100%;

            > .questionnaire-tree-holder {
                height: 100%;
                padding-left: @chapter-menu-panel-width;
                padding-right: 0;
                padding-top: @chapter-title-height;
                background: @designer-editor-lightblue-bg-color;

                .question-list {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding-left: 4px;

                    > .start-box {
                        .questionnarie-startbox-fontstyle();
                        text-align: center;
                        position: static;
                        width: 100%;
                        top: 30%;

                        button {
                            margin-left: 5px;
                            margin-right: 5px;
                            background-color: #edeff1;
                        }

                        p {
                            line-height: 175%;
                            margin: 1.5em 0;
                        }

                        span.left-panel-glyph {
                            display: inline-block;
                            @s: 26px;
                            background: #cbd1d5 url(../i/chapter-panel-btn-small.png) no-repeat center;
                            border-radius: 3px;
                            width: @s;
                            height: @s;
                            vertical-align: middle;
                        }
                    }
                }
            }

            .chapter-level-buttons {
                border-top: 2px solid @tree-item-border-color;
                margin-top: 2px;
                padding: 8px 24px 0 18px;
            }

            > .question-editor {
                position: relative;
                height: 100%;
                background: white;
                padding: 0;

                > form {
                    width: 100%;
                    height: 100%;

                    @form-btns-hldr-height: 66px;
                    @form-holder-height: calc(~"100%" - (@form-btns-hldr-height));

                    > .form-holder {
                        padding: 10px 20px;
                        height: @form-holder-height;
                        overflow: auto;

                        .breadcrumbs-container {
                            min-height: 25px;
                            margin-bottom: 5px;

                            .breadcrumbs {
                                .wb-breadcrumbs('gray');
                            }
                        }

                        .gray {
                            padding: 8px;
                            background: #f1f2f3;
                            border-radius: 4px;
                            .clearfix();
                        }

                        .form-group {
                            > label {
                                .lucida-console-font();
                                font-size: 14px;
                                color: #5d5d5d;
                                font-weight: normal;
                            }
                        }
                    }

                    > .form-buttons-holder {
                        background-color: #fff;
                        padding: 10px 20px;
                        position: absolute;
                        width: 100%;
                        height: @form-btns-hldr-height;
                        bottom: 0;
                        left: 0;
                        //margin: 16px 0px;
                        .clearfix();

                        .pull-left, .pull-right {
                            height: 42px;
                        }

                        .pull-left {
                            > * {
                                margin-right: 12px;
                            }
                        }

                        .pull-right {
                            > * {
                                margin-left: 12px;
                            }
                        }

                        > div > a {
                            cursor: pointer;
                            .inline-button-fontstyle();
                        }
                    }
                }
            }
        }
    }
}

.highlighted-add {
    border-radius: 4px 4px 0 0;
    background-color: @questionnarie-question-list-item-hover-color;

    .item {
        .item-body {
            border-bottom-color: @questionnaire-item-border-when-highlighted;

            .qname-block {
                background-color: @questionnarie-question-list-item-hover-color;

                &:before {
                    #gradient > .horizontal(rgba(237,239,241, 0.0), rgba(237,239,241, 1.0));
                }
            }
        }

        &.selected {
            .qname-block {
                background-color: @questionnarie-question-list-item-selected-color;

                &:before {
                    #gradient > .horizontal(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0));
                }
            }
        }
    }
}

li.chapter-panel-item {
    position: relative;
    display: block;
    cursor: pointer;


    > .holder {
        display: block;

        > .inner {
            //position: relative;
            display: block;
            padding-left: 18px;
            padding-right: 24px;
            .border-left-radius(4px);

            > .handler {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 18px;
                .border-left-radius(4px);
            }

            > a.chapter-panel-item-body {
                text-decoration: none;
                margin: 0;
                .questionnarie-chapter-list-fontstyle();
                padding: 14px 0 16px;
                border-bottom: 2px solid @tree-item-border-color;
                display: block;
                min-height: @chapter-item-height;
                font-weight: bold;
            }
        }
    }

    &.current {
        position: relative;
        top: -2px;
        z-index: 9;
        min-height: @chapter-item-height;

        .holder .inner a.chapter-panel-item-body {
            border-bottom: none;
            padding-top: 16px;
        }

        > .holder {
            > .inner {
                background-color: @chapter-item-selected-color;

                > .handler {
                    background: @chapter-item-selected-color url(../i/chapter-list-li-dots.png) center no-repeat;
                }
            }
        }

        &:hover {
            > .holder {
                > .inner {
                    background-color: @chapter-item-selected-color;

                    > .handler {
                        background-color: @chapter-item-selected-color;
                    }
                }
            }
        }
    }

    &:hover {
        position: relative;
        top: -2px;
        z-index: 10;
        min-height: @chapter-item-height;

        .holder .inner a.chapter-panel-item-body {
            border-bottom: none;
            padding-top: 16px;
        }

        > .holder {
            > .inner {
                background-color: @chapter-item-hover-color;

                > .handler {
                    background: @chapter-item-hover-color url(../i/chapter-list-li-dots.png) center no-repeat;
                }
            }
        }
    }
}

.chapter-title {
    padding-left: @chapter-menu-panel-width + 22px;
    padding-right: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: @chapter-title-height;
    background: @designer-editor-lightblue-bg-color;
    .questionnarie-chapter-title-fontstyle();
    line-height: @chapter-title-height;
    overflow: hidden;
    z-index: 5;
    border-bottom: 2px solid @tree-item-border-color;

    &.selected {
        background: @questionnarie-question-list-item-selected-color;

        ul.controls-right {
            background: @questionnarie-question-list-item-selected-color;

            &:before {
                #gradient > .horizontal(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0));
            }
        }
    }

    > span {
        .questionnarie-chapter-title-span-fontstyle();
    }

    .chapter-title-text {
        white-space: nowrap;
        color: @designer-editor-chapter-list-color;
        text-decoration: none;
    }

    ul.controls-right {
        display: block;
        position: absolute;
        top: 7px;
        right: 0;
        margin: 0;
        padding: 0;
        padding-right: 5px;
        list-style: none;
        .clearfix();
        background-color: @designer-editor-lightblue-bg-color;

        &:before {
            @w: 45px;
            display: block;
            position: absolute;
            height: 100%;
            content: '';
            width: @w;
            top: 0px;
            left: -@w;
            #gradient > .horizontal(rgba(219, 223, 226, 0.0), rgba(219, 223, 226, 1.0));
        }

        li {
            float: left;
            @side: 40px;
            width: @side;
            height: @side;

            a {
                display: block;
                width: 100%;
                height: 100%;
                background: no-repeat center 0;

                &:hover {
                    background-position: center (-@side);
                }

                &.filter {
                    background-image: url(../i/filter-glyph.png);
                }

                &.search {
                    background-image: url(../i/search-glyph.png);
                }
            }
        }
    }

    > .search-box {
        @h: 40px;
        position: absolute;
        top: 0;
        left: @chapter-menu-panel-width;
        right: 0;
        height: @chapter-title-height;
        .clearfix();

        > .input-group {
            margin-top: (@chapter-menu-panel-width - @h)/2;
            line-height: @h;
            //width: ~"calc(100% - 50px)";
            padding-right: 50px;
            margin-left: 22px;
            float: left;

            > input {
                height: @h;
                border: none;
                border-radius: 3px 0 0 3px;
                padding: 0 14px;
                width: 100%;
                .arial-font();
                font-size: 16px;
                color: #000;
                outline: none;
            }

            > span {
                height: @h;
                border: none;
                border-radius: 0 3px 3px 0;
                background-color: #fff;
                cursor: pointer;
                top: 0;
            }
        }

        > button {
            @btn-size: 40px;
            margin: 7px 0 0 3px;
            line-height: @h;
            width: @btn-size;
            height: @btn-size;
            border: none;
            padding: 0;
            display: block;
            //float: left;
            background: transparent url(../i/cross.png) 0 0;
            position: absolute;
            right: 4px;

            &:hover {
                background-position: 0 -40px;
            }
        }
    }
}


.questionnaire-tree-holder {
    .roster-items {
        .item {
            .item-body {
                .icon {
                    background-position-x: -60px;
                }

                .item-text {
                    color: @questionnaire-tree-roster-color;
                }
            }
        }
    }
}

.item {
    position: relative;
    .border-left-radius(4px);
    padding-left: 18px;
    padding-right: 24px;
    white-space: nowrap;
    .questionnarie-question-list-item-fontstyle();

    > a, > a:hover {
        text-decoration: none;
        display: block;
    }

    .item-body {
        height: @questionnaire-tree-item-height;
        line-height: @questionnaire-tree-item-height - 2px;
        border-bottom: 2px solid @tree-item-border-color;
        position: relative;
        padding-left: 29px;


        .icon {
            position: absolute;
            left: 0;
            top: 7px;
            width: 20px;

            &.icon-numeric,
            &.icon-text {
                top: 8px;
            }
        }

        button.btn-collapse,
        button.btn-expand {
            @side: 20px;
            display: inline-block;
            position: absolute;
            top: 9px;
            left: 0;
            margin-right: 13px;
            width: @side;
            height: @side;
            background: url(../i/section-collapse-glyph.png) no-repeat;
            border: none;
            vertical-align: bottom;
            outline: none;
        }

        button.btn-collapse {
            background-position: center -8px;
        }

        button.btn-expand {
            background-position: center -40px;
        }

        .item-text {
            overflow: hidden;
            display: inline-block;
            width: 100%;
            background: transparent;
        }

        .qname-block {
            position: absolute;
            right: 0;
            top: 0;
            height: ~"calc(100% - 2px)";
            padding-right: 10px;
            background-color: @questionnarie-question-list-item-bg-color;
            .questionnarie-question-list-item-qname-fontstyle();
            text-transform: none;

            &:before {
                @w: 75px;
                display: block;
                position: absolute;
                height: 100%;
                content: '';
                width: @w;
                top: 0px;
                left: -@w;
                #gradient > .horizontal(rgba(219, 223, 226, 0.0), rgba(219, 223, 226, 1.0));
            }
        }
    }

    &.group {
        > .item-body {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    &.roster {
        .item-text {
            color: @questionnaire-tree-roster-color;

            .roster-marker {
                text-transform: capitalize;
                font-weight: normal;
                font-style: italic;
                .georgia-font();
            }
        }
    }

    .handler {
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 100%;
        z-index: 5;
        .border-left-radius(4px);
    }

    &.selected {
        position: relative;
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background: @questionnarie-question-list-item-selected-color;
        padding-top: 2px;
        top: -2px;
        height: @questionnaire-tree-item-height;
        z-index: 498;

        &:hover {
            background-color: @questionnarie-question-list-item-selected-color;

            .handler {
                background-color: @questionnarie-question-list-item-selected-color;
            }

            .qname-block {
                background-color: @questionnarie-question-list-item-selected-color;

                &:before {
                    #gradient > .horizontal(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0));
                }
            }
        }

        .dropdown {
            z-index: 501;
        }


        .item-body {
            border-bottom: none;
        }

        .qname-block {
            background-color: @questionnarie-question-list-item-selected-color;

            &:before {
                #gradient > .horizontal(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1.0));
            }
        }
    }

    &:hover {
        position: relative;
        padding-top: 2px;
        top: -2px;
        height: @questionnaire-tree-item-height;
        z-index: 499;
        background-color: @questionnarie-question-list-item-hover-color;

        .handler {
            background-image: url(../i/question-item-dots.png);
            background-repeat: no-repeat;
            background-position: 5px center;
            background-color: @questionnarie-question-list-item-hover-color;
        }

        .item-body {
            border-bottom: none;
        }

        .dropdown {
            z-index: 500;
        }

        .qname-block {
            background-color: @questionnarie-question-list-item-hover-color;

            &:before {
                #gradient > .horizontal(rgba(237, 239, 241, 0.0), rgba(237, 239, 241, 1.0));
            }
        }
    }
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 30px;
}

.question-editor .type-container-dropdown {
    width: 100%;

    #questionTypeBtn,
    #rosterTypeBtn,
    .dropdown-menu {
        width: 100%;
    }
}

.ps-scrollbar-x-rail,
.ps-scrollbar-y-rail {
    z-index: 700;
}

.ps-scrollbar-y-rail {
    margin-right: 5px;
}

.position-fixed {
    position: fixed;
    z-index: 500;
}

.dropdown ul.dropdown-menu > li > a {
    .context-menu-fontstyle();
    cursor: pointer;

    &:hover {
        background: @context-menu-hover-color;
    }
}

#show-reload-details-promt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255, 255, 0.6) url(../i/loading-bg.png) repeat;
    z-index: 20;

    .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50px;
        width: 50%;
        margin: -25px 0 0 -25%;
        line-height: 50px;
        background: #fff;
        text-align: center;
        border-radius: 4px;

        a {
            text-decoration: underline;
        }
    }
}
