.wb-question-item(@purpose) {
}

.broken-links {
    max-height: 500px;
    overflow-y: auto;

    a {
        display: block;
        padding: 5px 0 5px 8px;
        border-top: 2px solid #eee;
        text-decoration: none;
        border-radius: 4px;

        &:last-child {
            border-bottom: 2px solid #eee;
        }

        &:hover {
            background: #eee;
        }
    }
}

.icon {
    width: 20px;
    height: 20px;
    background: url(../i/icons.png);
    background-position-x: 0px;
    overflow: hidden;
}

.icon-numeric {
    background-position: 0 0;
}

.icon-text {
    background-position: 0 -30px;
}

.icon-roster {
    background-position: 0 -30px;
}

.icon-singleoption {
    background-position: 0 -60px;
}

.icon-multyoption {
    background-position: 0 -90px;
}

.icon-datetime {
    background-position: 0 -120px;
}

.icon-gpscoordinates {
    background-position: 0 -150px;
}

.icon-qrbarcode {
    background-position: 0 -180px;
}

.icon-textlist {
    background-position: 0 -210px;
}

.icon-photo {
    background-position: 0 -270px;
}

.icon-multimedia {
    background-position: 0 -270px;
}

.icon-statictext {
    background-position: 0 -300px;
}

.icon-macro {
    background-position: 0 -388px;
}

.icon-lookup {
    background-position: 0 -413px;
}


.icon-error {
    &.icon-numeric {
        background-position: -30px 0;
    }

    &.icon-text {
        background-position: -30px -30px;
    }

    &.icon-singleoption {
        background-position: -30px -60px;
    }

    &.icon-multyoption {
        background-position: -30px -90px;
    }

    &.icon-datetime {
        background-position: -30px -120px;
    }

    &.icon-gpscoordinates {
        background-position: -30px -150px;
    }

    &.icon-qrbarcode {
        background-position: -30px -180px;
    }

    &.icon-textlist {
        background-position: -30px -210px;
    }

    &.icon-photo {
        background-position: -30px -270px;
    }

    &.icon-multimedia {
        background-position: -30px -270px;
    }

    &.icon-statictext {
        background-position: -30px -300px;
    }

    &.icon-macro {
        background-position: -30px -388px;
    }

    &.icon-lookup {
        background-position: -30px -413px;
    }
}
