input#edit-question-title, input#edit-group-title {
  .edit-question-title-fontstyle();
}

.question-editor .singleOption, .question-editor .multyOption {
  background-color: #f1f2f3;
  margin-top: -20px;
  padding: 0 15px;
  border-radius: 4px;

  .table-holder {
    display: table;
    width: 100%;

    .table-row {
      display: table-row;
      height: 38px;

      .column-1, .column-2, .column-3, .column-4 {
        padding-left: 0;
        padding-right: 0;
        display: table-cell;
        vertical-align: top;
      }

      .column-1, .column-4 {
        width: 40px;
      }

      .column-2 {width: 100px;}

      .column-1 {
        text-align: center;

        > .backing {
          background-color: #ffffff;
          border-color: #fff;
          box-shadow: none;
          border-radius: 4px 0 0 4px;
          height: 34px;

          > input.wb-radio + label,  > input.wb-checkbox + label{
            margin-right: 0;
            span {
              vertical-align: inherit;
            }
          }

        }
      }

      .column-2 input{
        border: 2px solid #f1f2f3;
        border-radius: 0;
        border-top-color: #fff;
        border-bottom-color: #fff;
        box-shadow: none;
        .questionnarie-question-list-item-qname-fontstyle();
        font-size: 14px;
      }

      .column-3 input{
        border-color: #fff;
        box-shadow: none;
        border-radius: 0 4px 4px 0;
        .arial-font();
      }

      .column-4{
        //height: 38px;
        // width: 45px;
        > a {
          display: block;
          background: url("../i/cross-red.png") center center no-repeat;
          width: 34px;
          height: 34px;
        }
      }

    }
  }

  p input#edit-question-save-button {
    margin-top: 15px;
  }
}

.question-editor {
  button#rosterTypeBtn, ul[aria-labelledby="rosterTypeBtn"] {
    width: 450px;
  }

  button#edit-roster-numeric-source, ul[aria-labelledby="edit-roster-numeric-source"] {
    width: 100%;
  }
}

.row .form-group {
  button.cross {
    display: block;
    background: url("../i/cross-red.png") center center no-repeat;
    width: 34px;
    height: 34px;
  }

  .btn-group button.dropdown-toggle {
    padding: 10px 40px 10px 10px;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    text-transform: none;
    text-align: left;
    min-height: 37px;
    //width: 450px;

    > span.dropdown-arrow {
      background: url(../i/dropdown-arrow.png) no-repeat center center;
      width: 19px;
      height: 12px;
      position: absolute;
      right: 10px;
    }
    > span.edit-roster {
      display: inline-block;
      overflow: hidden;
      padding-left: 10px;
      width: 100%;
    }
  }
}