@{
    Layout = null;
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web interview</title>
  </head>
  <body>
    <script>
        global:INTERVIEW_APP_CONFIG = {
            "virtualPath": '@Url.RouteUrl("Default", new {controller = "WebInterview", Action = "Index"})'
        }
    </script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
