@model UserModel
@{
    Layout = "~/Views/Shared/Profile/_UserCreateLayout.cshtml";

    ViewBag.Title = Pages.Profile_ApiUserCreate;
    ViewBag.PageTitle = Pages.Profile_ApiUserCreate;
    ViewBag.HideDetails = true;
}
@section Breadcrumbs
{
    <li>
        @Html.ActionLink(@Pages.Profile_ApiUsersList, "Index")
    </li>
}