@using WB.Core.GenericSubdomains.Portable
@model UserEditModel
@{
    Layout = "~/Views/Shared/Profile/_UserEditorLayout.cshtml";

    ViewBag.Title = Pages.Profile_ApiUserEditFormat.FormatString(Model.UserName).RemoveHtmlTags();
    ViewBag.PageTitle = Pages.Profile_ApiUserEditFormat.FormatString(Html.Encode(Model.UserName));
}
@section Breadcrumbs
{
    <li>
        @Html.ActionLink(@Pages.Profile_ApiUsersList, "Index")
    </li>
}