@use "sass:color";

.structured-content{
	margin: 0;
	.panel + .panel{
		margin-top: -1px;
	}
	.panel-default{
		background-color: transparent;
		margin: 0 0 -1px;
		border-radius: 0;
		border-left: none;
		border-right: none;
		box-shadow: none;
		padding: 0;
		@include accordion(30px);
		&:first-of-type{
			border-top: none;
		}
		& > .panel-heading{
			background-color: transparent;
			border: none;
			padding: 0;
			h3{
				position: relative;
				@include transition(all, 0.3s);
				&.group a{
					&:before, &:after{
						display: none;
					}
				}
				.btn-plus{
					@include absolute(7px, null, null, null);
					z-index: 1;
					&:before, &:after{
						background-color: $blue;
					}
				}
				a{
					display: block;
					font: 16px/18px $roboto_medium;
					font-weight: normal;
					color: $blue;
					padding: 15px 20px 15px 30px;
					position: relative;
					&:hover, &:focus{
						text-decoration: none;
					}
				}
				&.has-error {
					.btn-plus, a{
						&:before, &:after{
							background-color: $red_error;
						}
					}
					a{
						color: $red_error;
					}
				}
				&.complete {
					.btn-plus, a{
						&:before, &:after{
							background-color: $green;
						}
					}
					a{
						color: $green;
					}
                }
                &.disabled {
					.btn-plus, a{
						&:before, &:after{
							background-color: $gray_text;
						}
					}
					a{
						color: $gray_text;
					}
				}
			} 
			.active, &:hover, &:focus{ 
				background-color: color.adjust($gray-highlighting, $lightness: -3%);
			}			
		} 
		.current{
			background-color: $gray-highlighting;
		}
	}
	.panel-body{
		padding: 0;
		.panel-group{
			margin-bottom: -1px;
		}
	}
}
@media only screen and (max-width: 1525px){
	.structured-content{
		.panel-default{
			@include accordion(20px);
			& > .panel-heading h3 a{
				font-size: 14px;
				line-height: 16px;
				padding-left: 20px;
			}
		}
	}
}
@media (max-width: $screen-sm-min){
	.structured-content{
		.panel-default{
			@include accordion(30px);
			& > .panel-heading h3 a{
				padding-left: 30px;
			}
		}
	}
}
