.main-information{
	margin-left: $filter-width - $margin-container + 12px (+15px);
	padding: 0 0 0 30px;
	@include transition(margin, 0.3s);
	.panel-table{
		left: $filter-width + 12px;
		@include transition(left, 0.3s);
	}
}
.fullscreen-hidden-filter .main-information{
	margin-left: $filter-width - $margin-container + 12px (+15px);
	padding: 0 0 0 30px;
	.panel-table{
		left: $filter-width + 12px;
	}
}
.title-row{
    .interviewer{
        font-size: 18px;
        line-height: 20px;
        &:before{
            @include opacity(0.8);
            margin-right: 5px;
            top: 0;
        }
    }
    span .interviewer{
        color: $gray_light;
        &:before{
            @include opacity(0.3);
        }
    }
}
.on-line{
    color: $green_btn;
    &:before{
        content: "";
        display: inline-block;
        @include square(7px);
        border-radius: 100%;
        background-color: $green_btn;
        margin-right: 5px;
    }
}
.map-report{	
	main .container-fluid{
		padding-right: 15px;
		padding-left: 15px;
	}
	.main-information{
		margin-left: 252px;
	}
}
@media only screen and (max-width: 1300px){
	.map-report{
		.fullscreen-hidden-filters .main-information {
			margin-left: 0;
			padding-left: 12px;
		}
	}
	.fullscreen-hidden-filters .main-information {
		margin-left: 0;
        padding-left: 0;
		.panel-table{
			left: 12px;
		}
	}
}
@media (max-width: $screen-md-min){
	.map-report{
		.main-information{
			padding-right: 0px;
		}
		.fullscreen-hidden-filters {
			.main-information{
				margin-left: 0;
			}
		}
	}
	.main-information {
		margin-left: $filter-width - $margin-container-md-screen + 15px;
		padding-right: 15px;
		.panel-table{
			left: $filter-width+ 12px;
		}
	}
	.fullscreen-hidden-filters{
		.main-information{
			padding: 0 10px;
			margin: 0;
			.panel-table{
				left: 12px;
			}
		}
	}
}
@media (max-width: $screen-sm-min){
	.map-report{
		.main-information{
			margin-left: 2px;
		}
	}
	.main-information{
		margin-left: 0;
		padding: 0 10px;
		.panel-table{
			left:  12px;
		}
	}
	.fullscreen-hidden-filters .main-information{
		display: none;
		.panel-table{
			z-index: 0;
		}
	}
}
@media (max-width: $screen-xs-min){
	.map-report{
		.main-information{
			padding-top: 0;
			margin-left: 7px;
		}
	}
	.main-information{
		padding: 10px 5px 0 5px;

	}
	.main-information #DataTables_Table_0_wrapper #DataTables_Table_0_filter{
		left: 0;
	}
}

