.vue-query-builder{
  .query-builder-group{
	margin-top: 15px !important;
    
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
  }
  .query-builder-group__group-children {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }
  .query-builder-group__group-children--depth-4{
    .vqb-rule{
        border-left:2px solid #ffff00 !important;
    }
  }  	 
  .query-builder-group__group-children--depth-5{
      border-left:2px solid #ffff00;
      .vqb-rule{
        border-left:2px solid #ff00ff !important;
      }
  }
  .query-builder-group__group-children--depth-6{
      border-left:2px solid #ff00ff;
        .vqb-rule{
          border-left:2px solid #9900ff !important;
        }
    }
  .query-builder-group__group-children--depth-7{
      border-left:2px solid #9900ff;
        .vqb-rule{
          border-left:2px solid #999900 !important;
        }
    }	 
  .query-builder-group__group-children--depth-8{
      border-left:2px solid #999900;
    }
    
  .query-builder-child__delete-child{
       position:absolute !important;
       top:0;
       right:0;
       margin-top: 3px;
       margin-right: 5px;
   }

   input[type=date].form-control{
       line-height: inherit;
   }

   .form-inline{
       .form-check{
           display: inline-flex;
           margin-right: .75rem;
           input[type=radio]{
               margin-right: .25rem;
           }
           label{
               margin-top: 2px;
           }
       }
   }
}  