#questionnaires .title { 
	width: 40%;
	&.td{
		font-size: 18px;
		line-height: 20px;
		a, span{
			font-size: 18px;
			line-height: 20px;
		}
	}
}
.context-menu-list{
	padding: 5px;
	border-radius: 0;
	z-index: 9999 !important;
	box-shadow: 0 1px 2px rgba(0,0,0,.5), 6px 6px 0 rgba(0, 0, 0, 0.1);
	.context-menu-item{
		padding: 10px;
		&.context-menu-hover{
			background-color: #eff4f8;
			color: $gray_text;
		}
	}
	.context-menu-separator{
		border-width: 2px;
		border-color: #ccc;
		margin-left: 5px;
		margin-right: 5px;
		padding: 0;
	}
}

.interview-setup{
	.btn + .btn{
		margin-left: 4px;
	}
	.help-block{
		font-style: italic;
		font-size: 14px;
    line-height: 16px;
	}
	.page-header{
		p{
			font: 16px/18px Arial, "Helvetica Neue", Helvetica, sans-serif; 
		}
		padding-bottom: 55px;
	}
	h3, .h3{
		font: 18px/20px "RobotoBold";
		color: #303030;
		margin-bottom: 35px;
	}
	.h2{
		margin-bottom: 0px;
	}
	.h5{
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
		font-weight: bold;
	}
	ul.nav-tabs{
		margin-bottom: 42px;
		li > a{
			font-size: 14px;
			line-height: 16px;
			padding: 12px 18px;
			margin-right: 0;
		}
		li:first-child{
			&.active > a{
				border-left: none;
			}
		}
		li.active > a{
			border: 2px solid #E5E5E5;
			border-bottom-color: transparent;
			border-radius: 0;
		}
	}
	.high-resolution-title{
		display: none;
	}

	.row-element{
		transition:  all 0.2ms linear;
		textarea,
		input{
			&::placeholder{
				font: 14px/16px Arial, "Helvetica Neue", Helvetica, sans-serif; 
				text-transform: none;
				letter-spacing: normal;
				font-style: italic;
			}
		}
		textarea{
			padding: 10px 30px 10px 18px;
			cursor: auto;
			border-width: 2px;
			border-radius: 4px;
			width: 100%;
			resize: none;

		}
		.form-control{
			padding: 10px 30px 10px 18px;
		}  
		.wrapper-dynamic{
			display: inline-block;
			width: auto;
			position: relative;
		}
		.width-dynamic{
			font: 12px/14px "TrebuchetMSBold";
    	text-transform: uppercase;
    	letter-spacing: 0.13em;
			min-width: 300px;
			width: 300px;
			max-width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:read-only{
				&.btn-primary{
					background-color: $blue;
					border-color: $blue;
					&:hover{
						background-color: transparent;
					}
				}
				&.btn-success{
					background-color: $green;
					border-color: $green;
					&:hover{
						background-color: transparent;

					}
				}
				color: #fff;
			}
			&:hover,
			&:focus,
			&:active{
				outline: none;
				background: transparent;
				color: #303030;
			}
		}
		.buffer {
			position: absolute;
			top: -1000px;
			left: -1000px;
			visibility: hidden;
			white-space: nowrap;
			font: 12px/14px "TrebuchetMSBold";
    		text-transform: uppercase;
			letter-spacing: 0.13em;
			padding: 10px 9px;
		}
	}
	.additional-info{
		font-size: 14px;
		line-height: 16px;
		color: #BEBEBE;
	}
	@extend %logo-icon;
	.gray-text{
		font-size: 14px;
		line-height: 16px;
	}
	.preview{
		width: 780px;
		padding: 0 30px;
		margin-left: 30px;
	}
	label,
	.notification-block{
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
	}
	.email-block{
		flex-direction: row;
	}
}
.costomization-block{
	width: 600px;
}
.browser-mockup {
	border-top: 2em solid rgba(230, 230, 230, 0.7);
	box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
	position: relative;
	border-radius: 3px 3px 0 0;
	padding: 30px;
	padding-bottom: 0;
	align-items: center;
	.email-example-table{
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 14px; 
        box-sizing: border-box; 
        max-width: 600px; 
        background-image: url("../img/logo.svg");
        background-repeat: no-repeat; 
        background-size: 270px auto; 
        background-position: 115% 45px;        
    }
    
    &:before {
		display: block;
		position: absolute;
		content: '';
		top: -1.25em;
		left: 1em;
		width: 0.5em;
		height: 0.5em;
		border-radius: 50%;
		background-color: #f44;
		box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
	}
	&:after {
		display: block;
		position: absolute;
		content: '';
		top: -1.6em;
		left: 5.5em;
		width: calc(100% - 6em);
		height: 1.2em;
		border-radius: 2px;
		background-color: white;
	  }
	  .icon{
		  width: 30%;
	  }
  }
@media (max-width: 680px){
	.radio-accordion{
		.radio{
			.extended-block{
				.field{
					width: 100%;
				}
			}
		}
	}
}
@media (max-width: $screen-sm-min){
    .interview-setup{
		
		.tab-pane{
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
@media (max-width: $screen-md-min){
	.interview-setup {
		.preview{
			display: none;
		}
	}
}
@media (max-width: 660px){
    .interview-setup{
			.costomization-block{
				width: 100%;
			}
	}
}
.radio-accordion{
	.radio{
		border: 2px solid #E5E5E5;
			& > label{
			width: 100%;
			background: rgba(196,196,196, 0.2);
			padding: 14px;
			font-family: "RobotoBold";
			color: #303030;
		}
	}
	.extended-block{
		transition: all 0.1s linear;
		height: 0;
		visibility: hidden;
		opacity: 0;
		.form-group{
			margin-bottom: 25px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		.wrapper{
			padding: 30px 40px;
		}
		label{
			color: #303030;
			margin-top: 0;
			padding-top: 0;
		}
		.field{
			width: 80%;
		}
	}
	.wb-radio:checked ~ .extended-block {
		height: auto;
		visibility: visible;
		opacity: 1;
	}
}
.test-email-block{
	font-size: 18px;
	line-height: 20px;
}