.two-columns-form, .flex-row{
    @include flexbox();
}
.form-inside{
    min-height: 500px;
}
.two-columns-form{
    width: 810px;
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); // IE9 only
     -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    label{
        font-weight: normal;
    }

    .left-column{
        padding: 10px 40px 10px 0px;
        text-align: center;
        img{
            margin-bottom: 25px;
        }
        p{
            @include font(17px, 22px);
            color: $gray_light;
            margin-bottom: 0;
            a{
                color: $gray_light;
                text-decoration: underline;
                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }
    }
    .right-column{
        padding: 10px 0 10px 40px;
        border-left: 2px solid $gray_form;
    }
    .log-in{
        .alert-danger p{
            color: $red_error; 
        }
        .form-group{
            margin-bottom: 10px;
            label{
                @include font(13px, 15px);
                padding-top: 6px;
                font-weight: normal;                
                span{
                    color: $blue;
                    font-family: "Lucida Console", Monaco, monospace;
                }
            }
            .form-control{
                @include size(100%, 42px);
                max-width: 395px;
                border-width: 2px;
                border-color: $gray-form;
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    font-style: italic;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    font-style: italic;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    font-style: italic;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    font-style: italic;
                }
            } 
        } 
    }
}
.spacer {
    display:block;
    height:530px;
}
.centered-box-table{
    display: table;
    @include size(100%, 100%);
    .centered-box-table-cell{
        display: table-cell;
        vertical-align: middle;
    }
}
@media (max-width: $screen-sm-min){
    html body main {
        .flex-row, .two-columns-form{
            display: block;
            margin-top: 30px;
            .right-column, .left-column{
                padding: 10px 3%;
                border: none;
            }
            .log-in{
                .form-group .form-control{
                    width: 75%;
                    display: inline-block;
                }
            }
        }
        .two-columns-form{
            width: auto;
            position: relative;
            top: 0;
            left:0; 
            @include translate(0,0);
        }
        .centered-box-table{
            text-align: center;
        }
        .spacer {
            display:none;
        }
    } 
}
.login{
    height: 100%;
    main{
        height: 100%;
    }
}
.hq-apps-wrapper{
    font-size: 14px;
    line-height: 16px;
    color: $gray-highlight-font;
}
.additional-info-block{
    a{
        color: $gray-highlight-font;
        text-decoration: underline;
        &:hover, &:focus{
            text-decoration: none;
        }
    }
}
@media only screen and (max-width: 800px){
    .two-columns-form{
        margin-top: 30px;
        width: auto;
        position: relative;
        top: 0;
        left:0; 
        @include translate(0,0);
    }
    .spacer {
        display:none;
    }
}
@media (max-width: $screen-sm-min){
    .log-in, main .two-columns-form .left-column p, .hq-apps-wrapper, .two-columns-form form .form-group{
        text-align: left;
        max-width: 350px;
        margin: 0 auto;
    }
}