$screen-xs:                  481px;
$screen-sm:                  880px;
$screen-md:                  1210px;
$screen-lg:                  1400px;
$screen-md-min:              $screen-md;
$screen-sm-min:              $screen-sm;
$screen-xs-min:              $screen-xs;
$grid-gutter-width:         30px;
$container-tablet:             (768px + $grid-gutter-width);
$container-desktop:            (960px + $grid-gutter-width);
$container-large-desktop:      (960px + $grid-gutter-width);
$input-height-base: 40px;
$padding-base-vertical: 10px;
$padding-base-horizontal: 9px;

/* Colors */
$blue: #2a81cb;
$light-blue: #5fd3c6;
$blue-super-light: #eff4f8;

$gray_form: #dbdfe2;
$gray_text: #3f3f3f;
$gray_light: #a6a8a9;
$gray-super-light: #ececec;
$gray-highlighting: #f3f3f3;
$gray-highlight-font: #6b6b6b;

$table-selected: #cad1d7;
$white: #fff;

$green_btn: #2fc507;
$green: #3ca21a;
$green-light: #22c015;
$green-progress: #cbe1cc;

$red_error: #e74924;
$red: #ed2c39;
$warning_color: #F9BD07;
$red-super-light: #f6d6d0;

$pink: #e3008b;

$highlight-color: #ff8;

$transparent-font: transparent;
/* Changed default value */

$state-success-text:             $green;
$state-info-text:                $blue;
$state-warning-text:             #8a6d3b;
$state-danger-text:              $red_error;
$btn-success-bg:				 $green;
$btn-danger-bg:            	 	 $red_error;
$btn-primary-bg:				 $blue;
$btn-success-border:			 $green;
$btn-danger-border:        	 	 $red_error;
$btn-primary-border:			 $blue;
$progress-bar-success-bg:		 $green;
$progress-bar-info-bg:			 $blue;
$progress-bar-danger-bg:		 $red_error;
$label-primary-bg:				 $blue;
$label-success-bg:				 $green;
$label-danger-bg:				 $red_error;

$margin-container: 80px;
$margin-container-md-screen: 35px;
$width-search-input: 300px;
$indent-foldback-button-hd: 75px;
$indent-foldback-button: 65px;

/* Indent for filters */

$width-question-editor: 540px;
$width-foldback-button: 50px;
$height-foldback-button: 46px;
$filter-width: 282px;
$filter-width-details: 342px;

$content-width: 510px;
$content-width-small: 330px;
$form-width: 295px;

$questionnaire-min-width: 555px;
$assetsPath: "..";
$graphic-height: 170px;

$trebuchet_bold: "TrebuchetMSBold";
$trebuchet: "Trebuchet MS", Helvetica, sans-serif;
$roboto_medium: "RobotoRegular";
$roboto_italic: "RobotoRegular";
