 table.jqplot-table-legend {
     width: 90%;
     border: none;
 }

 td.jqplot-table-legend.jqplot-table-legend-swatch.jqplot-seriesToggle {
     width: 20px;
 }

 div.jqplot-table-legend-swatch-outline {
     border: none;
 }

 .jqplot-table-legend-swatch {
     border-width: 10px;
 }