@using WB.Core.SharedKernels.SurveyManagement.Web.Properties
@{
    ViewBag.Title = Pages.Backup_IndexTitle;
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
}

<h2>System Backup</h2>

<p>
    @Html.ActionLink("Get Backup", "Backup", "ImportExport", new { syncKey = Guid.NewGuid() }, new { @class = "btn small btn-primary" })
</p>
