<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="interviewerPublicDir" value="will_set_in_code" />
  <targets>
    <target name="logfile" 
            xsi:type="File" 
            fileName="${var:interviewerPublicDir}/Logs/${shortdate}.log"
            layout="${longdate}[${logger}][${level}][${message}][${onexception:${exception:format=tostring}|${stacktrace}}]"
      />
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="logfile" />
  </rules>
</nlog>