<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="monoandroid81" />
  <package id="Autofac.Extras.MvvmCross" version="5.0.0" targetFramework="monoandroid81" />
  <package id="FastAndroidCamera" version="2.0.0" targetFramework="monoandroid81" />
  <package id="HockeySDK.Xamarin" version="5.1.2" targetFramework="monoandroid80" />
  <package id="Humanizer.Core" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.es" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.fr" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.id" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.it" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.pt" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.ru" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.zh-CN" version="2.4.2" targetFramework="monoandroid81" />
  <package id="Markdig" version="0.16.0" targetFramework="monoandroid90" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="monoandroid81" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="monoandroid80" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="MvvmCross" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Droid.Support.Core.UI" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Droid.Support.Core.Utils" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Droid.Support.Design" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Droid.Support.Fragment" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Droid.Support.V7.AppCompat" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Droid.Support.V7.RecyclerView" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Plugin.File" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Plugin.Json" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Plugin.Messenger" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Plugin.Network" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Plugin.PictureChooser" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Plugin.ResourceLoader" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Plugin.Visibility" version="6.2.3" targetFramework="monoandroid90" />
  <package id="MvvmCross.Plugin.WebBrowser" version="6.2.3" targetFramework="monoandroid90" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="monoandroid81" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="monoandroid90" />
  <package id="NLog" version="4.5.6" targetFramework="monoandroid81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid51" />
  <package id="Plugin.CurrentActivity" version="2.1.0.4" targetFramework="monoandroid81" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="monoandroid81" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.11" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.11" targetFramework="monoandroid81" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="monoandroid81" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="monoandroid81" />
  <package id="Xam.Plugin.DeviceInfo" version="4.0.0.13" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Core.Runtime" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.LiveData" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.LiveData.Core" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.ViewModel" version="1.1.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.PhotoView" version="2.1.4" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Annotations" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.AsyncLayoutInflater" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Collections" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Compat" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Constraint.Layout" version="1.1.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Constraint.Layout.Solver" version="1.1.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.CoordinaterLayout" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.UI" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.Utils" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CursorAdapter" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CustomView" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Design" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.DocumentFile" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.DrawerLayout" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Exif" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Fragment" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Interpolator" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Loader" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.LocalBroadcastManager" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Media.Compat" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Print" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.SlidingPaneLayout" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.SwipeRefreshLayout" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Transition" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v4" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.CardView" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.Palette" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.VersionedParcelable" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.ViewPager" version="28.0.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="monoandroid81" />
  <package id="Xamarin.Controls.SignaturePad" version="3.0.0" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Base" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Nearby" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="ZXing.Net.Mobile" version="2.4.1" targetFramework="monoandroid81" />
</packages>