@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Models.Maps.UserMapModel
@{
    ViewBag.Title = Pages.MapList_UserMapsTitle;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.RenderHqConfig(Model)
<div id="vueApp"></div>
