@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Models.Maps.UserMapLinkModel
@{
    ViewBag.Title = Dashboard.Maps;    
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.RenderHqConfig(Model)
<div id="vueApp"></div>
