<div class="chapter-panel" ng-click="unfold();" ng-class="{unfolded: isFolded == true}" ng-controller="ChaptersCtrl" ui-tree="chaptersTree" data-empty-place-holder-enabled="false">
    <div class="foldback-button" ng-click="foldback();$event.stopPropagation()"></div>
    <div class="ul-holder">
        <ul class="chapters" ui-tree-nodes ng-model="questionnaire.chapters">
            <li class="chapter-panel-item"
                ng-repeat="chapter in questionnaire.chapters"
                ui-tree-node
                ng-class="{current: currentChapterId == chapter.itemId}"
                ng-click="changeChapter(chapter);$event.stopPropagation()">
                <div class="holder">
                    <div class="inner">
                        <a class="handler" ui-tree-handle></a>
                        <h1><a ui-sref="chapter.detail({chapterId: chapter.id})"></a>{{chapter.title}}</h1>
                        <div class="btn-group" ng-class="{open: chapter.isMenuOpen == true}" ng-click="openMenu(chapter);$event.stopPropagation();">
                            <a class="dropdown-toggle" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="editChapter(chapter);$event.stopPropagation()">Edit</a></li>
                                <li><a ng-click="cloneChapter(chapter);$event.stopPropagation()">Clone</a></li>
                                <li><a ng-click="deleteChapter(chapter);$event.stopPropagation()">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="button-holder">
            <input type="button" class="btn lighter-hover" value="ADD NEW CHAPTER" ng-click="addNewChapter()">
        </div>
    </div>
</div>