@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Models.WebInterview.WebInterviewError
@{
    Layout = "_WebInterviewLayout.cshtml";
}

@section Scripts{
    @Html.RenderHqConfig(Model)
}

<div id="vueApp"></div>
