@{
    ViewBag.Title = "OutdatedBrowser";
    Layout = "~/Views/WebInterview/_WebInterviewLayout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div>
            <h1>
                @OutdatedBrowser.HellowText
            </h1>
            <h3>
                @OutdatedBrowser.PleaseUpdate
            </h3>
            <p>
                @OutdatedBrowser.LinkToUpdate <a href="https://browser-update.org/update.html">browser-update.org</a>
            </p>
        </div>
    </div>
</div>