@using WB.Core.BoundedContexts.Headquarters.WebInterview
@using WB.UI.Headquarters.Models.WebInterview
@using WB.UI.Headquarters.Views.WebInterview
@model StartWebInterview
@{
    Layout = "_WebInterviewLayout.cshtml";
}

<div class="row-element mb-20">
    <h2>@Html.SubstituteQuestionnaireName(Model.CustomMessages.GetText(WebInterviewUserMessages.WelcomeText).ToString(), Model.QuestionnaireTitle)</h2>
</div>
<partial name="_StartOrResumeForm" model="Model" />
