@inherits System.Web.Mvc.WebViewPage
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@UICulture">
<!--<![endif]-->
<head>
    <base href="~/questionnaire/details/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Designer</title>
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- libs:css -->
    <link rel="stylesheet" href="../build/libs-2c3a995065.css">
    <!-- endinject -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../build/markup-e80ffb60f9.css.css">
    <!-- endinject -->
    <!-- endbuild -->
    <link rel="icon" sizes="192x192" href="~/Content/identity/favicon-designer-192x192.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="~/Content/identity/favicon-designer-180x180.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/Content/identity/favicon-designer-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/identity/favicon-designer-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/Content/identity/favicon-designer-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/identity/favicon-designer-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/Content/identity/favicon-designer-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/identity/favicon-designer-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/identity/favicon-designer-180x180.png">

    
    <!-- manifest:json -->
    <script>window.localization = {
  "QuestionnaireEditor.ar.json": "QuestionnaireEditor.ar.json",
  "QuestionnaireEditor.en.json": "QuestionnaireEditor.en.json",
  "QuestionnaireEditor.es.json": "QuestionnaireEditor.es.json",
  "QuestionnaireEditor.fr.json": "QuestionnaireEditor.fr.json",
  "QuestionnaireEditor.ru.json": "QuestionnaireEditor.ru.json",
  "QuestionnaireEditor.zh.json": "QuestionnaireEditor.zh.json"
}</script>
    <!-- endinject -->
</head>
<body ng-app="designerApp">
    <div id="designer-editor" class="container" ui-view>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!-- endbuild -->
    <!-- inject:js -->
    <script src="../build/libs-e5bfc53374.js"></script>
    <script src="../build/app-8dd3aca84b.js"></script>
    <script src="../build/templates-6ea2af03af.js"></script>
    <!-- endinject -->
</body>
</html>
