@using System.Globalization
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
    <base href="~/questionnaire/details/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Designer</title>
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicon-designer-192x192.png?v=2">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="~/favicon-designer-180x180.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/favicon-designer-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/favicon-designer-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/favicon-designer-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/favicon-designer-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/favicon-designer-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/favicon-designer-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="~/favicon-designer-180x180.png">

    <!-- libs:css -->
    <link rel="stylesheet" href="~/css/libs.css">
    <!-- endinject -->
    <!-- markup:css -->
    <link rel="stylesheet" href="~/css/markup.css">
    <!-- endinject -->
    <!-- manifest:json -->
    <script>window.localization = {"QuestionnaireEditor.en.json":"../../resx/QuestionnaireEditor-1f94abcc1d.en.json","QuestionnaireEditor.ar.json":"../../resx/QuestionnaireEditor-0c56ffca7d.ar.json","QuestionnaireEditor.es.json":"../../resx/QuestionnaireEditor-edbaf54455.es.json","QuestionnaireEditor.fr.json":"../../resx/QuestionnaireEditor-5a5afd869f.fr.json","QuestionnaireEditor.ro.json":"../../resx/QuestionnaireEditor-ee8f4f2308.ro.json","QuestionnaireEditor.ru.json":"../../resx/QuestionnaireEditor-d950b86805.ru.json","QuestionnaireEditor.sq.json":"../../resx/QuestionnaireEditor-5a4c133b69.sq.json","QuestionnaireEditor.zh.json":"../../resx/QuestionnaireEditor-ac3c63b215.zh.json"}</script>@{ var locales_json = @"{""QuestionnaireEditor.en.json"":""../../resx/QuestionnaireEditor-1f94abcc1d.en.json"",""QuestionnaireEditor.ar.json"":""../../resx/QuestionnaireEditor-0c56ffca7d.ar.json"",""QuestionnaireEditor.es.json"":""../../resx/QuestionnaireEditor-edbaf54455.es.json"",""QuestionnaireEditor.fr.json"":""../../resx/QuestionnaireEditor-5a5afd869f.fr.json"",""QuestionnaireEditor.ro.json"":""../../resx/QuestionnaireEditor-ee8f4f2308.ro.json"",""QuestionnaireEditor.ru.json"":""../../resx/QuestionnaireEditor-d950b86805.ru.json"",""QuestionnaireEditor.sq.json"":""../../resx/QuestionnaireEditor-5a4c133b69.sq.json"",""QuestionnaireEditor.zh.json"":""../../resx/QuestionnaireEditor-ac3c63b215.zh.json""}"; }
    <!-- endinject -->
    @{
        var locales = Newtonsoft.Json.JsonConvert.DeserializeObject<Dictionary<string, string>>(locales_json) ?? new Dictionary<string, string>();
        var locale = locales["QuestionnaireEditor." + CultureInfo.CurrentUICulture.TwoLetterISOLanguageName + ".json"];

    }
    <link rel='preload' href='@locale' as="fetch" crossorigin="anonymous">

</head>
<body ng-app="designerApp">
    <div id="designer-editor" class="container" ui-view>
    </div>
    <!-- libs:js -->
    <script src="~/js/libs.js"></script>
    <!-- endinject -->
    <!-- app:js -->  
    <script defer src="~/js/app/app.js"></script>  
    <script defer src="~/js/app/ui-js.js"></script>  
    <script defer src="~/js/app/decorators/exceptionhandlerdecorator.js"></script>  
    <script defer src="~/js/app/controllers/addClassification.js"></script>  
    <script defer src="~/js/app/controllers/alert.js"></script>  
    <script defer src="~/js/app/controllers/attachments.js"></script>  
    <script defer src="~/js/app/controllers/categories.js"></script>  
    <script defer src="~/js/app/controllers/chapters.js"></script>  
    <script defer src="~/js/app/controllers/comments.js"></script>  
    <script defer src="~/js/app/controllers/commentsEditor.js"></script>  
    <script defer src="~/js/app/controllers/confirm.js"></script>  
    <script defer src="~/js/app/controllers/findReplace.js"></script>  
    <script defer src="~/js/app/controllers/group.js"></script>  
    <script defer src="~/js/app/controllers/leftMenu.js"></script>  
    <script defer src="~/js/app/controllers/lookupTables.js"></script>  
    <script defer src="~/js/app/controllers/macros.js"></script>  
    <script defer src="~/js/app/controllers/main.js"></script>  
    <script defer src="~/js/app/controllers/metadata.js"></script>  
    <script defer src="~/js/app/controllers/pdf.js"></script>  
    <script defer src="~/js/app/controllers/question.js"></script>  
    <script defer src="~/js/app/controllers/roster.js"></script>  
    <script defer src="~/js/app/controllers/scenarios.js"></script>  
    <script defer src="~/js/app/controllers/searchForQuestion.js"></script>  
    <script defer src="~/js/app/controllers/senarioEditor.js"></script>  
    <script defer src="~/js/app/controllers/share.js"></script>  
    <script defer src="~/js/app/controllers/staticText.js"></script>  
    <script defer src="~/js/app/controllers/translations.js"></script>  
    <script defer src="~/js/app/controllers/tree.js"></script>  
    <script defer src="~/js/app/controllers/variable.js"></script>  
    <script defer src="~/js/app/directives/animations.js"></script>  
    <script defer src="~/js/app/directives/directives.js"></script>  
    <script defer src="~/js/app/directives/help.js"></script>  
    <script defer src="~/js/app/directives/itemBreadcrumbs.js"></script>  
    <script defer src="~/js/app/directives/matchOptionsPattern.js"></script>  
    <script defer src="~/js/app/filters/escapeFilter.js"></script>  
    <script defer src="~/js/app/modules/ng-context-menu.js"></script>  
    <script defer src="~/js/app/modules/perfect_scrollbar.js"></script>  
    <script defer src="~/js/app/modules/positionCalculator.js"></script>  
    <script defer src="~/js/app/modules/ui-ace.js"></script>  
    <script defer src="~/js/app/services/agular-notify.js"></script>  
    <script defer src="~/js/app/services/alertService.js"></script>  
    <script defer src="~/js/app/services/authorizationinterceptor.js"></script>  
    <script defer src="~/js/app/services/commandService.js"></script>  
    <script defer src="~/js/app/services/commentsService.js"></script>  
    <script defer src="~/js/app/services/confirmService.js"></script>  
    <script defer src="~/js/app/services/errorReportingService.js"></script>  
    <script defer src="~/js/app/services/helpMessages.js"></script>  
    <script defer src="~/js/app/services/optionsService.js"></script>  
    <script defer src="~/js/app/services/pdfService.js"></script>  
    <script defer src="~/js/app/services/questionnaireService.js"></script>  
    <script defer src="~/js/app/services/shareService.js"></script>  
    <script defer src="~/js/app/services/translate.js"></script>  
    <script defer src="~/js/app/services/userService.js"></script>  
    <script defer src="~/js/app/services/utilityService.js"></script>  
    <script defer src="~/js/app/services/verificationService.js"></script>  
    <script defer src="~/js/app/services/webTesterService.js"></script>  
    <script defer src="~/js/app/extensions/ace/mode-csharp-extended.js"></script>  
    <script defer src="~/js/app/extensions/ace/mode-text-extended.js"></script>  
    <script defer src="~/js/app/extensions/ace/theme-github-extended.js"></script>  
    <!-- endinject -->
    <!-- templates:js -->
    <script defer src="~/js/templates.js"></script>
    <!-- endinject -->
    <!-- utils:js -->
    <script defer src="~/js/utils.js"></script>
    <!-- endinject -->
</body>
</html>
