@using System.Globalization
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
    <base href="~/questionnaire/details/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Designer</title>
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- libs:css -->
    <link rel="stylesheet" href="/css/libs.css">
    <!-- endinject --> 
    
    <link rel="icon" sizes="192x192" href="~/Content/identity/favicon-designer-192x192.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="~/Content/identity/favicon-designer-180x180.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/Content/identity/favicon-designer-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/identity/favicon-designer-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/Content/identity/favicon-designer-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/identity/favicon-designer-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/Content/identity/favicon-designer-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/identity/favicon-designer-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/identity/favicon-designer-180x180.png">
    
    <!-- manifest:json -->
    <script>window.localization = {"QuestionnaireEditor.en.json":"/resx/QuestionnaireEditor-ea0163a7c9.en.json","QuestionnaireEditor.ar.json":"/resx/QuestionnaireEditor-c9ebad1195.ar.json","QuestionnaireEditor.es.json":"/resx/QuestionnaireEditor-496489da2f.es.json","QuestionnaireEditor.fr.json":"/resx/QuestionnaireEditor-25bc675067.fr.json","QuestionnaireEditor.ru.json":"/resx/QuestionnaireEditor-6b150eb4d3.ru.json","QuestionnaireEditor.zh.json":"/resx/QuestionnaireEditor-98b5dd8c61.zh.json"}</script>
    <!-- endinject -->
</head>
<body ng-app="designerApp">
    <div id="designer-editor" class="container" ui-view>
    </div>
    
    <!-- libs:js -->
    <script src="/js/libs.js"></script>
    <!-- endinject -->

    <!-- app:js -->  
    <script src="/js/app.js"></script>  
    <!-- endinject -->
    <!-- templates:js -->
    <script src="/js/templates.js"></script>
    <!-- endinject -->
</body>
</html>
