@using System.Globalization
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
    <base href="~/questionnaire/details/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Designer</title>
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicon-designer-192x192.png?v=2">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="~/favicon-designer-180x180.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/favicon-designer-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/favicon-designer-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/favicon-designer-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/favicon-designer-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/favicon-designer-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/favicon-designer-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="~/favicon-designer-180x180.png">

    <!-- libs:css -->
    <link rel="stylesheet" href="~/css/libs-38bd6e5dad.css">
    <!-- endinject -->
    <!-- markup:css -->
    <link rel="stylesheet" href="~/css/markup-3710fe4a80.css">
    <!-- endinject -->
    <!-- manifest:json -->
    <script>window.localization = {"QuestionnaireEditor.en.json":"../../resx/QuestionnaireEditor-a55f66e371.en.json","QuestionnaireEditor.ar.json":"../../resx/QuestionnaireEditor-4d8fdc6cc8.ar.json","QuestionnaireEditor.cs.json":"../../resx/QuestionnaireEditor-93fe1031a5.cs.json","QuestionnaireEditor.es.json":"../../resx/QuestionnaireEditor-e9fb576cc5.es.json","QuestionnaireEditor.fr.json":"../../resx/QuestionnaireEditor-f84a6c5e04.fr.json","QuestionnaireEditor.ro.json":"../../resx/QuestionnaireEditor-49b3f51834.ro.json","QuestionnaireEditor.ru.json":"../../resx/QuestionnaireEditor-0e526bc534.ru.json","QuestionnaireEditor.sq.json":"../../resx/QuestionnaireEditor-77b121ecd7.sq.json","QuestionnaireEditor.uk.json":"../../resx/QuestionnaireEditor-fdb949ba9c.uk.json","QuestionnaireEditor.zh.json":"../../resx/QuestionnaireEditor-5e6db351e7.zh.json"}</script>@{ var locales_json = @"{""QuestionnaireEditor.en.json"":""../../resx/QuestionnaireEditor-a55f66e371.en.json"",""QuestionnaireEditor.ar.json"":""../../resx/QuestionnaireEditor-4d8fdc6cc8.ar.json"",""QuestionnaireEditor.cs.json"":""../../resx/QuestionnaireEditor-93fe1031a5.cs.json"",""QuestionnaireEditor.es.json"":""../../resx/QuestionnaireEditor-e9fb576cc5.es.json"",""QuestionnaireEditor.fr.json"":""../../resx/QuestionnaireEditor-f84a6c5e04.fr.json"",""QuestionnaireEditor.ro.json"":""../../resx/QuestionnaireEditor-49b3f51834.ro.json"",""QuestionnaireEditor.ru.json"":""../../resx/QuestionnaireEditor-0e526bc534.ru.json"",""QuestionnaireEditor.sq.json"":""../../resx/QuestionnaireEditor-77b121ecd7.sq.json"",""QuestionnaireEditor.uk.json"":""../../resx/QuestionnaireEditor-fdb949ba9c.uk.json"",""QuestionnaireEditor.zh.json"":""../../resx/QuestionnaireEditor-5e6db351e7.zh.json""}"; }
    <!-- endinject -->
    @{
        var locales = Newtonsoft.Json.JsonConvert.DeserializeObject<Dictionary<string, string>>(locales_json) ?? new Dictionary<string, string>();
        var locale = locales["QuestionnaireEditor." + CultureInfo.CurrentUICulture.TwoLetterISOLanguageName + ".json"];

    }
    <link rel='preload' href='@locale' as="fetch" crossorigin="anonymous">

</head>
<body ng-app="designerApp">
    <div id="designer-editor" class="container" ui-view>
    </div>
    <!-- libs:js -->
    <script src="~/js/libs-a415f0acf3.js"></script>
    <!-- endinject -->
    <!-- app:js -->  
    <script defer src="~/js/app-a7d68db4f2.js"></script>  
    <!-- endinject -->
    <!-- templates:js -->
    <script defer src="~/js/templates-e303341e20.js"></script>
    <!-- endinject -->
    <!-- utils:js -->
    <script defer src="~/js/utils-4470179707.js"></script>
    <!-- endinject -->
</body>
</html>
