<?xml version="1.0" encoding="utf-8" ?>
<resources>
  <integer name="HttpResponseTimeout">1200</integer>
  <integer name="BufferSize">4096</integer>
  <integer name="GpsReceiveTimeoutSec">30</integer>
  <integer name="GpsDesiredAccuracy">50</integer>
  <integer name="EventChunkSize">1000</integer>
  <bool name="VibrateOnError">true</bool>
  <bool name="AllowSyncWithHq">true</bool>
</resources>
