<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>Package</WebPublishMethod>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish />
        <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
        <ExcludeApp_Data>False</ExcludeApp_Data>
        <ProjectGuid>bb5baacb-897d-428a-8eaf-3c0f436ebc5a</ProjectGuid>
        <AspNetCoreHostingModel>OutOfProcess</AspNetCoreHostingModel>
        <SelfContained>False</SelfContained>
        <_IsPortable>false</_IsPortable>
        <DesktopBuildPackageLocation>obj\Release\package\WB.UI.Designer.zip</DesktopBuildPackageLocation>
        <PackageAsSingleFile>true</PackageAsSingleFile>
        <DeployIisAppPath />
        <PublishDatabaseSettings>
            <Objects xmlns="" />
        </PublishDatabaseSettings>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    </PropertyGroup>
    <ItemGroup>
        <Content Include="$(OutputPath)\ffmpeg\ffmpeg.exe" 
                 CopyToPublishDirectory="Always"
                 ExcludeFromSingleFile="true">
            <Link>ffmpeg\ffmpeg.exe</Link>
        </Content>
    </ItemGroup>
</Project>
