@using Questionnaire.Core.Web.Helpers
@model Guid

@{
    var currentRowId = string.Format("divEditAutoPropagatable{0}", Guid.NewGuid().ToString());
    var list = new SelectList(new List<Guid>(), string.Empty);
    var current = Guid.Empty;
    if (ViewBag.Group != null)
    {
        var groups = ViewBag.Group as Dictionary<string, Guid>;
        var item = groups.Where(gr => gr.Value == Model).FirstOrDefault();
        current = item.Value != Guid.Empty ? item.Value : groups.FirstOrDefault().Value;
        list = new SelectList(groups, "Value", "Key", current);
    }
}

@using (Html.BeginCollectionItem("triggers"))
{
    <div id="@currentRowId" class="display-answer form-inline">
        @Html.DropDownListFor(x => x, list, current)
        <a href="javascript:void(0)" onclick=" $('#@currentRowId').remove()" class="btn btn-danger btn-mini">
            <i class="icon-remove icon-white"></i>Delete</a>
    </div>
}
