@using Main.Core.Entities.SubEntities
@model Main.Core.View.Question.QuestionView
@{ 
    var displayStyle = Model.QuestionType == QuestionType.AutoPropagate ? "block" : "none";
}

<div id="apguid" style="display:@displayStyle; ">
    <label class="control-label">Propagateble GUID</label>
    <div id="divNewPropagateGroup">
        @foreach (var item in Model.Triggers)
        {
            Html.RenderPartial("_AutoPropagateRow", item);
        }
    </div>
    @Ajax.ActionLink("Add new propagate group", "CreatePropagateGroup", "Question", new { questionPublicKey = Model.PublicKey, questionnaireId = Model.QuestionnaireKey, groupPublicKey = Model.Parent }, new AjaxOptions
                                                                                                {
                                                                                                    UpdateTargetId = "divNewPropagateGroup",
                                                                                                    InsertionMode = InsertionMode.InsertAfter
                                                                                                })
</div>

    