@model IEnumerable<Main.Core.View.Question.CompleteQuestionView>
<div>
    @foreach (var item in Model)
    {
        Html.RenderPartial("~/Views/Question/_TakeRow.cshtml", item);
    }
</div>
