@using RavenQuestionnaire.Web.Utils
@using RavenQuestionnaire.Core.Views.Question
@model CompleteQuestionView
@{
    ViewBag.EnabledRadioBoxSettings = new Dictionary<string, object>();
    var questionKey = (Guid)ViewBag.CurrentQuestion;
    var bodyClass = Model.Valid ? Model.Enabled ? "" : "ui-disabled" : "ui-body error_block";
    bodyClass += " " + (questionKey == Model.PublicKey ? "scrollHere" : "");
    bodyClass += " " + (Model.Answered ? "answered" : "");
    var questionId = "question" + Model.PublicKey;

}
<div class="@bodyClass question" id="@questionId"><a href="#" class="error"></a>
    @if (!string.IsNullOrWhiteSpace(Model.Instructions))
    {
        <a href="#inctruction-@(Model.PublicKey)"  data-icon="info" data-role="button" data-inline="true" data-rel="page" data-transition="flip">Read instructions</a>
    }
    @if (Model.Cards.Length > 0)
    {
        <a data-role="button" rel="external" data-icon="grid" data-inline="true" href="#gallery-@(Model.PublicKey)">
            Cards</a>
    }
     @Html.Hidden("QuestionType", Model.QuestionType)
    @{Html.RenderPartial(string.Format("~/Views/Answer/AnswerListViewHtml5/_{0}.cshtml", Model.QuestionType), Model);}
    @Html.ValidationMessage("AnswerValue")
    @Html.Hidden("PublicKey", Model.PublicKey)
</div>
