
@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Question
@model CompleteQuestionView
@{
    ViewBag.EnabledRadioBoxSettings = new Dictionary<string,object>();
    if (!Model.Enabled)
    {
        ViewBag.EnabledRadioBoxSettings.Add("Disabled" , true );
    }
}
<div class="question">
    <b>@*@Model.Index)*@ @Html.DisplayFor(modelItem => Model.QuestionText)</b>
    <br />   <br />
    
  @*  <div class="answers">*@
          @{Html.RenderPartial(string.Format("~/Views/Answer/AnswerListView/_{0}.cshtml", Model.QuestionType), Model);}
        <br />
   @* </div>*@
</div>
@Html.ValidationMessage("AnswerValue")
   @Html.Hidden("PublicKey", Model.PublicKey)