@using Questionnaire.Core.Web.Helpers
@model Main.Core.View.Question.MultyOptionsQuestionView

@{ 
    var currentRowId = "divEditAnswer" + Model.PublicKey.ToString();
}
<div id="additionalInfo">
    <div class="control-group">
        <label class="control-label">Answer order</label>
        <div class="controls">
            @Html.EnumDropDownListFor(model => Model.AnswerOrder, new Dictionary<string, object>() { { "class", "span12" } })
        </div>
   </div>
    <div class="control-group">
        <div class="controls">
            @Ajax.ActionLink("Choose from database", "CreateTabForDatabase", "Answer", new { questionPublicKey = Model.PublicKey }, new AjaxOptions
            {
                UpdateTargetId = "divNewAnswer",
                InsertionMode = InsertionMode.InsertAfter
            })            
        </div>
    </div>          
    @Html.Partial("~/Views/Answer/_EditAnswers.cshtml", Model)
</div>