@using WB.UI.Shared.Web.Extensions
@{
    Layout = "~/Views/Shared/_SharedAuthenticationLayout.cshtml";
}

@section favico
{
    @this.GenerateFavicon(Url.Content("~/Content/identity/favicon-supervisor"))
}

@section interviewerlink
{
    <a href="@Url.Action("GetLatestVersion", "api/InterviewerSync", new {area = string.Empty})">Get Interviewer App</a>
}

@section scripts
{
    @RenderSection("scripts", false)
}

@section body
{
    @RenderBody()
}
