@model UserModel
@{
    ViewBag.Title = Pages.Profile_ObserverCreate;
    ViewBag.PageTitle = Pages.Profile_ObserverCreate;

    ViewBag.ControllerName = "Observer";
    ViewBag.ControllerAction = "Create";
    Layout = "~/Views/Shared/Profile/_UserCreateLayout.cshtml";
}
@section Breadcrumbs
{
    <li>@Html.ActionLink(Pages.Profile_ObserversList, "Index")</li>
}