<!DOCTYPE html>
<html>
<head>
    <title>Error occured</title>
    <style>
        #wrapper {
            margin: auto;
            width: 415px;
            margin-top: 200px;
        }

        body {
            font-family: Helvetica, Arial, sans-serif;
        }

        h1 {
            color: #E32102;
            font-size: 18pt;
            padding: 0;
            margin: 0;
        }

        .error-content {
            padding-left: 16px;
            margin-top: 40px;
            border-left: 13px #F6D6D0 solid;
        }

        .description {
            color: #808080;
            margin-top: 16px;
            font-size: 14pt;
        }
    </style>
    <meta charset="utf-8" />
</head>
<body>
    <div id="wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="300.029px" height="70.704px" viewBox="0 0 300.029 70.704" enable-background="new 0 0 300.029 70.704" xml:space="preserve">
<path fill="#58595B" d="M61.855,10.354C61.724,7.01,59.451,5.48,56.15,5.48c-2.798,0-5.639,1.246-5.639,4.437  c0,3.279,2.907,3.694,5.421,4.262c2.557,0.59,4.524,0.984,4.524,2.995c0,2.208-2.055,2.842-3.869,2.842  c-2.492,0-4.546-0.984-4.634-3.804h-1.989c0,3.76,2.732,5.487,6.448,5.487c2.973,0,6.055-1.268,6.055-4.722  c0-3.278-3.235-4.065-5.771-4.59c-2.404-0.503-4.219-0.875-4.219-2.623c0-1.64,1.29-2.58,3.52-2.58c2.295,0,3.628,0.918,3.869,3.169  H61.855z" />

<path fill="#58595B" d="M73.924,10.07h-1.858v5.902c0,2.317-0.852,4.065-3.3,4.065c-1.902,0-2.361-1.093-2.361-2.71V10.07h-1.858  v7.76c0,2.492,1.399,3.825,3.76,3.825c1.661,0,2.907-0.656,3.891-2.077v1.771h1.727V10.07z" />

<path fill="#58595B" d="M82.468,9.808c-2.011,0-3.388,0.787-4.175,2.689V10.07h-1.771v11.279h1.858v-4.765  c0-2.535,0.546-4.874,3.606-4.874c0.197,0,0.284,0,0.48,0.021V9.808z" />

<path fill="#58595B" d="M83.372,10.07l4.197,11.279h1.989l4.131-11.279h-1.945l-3.104,9.465l-3.191-9.465H83.372z" />

<path fill="#58595B" d="M104.5,17.786h-1.814c-0.525,1.705-1.421,2.405-3.039,2.405c-2.186,0-3.519-1.443-3.519-3.847l0.022-0.131  h8.481V15.95c0-3.257-1.399-6.208-5.115-6.208c-3.126,0-5.246,2.47-5.246,6.12c0,3.672,1.989,5.858,5.312,5.858  C102.249,21.72,103.931,20.387,104.5,17.786z M102.708,14.704H96.15c0.24-2.121,1.508-3.432,3.322-3.432  C101.33,11.272,102.532,12.562,102.708,14.704z" />

<path fill="#58595B" d="M115.588,10.07h-1.945l-3.169,8.984l-3.345-8.984h-2.098l4.481,11.213l-0.875,2.055  c-0.218,0.524-0.699,0.94-1.312,0.94c-0.328,0-0.612-0.065-1.202-0.24v1.661c0.459,0.109,0.896,0.197,1.377,0.197  c2.011,0,2.645-1.508,3.257-3.104L115.588,10.07z" />

<path fill="#58595B" d="M134.601,10.354c-0.131-3.344-2.404-4.874-5.705-4.874c-2.798,0-5.64,1.246-5.64,4.437  c0,3.279,2.907,3.694,5.421,4.262c2.557,0.59,4.524,0.984,4.524,2.995c0,2.208-2.055,2.842-3.869,2.842  c-2.492,0-4.546-0.984-4.634-3.804h-1.989c0,3.76,2.732,5.487,6.448,5.487c2.973,0,6.055-1.268,6.055-4.722  c0-3.278-3.235-4.065-5.771-4.59c-2.405-0.503-4.219-0.875-4.219-2.623c0-1.64,1.29-2.58,3.519-2.58  c2.295,0,3.628,0.918,3.869,3.169H134.601z" />

<path fill="#58595B" d="M142.313,9.742c-3.41,0-5.53,2.295-5.53,6.011c0,3.716,2.055,5.946,5.508,5.946  c3.432,0,5.421-2.229,5.421-6.055C147.712,11.906,145.723,9.742,142.313,9.742z M142.27,11.294c2.186,0,3.541,1.705,3.541,4.394  c0,2.776-1.312,4.437-3.498,4.437c-2.273,0-3.606-1.639-3.606-4.415C138.707,13.021,140.084,11.294,142.27,11.294z" />

<path fill="#58595B" d="M151.747,5.786h-1.879v15.563h1.879V5.786z" />

<path fill="#58595B" d="M163.754,10.07h-1.858v5.902c0,2.317-0.853,4.065-3.301,4.065c-1.901,0-2.36-1.093-2.36-2.71V10.07h-1.858  v7.76c0,2.492,1.398,3.825,3.759,3.825c1.661,0,2.907-0.656,3.891-2.077v1.771h1.727V10.07z" />

<path fill="#58595B" d="M171.326,10.07h-2.251V6.726h-1.858v3.344h-1.902v1.53h1.902v5.989c0,2.47-0.131,3.869,2.688,3.869  c0.59,0,0.831-0.022,1.421-0.087v-1.596c-0.394,0.044-0.634,0.066-1.005,0.066c-1.312,0-1.246-0.634-1.246-1.662V11.6h2.251V10.07z" />

<path fill="#58595B" d="M175.048,5.786h-1.879v2.273h1.879V5.786z M175.048,10.07h-1.879v11.279h1.879V10.07z" />

<path fill="#58595B" d="M182.713,9.742c-3.41,0-5.53,2.295-5.53,6.011c0,3.716,2.055,5.946,5.508,5.946  c3.432,0,5.421-2.229,5.421-6.055C188.112,11.906,186.123,9.742,182.713,9.742z M182.669,11.294c2.186,0,3.541,1.705,3.541,4.394  c0,2.776-1.312,4.437-3.498,4.437c-2.273,0-3.606-1.639-3.606-4.415C179.106,13.021,180.483,11.294,182.669,11.294z" />

<path fill="#58595B" d="M191.95,10.07h-1.749v11.279h1.858v-5.901c0-2.229,0.787-4.066,3.213-4.066c2.339,0,2.426,1.53,2.426,3.323  v6.645h1.858v-7.497c0-2.58-1.005-4.087-3.76-4.087c-1.727,0-2.907,0.677-3.847,2.055V10.07z" />

<path fill="#58595B" d="M210.592,13.349c0-2.382-1.967-3.606-4.502-3.606c-2.623,0-4.306,1.29-4.306,3.322  c0,2.601,2.601,2.842,4.546,3.323c1.574,0.394,2.841,0.656,2.841,1.901c0,1.137-1.093,1.88-2.754,1.88  c-1.792,0-2.951-0.678-3.06-2.383h-1.836c0.109,2.536,1.792,3.913,4.853,3.913c2.819,0,4.677-1.443,4.677-3.628  c0-2.448-2.47-2.995-4.372-3.432c-1.53-0.35-2.995-0.546-2.995-1.814c0-0.94,0.875-1.53,2.295-1.53c1.596,0,2.623,0.568,2.754,2.055  H210.592z" />

<path fill-rule="evenodd" clip-rule="evenodd" fill="#58595B" d="M12.629,43.949c0.182-0.445,0.367-0.889,0.549-1.333  c1.19-2.909,1.238-3.024,1.238-6.547V26.1h-3.573v10.001c0,3.493,0.059,3.639,1.222,6.479C12.239,43.04,12.443,43.494,12.629,43.949  L12.629,43.949z M14.311,49.434c0.74-1.813,1.474-3.63,2.217-5.441c1.464-3.575,1.522-3.717,1.522-7.924V24.283  c0-1.228-0.365-1.817-1.817-1.817h-5.39v-3.722h10.781v17.262c0,5.062-0.13,5.378-1.771,9.375  c-2.417,5.901-4.824,11.807-7.232,17.711c-2.419-5.939-4.831-11.885-7.264-17.812c-1.528-3.71-1.724-4.184-1.724-9.083V26.1h3.575  v10.001c0,4.176,0.074,4.356,1.506,7.856l2.231,5.477C11.864,51.702,13.433,51.597,14.311,49.434L14.311,49.434z M1.817,22.466  h5.392v-5.539c0-1.404,0.574-1.817,1.817-1.817h14.417c1.451,0,1.817,0.589,1.817,1.817v19.079c0,5.747-0.151,6.116-2.057,10.752  c-2.977,7.27-5.933,14.549-8.9,21.823c-1.155,2.847-2.226,2.813-3.364,0c-2.976-7.307-5.936-14.631-8.93-21.924  C0.228,42.337,0,41.785,0,36.198V24.283C0,23.28,0.27,22.466,1.817,22.466z" />

<path fill-rule="evenodd" clip-rule="evenodd" fill="#58595B" d="M3.634,17.853c0,1.003-0.813,1.073-1.817,1.073  C0.814,18.926,0,18.856,0,17.853V9.417C0,8.189,0.333,7.6,1.817,7.6h19.808V3.633H1.081C0.077,3.633,0,2.821,0,1.816  C0,0.813,0.077,0,1.081,0h22.361c1.419,0,1.817,0.46,1.817,1.816v7.601c0,1.132-0.366,1.817-1.817,1.817H3.634V17.853z" />

<g>
        <path fill="#58595B" d="M56.595,35.091h-7.043v-4.345h19.254v4.345h-7.043v19.155h-5.167V35.091z" />

        <path fill="#58595B" d="M72.032,46.874c0.132,2.995,1.547,4.312,4.18,4.312c1.876,0,3.39-1.152,3.687-2.205h4.114   c-1.316,4.048-4.114,5.727-7.965,5.727c-5.365,0-8.689-3.687-8.689-8.953c0-5.102,3.521-8.985,8.689-8.985   c5.793,0,8.623,4.871,8.261,10.104H72.032z M79.635,43.911c-0.428-2.37-1.448-3.62-3.719-3.62c-3.028,0-3.785,2.304-3.884,3.62   H79.635z" />

        <path fill="#58595B" d="M90.603,48.717c0,2.008,1.777,2.863,3.587,2.863c1.316,0,3.061-0.526,3.061-2.172   c0-1.415-1.975-1.942-5.299-2.633c-2.731-0.625-5.397-1.514-5.397-4.542c0-4.345,3.752-5.464,7.405-5.464   c3.687,0,7.142,1.251,7.504,5.431h-4.443c-0.132-1.81-1.514-2.304-3.193-2.304c-1.053,0-2.6,0.165-2.6,1.58   c0,1.679,2.666,1.909,5.299,2.535c2.731,0.625,5.397,1.613,5.397,4.772c0,4.476-3.917,5.924-7.767,5.924   c-3.95,0-7.833-1.481-7.998-5.99H90.603z" />

        <path fill="#58595B" d="M110.674,37.23h3.423v3.127h-3.423v8.426c0,1.58,0.395,1.975,1.975,1.975c0.527,0,1.021-0.033,1.448-0.132   v3.653c-0.79,0.132-1.81,0.165-2.731,0.165c-2.896,0-5.365-0.625-5.365-4.048V40.357h-2.831V37.23H106v-5.102h4.674V37.23z" />

        <path fill="#58595B" d="M120.059,46.874c0.132,2.995,1.547,4.312,4.18,4.312c1.876,0,3.39-1.152,3.687-2.205h4.114   c-1.316,4.048-4.114,5.727-7.965,5.727c-5.365,0-8.689-3.687-8.689-8.953c0-5.102,3.521-8.985,8.689-8.985   c5.793,0,8.623,4.871,8.261,10.104H120.059z M127.662,43.911c-0.428-2.37-1.448-3.62-3.719-3.62c-3.028,0-3.785,2.304-3.884,3.62   H127.662z" />

        <path fill="#58595B" d="M135.144,37.23h4.443v3.16h0.066c0.889-2.139,3.094-3.621,5.431-3.621c0.362,0,0.691,0.066,1.02,0.165   v4.345c-0.428-0.099-1.119-0.165-1.678-0.165c-3.456,0-4.608,2.436-4.608,5.463v7.669h-4.674V37.23z" />

</g>
</svg>

        <div class="error-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
