@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    @RenderSection("styles", false)
}
@section scripts
{
    @RenderSection("scripts", false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#umbrella').hide();
        });
    </script>
}
<div id="wrapper" class="no-menu">
    <div id="content">
        <div class="innerLR">
            @Html.Partial("_alerts")
            @RenderBody()
        </div>
    </div>
</div>
