@using Core.Supervisor.Views.Assignment
@using Web.Supervisor.Models

@model Core.Supervisor.Views.Assign.AssignSurveyView
@{
    ViewBag.Title = "Assignment";
}
<h2>Assignment Person</h2>
<p><a href="@Url.Action("Documents", new {id = Model.TemplateId, input = new AssignmentInputModel()})">Back to list</a></p>
@using (Html.BeginForm("AssignForm", GlobalHelper.CurrentController))
{
    @Html.Hidden("CqId", Model.Id)
    @Html.Hidden("TmptId", Model.TemplateId)
    <label class="control-label">Responsible</label>
    @Html.DropDownList("value")
    <input name="Save" class="btn btn-primary" type="submit" value="Save" />
}