@{
    ViewBag.Title = "Timeline";
}
<h2>Timeline</h2>
@using Core.Supervisor.Views.Timeline
@model TimelineView
@{
    this.ViewBag.Title = "Timeline";
    var dates = new List<object>();
    foreach (var @event in Model.Events)
    {
        dates.Add(new
            {
                startDate = @event.StartDate.ToString("yyyy,M,dd,H,mm,s"),
                content = @event.Question.QuestionView.Title
                
            });
    }
    var timeline = new
        {
            headline = Model.Title,
            type = "default",
            startDate = Model.StartDate.ToString("yyyy,M,dd,H,mm,s"),
            date = dates
        };
}
<link href="../../Content/TimelineJS/css/timeline.css" rel="stylesheet" type="text/css" />
<script src="../../Content/TimelineJS/js/timeline.js" type="text/javascript"></script>
<div id="timeline-embed" >
</div>
<script type="text/javascript">
    var timeline;
    var data;

    function drawVisualization() {
            // Create a JSON data table
            data = @Html.Raw(Json.Encode(timeline)) ;

            // specify options
            var options = {
                'width':  '100%',
                'editable': false,   
                'style': 'box'
            };

            // Instantiate our timeline object.
            timeline = new links.Timeline(document.getElementById('timeline-embed'));

            // Draw our timeline with the created data and options
            timeline.draw(data, options);
        }
</script>
