@using WB.Core.GenericSubdomains.Portable
@model UserModel
@{
    ViewBag.Title = Pages.Supervisor_CreateProfile;
    ViewBag.PageTitle = Pages.Supervisor_Profile;
    ViewBag.PageSubTitle = Pages.Supervisor_CreateProfile;

    ViewBag.ControllerName = "Supervisor";
    ViewBag.ControllerAction = "Create";
    Layout = "~/Views/Shared/Profile/_UserCreateLayout.cshtml";
}
@section PreFormSection
{
    <div class="col-sm-7">
        <p>@Html.Raw(Pages.Supervisor_CreateText.FormatString(Url.Action("UserBatchUploads", "BatchUserUpload")))</p>
    </div>
}