@using WB.Core.GenericSubdomains.Portable
@model UserModel
@{
    ViewBag.Title = Pages.Profile_SupervisorCreate.RemoveHtmlTags();
    ViewBag.PageTitle = Pages.Profile_SupervisorCreate;
    
    Layout = "~/Views/Shared/Profile/_UserCreateLayout.cshtml";
}
@section PreFormSection
{
    <div class="col-sm-7">
        <p>@Html.Raw(Pages.Supervisor_CreateText.FormatString(Url.Action("Upload", "Users")))</p>
    </div>
}
@section Breadcrumbs
{
    <li>@Html.ActionLink(Pages.Profile_SupervisorsList, "Index")</li>
}
@section LockWarningSection
{
    <p>@Pages.Supervisor_LockWarning</p>
}