@using WB.Core.GenericSubdomains.Portable
@model UserEditModel
@{
    ViewBag.Title = Pages.Profile_SupervisorEditFormat.FormatString(Model.UserName).RemoveHtmlTags();
    ViewBag.PageTitle = Pages.Profile_SupervisorEditFormat.FormatString(Html.Encode(Model.UserName));
  
    Layout = "~/Views/Shared/Profile/_UserEditorLayout.cshtml";
}
@section Breadcrumbs
{
    <li>@Html.ActionLink(Pages.Profile_SupervisorsList, "Index")</li>
}

@section LockWarningSection
{
    <p>@Pages.Supervisor_LockWarning</p>
}