
@model Core.CAPI.Views.Synchronization.SyncProgressView
<div data-role="panel" data-id="main">
    <div data-role="page" id="main" class="page">
        <div data-role="header" data-theme="b">
            <h1>
                Spots
            </h1>
            @Html.ActionLink("Dashboard", "Dashboard", "Survey", new { }, new { rel = "external", data_inline = "true", data_role = "button", data_mini = "true", data_corners = "false", data_theme = "e", id = "btnSync", @class = "ui-state-persist" })
            <a href="@Url.Action("LogOff", "Account")" data-corners="false" rel = "external" data-ajax="false"  data-theme = "a"  data-role = "button">Log off</a> 
        </div>
        <div data-role="content" id="content">
            @{ Html.Partial("~/Views/Synchronizations/_ProgressContent.cshtml", Model); }
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var interval = 5000; //number of mili seconds between each call
        var refresh = function() {
            $.ajax({
                    url: '@Url.Action("ProgressPartial", new {id = Model.ProcessPublicKey})',
                    cache: false,
                    success: function(html) {
                        $('#content').html(html);
                        $('#content').trigger('create');
                        setTimeout(function() {
                            refresh();
                        }, interval);
                    }
                });
        };
        refresh();
    }); </script>