@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section scripts
{
    @Scripts.Render("~/js/troubleshooting-census")
}
<main id="app">
    <div class="container">
        <div class="row">
            <div class="page-header">
                <ol class="breadcrumb">
                    <li><a href="">troubleshooting</a></li>
                </ol>
                <h1>
                    Locating specific census inteview
                </h1>
            </div>
        </div>
        <div class="row extra-margin-bottom">
            <div class="col-sm-7">
                <p>It will be useful to know enumerator, interview template and timeline. <br />> We will show if there was any errors with synchronizations during selected period.</p>
            </div>
            <div class="col-sm-6">
                <div class="block-filter">
                    <h5>Enumerator</h5>
                    <user-selector placeholder="Select interviewer" control-id="interviewerId" :value="interviewerId" v-on:selected="userSelected" fetch-url="@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "Teams", action = "InterviewersCombobox"})"></user-selector>
                </div>
                <div class="block-filter">
                    <h5>Survey template questionnaire version</h5>
                    <user-selector placeholder="Select questionnaire" control-id="questionnaireId" :value="questionnaireId" v-on:selected="questionnaireSelected" fetch-url="@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "QuestionnairesApi", action = "QuestionnairesCombobox"})"></user-selector>
                </div>
                <div class="block-filter">
                    <h5>Time-period when this interview was conducted or synchronized with HQ server (local time)</h5>
                    <div class="form-date">
                        <div class='input-group date' id='datetimepicker6'>
                            <label>From: </label>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-date">
                        <div class='input-group date' id='datetimepicker7'>
                            <label>To: </label>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="block-filter">
                    <button type="button" class="btn btn-primary btn-lg">Find interviews</button>
                </div>
            </div>
        </div>
    </div>
</main>

