@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section scripts
{
    @Scripts.Render("~/js/vue-and-components")

    <script type="text/javascript">
    </script>
}
<main>
    <div class="container">
        <div class="row">
            <div class="page-header">
                <ol class="breadcrumb">
                    <li><a href="">troubleshooting</a></li>
                </ol>
                <h1>
                    Locating specific census inteview
                </h1>
            </div>
        </div>
        <div id="app">
            <user-selector control-id="interviewerId" :value="interviewerId" v-on:selected="userSelected" fetch-url="@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "Teams", action = "AllInterviewersCamelCase" })"></user-selector>
            <p>{{interviewerId}}</p>
            <user-selector control-id="supervisorId" :value="supervisorId" v-on:selected="userSelected" fetch-url="@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "Teams", action = "SupervisorsCamelCase" })"></user-selector>
            <p>{{supervisorId}}</p>
        </div>
    </div>
</main>