@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section scripts
{
    @Scripts.Render("~/js/troubleshooting-census")
}
<main class="hold-transition search-wasnt-started"  id="app">
    <div class="container-fluid">
        <div class="row before-search">
            <div class="page-header">
                <ol class="breadcrumb">
                    <li><a href="">troubleshooting</a></li>
                </ol>
                <h1>
                    Locating specific census inteview
                </h1>
            </div>
        </div>
        <div class="row before-search">
            <div class="col-sm-7">
                <p>It will be useful to know enumerator, interview template and timeline. <br /> We will show if there was any errors with synchronizations during selected period.</p>
            </div>
        </div>
        <div class="row">
            <aside class="filters">
                <div class="foldback-button" id="hide-filters">
                    <span class="arrow"></span>
                    <span class="arrow"></span>
                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                </div>
                <div class="filters-container">
                    <h4>Filter Range</h4>
                    <div class="block-filter" v-bind:class="{'has-error': errors.has('questionnaireId')}">
                        <h5>Survey template (questionnaire version)</h5>
                        <user-selector
                            data-vv-name="questionnaireId"
                            v-validate="'required'"
                            :has-error="errors.has('questionnaireId')"
                            placeholder="Select questionnaire"
                            control-id="questionnaireId"
                            :value="questionnaireId"
                            v-on:selected="questionnaireSelected"
                            fetch-url="@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "QuestionnairesApi", action = "QuestionnairesCombobox"})"></user-selector>
                        <span v-show="errors.has('questionnaireId')" class="help-block">{{ errors.first('questionnaireId') }}</span>
                    </div>
                    <div class="block-filter">
                        <h5>Enumerator</h5>
                        <user-selector
                            placeholder="Select interviewer"
                            control-id="interviewerId"
                            :value="interviewerId"
                            v-on:selected="userSelected" 
                            fetch-url="@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "Teams", action = "InterviewersCombobox"})"></user-selector>
                    </div>
                    <div class="block-filter">
                        <h5>Time-period when this interview was conducted or synchronized with HQ</h5>
                        <Flatpickr placeholder="Select dates"  input-class="form-control" v-on:input="rangeSelected" :options="dateRangePickerOptions" />
                    </div>
                    <div class="block-filter">
                        <button type="button" v-on:click="validateForm" class="btn btn-primary btn-lg" id="find-interview">Find interviews</button>
                    </div>
                </div>
            </aside>
            <div class="main-information">
                <div class="page-header clearfix">
                    <ol class="breadcrumb">
                        <li><a href="">troubleshooting</a></li>
                    </ol>
                    <h1>
                        Locating specific census inteview
                    </h1>
                </div>
                <div class="clearfix">
                    <div class="col-sm-7 ">
                        <p>It will be useful to know enumerator, interview template and timeline. <br /> We will show if there was any errors with synchronizations during selected period.</p>
                        <ul class="list-unstyled">
                            <li><b>There are 3 interviews found during period</b></li>
                            <li class="error-text"><b>2 error detected during this period</b></li>
                        </ul>
                    </div>
                </div>
                <div class="interviews-info">
                    <div class="table-wrapper interviews-large-screen">
                        <div class="wrapper-modal-dropdown">
                            <button type="button" class="btn btn-strips" data-toggle="modal" data-target="#modal-dropdown">
                                <span></span>
                            </button>
                            <!-- Modal -->
                            <div class="modal" id="modal-dropdown" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-dropdown" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                                            <h3>Show prefield</h3>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <input class="checkbox-filter" type="checkbox" id="has-comments1" checked />
                                                    <label for="has-comments1">
                                                        <span class="tick"></span>Has comments
                                                    </label>
                                                </li>
                                                <li>
                                                    <input class="checkbox-filter" type="checkbox" id="flags" checked />
                                                    <label for="flags">
                                                        <span class="tick"></span>Flags
                                                    </label>
                                                </li>
                                                <li>
                                                    <input class="checkbox-filter" type="checkbox" id="status" checked />
                                                    <label for="status">
                                                        <span class="tick"></span>Current interview status
                                                    </label>
                                                </li>
                                                <li>
                                                    <input class="checkbox-filter" type="checkbox" id="spent-time" />
                                                    <label for="spent-time">
                                                        <span class="tick"></span>Time spent on this interview
                                                    </label>
                                                </li>
                                                <li>
                                                    <input class="checkbox-filter" type="checkbox" id="answered-questions" checked />
                                                    <label for="answered-questions">
                                                        <span class="tick"></span>Number of answered questions
                                                    </label>
                                                </li>
                                                <li>
                                                    <input class="checkbox-filter" type="checkbox" id="template" />
                                                    <label for="template">
                                                        <span class="tick"></span>Questionnaire template
                                                    </label>
                                                </li>
                                                <li>
                                                    <input class="checkbox-filter" type="checkbox" id="accepted-hq" />
                                                    <label for="accepted-hq">
                                                        <span class="tick"></span>Accepted by HQ
                                                    </label>
                                                </li>
                                                <li>
                                                    <input class="checkbox-filter" type="checkbox" id="census" />
                                                    <label for="census">
                                                        <span class="tick"></span>Census mode
                                                    </label>
                                                </li>
                                                <li>
                                                    <input class="checkbox-filter" type="checkbox" id="last-update" checked />
                                                    <label for="last-update">
                                                        <span class="tick"></span>Last update
                                                    </label>
                                                </li>
                                                <li>
                                                    <input class="checkbox-filter" type="checkbox" id="download-on-device" checked />
                                                    <label for="download-on-device">
                                                        <span class="tick"></span>When downloaded on device
                                                    </label>
                                                </li>
                                                <li>
                                                    <input class="checkbox-filter" type="checkbox" id="enumerator" checked />
                                                    <label for="enumerator">
                                                        <span class="tick"></span>Enumerator
                                                    </label>
                                                </li>
                                                <li>
                                                    <input class="checkbox-filter" type="checkbox" id="number-rejected" />
                                                    <label for="number-rejected">
                                                        <span class="tick"></span>Number of times rejected
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-ordered table-bordered table-hover table-with-checkboxes table-with-prefilled-column table-interviews">
                            <thead>
                                <tr>
                                    <th class=" interview-id title-row">
                                        Interview id
                                        <a href="#" class="show-prefield-btn">Show prefilled</a>
                                    </th>
                                    <th class="prefield-column enumeration-area">Enumeration area</th>
                                    <th class="prefield-column">Deelling ZIP</th>
                                    <th class="prefield-column  without-break  deelling-address">Deelling address</th>
                                    <th class=" has-comments"><span class="comment-icon responded"></span></th>
                                    <th class=" uploaded-to-hq">Uploaded to HQ</th>
                                    <th class=" interview-conducted">interview conducted</th>
                                    <th class=" flags">Flags</th>
                                    <th class=" status">current Status</th>
                                    <th class=" answered-questions">answered questions</th>
                                    <th class=" left-empty">left empty</th>
                                    <th class=" errors">errors</th>
                                    <th class="date last-update">last update</th>
                                    <th class=" download-on-device">downloaded on device</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td class="interview-id title-row"><a href="#">43-21-23-45-13</a></td>
                                    <td class="prefield-column enumeration-area">North 2</td>
                                    <td class="prefield-column">24632</td>
                                    <td class="prefield-column without-break  deelling-address">1257 blane Street, Creve coeur, MC, Buildin 35 25632</td>
                                    <td class="has-comments"><span class="comment-icon"></span></td>
                                    <td class="date uploaded-to-hq">Feb 11, 09:12</td>
                                    <td class="date interview-conducted">Feb 12, 23:44</td>
                                    <td class="flags"><span class="flag">3</span></td>
                                    <td class="status">Need&nbsp;your&nbsp;descision</td>
                                    <td class="answered-questions">2048</td>
                                    <td class="left-empty">12</td>
                                    <td class="errors">2</td>
                                    <td class="date last-update">Feb 12, 23:55</td>
                                    <td class="date download-on-device">Feb 12, 09:12</td>
                                </tr>
                                <tr class="">
                                    <td class="interview-id title-row"><a href="#" class=" error-text">54-11-23-45-21</a></td>
                                    <td class="prefield-column enumeration-area">North 2</td>
                                    <td class="prefield-column">24632</td>
                                    <td class="prefield-column without-break  deelling-address">1257 blane Street, Creve coeur, MC, Buildin 35 25632</td>
                                    <td class="has-comments"><span class="comment-icon responded"></span></td>
                                    <td class="date uploaded-to-hq error-text">Feb 11, 09:12 <div>Error: [02] corrupted data</div></td>
                                    <td class="date interview-conducted">Feb 12, 23:44</td>
                                    <td class="flags"><span class="empty"></span></td>
                                    <td class="status">Completed</td>
                                    <td class="answered-questions">1956</td>
                                    <td class="left-empty success-text">No</td>
                                    <td class="errors success-text">No</td>
                                    <td class="date last-update">Feb 12, 19:55</td>
                                    <td class="date download-on-device">Feb 1, 09:12</td>
                                </tr>
                                <tr class="">
                                    <td class="interview-id title-row"><a href="#">43-21-23-45-11 i2</a></td>
                                    <td class="prefield-column enumeration-area">North 2</td>
                                    <td class="prefield-column">24632</td>
                                    <td class="prefield-column without-break  deelling-address">1257 blane Street, Creve coeur, MC, Buildin 35 25632</td>
                                    <td class="has-comments"><span class="comment-icon responded"></span></td>
                                    <td class="date uploaded-to-hq">Feb 11, 09:12</td>
                                    <td class="date interview-conducted">Feb 12, 23:44</td>
                                    <td class="flags"><span class="flag">1923</span></td>
                                    <td class="status error-text">HQ&nbsp;rejected</td>
                                    <td class="answered-questions error-text">No</td>
                                    <td class="left-empty">1345</td>
                                    <td class="errors">1922</td>
                                    <td class="date last-update">Feb 11, 22:55</td>
                                    <td class="date download-on-device">Feb 6, 10:12</td>
                                </tr>
                                <tr class="">
                                    <td class="interview-id title-row"><a href="#" class="error-text">NA</a></td>
                                    <td class="prefield-column enumeration-area">North 2</td>
                                    <td class="prefield-column">24632</td>
                                    <td class="prefield-column without-break  deelling-address">1257 blane Street, Creve coeur, MC, Buildin 35 25632</td>
                                    <td class="has-comments"><span class="empty"></span></td>
                                    <td class="date uploaded-to-hq error-text">Feb 3, 09:12 <div>Error: [03] Connection time out</div></td>
                                    <td class="date interview-conducted">Feb 12, 23:44</td>
                                    <td class="flags"><span class="empty"></span></td>
                                    <td class="status">Not&nbsp;yet&nbsp;synced</td>
                                    <td class="answered-questions"><span class="empty"></span></td>
                                    <td class="left-empty"><span class="empty"></span></td>
                                    <td class="errors"><span class="empty"></span></td>
                                    <td class="date last-update">Feb 11, 22:55</td>
                                    <td class="date download-on-device"><span class="empty"></span></td>
                                </tr>
                                <tr class="">
                                    <td class="interview-id title-row"><a href="#">45-63-33-24-67</a></td>
                                    <td class="prefield-column enumeration-area">North 2</td>
                                    <td class="prefield-column">24632</td>
                                    <td class="prefield-column without-break  deelling-address">1257 blane Street, Creve coeur, MC, Buildin 35 25632</td>
                                    <td class="has-comments"><span class="empty"></span></td>
                                    <td class="date uploaded-to-hq">Feb 11, 09:12</td>
                                    <td class="date interview-conducted">Feb 12, 23:44</td>
                                    <td class="flags"><span class="empty"></span></td>
                                    <td class="status">In&nbsp;the&nbsp;field</td>
                                    <td class="answered-questions"><span class="empty"></span></td>
                                    <td class="left-empty"><span class="empty"></span></td>
                                    <td class="errors"><span class="empty"></span></td>
                                    <td class="date last-update">Feb 11, 22:55</td>
                                    <td class="date download-on-device">Feb 2, 12:23</td>
                                </tr>
                                <tr class="">
                                    <td class="interview-id title-row"><a href="#">45-22-22-34-19</a></td>
                                    <td class="prefield-column enumeration-area">North 2</td>
                                    <td class="prefield-column">24632</td>
                                    <td class="prefield-column without-break  deelling-address">1257 blane Street, Creve coeur, MC, Buildin 35 25632</td>
                                    <td class="has-comments"><span class="comment-icon"></span></td>
                                    <td class="date uploaded-to-hq">Feb 11, 09:12</td>
                                    <td class="date interview-conducted">Feb 12, 23:44</td>
                                    <td class="flags"><span class="flag">1</span></td>
                                    <td class="status error-text">HQ&nbsp;rejected</td>
                                    <td class="answered-questions">1554</td>
                                    <td class="left-empty">78</td>
                                    <td class="errors">1</td>
                                    <td class="date last-update">Feb 5, 12:15</td>
                                    <td class="date download-on-device">Feb 1, 10:03</td>
                                </tr>
                                <tr class="">
                                    <td class="interview-id not-synced-assign title-row"><a href="#">77-33-25-71-16</a></td>
                                    <td class="prefield-column enumeration-area">North 2</td>
                                    <td class="prefield-column">24632</td>
                                    <td class="prefield-column without-break  deelling-address">1257 blane Street, Creve coeur, MC, Buildin 35 25632</td>
                                    <td class="has-comments"><span class="empty"></span></td>
                                    <td class="date uploaded-to-hq">Feb 11, 09:12</td>
                                    <td class="date interview-conducted">Feb 12, 23:44</td>
                                    <td class="flags"><span class="empty"></span></td>
                                    <td class="status">Not&nbsp;yet&nbsp;assign</td>
                                    <td class="answered-questions"><span class="empty"></span></td>
                                    <td class="left-empty"><span class="empty"></span></td>
                                    <td class="errors"><span class="empty"></span></td>
                                    <td class="date last-update">Feb 11, 22:55</td>
                                    <td class="date download-on-device"><span class="empty"></span></td>
                                </tr>
                                <tr class="">
                                    <td class="interview-id title-row"><a href="#">43-82-94-98-95</a></td>
                                    <td class="prefield-column enumeration-area">North 2</td>
                                    <td class="prefield-column">24632</td>
                                    <td class="prefield-column without-break  deelling-address">1257 blane Street, Creve coeur, MC, Buildin 35 25632</td>
                                    <td class="has-comments"><span class="empty"></span></td>
                                    <td class="date uploaded-to-hq">Feb 11, 09:12</td>
                                    <td class="date interview-conducted">Feb 12, 23:44</td>
                                    <td class="flags"><span class="empty"></span></td>
                                    <td class="status">Waiting&nbsp;for&nbsp;HQ</td>
                                    <td class="answered-questions">2001</td>
                                    <td class="left-empty success-text">No</td>
                                    <td class="errors success-text">No</td>
                                    <td class="date last-update">Feb 11, 22:55</td>
                                    <td class="date download-on-device">Feb 8, 22:55</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
