/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ddd;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}
#wrapper {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#menu,
#menu #menuInner {
      margin-bottom: 0;
  padding-bottom: 0;
    height: 100%;
    background: #F5F5F5;
}
#menu #menuInner > ul {
    margin: 0;
}
#menu #groups-menu li
{
    padding: 0;
}
#menu #groups-menu li a
{
    padding: 0 10px;
}
#menu #groups-menu li.level0 a{
    font-weight: bold;
}
#menu #groups-menu li.level1 a{
    padding-left: 10px;
    font-weight: bold;
}
#menu #groups-menu li.level2 a{
    padding-left: 22px;
}
#menu #groups-menu li.level3 a{
    padding-left: 30px;
}
#menu #groups-menu li.level4  a{
    padding-left: 38px;
}
#menu #groups-menu li.level5 a,
#menu #groups-menu li.level6 a,
#menu #groups-menu li.level7 a,
#menu #groups-menu li.level8 a,
#menu #groups-menu li.level9 a,
#menu #groups-menu li.level10 a
 {
    padding-left: 42px;
}
#menu > ul li a, #menu .slim-scroll > ul li a {
    
}
#groups-menu {
    position: absolute;
    top: 71px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

#content {
        height: 100%;
}
.heading {
    color: #0088CC;
    font-size: 15px;
    line-height: 1.3;
    word-wrap: break-word;
    margin: 0;
    margin-top: 10px;
}

h4.heading {
    color: #0088CC;
    font-size: 13px;
    line-height: 1.3;
    word-wrap: break-word;
    margin: 0;
    margin-top: 10px;
}

.cell-content {
    position: relative;
    min-height: 30px;
    padding: 4px 5px;
}

    .cell-content .actions {
        display: block;
        text-align: right;
        right: 0;
        top: 0;
        bottom: 0;
        background: #eee;
        width: 120px;
        vertical-align: middle;
        border-left: 1px solid #DDDDDD;
    }


.actions .btn-group {
    display: none;
}

.questions .table tr:hover .actions .btn-group {
    display: inline-block !important;
}


.questions .table td.question-answer,
.questions .table td.question-text {
    padding: 0;
}

    .questions .table td.question-text .featured {
        padding-left: 20px;
    }

    .questions .table td.question-text .icon-star {
        display: none;
        position: absolute;
        top: 7px;
        left: 5px;
    }

    .questions .table td.question-text .featured .icon-star {
        display: block;
    }

.questions .table tr.mandatory td:first-child {
    font-weight: bold;
}

.questions .table tr.disabled td {
    color: #999;
}

.questions .table tr td .text-error {
    display: block;
}

.question-marker {
    background: transparent;
    display: block;
    height: 4px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 40px;
}

    .question-marker.invalid {
        background-color: #CB4D4D;
    }

    .question-marker.supervisor {
        background-color: #4C9BDD;
    }

.panel-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 85px;
}

#list {
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
}

#details {
    display: none;
}

#content.details-visible #details {
    display: block;
}

#content.details-visible #list {
    margin-right: 41%;
}

#details {
    position: absolute;
    width: 40%;
    min-height: 100px;
    top: 0;
    right: 8px;
}

#footer-block {
    display: none;
}

.text-block {
    display: block;
}

.comment-date {
    color: #999;
}

#menu > ul li a,
#menu .slim-scroll > ul li a {
  display: block;
  width: auto;
  border-bottom: 1px solid #DDDDDD;
  padding: 0;
  margin: 0;
  color: #222222;
  min-height: 26px;
  line-height: 22px;
  text-decoration: none;
  font-size: 13px;
}
#menu > ul li,
#menu .slim-scroll > ul li {
  border-bottom: 1px solid #fff;
}
#menu.invalid  #groups-menu .selected {
    border-bottom-color: #EE5F5B;
}
#menu.invalid  #groups-menu li.selected a,
#menu.invalid  #groups-menu li.selected a:hover  {
    background: #DA4F49;
    color: #fff;
    border-bottom-color:#BD362F
}

#menu.flaged  #groups-menu .selected {
    border-bottom-color: #5BC0DE;
}
#menu.flaged  #groups-menu li.selected a,
#menu.flaged  #groups-menu li.selected a:hover  {
    background: #49AFCD;
    color: #fff;
    border-bottom-color:#2F96B4
}

#menu.commented  #groups-menu .selected {
    border-bottom-color: #62C462;
}
#menu.commented  #groups-menu li.selected a,
#menu.commented  #groups-menu li.selected a:hover  {
    background: #5BB75B;
    color: #fff;
    border-bottom-color:#51A351
}
.controls input {
    margin-bottom: 0;
}