/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ddd;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

.heading {
    color: #0088CC;
    font-size: 15px;
    line-height: 1.3;
    word-wrap: break-word;
    margin: 0;
    margin-top: 10px;
}

h4.heading {
    color: #0088CC;
    font-size: 13px;
    line-height: 1.3;
    word-wrap: break-word;
    margin: 0;
    margin-top: 10px;
}

.cell-content {
    position: relative;
    min-height: 25px;
    padding: 4px 5px;
}
    .cell-content .actions {
        display: block;
        text-align: right;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background: #eee;
        width: 120px;
        vertical-align: middle;
         border-left: 1px solid #DDDDDD;
    }

    .cell-content .actions .action-content {
        padding: 4px 5px;
    }

     .cell-content .btn-group {
        display: none;
    }
    .cell-content:hover .btn-group {
        display: inline-block !important;
    }
    .cell-content .question-clickable {
        margin-right: 120px;
    }


.questions .table td.question-answer,
.questions .table td.question-text {
    padding: 0;
}

    .questions .table td.question-text .featured {
        padding-left: 20px;
    }

    .questions .table td.question-text .icon-star {
        display: none;
        position: absolute;
        top: 7px;
        left: 5px;
    }

    .questions .table td.question-text .featured .icon-star {
        display: block;
    }

.questions .table tr.mandatory td:first-child {
    font-weight: bold;
}

.questions .table tr.disabled td {
    color: #999;
}

.questions .table tr td .text-error {
    display: block;
}

.question-marker {
    background: transparent;
    display: block;
    height: 4px;
    left: 5px;
    position: absolute;
    top: 0;
    width: 40px;
}

    .question-marker.invalid {
        background-color: #CB4D4D;
    }

    .question-marker.supervisor {
        background-color: #4C9BDD;
    }

.panel-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 80px;
}
#list {
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
}
#details {
    display: none;
}

#content.details-visible #details {
    display: block;
}

#content.details-visible #list {
    margin-right: 41%;
}

#details {
    position: absolute;
    width: 40%;
    min-height: 100px;
    top: 0;
    right: 8px;
}
#footer-block {
    display: none;
}
.text-block {
    display: block;
}
.comment-date {
    color: #999;
}