body {
	padding-top: 40px;
}

.assignment-form {
	display: none;
}

.assignment-view {
	display: block
}

.showForm .assignment-form {
	display: block;
}

.showForm .assignment-view {
	display: none;
}
.well .nav.nav-list .badge {
	float: right;
}
.well .nav.nav-list .badge:after {
	clear: both;
}