body {
	padding-top: 40px;
}

.assignment-form {
	display: none;
}

.assignment-view {
	display: block
}

.showForm .assignment-form {
	display: block;
}

.showForm .assignment-view {
	display: none;
}
.well .nav.nav-list .badge {
	float: right;
}
.well .nav.nav-list .badge:after {
	clear: both;
}

.sorting {
	background: url('../Content/img/sort_both.png') no-repeat center right;
}
.sorting span{
	margin-right: 7px;
}

.headerSortDown{
    background: url('../Content/img/sort_asc.png') no-repeat center right !important;
}

.headerSortUp{
    background: url('../Content/img/sort_desc.png') no-repeat center right !important;
}