.pull-right #menu li
{
	float: right;
}
.assignment-form
{
	display: none;
}

.assignment-view
{
	display: block;
}

.showForm .assignment-form
{
	display: block;
}

.showForm .assignment-view
{
	display: none;
}
.bs-docs-sidenav.nav.nav-list .badge
{
	float: right;
}
.bs-docs-sidenav.nav.nav-list .badge:after
{
	clear: both;
}
.btn-back
{
	line-height: 24px;
	margin-top: -6px;
}
.sorting
{
	background: url('../Content/img/sort_both.png') no-repeat center right;
}

.sorting span
{
	margin-right: 7px;
}

.headerSortDown
{
	background: url('../Content/img/sort_asc.png') no-repeat center right !important;
}

.headerSortUp
{
	background: url('../Content/img/sort_desc.png') no-repeat center right !important;
}

.bs-docs-sidenav
{
	margin: 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a
{
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a
{
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a
{
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a
{
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
.bs-docs-sidenav a .link-text {
	display: block;
	margin-right: 50px;
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right
{
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}
.bs-docs-sidenav > li > a:hover
{
	background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right
{
	opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right
{
	background-image: url(img/glyphicons-halflings-white.png);
	opacity: 1;
}
.bs-docs-sidenav.affix
{
	top: 40px;
}
.bs-docs-sidenav.affix-bottom
{
	position: absolute;
	top: auto;
	bottom: 270px;
}
.error_block
{
	background: -moz-linear-gradient(#FFE4C4, #FFE4C4) repeat scroll 0 0 #FFF9DF;
	border: 1px solid red;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th
{
	background-color: #D9EDF7;
}
.td-total
{
	font-weight: bold;
}
.question
{
	position: relative;
}
.comment-popover
{
	display: block;
	position: relative;
	width: auto;
}
.comment-popover.popover.right .arrow
{
	top: 10px;
	margin-top: 0;
}
.comment-popover.popover.right .popover-title
{
	background: #fff;
}
legend
{
	line-height: 30px;
	border-bottom: none;
	margin-bottom: 10px;
}
h1 small
{
	font-size: 18px;
	line-height: 1.3;
}
h1.inline
{
	display: inline-block;
	vertical-align: middle;
}
.question
{
	padding-bottom: 5px;
	border-bottom: 1px solid #DDDDDD;
}
.zero
{
	color: #ccc;
}
.sinle-line-header
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.popover-content p
{
	font-size: 14px;
	font-weight: normal;
}
.modal.inline-modal
{
	top: auto;
	margin-top: 0;
}


.popover.editable-container {
	z-index: 1080;
}
.popover.editable-container .control-group .btn {
	vertical-align: top;
}

.editableform select{
	width: 150px;
}
.table tbody tr.transparent td{
	opacity: 0.35;
	filter:alpha(opacity=35)
}
.table tbody tr.transparent td.td-responsible {
	opacity: 1;
	filter:alpha(opacity=100)
}
.table thead th.sorting.header {
	padding-right: 20px;
	vertical-align: middle;
	cursor: pointer;
}
.table thead td {
	vertical-align: middle;
	font-weight: bold;
}
/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px)
{
	.bs-docs-container
	{
		max-width: 970px;
	}
	.bs-docs-sidenav
	{
		width: 100%;
	}
}

/* Desktop
------------------------- */
@media (max-width: 980px)
{
	/* Unfloat brand */
	body > .navbar-fixed-top .brand
	{
		float: left;
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
	/* When affixed, space properly */
	.bs-docs-sidenav
	{
		top: 0;
		margin-top: 30px;
		margin-right: 0;
	}
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px)
{
	/* Remove any padding from the body */
	body
	{
		padding-top: 0;
	}
	/* Adjust sidenav width */
	.bs-docs-sidenav
	{
		width: 166px;
		margin-top: 20px;
	}
	.bs-docs-sidenav.affix
	{
		top: 0;
	}
}

/* Tablet
------------------------- */
@media (max-width: 767px)
{
	/* Remove any padding from the body */
	body
	{
		padding-top: 0;
	}
	/* Sidenav */
	.bs-docs-sidenav
	{
		width: auto;
		margin-bottom: 20px;
	}
	.bs-docs-sidenav.affix
	{
		position: static;
		width: auto;
		top: 0;
	}


}

/* Landscape phones
------------------------- */
@media (max-width: 480px)
{
	/* Remove padding above jumbotron */
	body
	{
		padding-top: 0;
	}


}

#output {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
    left: 0;
    z-index: 40;
    padding-top: 0;
    height: 200px;
    top: auto;
    bottom: -200px;
    position: fixed;
    background: #fff;
    left: 20px;
    right: 20px;
}
.output-visible #output {
    bottom: 0;
}
    #output .inner {
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        border: 1px solid #DDDDDD;
        height: 100%;
        position: relative;
    }

    #output .title
{
	background: rgba(255, 255, 255, 0.1);
	background: -webkit-gradient(linear,left top,left bottom,from(rgba(255, 255, 255, 0.1)),to(rgba(0, 0, 0, 0.05)));
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.05));
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.05));
	background: linear-gradient(top,rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.05));
	border-bottom: 1px solid rgba(0, 0, 0, 0.24);
	border-radius: 5px 5px 0 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	-o-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	min-height: 24px;
	padding: 8px;
	text-shadow: 0 1px 0 white;
	word-wrap: break-word;
}

    #output .body {
        top: 41px;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }

        #output .body .error-list {
            margin: 0;
            list-style: none;
        }

            #output .body .error-list .error {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin: 0 3px;
                height: 40px;
                line-height: 40px;
                position: relative;
                -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.85) inset;
                -moz-box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.85) inset;
                box-shadow: 0 -1px 0 rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.85) inset;
            }

#assignmentButton {
    text-align: center;
}
.table.table-break-words td{
    word-break: break-all;
}
#featured-questions .help-inline {
    display: block;
}