<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">

    <?include Variables.wxi?>
  
    <Product Id="*"
           Language="1033"
           Name="$(var.ProductName)"
           Version="$(var.ProductVersion)" 
           Manufacturer="$(var.Manufacturer)" 
           UpgradeCode="$(var.UpgradeCode)">
        
    <Package InstallerVersion="200" 
             Compressed="yes"
             Description="Supervisor installation."
			 InstallScope="perMachine"/>

        <MajorUpgrade Schedule="afterInstallValidate"
                        AllowSameVersionUpgrades="yes"
                        AllowDowngrades="no"
                        Disallow="no"
                DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/>

        
        <!--<Property Id="ALLUSERS" Secure="yes" />-->

        <!-- Prerequisites -->
        <PropertyRef Id="NETFRAMEWORK40CLIENT"/>

        <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
            <![CDATA[Installed OR NETFRAMEWORK40CLIENT]]>
        </Condition>
        
        <Property Id='ASP_NET_MVC_3_0_DLL'>
            <DirectorySearch Id='MVC_DLL_DIR' Path='[ProgramFilesFolder]\Microsoft ASP.NET\ASP.NET MVC 3\Assemblies'>
                <FileSearch Id='MVC_DLL_FILE' Name='System.Web.Mvc.dll' MinVersion='3.0.20100'/>
            </DirectorySearch>
        </Property>

        <Condition Message='ASP.NET MVC 3 is required to proceed with the installation (http://www.microsoft.com/en-us/download/details.aspx?id=1491).'>
            <![CDATA[Installed OR ASP_NET_MVC_3_0_DLL]]>
        </Condition>
        
<!--
        <Property Id="APPCMDEXE">
            <DirectorySearch Id="IISExpressDir" Path="[ProgramFilesFolder]IIS Express">
                <FileSearch Name="appcmd.exe" />
            </DirectorySearch>
        </Property>
        
        <Condition Message="IIS Express 7.x must be installed before installation (http://www.microsoft.com/en-us/download/details.aspx?id=1038).">
            <![CDATA[Installed or APPCMDEXE]]>
        </Condition>
-->

        <PropertyRef Id="IISMAJORVERSION"/>
        <Condition Message="This product requires installed IIS 6, 7 or 8. Please turn IIS feature on and restart this installation.">
            <![CDATA[Installed OR (IISMAJORVERSION AND (IISMAJORVERSION = "#6" OR IISMAJORVERSION = "#7" OR IISMAJORVERSION = "#8"))]]>
         </Condition>
		 
        <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]"/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

       

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="CommonAppDataFolder">
                <Directory Id="WINDOWSVOLUME">
                <Directory Id="TheWorldBank" Name="TheWorldBank">
                    <Directory Id="INSTALLLOCATION" Name="Supervisor">
                        <Directory Id="CLIENTDIR" Name="Client">
                        </Directory>
                        <Directory Id="ENGINEDIR" Name="Engine">
                        </Directory>
                    
                    <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
                    <!-- <Component Id="ProductComponent" Guid="475a39d5-bd4b-4263-b551-08dfe9822eef"> -->
                        <!-- TODO: Insert files, registry keys, and other resources here. -->
                    <!-- </Component> -->
                </Directory>
               </Directory>
              </Directory>
            </Directory>
            
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
            </Directory>            
            
            <Directory Id="DesktopFolder" Name="Desktop"/>
            
        </Directory>

      <Feature Id="ProductFeature" Title="Supervisor" Level="1" ConfigurableDirectory="INSTALLLOCATION">
            <!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
            <!-- <ComponentRef Id="ProductComponent" /> -->
            
            <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
           
          
          <!-- <ComponentGroupRef Id="Product.Generated" />-->
          
            <Feature Id="CapiFeature" Title="Supervisor" Level="1">
                <ComponentGroupRef Id="WebSite_Project"/>
                <ComponentGroupRef Id="Client_Project"/>

                <ComponentRef Id="CapiApplicationShortcut"/>
                <ComponentRef Id="DesktopShortcutCapi"/>

                <ComponentRef Id="MyWebSite_IISConfigure"/>

            </Feature>
      
        </Feature>

    <!--~1~ Prevent downgrading @1@
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />

    ~1~ Sequences @1@
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>-->

    <UIRef Id="WixUI_MondoCustom" />
    <UIRef Id="WixUI_ErrorProgressText" />
        
<!--
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="WixUI_InstallDir" />
-->
    
    </Product>
</Wix>
