<section id="header" class="row">
    <a class="designer-logo" href="../../"></a>
    <div class="header-line">
        <div class="header-menu">
            This document is <strong>{{questionnaire.isPublic ? 'public' : 'private'}}</strong><span ng-repeat="q in getPersonsSharedWith(questionnaire)">
                                                                                                   <span ng-if="$first">
                                                                                                       , shared with <a href="mailto:{{q.email}}">{{q.email}}</a>
                                                                                                   </span>
                                                                                                   <span ng-if="!$first && $last">
                                                                                                       and <a href="javascript:void(0);" ng-click="showShareInfo()">{{$index}} other</a>
                                                                                                   </span>
                                                                                               </span>
            <div class="buttons">
                <button class="btn" type="button" ng-click="showShareInfo()">Settings</button>
                <a class="btn" href="../../account/logoff">LOG OUT</a>
            </div>
        </div>
        <div class="questionnarie-title">
            <div class="title">
                <div class="questionnarie-title-text">
                    {{questionnaire.title}}
                </div>
                <div class="questionnarie-title-buttons">
                    <span class="text-muted">({{questionnaire.questionsCount}}Q, {{questionnaire.groupsCount}}G, {{questionnaire.rostersCount}}R)</span>
                    <input id="verification-btn" type="button" class="btn" value="COMPILE" ng-click="verify()" />
                    <span id="verify-btn" data-toggle="modal" ng-show="verificationStatus.errorsCount" class="error-message ng-hide">
                        <a href="javascript:void(0);"
                           ng-click="verificationStatus.visible = true"
                           ng-pluralize
                           count="verificationStatus.errorsCount"
                           when="{'1': '{} error',
                          '100' : '{}+ errors',
                          'other': '{} errors'}">
                        </a>
                    </span>
                    <span class="text-success" ng-show="verificationStatus.errorsCount === 0">OK<em>, saved at <span>{{verificationStatus.time | date:'H:mm'}}</span></em></span>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="spacer" class="row">
    <div class="left"></div>
    <div class="right"></div>
</section>

<section id="main" class="row">
    <div class="chapter-panel" ng-click="unfold();" ng-class="{unfolded: isFolded }" ng-controller="ChaptersCtrl" ui-tree="chaptersTree" data-empty-place-holder-enabled="false">
        <div class="foldback-button" ng-click="foldback();$event.stopPropagation()"></div>
        <div class="ul-holder">
            <div class="chapters">
                <perfect-scrollbar class="scroller">
                    <h3>Sections:</h3>
                    <ul ui-tree-nodes ng-model="questionnaire.chapters">
                        <li class="chapter-panel-item"
                            ng-repeat="chapter in questionnaire.chapters"
                            ui-tree-node
                            ng-class="{ current: isCurrentChapter(chapter) }"
                            context-menu data-target="chapter-context-menu-{{ chapter.itemId }}"
                            context-menu-hide-on-mouse-leave="true">
                            <div class="holder" ng-click="editChapter(chapter);$event.stopPropagation();">
                                <div class="inner">
                                    <a class="handler" ui-tree-handle></a>
                                    <a class="chapter-panel-item-body" ui-sref="questionnaire.chapter.group({ chapterId: chapter.itemId, itemId: chapter.itemId})">{{chapter.title}}</a>
                                </div>
                            </div>
                            <div class="dropdown position-fixed" id="chapter-context-menu-{{ chapter.itemId }}">
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="editChapter(chapter);$event.stopPropagation();">Edit</a></li>
                                    <li><a ng-click="cloneChapter(chapter.itemId);$event.stopPropagation();">Clone</a></li>
                                    <li><a ng-click="deleteChapter(chapter);$event.stopPropagation();">Delete</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="button-holder">
                        <input type="button" class="btn lighter-hover" value="ADD NEW SECTION" ng-click="addNewChapter()">
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
    <div class="questionnaire-tree" ui-view></div>
</section>

<div id="verification-modal" ng-show="verificationStatus.visible">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">
                Compilation: <span ng-pluralize count="verificationStatus.errorsCount"
                                    when="{'1': '{} error found', '100': '{}+ errors found', 'other': '{} errors found'}"></span>
            </h3>
            <button type="button" class="close" ng-click="verificationStatus.visible = false" aria-hidden="true"> <!--&times;--> </button>
        </div>
        <div class="modal-body">
            <perfect-scrollbar class="scroller">
                <div id="verify-popover-content">
                    <div class="question-list">
                        <div ng-repeat="error in verificationStatus.errors">
                            <div class="error-message"><span class="error-code">[{{error.code}}]:</span>{{error.message}}</div>
                            <ul class="verification-items" ng-class="{singleError: !error.isGroupOfErrors}">
                                <li class="verification-item-container" ng-repeat="reference in error.references" ng-click="navigateTo(reference)">
                                    <a class="verification-item" href="javascript:void(0);">
                                        <span ng-if="reference.type == 'Question'" class="icon icon-error {{reference.questionType}}"></span>
                                        <span ng-if="reference.type == 'StaticText'" class="icon icon-error icon-statictext"></span>
                                        <span class="title">{{reference.title}}</span>
                                        <span ng-if="reference.type == 'Question' || reference.type == 'Roster'" class="variable" ng-bind="reference.variable">aaaa</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
        <div class="modal-footer">
            <button class="btn btn-link" ng-click="verify()">RECOMPILE</button>
            <button class="btn btn-link" data-dismiss="modal" ng-click="verificationStatus.visible = false">CLOSE</button>
        </div>
    </div>
</div>

<script type="text/ng-template" id="moveToChapterSnippet">
    <div class="btn-group dropup">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
            Move to <span class="caret"></span>
        </button>

        <div role="menu" class="chapter-menu dropdown-menu dropdown-menu-right">
            <h1>Move to another chapter:</h1>
            <ul>
                <li ng-repeat="chapter in $parent.questionnaire.chapters">
                    <a ng-click="chapter.itemId == currentChapterId || moveToChapter(chapter.itemId)" ng-disabled="chapter.itemId == currentChapterId" unsaved-warning-clear>
                        {{chapter.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</script>