<section id="header" class="row">
    <div class="designer-logo"></div>
    <div class="header-line">
        <div class="breadcrumbs">
            <ul>
                <li><a href="../">Designer home</a></li>
                <li><a href="../">My Questionnaires</a></li>
            </ul>
        </div>
        <div class="header-menu">
            This document is <strong>{{questionnaire.isPublic ? 'public' : 'private'}}</strong><span ng-repeat="q in questionnaire.sharedPersons"><span ng-if="$first">, shared with <a href="mailto:{{q.email}}">{{q.email}}</a>
                                                                                                                                                  </span>
                                                                                                   <span ng-if="!$first && $last">
                                                                                                       and <a href="javascript:void(0);" ng-click="showShareInfo()">{{$index}} other</a>
                                                                                                   </span>
                                                                                               </span>
            <div class="buttons">
                <button class="btn" ng-click="showShareInfo()">SHARE</button>
                <button class="btn">HELP</button>
                <a class="btn" href="../account/logoff">LOG OUT</a>
            </div>
        </div>
    </div>
    <div class="questionnarie-title">
        <div class="title">
            {{questionnaire.title}} <span class="text-muted">({{questionnaire.questionsCount}}Q, {{questionnaire.groupsCount}}G, {{questionnaire.rostersCount}}R)</span>
            <input id="verification-btn" type="button" class="btn error" value="VERIFY" ng-click="verify()" />
            <span id="verify-btn" data-toggle="modal" data-target="#verification-modal" ng-show="verificationStatus.errorsCount" class="error-message ng-hide"><a href=""><span ng-bind="verificationStatus.errorsCount"></span>  errors</a></span>
            <span class="text-success" ng-show="verificationStatus.errorsCount === 0">OK</span>
        </div>
    </div>
</section>

<section id="spacer" class="row">
    <div class="left"></div>
    <div class="right"></div>
</section>

<section id="main" class="row">
    <div class="questionnaire-tree col-xs-6">
        <div class="chapter-title" ng-switch on="filtersBoxMode">
            <div class="search-box" ng-switch-when="search">
                <div class="input-group">
                    <input type="text" ng-model="search.searchText" ng-model-options="{debounce: 300}" focus-on="focusSearch" hotkey="{esc: hideSearch, allowIn: ['INPUT']}" />
                    <span class="input-group-addon glyphicon glyphicon-search" title="Search"></span>
                </div>
                <button ng-click="hideSearch()" title="Cancel search">
                </button>
            </div>

            <div ng-switch-when="default">
                {{currentChapter.title }}
                <ul class="controls-right">
                    <li><a class="filter" title="Toggle Filter"></a></li>
                    <li>
                        <a href="javascript:void(0);" ng-click="showSearch()" class="search" title="Toggle Search"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="chapter-panel" ng-click="unfold();" ng-class="{unfolded: isFolded == true}" ng-controller="ChaptersCtrl" ui-tree="chaptersTree" data-empty-place-holder-enabled="false">
            <div class="foldback-button" ng-click="foldback();$event.stopPropagation()"></div>
            <div class="ul-holder">
                <ul class="chapters" ui-tree-nodes ng-model="questionnaire.chapters">
                    <li class="chapter-panel-item"
                        ng-repeat="chapter in questionnaire.chapters"
                        ui-tree-node
                        ng-class="{current: currentChapterId == chapter.itemId}"
                        >
                        <div class="holder">
                            <div class="inner">
                                <a class="handler" ui-tree-handle></a>
                            <h1><a ui-sref="questionnaire.chapter({chapterId: chapter.itemId})">{{chapter.title}}</a></h1>
                                <div class="btn-group" ng-class="{open: chapter.isMenuOpen == true}" ng-click="openMenu(chapter);$event.stopPropagation();">
                                    <a class="dropdown-toggle" data-toggle="dropdown"></a>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="editChapter(chapter);$event.stopPropagation()">Edit</a></li>
                                        <li><a ng-click="cloneChapter(chapter);$event.stopPropagation()">Clone</a></li>
                                        <li><a ng-click="deleteChapter(chapter);$event.stopPropagation()">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="button-holder">
                    <input type="button" class="btn lighter-hover" value="ADD NEW CHAPTER" ng-click="addNewChapter()">
                </div>
            </div>
        </div>

        <script type="text/ng-template" id="tree_item_renderer.html">
            <div ng-if="isQuestion(item) && !item.isDeleted"
                 class="question item"
                 ng-class="{'selected' : item.itemId == currentItemId}">

                <a class="handler" ui-tree-handle></a>
                <a ui-sref="questionnaire.chapter.question({itemId: item.itemId})">
                    <div class="text">
                        <div class="icon {{answerTypeClass[item.type]}}"></div>
                        <span ng-bind-html="item.title | highlight:search.searchText"></span>
                    </div>
                </a>

                <div class="qname-block">
                    <a ng-if="item.linkedToQuestionId" href="javascript:void(0);" class="linked"></a>
                    <span ng-bind-html="item.variable | highlight:search.searchText"></span>
                    
                    <div class="btn-group dropdown">
                        <a href="javascript:void(0);" ng-click="$event.stopPropagation()" data-toggle="dropdown" class="dropdown-toggle"></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a>Delete</a>
                            </li>
                            <li>
                                <a>Clone</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section item"
                 ng-class="{'selected' : item.itemId == currentItemId}"
                 ng-if="!isQuestion(item) && !item.isDeleted">

                <a class="handler" ui-tree-handle></a>

                <button ng-class="{'btn-expand': collapsed, 'btn-collapse': !collapsed}" data-nodrag ng-click="toggle(this)"></button>
                <a ui-sref="questionnaire.chapter.group({itemId: item.itemId})" ng-bind-html="item.title | highlight:search.searchText"></a>
            </div>

            <div ng-hide="collapsed" class="slide" ui-tree-nodes="item.items" ng-model="item.items">
                <div ng-repeat="item in item.items | filter:searchItem" class="filter-animate" ui-tree-node ng-include="'tree_item_renderer.html'">
                </div>
            </div>

            <div class="buttons-item" ng-if="!isQuestion(item)" ng-class="{hidden: collapsed}">
                <input type="button" class="btn lighter-hover" value="ADD QUESTION" ng-click="addQuestion(item)" />
                <input type="button" class="btn lighter-hover" value="ADD SUBGROUP" ng-click="addGroup(item)" />
                <input type="button" class="btn lighter-hover" value="ADD ROSTER" ng-click="addRoster(item)" />
            </div>
        </script>

        <div class="question-list" ui-tree="groupsTree" data-empty-place-holder-enabled="false">
            <div ui-tree-nodes ng-model="items">
                <div ng-repeat="item in items | filter:searchItem" class="filter-animate" ui-tree-node ng-include="'tree_item_renderer.html'">
                </div>
            </div>

            <div class="start-box" ng-show="currentChapter==undefined || currentChapter.items.length == 0">
                <div class="buttons-item">
                    <input type="button" class="btn lighter-hover" value="ADD QUESTION" ng-click="addQuestion(currentChapter)" />
                    <input type="button" class="btn lighter-hover" value="ADD SUBGROUP" ng-click="addGroup(currentChapter)" />
                    <input type="button" class="btn lighter-hover" value="ADD ROSTER" ng-click="addRoster(currentChapter)" />
                </div>

                <p>This questionnaire is empty.</p>

                <p>
                    You can start by using <button class="btn" disabled>ADD QUESTION</button> and <button class="btn" disabled>ADD GROUP</button> buttons<br />
                    on top of this section or manage chapters with <span class="left-panel-glyph"></span> left panel
                </p>

                <p>
                    Language of survey, device types, collaboration and other options<br />
                    can be found at <button class="btn" disabled>SETTINGS</button> panel (top right corner)
                </p>
            </div>
        </div>
    </div>

    <div class="question-editor col-xs-6" ng-if="activeChapter != undefined" ng-include src="'app/views/chapter.html'" ng-controller="ChapterCtrl">
    </div>

    <div class="question-editor col-xs-6" ng-if="activeRoster != undefined" ng-include src="'app/views/roster.html'" ng-controller="RosterCtrl">
    </div>

    <div class="question-editor col-xs-6" ng-if="activeQuestion != undefined" ng-include src="'app/views/question.html'" ng-controller="QuestionCtrl">
    </div>

</section>

<div id="verification-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="arrow"></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><!--&times;--></button>
            </div>
            <div class="modal-body">
                <div>
                    <div id="verify-popover-content">
                        <div class="question-list">
                            <div ng-repeat="error in verificationStatus.errors">
                                <div class="question item cat-multianswer">
                                    <div class="icon"></div>
                                    {{error.message}}
                                    <div class="qname-block">{{error.code}}</div>
                                </div>
                                <ul class="error-list">
                                    <li ng-repeat="reference in error.references" ng-click="navigateTo(reference.itemId, reference.chapterId)">
                                        <a href="javascript:void(0);">{{reference.title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="moveToChapterSnippet">
    <div class="btn-group dropup">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
            Move to <span class="caret"></span>
        </button>

        <div role="menu" class="chapter-menu dropdown-menu dropdown-menu-right">
            <h1>Move to another chapter:</h1>
            <ul>
                <li ng-repeat="chapter in questionnaire.chapters">
                    <a ng-click="chapter.itemId == currentChapterId || moveToChapter(chapter.itemId)" ng-disabled="chapter.itemId == currentChapterId">
                        {{chapter.title}}<br/>
                        <small>({{chapter.questionsCount}} questions, {{chapter.groupsCount}} groups, {{chapter.rostersCount}} rosters)</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</script>