<div class="form-holder">
    <div data-item-breadcrumbs data-crumbs="activeQuestion.breadcrumbs"></div>

    <form role="form" unsaved-warning-form name="questionForm">
        <div class="row">
            <div class="form-group col-xs-8">
                <div class="btn-group" dropdown>
                    <button id="questionTypeBtn" class="btn btn-default dropdown-toggle form-control" type="button">
                        <i class="icon {{answerTypeClass[activeQuestion.type]}}"></i>
                        <span class="vertical-line"></span>
                        {{activeQuestion.typeName}}
                        <span class="dropdown-arrow"></span>
                    </button>

                    <ul class="dropdown-menu " role="menu" aria-labelledby="questionTypeBtn">
                        <li role="presentation" ng-repeat="type in activeQuestion.questionTypeOptions">
                            <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="setQuestionType(type.value)">
                                <i class="icon {{answerTypeClass[type.value]}}"></i>
                                {{type.text}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group input-variable-name col-xs-3 pull-right">
                <input id="edit-question-variable-name" type="text" ng-model="activeQuestion.variable"
                       class="form-control" placeholder="Set variable">
            </div>
        </div>

        <div class="form-group">
            <input id="edit-variable-label" type="text" ng-model="activeQuestion.variableLabel" class="form-control" placeholder="Variable label">
        </div>

        <div class="form-group">
            <input id="edit-question-title" type="text" ng-model="activeQuestion.title" class="form-control" placeholder="Question text">

            <div class="gray">
                <input id="mandatory-question" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isMandatory" />
                <label for="mandatory-question"><span></span>Mandatory question</label>
            </div>
        </div>

        <div ng-include="activeQuestion.type + '-template.html'" ng-if="activeQuestion.type != undefined">
        </div>

        <div class="form-group" ng-show="!((showInstruction===undefined && initialQuestion.instructions) || showInstruction)">
            <button class="btn btn-lg btn-link" ng-click="showInstruction=true">Add Instruction</button>
        </div>

        <div class="row" ng-show="(showInstruction===undefined && initialQuestion.instructions) || showInstruction">
            <div class="form-group col-xs-11">
                <label for="edit-question-instructions">Instruction <help key="instruction" /></label>
                <textarea id="edit-question-instructions" type="text" ng-model="activeQuestion.instructions" class="form-control"></textarea>
            </div>

            <div class="form-group col-xs-1 pull-right">
                <button class="btn cross instructions-cross" ng-click="showInstruction=false;activeQuestion.instructions='';"></button>
            </div>
        </div>

        <div class="form-group" ng-hide="activeQuestion.questionScope == 'Headquarter'" bs-has-error>
            <label for="edit-question-enablement-condition">Condition expression <help key="conditionExpression" /> <a href="javascript:void(0);">Script reference</a></label>
            <input id="edit-question-enablement-condition"
                   name="enablementCondition"
                   type="text"
                   deny-this-keyword
                   ng-model="activeQuestion.enablementCondition"
                   class="form-control" />
            <p class="help-block ng-cloak" ng-show="questionForm.enablementCondition.$error.denyThisKeyword">
                You cannot use self-reference in conditions
            </p>
        </div>

        <div class="form-group" ng-hide="activeQuestion.type == 'TextList' || activeQuestion.type == 'QRBarcode'">
            <label for="edit-question-validation-expression">Validation expression <help key="validationExpression" /> <a href="javascript:void(0);">Script reference</a></label>
            <input id="edit-question-validation-expression" type="text" ng-model="activeQuestion.validationExpression"
                   class="form-control">
        </div>

        <div class="form-group" ng-hide="activeQuestion.type == 'TextList' || activeQuestion.type == 'QRBarcode'">
            <label for="edit-question-validation-message">Validation message <help key="validationMessage" /></label>
            <input id="edit-question-validation-message" type="text" ng-model="activeQuestion.validationMessage"
                   class="form-control">
        </div>

        <div class="form-group" ng-hide="activeQuestion.type == 'TextList' || activeQuestion.type == 'QRBarcode'">
            <label for="Question-scope">Question scope</label><br>
            <div class="btn-group dropup" dropdown>
                <button class="btn dropdown-toggle" id="Question-scope" type="button">
                    {{ activeQuestion.questionScope }}
                    <span class="dropdown-arrow"></span>
                </button>

                <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1" ng-hide="activeQuestion.type == 'GpsCoordinates'">
                    <li role="presentation" ng-repeat="scope in activeQuestion.allQuestionScopeOptions">
                        <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="changeQuestionScope(scope)">
                            {{scope.text}}
                        </a>
                    </li>
                </ul>
                <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenu1" ng-show="activeQuestion.type == 'GpsCoordinates'">
                    <li role="presentation" ng-repeat="scope in activeQuestion.notPrefilledQuestionScopeOptions">
                        <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="changeQuestionScope(scope)">
                            {{scope.text}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    <script type="text/ng-template" id="SingleOption-template.html">
        <div class="singleOption">
            <div class="table-holder">
                <div class="table-row" ng-repeat="option in activeQuestion.options">
                    <div class="column-1">
                        <div class="backing">
                            <input type="radio" class="form-control wb-radio" disabled />
                            <label><span></span></label>
                        </div>
                    </div>
                    <div class="column-2">
                        <input type="text" ng-model="option.value" class="form-control">
                    </div>
                    <div class="column-3">
                        <input type="text" ng-model="option.title" class="form-control">
                    </div>
                    <div class="column-4">
                        <a href ng:click="removeOption($index)" class="btn"></a>
                    </div>
                </div>
            </div>
            <p>
                <input type="submit" class="btn btn-link" value="Add Option" id="edit-question-save-button" ng-click="addOption()">
            </p>
            <div class="checkbox">
                <input id="cb-is-linked" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isLinked" />
                <label for="cb-is-linked"><span></span>Is linked</label>
            </div>
            <div class="form-group" ng-include="activeQuestion.isLinked ? 'linkTemplate.html' : ''">
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="linkTemplate.html">
        <div id="sourceOfLinkedQuestion" class="dropdown-with-breadcrumbs-and-icons">
            <label for="linkedQuestionSource">Bind to question from roster group</label>
            <div class="btn-group" dropdown>
                <button class="btn dropdown-toggle" id="linkedQuestionSource" type="button">
                    <span class="select-placeholder" ng-if="(activeQuestion.linkedToQuestion.title || '') == ''">Select question</span>
                    <span class="selected-item" ng-if="(activeQuestion.linkedToQuestion.title || '') !== ''">
                        <span class="path">{{activeQuestion.linkedToQuestion.breadcrumbs}}</span>
                        <span class="chosen-item"><i class="dropdown-icon" ng-class="'icon-'+activeQuestion.linkedToQuestion.type"></i>{{activeQuestion.linkedToQuestion.title}}</span>
                    </span>
                    <span class="dropdown-arrow"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" ng-class="{'dropdown-header': breadCrumb.isSectionPlaceHolder}" ng-repeat="breadCrumb in sourceOfLinkedQuestions">
                        <span ng-if="breadCrumb.isSectionPlaceHolder">{{breadCrumb.title}}</span>

                        <a ng-if="!breadCrumb.isSectionPlaceHolder"
                           ng-click="setLinkSource(breadCrumb.id)"
                           role="menuitem"
                           tabindex="-1"
                           href="javascript:void(0);">
                            <i class="dropdown-icon" ng-class="'icon-'+breadCrumb.type"></i> {{breadCrumb.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="MultyOption-template.html">
        <div class="multyOption">
            <div class="table-holder">
                <div class="table-row" ng-repeat="option in activeQuestion.options">
                    <div class="column-1">
                        <div class="backing">
                            <input type="checkbox" class="form-control wb-checkbox" disabled />
                            <label><span></span></label>
                        </div>
                    </div>
                    <div class="column-2">
                        <input type="text" ng-model="option.value" class="form-control">
                    </div>
                    <div class="column-3">
                        <input type="text" ng-model="option.title" class="form-control">
                    </div>
                    <div class="column-4">
                        <a href ng:click="removeOption($index)" class="btn"></a>
                    </div>
                </div>
            </div>
            <p>
                <input type="submit" class="btn btn-link" value="Add Option" id="edit-question-save-button" ng-click="addOption()">
            </p>
            <div class="checkbox">
                <input id="cb-multyoption-is-linked" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isLinked" />
                <label for="cb-multyoption-is-linked"><span></span>Is linked</label>
            </div>
            <div class="form-group" ng-include="activeQuestion.isLinked ? 'linkTemplate.html' : ''">
            </div>
            <div class="form-group">
                <label for="edit-question-max-answers-number">Maximum number of answers</label>
                <input id="edit-question-max-answers-number" type="text" class="form-control">
            </div>
            <div class="checkbox">
                <input id="cb-is-ordered" type="checkbox" class="wb-checkbox" />
                <label for="cb-is-ordered"><span></span>Ordered</label>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="Numeric-template.html">
        <div class="checkbox">
            <div class="checkbox">
                <input id="cb-is-integer" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isInteger" />
                <label for="cb-is-integer"><span></span>Is Integer</label>
            </div>
        </div>
        <div class="form-group" ng-show="activeQuestion.isInteger">
            <label for="edit-question-max-value">Max value</label>
            <input id="edit-question-max-value" type="text" ng-model="activeQuestion.maxValue" class="form-control">
        </div>
        <div class="form-group" ng-show="!activeQuestion.isInteger">
            <label for="edit-question-count-decimal">Count Of Decimal Places</label>
            <input id="edit-question-count-decimal" type="text" ng-model="activeQuestion.countOfDecimalPlaces" class="form-control">
        </div>
    </script>
    <script type="text/ng-template" id="DateTime-template.html">
    </script>
    <script type="text/ng-template" id="Text-template.html">
        <div class="form-group">
            <label for="edit-mask">Mask <help key="mask" /></label>
            <input id="edit-mask" type="text" ng-model="activeQuestion.mask" class="form-control" placeholder="Mask">
        </div>
    
    </script>
    <script type="text/ng-template" id="GpsCoordinates-template.html">
    </script>
    <script type="text/ng-template" id="TextList-template.html">
        <div class="form-group">
            <label for="edit-question-max-answers-number">Maximum number of answers</label>
            <input id="edit-question-max-answers-number" type="text" ng-model="activeQuestion.instructions" class="form-control">
        </div>
    </script>
    <script type="text/ng-template" id="QRBarcode-template.html">
    </script>
</div>
<div class="form-buttons-holder">
    <div class="pull-left">
        <button id="edit-chapter-save-button" class="btn btn-lg btn-primary" ng-click="saveQuestion()" ng-disabled="!questionForm.$valid">Save</button>
        <button id="edit-chapter-cancel-button" class="btn btn-lg btn-link" ng-click="cancelQuestion()">Cancel</button>
    </div>
    <div class="pull-right">
        <button id="edit-chapter-delete-button" class="btn btn-lg btn-link" ng-click="deleteQuestion(activeQuestion)">Delete</button>
        <button id="edit-chapter-clone-button" class="btn btn-lg btn-link" ng-click="cloneQuestion()">Clone</button>
        <ng-include src="'moveToChapterSnippet'" />
    </div>
</div>