<div class="form-holder">
    <div class="breadcrumbs">
        <ul>
            <li ng-repeat="breadcrumb in activeQuestion.breadcrumbs">
                <a ng-href="{{breadcrumb.id}}">{{breadcrumb.title}}</a>
            </li>
        </ul>
    </div>

    <form role="form">
        <div class="row">
            <div class="form-group col-xs-8">
                <select id="edit-question-type" class="form-control" ng-model="activeQuestion.type"
                        ng-options="scope.value as scope.text for scope in activeQuestion.questionTypeOptions"></select>
            </div>

            <div class="form-group col-xs-3 pull-right">
                <input id="edit-question-variable-name" type="text" ng-model="activeQuestion.variable"
                       class="form-control" placeholder="Set variable">
            </div>
        </div>

        <div class="form-group">
            <input id="edit-question-title" type="text" ng-model="activeQuestion.title" class="form-control" placeholder="Question text">

            <div class="has-pretty-child gray">
                <input type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isMandatory" data-label="Mandatory question" />
            </div>
        </div>
        <div class="form-group">
            <input id="edit-variable-label" type="text" ng-model="activeQuestion.variableLabel" class="form-control" placeholder="Variable label"></div>

        <div ng-include="activeQuestion.type + '-template.html'" ng-if="activeQuestion.type != undefined">
        </div>

        <div class="form-group" ng-show="activeQuestion.instructions == null">
                <button class="btn btn-lg btn-link" ng-click="showInstruction=true">Add Instruction</button>
            </div>

        <div class="row" ng-show="showInstruction || activeQuestion.instructions != null">
                <div class="form-group col-xs-11">
                <input id="edit-question-instructions" type="text" ng-model="activeQuestion.instructions" class="form-control" placeholder="Instruction">
                </div>

                <div class="form-group col-xs-1 pull-right">
                <button class="btn" ng-click="showInstruction=false;activeQuestion.instructions=null;">X</button>
                </div>
            </div>

            <div class="form-group">
                <label for="edit-question-enablement-condition">Condition expression (<a href="#">?</a>) <a href="#">Script reference</a></label>
                <input id="edit-question-enablement-condition" type="text" ng-model="activeQuestion.enablementCondition"
                       class="form-control">
            </div>

        <div class="form-group" ng-hide="activeQuestion.type == 'TextList' || activeQuestion.type == 'QRBarcode'">
                <label for="edit-question-validation-expression">Validation expression (<a href="#">?</a>) <a href="#">Script reference</a></label>
                <input id="edit-question-validation-expression" type="text" ng-model="activeQuestion.validationExpression"
                       class="form-control">
            </div>

        <div class="form-group" ng-hide="activeQuestion.type == 'TextList' || activeQuestion.type == 'QRBarcode'">
                <label for="edit-question-validation-message">Validation message (<a href="#">?</a>)</label>
                <input id="edit-question-validation-message" type="text" ng-model="activeQuestion.validationMessage"
                   class="form-control">
        </div>

            <div class="form-group">
                <label for="edit-question-scope">Question scope</label>
                <select for="edit-question-scope" ng-model="activeQuestion.questionScope"
                        ng-options="scope.value as scope.text for scope in activeQuestion.questionScopeOptions "
                    class="form-control"></select>
            </div>
</form>

    <script type="text/ng-template" id="SingleOption-template.html">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isLinked">
                Is linked
            </label>
        </div>
        <div ng-repeat="option in activeQuestion.options">
            <div class="form-group">
                <div class="col-xs-4">
                    <input type="text" ng-model="option.value" class="form-control">
                </div>
                <div class="col-xs-7">
                    <input type="text" ng-model="option.title" class="form-control">
                </div>
                <div class="col-xs-1">
                    <a href ng:click="removeOption($index)" class="btn">X</a>
                </div>
            </div>
        </div>
        <p>
            <input type="submit" value="Add Option" id="edit-question-save-button" ng-click="addOption()">
        </p>
    </script>
    <script type="text/ng-template" id="MultyOption-template.html">
        <div class="checkbox">
            <label>
                <input type="checkbox" class="wb-checkbox">
                Ordered
            </label>
        </div>
        <div class="form-group">
            <label for="edit-question-max-answers-number">Maximum number of answers</label>
            <input id="edit-question-max-answers-number" type="text" class="form-control">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isLinked">
                Is linked
            </label>
        </div>
        <div ng-repeat="option in activeQuestion.options">
            <div class="form-group">
                <div class="col-xs-4">
                    <input type="text" ng-model="option.value" class="form-control">
                </div>
                <div class="col-xs-7">
                    <input type="text" ng-model="option.title" class="form-control">
                </div>
                <div class="col-xs-1">
                    <a href ng:click="removeOption($index)" class="btn">X</a>
                </div>
            </div>
        </div>
        <p>
            <input type="submit" value="Add Option" id="edit-question-save-button" ng-click="addOption()">
        </p>
    </script>
    <script type="text/ng-template" id="Numeric-template.html">
        <div class="form-group">
            <div class="btn-group">
                <button type="button" class="btn btn-default">Integer</button>
                <button type="button" class="btn btn-default">Real</button>
            </div>
        </div>
        <div class="form-group">
            <label for="edit-question-max-value">Max value</label>
            <input id="edit-question-max-value" type="text" ng-model="activeQuestion.instructions" class="form-control">
        </div>
    </script>
    <script type="text/ng-template" id="DateTime-template.html">
    </script>
    <script type="text/ng-template" id="Text-template.html">
    </script>
    <script type="text/ng-template" id="GpsCoordinates-template.html">
    </script>
    <script type="text/ng-template" id="TextList-template.html">
        <div class="form-group">
            <label for="edit-question-max-answers-number">Maximum number of answers</label>
            <input id="edit-question-max-answers-number" type="text" ng-model="activeQuestion.instructions" class="form-control">
        </div>
    </script>
    <script type="text/ng-template" id="QRBarcode-template.html">
    </script>
</div>

<div class="form-buttons-holder">
    <div class="pull-left">
        <button cid="edit-chapter-save-button" class="btn btn-lg btn-primary" ng-click="saveQuestion()">Save</button>
        <button id="edit-chapter-cancel-button" class="btn btn-lg btn-link" ng-click="resetQuestion()">Cancel</button>
    </div>
    <div class="pull-right">
        <button id="edit-chapter-delete-button" class="btn btn-lg btn-link" ng-click="deleteQuestion()">Delete</button>
        <button id="edit-chapter-clone-button" class="btn btn-lg btn-link" ng-click="cloneQuestion()">Clone</button>
        <ng-include src="'moveToChapterSnippet'" />
    </div>
</div>

<script lang="text/javascript">
    /* this block is needed for prettyCheckable initialization, should be called after DOM update */
    $(function () {
        $.each($('input.wb-checkbox'), function (i, el) {
            $(el).prettyCheckable();
        });
    });
</script>