<div class="form-holder">
    <div class="breadcrumbs">
        <ul>
            <li ng-repeat="breadcrumb in activeQuestion.breadcrumbs"><a
                    ng-href="{{breadcrumb.id}}">{{breadcrumb.title}}</a></li>
        </ul>
    </div>

    <form role="form">
        <h3>Question</h3>

        <div class="form-group">
            <label for="edit-question-title">Question Title</label>
            <input id="edit-question-title" type="text" ng-model="activeQuestion.title" class="form-control">
        </div>


        <div class="form-group">
            <label for="edit-question-variable-name">Variable name</label>
            <input id="edit-question-variable-name" type="text" ng-model="activeQuestion.variableName"
                   class="form-control">
        </div>

        <div class="form-group">
            <label for="edit-question-type">Type</label>
            <select id="edit-question-type" class="form-control" ng-model="activeQuestion.type"
                    ng-options="scope.value as scope.text for scope in activeQuestion.questionTypeOptions"></select>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="activeQuestion.isPreFilled">
                fre-filled question
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="activeQuestion.isMandatory">
                mandatory question
            </label>
        </div>
        <div ng-include="activeQuestion.type + '-template.html'">
        </div>

        <div class="form-group">
            <label for="edit-question-validation-expression">Validation expression</label>
            <input id="edit-question-validation-expression" type="text" ng-model="activeQuestion.validationExpression"
                   class="form-control">
        </div>

        <div class="form-group">
            <label for="edit-question-validation-message">Validation expression</label>
            <input id="edit-question-validation-message" type="text" ng-model="activeQuestion.validationMessage"
                   class="form-control">
        </div>
        <div class="form-group">
            <label for="edit-question-enablement-condition">Enablement cndition</label>
            <input id="edit-question-enablement-condition" type="text" ng-model="activeQuestion.enablementCondition"
                   class="form-control">
        </div>
        <div class="form-group">
            <label for="edit-question-scope">Question scope</label>
            <select for="edit-question-scope" ng-model="activeQuestion.questionScope"
                    ng-options="scope.value as scope.text for scope in activeQuestion.questionScopeOptions "
                    class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="edit-question-instructions">Instructions</label>
            <input id="edit-question-instructions" type="text" ng-model="activeQuestion.instructions"
                   class="form-control">
        </div>
        <!--<div class="form-buttons-holder">
            <div class="pull-left">
                <input id="edit-question-save-button" class="btn-lg btn-primary" type="submit" value="Save"
                       ng-click="saveQuestion()">
                <input id="edit-question-cancel-button" class="btn-lg btn-primary btn-transbg" type="submit"
                       value="Cancel" ng-click="cancel()">
            </div>
            <div class="pull-right">
            </div>
        </div>-->
    </form>

    <script type="text/ng-template" id="SingleOption-template.html">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="activeQuestion.isLinked">
                Is linked
            </label>
        </div>
        <div ng-repeat="option in activeQuestion.options">
            <div class="form-group">
                <div class="col-xs-4">
                    <input type="text" ng-model="option.value" class="form-control">
                </div>
                <div class="col-xs-8">
                    <input type="text" ng-model="option.title" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4">
                <input type="text" ng-model="optionValue" class="form-control">
            </div>
            <div class="col-xs-8">
                <input type="text" ng-model="optionTitle" class="form-control">
            </div>
        </div>
        <p>
            <input type="submit" value="Add Option" id="edit-question-save-button" ng-click="addOption()">
        </p>
    </script>
    <script type="text/ng-template" id="MultyOption-template.html">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="activeQuestion.isLinked">
                Is linked
            </label>
        </div>
    </script>
    <script type="text/ng-template" id="Numeric-template.html">
        <p>Hello, im Numeric</p>
    </script>
    <script type="text/ng-template" id="DateTime-template.html">
    </script>
    <script type="text/ng-template" id="Text-template.html">
    </script>
    <script type="text/ng-template" id="GpsCoordinates-template.html">
    </script>
    <script type="text/ng-template" id="TextList-template.html">
        <p>Hello, im TextList</p>
    </script>
    <script type="text/ng-template" id="QRBarcode-template.html">
    </script>
</div>

<div class="form-buttons-holder">
    <div class="pull-left">
        <button id="edit-chapter-save-button" class="btn btn-lg btn-primary" ng-click="saveChapter()">Save</button>
        <button id="edit-chapter-cancel-button" class="btn btn-lg btn-link" ng-click="cancel()">Cancel</button>
    </div>
</div>
