<div class="form-holder">
    <div data-item-breadcrumbs data-crumbs="activeRoster.breadcrumbs"></div>

    <form role="form" id="roster-editor" name="editRosterForm" unsaved-warning-form>
        <div class="row">
            <div class="form-group col-xs-8">
                <label for="edit-group-title" class="wb-label">Roster Type <help key="rosterType" /></label><br>
                <div class="btn-group" dropdown>
                    <button id="rosterTypeBtn" class="btn btn-default dropdown-toggle form-control" type="button">
                        {{activeRoster.getTitleForRosterType()}}
                        <span class="dropdown-arrow"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="rosterTypeBtn">
                        <li role="presentation" ng-repeat="type in activeRoster.rosterTypeOptions">
                            <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="updateRosterType(type.value)">{{type.text}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group input-variable-name col-xs-3 pull-right">
                <label for="edit-group-variableName" class="wb-label">Variable name <help key="variableName" /></label><br>
                <input id="edit-group-variableName" type="text" class="wb-input bg-white width-auto" ng-model="activeRoster.variableName">
            </div>
        </div>

        <div class="form-group">
            <label for="edit-group-title" class="wb-label">Title <help key="title" /></label><br>
            <input id="edit-group-title" type="text" class="wb-input bg-white width-auto" ng-model="activeRoster.title">
            
            <div class="roster-type-specific-block" ng-include="activeRoster.type + '-template.html'" ng-if="activeRoster.type != undefined">
            </div>

        </div>

       
        <div class="form-group">
            <label for="edit-group-description" class="wb-label">Description <help key="description" /></label><br>
            <input id="edit-group-description" type="text" class="wb-input bg-white width-auto" ng-model="activeRoster.description">
        </div>

        <div class="form-group" bs-has-error>
            <label for="edit-group-condition" class="wb-label">Condition expression <help key="conditionExpression" /></label><br>
            <input name="enablementCondition"
                   id="edit-group-condition"
                   type="text"
                   class="wb-input form-control width-auto" 
                   ng-model="activeRoster.enablementCondition" 
                   deny-this-keyword />
            <p class="help-block ng-cloak" ng-show="editRosterForm.enablementCondition.$error.denyThisKeyword">
                You cannot use self-reference in conditions
            </p>
        </div>
    </form>
</div>

<div class="form-buttons-holder">
    <div class="pull-left">
        <button id="edit-roster-save-button" class="btn btn-lg btn-primary" ng-click="saveRoster()" ng-disabled="!editRosterForm.$valid">Save</button>
        <button id="edit-chapter-cancel-button" class="btn btn-lg btn-link" ng-click="cancelRoster()">Cancel</button>
    </div>
    <div class="pull-right">
        <button id="edit-chapter-delete-button" class="btn btn-lg btn-link" ng-click="deleteRoster()">Delete</button>
        <button id="edit-chapter-clone-button" class="btn btn-lg btn-link" ng-click="cloneGroup()">Clone</button>
        <ng-include src="'moveToChapterSnippet'" />
    </div>
</div>

<script type="text/ng-template" id="List-template.html">
    <div class="form-group span-12">
        <label for="edit-roster-numeric-source" class="wb-label">Source question (answer generates number of rows): <help key="sourceQuestion" /></label><br>
        <div class="btn-group width100" dropdown>
            <button id="edit-roster-numeric-source" class="btn dropdown-toggle" type="button">
                <span class="edit-roster">{{ getSelected(activeRoster.lists, activeRoster.rosterSizeListQuestionId) }}</span>
                <span class="dropdown-arrow"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="edit-roster-numeric-source">
                <li role="presentation" ng-repeat="list in activeRoster.lists">
                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="activeRoster.rosterSizeListQuestionId = list.id">{{ list.title }}</a>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="Numeric-template.html">
    <div class="form-group">
        <label for="edit-roster-numeric-source" class="wb-label">Source question (answer generates number of rows): <help key="sourceQuestion" /></label><br>
        <div class="btn-group width100" dropdown>
            <button id="questionSelectBtn" class="btn dropdown-toggle" type="button">
                <span class="edit-roster">{{ getSelected(activeRoster.numerics, activeRoster.rosterSizeNumericQuestionId) }}</span>
                <span class="dropdown-arrow"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="edit-roster-numeric-source">
                <li role="presentation" ng-repeat="numeric in activeRoster.numerics">
                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="activeRoster.rosterSizeNumericQuestionId = numeric.id">{{ numeric.title }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="edit-roster-numeric-source" class="wb-label">Titles of rows: <help key="titleQuestion" /></label><br>
        <div class="btn-group width100" dropdown>
            <button id="questionSelectBtn" class="btn dropdown-toggle" type="button">
                <span class="edit-roster">{{ getSelected(activeRoster.titles, activeRoster.rosterTitleQuestionId) }}</span>
                <span class="dropdown-arrow"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="edit-roster-numeric-source">
                <li role="presentation" ng-repeat="title in activeRoster.titles">
                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="activeRoster.rosterTitleQuestionId = title.id">{{ title.title }}</a>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="Fixed-template.html">
    <div class="form-group">
        <label for="edit-fixed-roster-title" class="wb-label">Fixed roster titles: <help key="fixedTitles" /></label>
        <textarea id="edit-fixed-roster-title" class="form-control" rows="5" cols="100" split-array ng-model="activeRoster.rosterFixedTitles"></textarea>
    </div>
</script>

<script type="text/ng-template" id="Multi-template.html">
    <div class="form-group">
        <label for="edit-roster-numeric-source" class="wb-label">Source question (answer generates number of rows): <help key="sourceQuestion" /></label><br>
        <div class="btn-group width100" dropdown>
            <button id="questionSelectBtn" class="btn dropdown-toggle" type="button">
                <span class="edit-roster">{{ getSelected(activeRoster.multiOption, activeRoster.rosterSizeMultiQuestionId) }}</span>
                <span class="dropdown-arrow"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="edit-roster-numeric-source">
                <li role="presentation" ng-repeat="multiOption in activeRoster.multiOption">
                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="activeRoster.rosterSizeMultiQuestionId = multiOption.id">
                        {{ multiOption.title }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</script>