<div class="form-holder">
    <div data-item-breadcrumbs data-crumbs="activeRoster.breadcrumbs"></div>

    <form role="form" name="editRosterForm">
        <div class="form-group">
            <div class="btn-group" dropdown>
                <button id="questionTypeBtn" class="btn dropdown-toggle" type="button">
                    {{rosterTypes[activeRoster.rosterTemplate]}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" ng-repeat="type in rosterTypes">
                        <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="updateRosterType(type)">{{ type }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="edit-group-title" class="wb-label">Title<span>(<a>?</a>)</span></label><br>
            <input id="edit-group-title" type="text" class="wb-input bg-white width-auto" ng-model="activeRoster.title">
        </div>

        <div ng-include="activeRoster.rosterTemplate" ng-if="activeRoster.rosterSizeSourceType != undefined">
        </div>

        <div class="form-group">
            <label for="edit-group-description" class="wb-label">Description <span>(<a>?</a>)</span></label><br>
            <input id="edit-group-description" type="text" class="wb-input bg-white width-auto" ng-model="activeRoster.description">
        </div>

        <div class="form-group">
            <label for="edit-group-condition" class="wb-label">Condition expression <span>(<a>?</a>)</span></label><br>
            <input id="edit-group-condition" type="text" class="wb-input bg-white width-auto" ng-model="activeRoster.enablementCondition">
        </div>

    </form>
</div>

<div class="form-buttons-holder">
    <div class="pull-left">
        <button id="edit-roster-save-button" class="btn btn-lg btn-primary" ng-click="saveRoster()">Save</button>
        <button id="edit-chapter-cancel-button" class="btn btn-lg btn-link" ng-click="resetRoster()">Cancel</button>
    </div>
    <div class="pull-right">
        <button id="edit-chapter-delete-button" class="btn btn-lg btn-link" ng-click="deleteRoster()">Delete</button>
        <button id="edit-chapter-clone-button" class="btn btn-lg btn-link" ng-click="cloneGroup()">Clone</button>
    </div>
</div>

<script type="text/ng-template" id="List-template.html">
    <div class="form-group">
        <label for="edit-roster-numeric-source" class="wb-label">Source question (answer generates number of rows): <span>(<a>?</a>)</span></label><br>
        <div class="btn-group" dropdown>
            <button id="questionTypeBtn" class="btn dropdown-toggle" type="button">
                {{ getSelected(activeRoster.lists, activeRoster.rosterSizeQuestionId) }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-repeat="list in activeRoster.lists">
                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="activeRoster.rosterSizeQuestionId = list.id">{{ list.title }}</a>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="Numeric-template.html">
    <div class="form-group">
        <label for="edit-roster-numeric-source" class="wb-label">Source question (answer generates number of rows): <span>(<a>?</a>)</span></label><br>
        <div class="btn-group" dropdown>
            <button id="questionTypeBtn" class="btn dropdown-toggle" type="button">
                {{ getSelected(activeRoster.numerics, activeRoster.rosterSizeQuestionId) }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-repeat="numeric in activeRoster.numerics">
                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="activeRoster.rosterSizeQuestionId = numeric.id">{{ numeric.title }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="edit-roster-numeric-source" class="wb-label">Source question (answer generates number of rows): <span>(<a>?</a>)</span></label><br>
        <div class="btn-group" dropdown>
            <button id="questionTypeBtn" class="btn dropdown-toggle" type="button">
                {{ getSelected(activeRoster.multiOption, activeRoster.rosterTitleQuestionId) }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-repeat="multiOption in activeRoster.multiOption">
                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="activeRoster.rosterTitleQuestionId = multiOption.id">
                        {{ multiOption.title }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/ng-template" id="FixedTitles-template.html">
    <div class="form-group">
        <label for="edit-fixed-roster-title" class="wb-label">Fixed roster titles: <span>(<a>?</a>)</span></label>
        <textarea id="edit-fixed-roster-title" rows="5" cols="100" split-array ng-model="activeRoster.rosterFixedTitles"></textarea>
    </div>
</script>