<div class="modal-header blue-strip">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()"><!--&times;--></button>
    <h1>Share this questionnaire</h1>
    <h2>
        {{questionnaire.title}}
        <small>({{questionnaire.questionsCount}}Q, {{questionnaire.groupsCount}}G, {{questionnaire.rostersCount}}R)</small>
    </h2>
</div>

<div class="modal-body">
    <div class="container">
        <div class="row">
            <h3>Who has access:</h3>
            <ul class="accounts">
                <li ng-repeat="s in questionnaire.sharedPersons">
                    <a href="mailto:{{s.email}}">{{s.email}}</a> - <div class="btn-group">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            Can edit <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="revokeAccess(s)">Revoke access</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

            <button class="btn btn-link" ng-click="togglePublicity()">MAKE THIS QUESTIONNAIRE {{questionnaire.isPublic ? 'PRIVATE' : 'PUBLIC'}}</button>
            <span>({{questionnaire.isPublic ? 'visible to you only' : 'visible to everyone'}})</span>
        </div>
        <form role="form" class="form-horizontal row" name="viewModel.shareForm" novalidate>
            <h3>Invite collaborators by e-mail:</h3>
            <div class="form-group" bs-has-error>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Email to share with" name="shareWithInput" ng-model="viewModel.shareWith" />
                    <a href="javascript:void(0);">Can edit and share</a>
                    <p class="help-block" ng-hide="viewModel.shareForm.shareWithInput.$valid">
                        Provide email of existing user
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <button class="btn btn-primary btn-lg" ng-click="invite()">Invite</button>
                </div>
            </div>
        </form>
    </div>
</div>