<div class="questionnaire-tree-holder col-xs-6">
    <div class="chapter-title" ng-switch on="filtersBoxMode" ui-sref-active="selected"
         ui-sref="questionnaire.chapter.group({ chapterId: currentChapter.itemId, itemId: currentChapter.itemId})">
        <div ng-click="$event.stopPropagation()" class="search-box" ng-switch-when="search">
            <div class="input-group">
                <input type="text" ng-model="search.searchText" ng-model-options="{debounce: 300}" focus-on-out="focusSearch" hotkey="{esc: hideSearch}" hotkey-allow-in="INPUT" />
                <span class="input-group-addon glyphicon glyphicon-search" title="Search"></span>
            </div>
            <button ng-click="hideSearch();$event.stopPropagation()" title="Cancel search" type="button"></button>
        </div>

        <div ng-switch-when="default">
            <a id="group-{{currentChapter.itemId}}" class="chapter-title-text" ui-sref="questionnaire.chapter.group({ chapterId: currentChapter.itemId, itemId: currentChapter.itemId})">
                <span ng-bind-html="currentChapter.title "></span>
            </a>
            <ul class="controls-right">
                <li>
                    <a href="javascript:void(0);" ng-click="showSearch();$event.stopPropagation()" class="search" title="Toggle Search"></a>
                </li>
            </ul>
        </div>
    </div>
    <perfect-scrollbar class="scroller">
        <div class="question-list" ui-tree="groupsTree" data-empty-place-holder-enabled="false">

            <div ui-tree-nodes ng-model="items">
                <div ng-repeat="item in items | filter:searchItem as results"
                     ui-tree-node>
                    <ng-include src="itemTemplate(item.itemType)"></ng-include>
                </div>
                <div class="section item" ng-if="filtersBoxMode == 'search' && results.length === 0">
                    <div class="item-text">
                        <span>Nothing found</span>
                    </div>
                </div>
                <div class="chapter-level-buttons" ng-show="!search.searchText">
                    <input type="button" class="btn lighter-hover" value="ADD QUESTION" ng-click="addQuestion(currentChapter)" />
                    <input type="button" class="btn lighter-hover" value="ADD SUBGROUP" ng-click="addGroup(currentChapter)" />
                    <input type="button" class="btn lighter-hover" value="ADD ROSTER" ng-click="addRoster(currentChapter)" />
                    <input type="button" class="btn lighter-hover" value="ADD STATIC TEXT" ng-click="addStaticText(currentChapter)" />
                </div>
            </div>

            <div class="start-box" ng-if="showStartScreen()">

                <p>This chapter is empty.</p>

                <p>
                    You can start by using <button class="btn" disabled type="button">ADD QUESTION</button> and <button type="button" class="btn" disabled>ADD GROUP</button> buttons<br />
                    on top of this section or manage chapters with <span class="left-panel-glyph"></span> left panel
                </p>

                <p>
                    Language of survey, device types, collaboration and other options<br />
                    can be found at <button class="btn" type="button" disabled>SETTINGS</button> panel (top right corner)
                </p>
            </div>
        </div>
    </perfect-scrollbar>
</div>

<div class="question-editor col-xs-6" ui-view></div>

