<div class="question item question" ui-sref-active="selected" ng-class="{highlight : item.itemId === highlightedId}" context-menu data-target="context-menu-{{ item.itemId }}"
     context-menu-hide-on-mouse-leave="true">
    <span class="cursor"></span>
    <a class="handler" ui-tree-handle></a>
    <a class="item-body" id="{{item.itemId}}" ui-sref="questionnaire.chapter.question({itemId: item.itemId})">
        <div class="item-text">
            <div class="icon {{answerTypeClass[item.type]}}"></div>
            <span ng-bind-html="item.title | escape | highlight:search.searchText"></span>
        </div>
        <span class="qname-block">
            <span ng-bind-html="item.variable | escape | highlight:search.searchText"></span>
        </span>
    </a>
    <div class="dropdown position-fixed" id="context-menu-{{ item.itemId }}">
        <ul class="dropdown-menu" role="menu">
            <li>
                <a ng-click="deleteQuestion(item)">Delete</a>
            </li>
            <li>
                <a ng-click="cloneQuestion(item.itemId)">Clone</a>
            </li>
            <li>
                <a ng-click="addQuestionAfter(item)">Add question after</a>
            </li>
            <li>
                <a ng-click="addRosterAfter(item)">Add roster after</a>
            </li>
            <li>
                <a ng-click="addGroupAfter(item)">Add group after</a>
            </li>
            <li>
                <a ng-click="addStaticTextAfter(item)">Add static text after</a>
            </li>
        </ul>
    </div>
</div>