<div class="question item question" ui-sref-active="selected">
    <a class="handler" ui-tree-handle></a>
    <a class="item-body" ui-sref="questionnaire.chapter.question({itemId: item.itemId})">
        <div class="item-text">
            <div class="icon {{answerTypeClass[item.type]}}"></div>
            <span ng-bind-html="item.title | escape | highlight:search.searchText"></span>
        </div>
        <span class="qname-block">
            <span ng-bind-html="item.variable | escape | highlight:search.searchText"></span>
            <!--<div class="btn-group dropdown">
            <a href="javascript:void(0);" ng-click="$event.stopPropagation()" data-toggle="dropdown" class="dropdown-toggle"></a>
            <ul class="dropdown-menu">
                <li>
                    <a ng-click="deleteQuestion(item)">Delete</a>
                </li>
                <li>
                    <a ng-click="cloneQuestion(item.itemId)">Clone</a>
                </li>
            </ul>
        </div>-->
        </span>
    </a>
</div>