<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HQ Login</title>
    <link rel='icon' sizes='192x192' href='img/identity/favicon-hq-192x192.png'>
    <link rel='apple-touch-icon-precomposed' sizes='180x180' href='img/identity/favicon-hq-180x180.png'>
    <link rel='apple-touch-icon-precomposed' sizes='152x152' href='img/identity/favicon-hq-152x152.png'>
    <link rel='apple-touch-icon-precomposed' sizes='144x144' href='img/identity/favicon-hq-144x144.png'>
    <link rel='apple-touch-icon-precomposed' sizes='120x120' href='img/identity/favicon-hq-120x120.png'>
    <link rel='apple-touch-icon-precomposed' sizes='114x114' href='img/identity/favicon-hq-114x114.png'>
    <link rel='apple-touch-icon-precomposed' sizes='76x76' href='img/identity/favicon-hq-76x76.png'>
    <link rel='apple-touch-icon-precomposed' sizes='72x72' href='img/identity/favicon-hq-72x72.png'>
    <link rel='apple-touch-icon-precomposed' href='img/identity/favicon-hq.png'>

    <!-- inject:css -->
    <link rel="stylesheet" href="../../Dependencies/dist/markup-6b2fb8a3c0.min.css">
    <!-- endinject -->

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
          $("#hide").click(function(){
              $("div.form-error").hide();
          });
          $("#show").click(function(){
              $("div.form-error").show();
          });
      });
    </script>
</head>
<body>
    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top" role="navigation">
                <div class="container-fluid ">
                    <div class="row flex-row">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                            <div class="centered-box-table">
                                <div class="centered-box-table-cell">
                                    <a class="brand" href="http://www.worldbank.org">
                                        <div class="retina-world-bank">World Bank Group</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-lg-offset-9 col-md-1 col-md-offset-8 col-sm-2 col-sm-offset-6 col-xs-4 col-xs-offset-2">
                            <div class="centered-box-table">
                                <div class="centered-box-table-cell">
                                    <a href="#" title="Help" class="help">Help</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row two-columns-form">
                <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12 left-column">
                    <div class="centered-box-table">
                        <div class="centered-box-table-cell">
                            <form action="#" id="log-in" class="log-in">
                                <div class="retina headquarter">Survey Solutions Headquarters</div>
                                <div class="form-error">
                                    <p>
                                        User is not authorized. <br />
                                        Please check your login and password.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Login" type="text" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" type="password" />
                                </div>
                                <div class="form-group">
                                    <input class="wb-checkbox" id="stay-logged-in" type="checkbox" />
                                    <label for="stay-logged-in">
                                        <span class="tick"></span>Stay logged in
                                    </label>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success btn-lg">Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 right-column">
                    <div class="centered-box-table">
                        <div class="centered-box-table-cell">
                            <a href="#">
                                <div id="placeholder">Company Name</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container-fluid">
            <div class="text-left">
                &copy; 2016 <a href="http://www.worldbankgroup.org">The World Bank Group</a>, All Rights Reserved. <a href="http://go.worldbank.org/OS6V7NIUD0">Legal</a>.
            </div>
            <div class="text-left">
                5.12.0 (build 13156)
                <span>|</span>
                <a href="/api/InterviewerSync/GetLatestVersion">Get Interviewer App</a>
            </div>
        </div>
        <button id="hide">Hide error message</button>
        <button id="show">Show error message</button>
    </footer>
</body>
</html>