<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" package="CAPI.Android" android:versionCode="101" android:versionName="1.0.1">
	<application android:label="CAPI" android:theme="@android:style/Theme.DeviceDefault.Light" android:largeHeap="true"></application>
	<uses-sdk android:targetSdkVersion="14" />
</manifest>