<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="AndroidApp.AndroidApp">
  <uses-sdk android:targetSdkVersion="14" />
  <application android:label="CAPI" android:icon="@drawable/capi" android:theme="@android:style/Theme.DeviceDefault.Light">
  </application>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.INTERNET" />
</manifest>