
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Vertical
@model CompleteQuestionnaireViewV
@{
    ViewBag.AjaxOptions = new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = Model.CurrentGroup.GetClientId("div"),
        OnBegin = "ShowOverlay",
        OnComplete = "HideOverlay",
        OnFailure = "HideOverlay"
    };
    ViewBag.CurrentGroupPublicKey = Model.CurrentGroup.PublicKey;
    ViewBag.QuestionnaireId = Model.Id;
}

<script src="../../Scripts/screen/screeniv.js" type="text/javascript"> </script>
<div class="subnav">
    <div class="row-fluid">
        <div class="span9">
            <h3>@Model.CurrentGroup.GroupText</h3>
        </div>
        <div class="span3 progress-container">
            @Html.Partial("ProgressBar", Model.Totals)
        </div>
    </div>
</div>
@Html.Partial("~/Views/Group/GroupTemplates/_CompleteGroup.cshtml", Model.CurrentGroup)
@Html.Partial("GroupNavigation", Model)

