@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Group
@using RavenQuestionnaire.Core.Views.Question
@model CompleteGroupView
<div>
    @foreach (var question in Model.Questions)
    {
        using (Html.BeginForm("SaveSingleResult", "CompleteQuestionnaire"))
        {
            Html.RenderPartial("~/Views/Question/_TakeRow.cshtml", question);   
        @Html.HiddenFor(model => Model.PublicKey)
        @Html.Hidden("id", Model.QuestionnaireId)
        }
    }
</div>
