@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Mobile
@model CompleteGroupMobileView
@{
    var questionKey = (Guid)ViewBag.CurrentQuestion;
    this.ViewBag.CurrentQuestion = questionKey;
}
<div id="scroller">
@Html.Partial("~/Views/Group/Mobile/_CompleteGroup.cshtml", Model)
</div>

