@using RavenQuestionnaire.Core.Views.Status.SubView
@model  StatusByRole
<tr>
    <td>
        @Html.DisplayTextFor(model => model.Status.Title)
        
    </td>
    @Html.HiddenFor(model => model.Status.PublicKey)
    @Html.HiddenFor(model => model.Status.Title) 

    @Html.EditorFor(model => model.StatusRestriction) 
    </tr>
