@model string

@{
    ViewBag.Title = "Maintenance";
}

<h2>Rebooting...</h2>

<br/>

<h4>
    The application is now rebooting and this may take up to 10 minutes (in some specific cases a bit more).<br/>
    Sorry for the inconvenience. Please try again in a few minutes.
</h4>

<br/>

<div class="text-center">
    <a href="@(this.Model ?? "/")" class="btn btn-large btn-primary">Try Again</a>
</div>