@model WB.UI.Headquarters.Controllers.SetupModel
@{
    ViewBag.Title = WebInterviewSetup.WebInterviewSetup_Title;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}

@Html.RenderHqConfig(Model)
<div id="vueApp"></div>