<div class="row">
    <div class="col-md-6">
        <div class="checkbox-in-column">
            <input id="cb-is-timestamp" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isTimestamp" />
            <label for="cb-is-timestamp"><span></span>{{'QuestionCurrentTime' | i18next}}</label>
            <help key="isTimestamp"></help>
        </div>
    </div>
        <div class="col-md-5 ng-scope inline-inputs" ng-if="!activeQuestion.isTimestamp">
            <div class="form-group checkbox checkbox-in-column">
                <label for="dt-default-date">{{'QuestionDefaultDate' | i18next}}</label>
                <input id="dt-default-date" type="text" jqdatepicker ng-model="activeQuestion.defaultDate" class="form-control small-date-input" />
                <help key="defaultDate"></help>
            </div>
        </div>
    </div>
