<div class="row" ng-if="!activeQuestion.isFilteredCombobox && !activeQuestion.isLinked && !activeQuestion.isLinkedToReusableCategories">
    <div class="col-xs-12">
        <div class="well well-sm" ng-if="activeQuestion.wereOptionsTruncated" ng-i18next="({count: 200})QuestionOptionsCut"></div>
        <ng-include src="'views/question-details/OptionsEditor-template.html'"></ng-include>
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <label class="wb-label" for="cb-categorical-kind" ng-i18next="QuestionDisplayMode"></label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown-with-breadcrumbs-and-icons">
            <div class="btn-group" uib-dropdown>
                <button class="btn dropdown-toggle" id="cb-categorical-kind" uib-dropdown-toggle type="button">
                    {{ getCategoricalKind().text }}
                    <span class="dropdown-arrow"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" ng-repeat="kind in activeQuestion.categoricalMultiKinds">
                        <a role="menuitem" tabindex="-1" ng-click="changeCategoricalKind(kind)">
                            {{kind.text}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <label class="wb-label" for="cb-categories-type" ng-i18next="SourceOfCategories"></label>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown-with-breadcrumbs-and-icons">
            <div class="btn-group" uib-dropdown>
                <button class="btn dropdown-toggle" id="cb-categorical-type" uib-dropdown-toggle type="button">
                    {{ getSourceOfCategories() }}
                    <span class="dropdown-arrow"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" ng-i18next="UserDefinedCategories" ng-click="setUserDefinedCategories()"></a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" ng-i18next="ReusableCategories" ng-click="setIsReusableCategories()"></a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" ng-i18next="RostersQuestion" ng-if="!activeQuestion.isFilteredCombobox && !activeQuestion.yesNoView" ng-click="setIsLinkedQuestion()"></a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
        <p></p>
    </div>
</div>
<div class="row" ng-if="activeQuestion.isLinkedToReusableCategories === true">
    <div class="col-xs-12">
        <label class="wb-label" for="cb-categories" ng-i18next="BindToReusableCategories"></label>
    </div>
</div>
<div class="row" ng-if="activeQuestion.isLinkedToReusableCategories === true">
    <div class="col-xs-12">
        <div class="dropdown-with-breadcrumbs-and-icons">
            <div class="btn-group" uib-dropdown>
                <button class="btn dropdown-toggle" uib-dropdown-toggle id="cb-categories" type="button">
                    <span class="select-placeholder" ng-if="(activeQuestion.categoriesId || '') == ''" ng-i18next="SelectCategories"></span>
                    <span class="selected-item" ng-if="(activeQuestion.categoriesId || '') !== ''">
                        {{ getSelectedCategories().name }}
                    </span>
                    <span class="dropdown-arrow"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" ng-repeat="categories in getCategoriesList()">
                        <a ng-click="setCategories(categories)"
                           role="menuitem"
                           tabindex="-1"
                           class="linked-question-source"
                           href="javascript:void(0);">
                            <div>
                                <span ng-bind="categories.name | escape"></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p></p>
    </div>
</div>
<div class="row" ng-if="activeQuestion.isFilteredCombobox && !activeQuestion.isLinkedToReusableCategories">
    <div class="col-xs-12">
        <a href="javascript:void(0);"
           class="btn btn-link"
           ng-click="editFilteredComboboxOptions()" ng-i18next="QuestionUploadOptions">
        </a>
        <a href="javascript:void(0);"
           class="btn btn-link"
           ng-click="showAddClassificationModal()" ng-i18next="QuestionAddClassification">
        </a>
        <p></p>
    </div>
</div>
<p></p>
<div class="row" ng-if="activeQuestion.isLinked">
    <div class="col-xs-12">
        <div class="form-group" ng-include="'linkTemplate.html'" ng-class="{'has-error': !questionForm.linkedToEntity.$valid}"></div>
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ng-include src="'categorical-filter-expression'"></ng-include>
    </div>
</div>
<div class="row table-holder">
    <div class="col-xs-5">
        <div class="checkbox checkbox-in-column">
            <input id="cb-is-ordered" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.areAnswersOrdered" />
            <label for="cb-is-ordered"><span></span>{{'QuestionOrdered' | i18next}}</label>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group singleline-group checkbox-in-column" ng-class="{'has-error': !questionForm.editQuestionMaxAnswersNumber.$valid}">
            <label for="edit-question-max-answers-number" ng-i18next="QuestionMaxNumberOfAnswers"></label>
            <input maxlength="9" name="editQuestionMaxAnswersNumber" ng-pattern="/^\d+$/" id="edit-question-max-answers-number" type="text" class="form-control small-numeric-input" ng-model="activeQuestion.maxAllowedAnswers" />
            <p class="help-block ng-cloak" ng-show="questionForm.editQuestionMaxAnswersNumber.$error.pattern" ng-i18next="QuestionOnlyInts">
            </p>
        </div>
    </div>
</div>
