<div class="multyOption">
    <div class="well well-sm" ng-if="!activeQuestion.isFilteredCombobox && !activeQuestion.isLinked && activeQuestion.wereOptionsTruncated"
         ng-i18next="({count: 200})QuestionOptionsCut">
    </div>
    <ng-include src="'views/question-details/OptionsEditor-template.html'"
                ng-if="!activeQuestion.isFilteredCombobox && !activeQuestion.isLinked"></ng-include>
    <ng-include src="'categorical-filter-expression'"></ng-include>
</div>
<p>
    <a ng-if="activeQuestion.isFilteredCombobox"
       href="javascript:void(0);"
       class="btn btn-link"
       ng-click="editFilteredComboboxOptions()" ng-i18next="QuestionUploadOptions">
    </a>
    <a ng-if="activeQuestion.isFilteredCombobox"
       href="javascript:void(0);"
       class="btn btn-link"
       ng-click="showAddClassificationModal()" ng-i18next="QuestionAddClassification">
    </a>
</p>
<div class="table-holder">
    <div class="row">
        <div class="col-xs-5">
            <div class="checkbox checkbox-in-column">
                <input id="cb-is-ordered" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.areAnswersOrdered" />
                <label for="cb-is-ordered"><span></span>{{'QuestionOrdered' | i18next}}</label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group singleline-group checkbox-in-column" ng-class="{'has-error': !questionForm.editQuestionMaxAnswersNumber.$valid}">
                <label for="edit-question-max-answers-number" ng-i18next="QuestionMaxNumberOfAnswers"></label>
                <input maxlength="9" name="editQuestionMaxAnswersNumber" ng-pattern="/^\d+$/" id="edit-question-max-answers-number" type="text" class="form-control small-numeric-input" ng-model="activeQuestion.maxAllowedAnswers" />
                <p class="help-block ng-cloak" ng-show="questionForm.editQuestionMaxAnswersNumber.$error.pattern" ng-i18next="QuestionOnlyInts">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="checkbox checkbox-in-column">
                <input id="cb-multyoption-is-linked" type="checkbox" class="wb-checkbox" ng-model="activeQuestion.isLinked" />
                <label for="cb-multyoption-is-linked"><span></span>{{'QuestionIsLinked' | i18next}}</label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="checkbox checkbox-in-column" ng-show="!activeQuestion.isLinked">
                <label for="cb-categorical-kind">{{'QuestionKind' | i18next }}&nbsp;</label>

                <div class="btn-group dropup " uib-dropdown>
                    <button class="btn dropdown-toggle" id="cb-categorical-kind" uib-dropdown-toggle type="button">
                        {{ getCategoricalKind(activeQuestion).text }}
                        <span class="dropdown-arrow"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" ng-repeat="kind in activeQuestion.categoricalMultiKinds">
                            <a role="menuitem" tabindex="-1" ng-click="changeCategoricalKind(activeQuestion, kind)">
                                {{kind.text}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" ng-include="activeQuestion.isLinked ? 'linkTemplate.html' : ''" ng-class="{'has-error': !questionForm.linkedToEntity.$valid}">
    </div>
</div>
