<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.5.16" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.0.13" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.0.13" targetFramework="net45" />
  <package id="MvvmCross.PortableSupport" version="3.0.13" targetFramework="net45" />
</packages>