<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net452" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net452" />
  <package id="NConfig" version="1.1.22" targetFramework="net452" />
  <package id="NConsole" version="3.4.6206.26897" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="NLog" version="4.4.5" targetFramework="net452" />
  <package id="Npgsql" version="3.2.2" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net452" />
</packages>