<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" 
            xsi:type="File" 
            fileName="${basedir}/int111.txt"
            layout="${longdate} ${level:uppercase=true} ${message}" />
    <target name="null" 
            xsi:type="Null" 
            formatMessage="False" 
            layout="${longdate} ${level:uppercase=true} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="null" />
  </rules>
</nlog>