@model WB.UI.Headquarters.Models.DataExport.NewExportModel
@{
    ViewBag.Title = DataExport.DataExport_Title;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
