@{
    ViewBag.Title = "Registration Completed";
    Layout = "~/Views/Shared/Layout.empty.cshtml";
}

<h2>Registration Completed</h2>
<blockquote>
    <p>You have completed the registration process. You can now logon to the system by clicking @Html.ActionLink("here", "login")</p>
</blockquote>
