@using WB.UI.Designer.Resources
@{
    ViewBag.Title = AccountResources.RegistrationError;
    Layout = "~/Views/Account/Layout.Account.cshtml";
}
<form>
    <h1>@AccountResources.RegistrationError</h1>
    <p class="note">
        @AccountResources.RegistrationErrorDescription
    </p>
</form>