@{
    ViewBag.Title = "Registration Error";
    Layout = "~/Views/Shared/Layout.Account.cshtml";
}
<form>
    <h1>Registration Error</h1>
    <p class="note">
        There was an error confirming your email. Please try again.
    </p>
</form>