@{
    ViewBag.Title = "Success registration";
    Layout = "~/Views/Shared/Layout.empty.cshtml";
}

<h2>Registration Instructions</h2>
<blockquote>
    <p>To complete the registration process look for an email in your inbox that provides further instructions.</p>
</blockquote>
