@using WB.UI.Designer.Resources
@{
    ViewBag.Title = AccountResources.RegistrationError;
    Layout = "~/Views/Account/Layout.Account.cshtml";
}
<form>
    <h1>Reset Password Error</h1>
    <p class="note">
        @AccountResources.InvalidResetPasswordLink
    </p>
</form>
