@{
    ViewBag.Title = "Registration Error";
    Layout = "~/Views/Account/Layout.Account.cshtml";
}
<form>
    <h1>Reset Password Error</h1>
    <p class="note">
        There was an error when reset your password. Please try again.
    </p>
</form>
