@{
    ViewBag.Title = "Registration Error";
    Layout = "~/Views/Shared/Layout.empty.cshtml";
}

<h2>Reset Password Error</h2>
<blockquote>
    <p>There was an error when reset your password. Please try again.</p>
</blockquote>
