@{
    ViewBag.Title = "Success registration";
    Layout = "~/Views/Shared/Layout.empty.cshtml";
}

<h2>Reset Password Instructions</h2>
<blockquote>
    <p>To complete the reset password process look for an email in your inbox that provides further instructions.</p>
</blockquote>
