@using WB.UI.Designer.BootstrapSupport
@model WB.UI.Designer.Models.ResetPasswordConfirmationModel

@{
    ViewBag.Title = "Password reset";
    Layout = "~/Views/Shared/Layout.Account.cshtml";
}

@using (Html.BeginForm("ResetPasswordConfirmation", "Account", null, FormMethod.Post, new { @class = "form-signin", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <legend>@Model.GetLabel()</legend>
    <fieldset class="form-horizontal">

        @{
    this.Html.RenderPartial("EditForm");
        }
        <div class="form-actions">
            <button class="btn btn-large btn-primary pull-right" type="submit">Change Password</button>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/editform")
}