body {
    padding-top: 50px;
    position: relative;
}

#umbrella {
    display: none;
}

.sidebar {
    top: 103px;
    left: auto;
}

#sub-navbar {
    top: 51px;
}

#footer-block {
    display: none;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-title {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
padding: 13px 10px 0px 0px;
font-weight: bold;
}

.navbar-subtitle {
    font-size: 12px;
    padding: 0px 10px 0px 0px;
}

.list-group {
    margin-left: 20px;
}

.group-item {
    padding: 5px 0px 5px 0px;
}

.group-item a {
    color: #333;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    clear: both;
	float: left;
	width: auto;
	max-width: 100%;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
    float: right;    
    margin: 5px 20px 5px 45px;         
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}