
.sorting
{
    padding-right: 20px;
	vertical-align: middle;
	cursor: pointer;
	background: url('../Content/img/sort_both.png') no-repeat center right;
}

.sorting-up
{
	background: url('../Content/img/sort_asc.png') no-repeat center right !important;
}

.sorting-down
{
	background: url('../Content/img/sort_desc.png') no-repeat center right !important;
}

.margin-right-5 {
    margin-right: 5px;
}

.fit-column-by-content {
   width:1%;
   white-space:nowrap;
}

.column-40 {
    width: 40%;
}

.headquarters-list-actions-column {
    width: 60px;
    text-align: center;
}
.interviewers-list-actions-column {
    width: 60px;
    text-align: center;
}

table span.highlight {
    background-color: #ff8;
    color: #3f3f3f;
    border-radius: 0.28571429rem;
}