/*!
 * AdminPlus v2.0
 *
 * Copyright MosaicPro
 * http://www.mosaicpro.biz
 *
 * Designed and built exclusively for sale @Envato Marketplaces.
 */
body {
  background: #ffffff;
  font-size: 10pt;
}
#menu {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

@media (max-width: 979px) {
  .container-fluid.fixed {
    width: auto;
    border: none;
    margin: 0;
  }
}

#umbrella {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 10;
    text-align: center;

}
#umbrella-message {
    display: inline-block;
    background: #F9EDBE;
    padding: 5px 15px;
    border: 1px solid #F0C36D;
    -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.2);
    margin-top: -1px;
}

.text-right-gray-italic {
    color: #dadada;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    text-align: right;
}
#statesHistoryPopover {
    float: right;
    top: 35px;
    right: 10px;
    left: inherit;
    width: 650px;
    max-width: 650px;
}
#statesHistoryPopover .arrow {
    left: 95%;
}

.map-report .innerLR {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.map-report #footer-block {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    text-align: right;
}
.map-report #footer-block * {
    display: inline-block;
}

.map-report #footer-block hr {
    display: none;
}

.map-report #footer-block footer div:last-child {
    display: none;
}

.map-report #footer-block footer div:first-child {
    background: rgba(255, 255, 255, 0.8);
    padding: 2px 15px;
}

#map-canvas {
     position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#report-builder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 226px;
    background: white;
    z-index: 30;
    -webkit-box-shadow: 5px 0px 25px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 0px 25px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         5px 0px 25px 0px rgba(50, 50, 50, 0.75);
}

#report-builder .central-pane {
     position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
     padding: 10px;
    padding-bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
}
#report-builder .central-pane  .currently-on-map {
    margin-top: 15px;
}

#report-builder .central-pane  .currently-on-map h4{
    margin: 0;
}

#report-builder .central-pane .currently-on-map li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
#report-builder .central-pane .currently-on-map li:last-child {
    border-bottom: none;
}

#report-builder .bottom-pane{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
     padding: 10px;
    -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0px -5px 25px 0px rgba(255, 255, 255, 0.75);
-moz-box-shadow:    0px -5px 25px 0px rgba(255, 255, 255, 0.75);
box-shadow:         0px -5px 25px 0px rgba(255, 255, 255, 0.75);
}
