/*!
 * AdminPlus v2.0
 *
 * Copyright MosaicPro
 * http://www.mosaicpro.biz
 *
 * Designed and built exclusively for sale @Envato Marketplaces.
 */
body {
  background: #ffffff;
  font-size: 10pt;
}
#menu {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.documentation ul ul {
  margin-bottom: 10px;
}
.documentation .span3 .menu.affix {
  position: fixed;
  top: 20px;
  width: 220px;
}
.documentation .show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.documentation .show-grid [class*="span"] {
  background-color: #535a5e;
  text-align: center;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  min-height: 40px;
  line-height: 40px;
  color: #fff;
}
.documentation .show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.documentation .show-grid .show-grid [class*="span"] {
  background-color: #848d93;
}
.lt-ie9 .widget .widget-body.list ul li {
  border-bottom: 1px solid #efefef;
}
.lt-ie9 .navbar.main .btn-navbar {
  float: left;
}
.lt-ie9 .navbar.main .topnav {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
}
.lt-ie9 .navbar.main .topnav .dropdown > a .caret {
  margin-top: 0;
  top: 8px;
  left: 5px;
}
.lt-ie9 .heading-buttons h1.glyphicons,
.lt-ie9 .heading-buttons h2.glyphicons,
.lt-ie9 .heading-buttons h3.glyphicons,
.lt-ie9 .heading-buttons h4.glyphicons,
.lt-ie9 .heading-buttons h5.glyphicons,
.lt-ie9 .heading-buttons h6.glyphicons {
  float: left;
}
.lt-ie9 #menu #search .glyphicons i {
  width: 34px;
  height: 30px;
  display: block;
}
.lt-ie9 #menu #search .glyphicons i:before {
  display: block;
}
.lt-ie9 .navbar.main .topnav .dropdown > a .caret {
  position: relative;
  vertical-align: middle;
  top: 0;
}
.lt-ie9 .navbar.main .topnav > li > a.glyphicons i:before,
.lt-ie9 .navbar.main .topnav > li .notif li > a.glyphicons i:before {
  vertical-align: middle;
}
#notyfy_container_bottomLeft {
  bottom: 35px;
  left: 20px;
}
.notyfy_wrapper h4 {
  margin: 0 0 5px;
}
.notyfy_wrapper p {
  margin: 0;
}
.notyfy_wrapper.notyfy_primary {
  background-color: #37a6cd;
  border: none;
}
.notyfy_wrapper.notyfy_primary,
.notyfy_wrapper.notyfy_primary * {
  color: #fff;
}
.gritter-item-wrapper .gritter-item p {
  margin: 0 0 10px;
}
.gritter-item-wrapper .gritter-item p:last-child {
  margin: 0;
}
.gritter-item-wrapper.gritter-primary .gritter-top {
  display: none;
}
.gritter-item-wrapper.gritter-primary .gritter-bottom {
  display: none;
}
.gritter-item-wrapper.gritter-primary .gritter-item {
  background: rgba(55, 166, 205, 0.9);
  padding: 10px 10px 15px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  color: #fff;
}
.gritter-item-wrapper.gritter-primary .gritter-item a {
  color: #fff;
  text-decoration: underline;
}
.notyfy_wrapper {
  border: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.notyfy_wrapper.notyfy_alert {
  background: #ffffff;
}
.notyfy_wrapper.notyfy_error {
  background: #bd362f;
  color: #fff;
}
.notyfy_wrapper.notyfy_success {
  background: #51a351;
  color: #fff;
}
.notyfy_wrapper.notyfy_warning {
  background: #74614f;
  color: #fff;
}
.notyfy_wrapper.notyfy_information {
  background: #57B7E2;
  color: #fff;
}
.notyfy_wrapper.notyfy_confirm {
  background: #ffffff;
}
.notyfy_wrapper.notyfy_primary {
  background: #37a6cd;
  border: none;
}
.notyfy_wrapper.notyfy_primary,
.notyfy_wrapper.notyfy_primary * {
  color: #fff;
}
.notyfy_wrapper.notyfy_default {
  background: #fafafa;
}
.notyfy_wrapper.notyfy_dark {
  background: #4a4846;
}
.notyfy_wrapper.notyfy_dark,
.notyfy_wrapper.notyfy_dark * {
  color: #fff;
}
#notyfy_container_top {
  top: 0;
  left: 0;
  width: 100%;
}
#notyfy_container_top .notyfy_wrapper {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
@media (min-width: 980px) {
  
}
@media (max-width: 979px) {
  .container-fluid.fixed {
    width: auto;
    border: none;
    margin: 0;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .nav-tabs > li > a {
    font-size: 10pt;
  }
  .nav-tabs > li > a,
  .nav-pills > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }
  .documentation .span3 .menu.affix {
    position: relative;
    top: 0;
    width: auto;
  }
  .phone-margin.bottom {
    margin: 0 0 10px;
  }
  .well {
    padding: 5px;
  }
  .widget .widget-body {
    padding: 10px 5px;
  }
  .widget.margin-bottom-none {
    margin-bottom: 20px;
  }
  .widget.widget-tabs-2 .widget-head {
    height: auto;
  }
  .widget.widget-tabs-2 .widget-head ul {
    display: block;
    height: auto;
  }
  .widget.widget-tabs-2 .widget-head ul li {
    float: none;
    display: block;
    width: 100%;
  }
  .widget-stats {
    margin: 0 0 10px;
  }
  .right-menu #menu {
    left: 0;
    right: auto;
    border-left: none;
    border-right: 1px solid #dddddd;
  }
  .right-menu #menu ul li.active:after {
    display: inline-block;
    width: 9px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    content: "";
    background: #37a6cd;
  }
  .right-menu #menu #menuInner {
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
    -wekbit-box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
    float: left;
    border-left: none;
    border-right: 1px solid #d0d0d0;
  }
  .right-menu #content {
    margin: 0 0 0 234px;
  }
  .menu-hidden #content {
    margin: 0;
  }
  .container-960 {
    width: auto;
  }
  #landing_1 [class*="span"] {
    padding: 0 5px;
  }
  #landing_1 .banner-1 {
    height: auto;
  }
  #landing_1 .banner-1 .item {
    height: auto;
  }
  #landing_1 .banner-1 .item img {
    min-height: 0;
    height: auto;
  }
  #landing_1 .banner-1 .carousel-caption {
    height: auto;
  }
  #landing_1 .banner {
    height: auto;
  }
  #landing_1 .banner .banner-wrapper {
    height: auto;
  }
  #landing_1 .banner .banner-wrapper.banner-1 h3,
  #landing_1 .banner .banner-wrapper.banner-1 p,
  #landing_1 .banner .banner-wrapper.banner-1 .btn {
    position: relative;
    top: auto;
    right: auto;
  }
  #landing_1 .banner .banner-wrapper.banner-1 .btn {
    display: block;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
  }
  #landing_1 .banner .banner-wrapper.banner-1 p {
    margin: 0 0 5px;
    text-align: center;
  }
  #landing_1 .banner .banner-wrapper.banner-1 h3 {
    font-size: 12pt;
    line-height: 46px;
    text-align: center;
  }
  .social-large {
    height: auto;
  }
  .social-large a {
    float: none;
    display: block;
    border: none;
    border-bottom: 1px solid #e5e5e5;
  }
  .social-large a:last-child {
    border: none;
  }
}
@media (max-width: 480px) {
  h1,
  h2,
  h3 {
    line-height: 30px;
    font-size: 18pt;
  }
  h3.glyphicons i:before,
  h2.glyphicons i:before {
    font-size: 24px;
    top: 3px;
    left: 5px;
  }
  .heading-buttons .buttons {
    margin-top: -1px;
  }
  .separator {
    margin: 10px 0;
  }
  .table-condensed th,
  .table-condensed td {
    padding: 4px 5px;
  }
  p.glyphicons {
    padding: 5px 0 10px 55px;
  }
  p.glyphicons i:before {
    color: #D67170;
    font-size: 35pt;
    top: 0;
  }
  p.glyphicons.right {
    padding: 0 55px 0 0;
  }
}
@media (max-width: 320px) {
  .nav-tabs > li,
  .nav-tabs > li > a,
  .nav-tabs > li > a:hover {
    display: block;
    float: none;
    margin: 0 0 -1px;
    border-color: #37a6cd;
  }
  .nav-tabs > li:hover {
    border-color: #37a6cd;
  }
  .nav-tabs > li,
  .nav-tabs > li > a {
    border-color: #E0D5C6;
    background: #F5EADB;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
  }
}
@media (max-width: 240px) {
  
}
@media (max-width: 979px) and (min-width: 768px) {
  .widget-stats {
    padding: 10px;
  }
  .widget-stats .glyphicons {
    padding: 0 10px 0 0;
  }
  .widget-stats .glyphicons i:before {
    font-size: 20px;
    top: -5px;
  }
}
@media (max-width: 979px) and (min-width: 480px) {
  
}
/* High-Res / Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  
}
/* Responsive Tables */
@media only screen and (max-width: 979px) {
  .table-responsive.swipe-horizontal {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    width: 100%;
    border-left: 1px solid #DDD;
  }
  .table-responsive.swipe-horizontal th,
  .table-responsive.swipe-horizontal td {
    display: block;
    margin: 0;
    vertical-align: top;
  }
  .table-responsive.swipe-horizontal th {
    text-align: right;
    border-bottom: 0;
    border-left: 0;
  }
  .table-responsive.swipe-horizontal td {
    min-height: 1.25em;
    text-align: left;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
  }
  .table-responsive.swipe-horizontal thead {
    display: block;
    float: left;
  }
  .table-responsive.swipe-horizontal thead tr {
    display: block;
  }
  .table-responsive.swipe-horizontal tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 0;
  }
  .table-responsive.swipe-horizontal tbody tr {
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid #d7d8da;
  }
  .table-responsive.block {
    /* Force table to not be like tables anymore */
  
    /* Hide table headers (but not display: none;, for accessibility) */
  
    /*
  			Label the data
  			*/
  
  }
  .table-responsive.block table,
  .table-responsive.block thead,
  .table-responsive.block tbody,
  .table-responsive.block th,
  .table-responsive.block td,
  .table-responsive.block tr {
    display: block;
  }
  .table-responsive.block thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-responsive.block tr {
    border: 1px solid #d7d8da;
  }
  .table-responsive.block td {
    /* Behave  like a "row" */
  
    border: none;
    border-bottom: 1px solid #d7d8da;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .table-responsive.block td:before {
    /* Now like a table header */
  
    position: absolute;
    /* Top/left values mimic padding */
  
    vertical-align: middle;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
  }
  .table-responsive.block td:before {
    content: attr(data-title);
  }
}
@media (max-width: 767px) {
  body.choose ul li {
    height: auto;
    text-align: center;
    line-height: normal;
  }
  body.choose ul li span {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0 0 5px;
  }
  body.choose #choose-preview {
    background: none;
    width: 357px;
    height: 222px;
  }
  body.choose #choose-preview > span {
    left: 0;
    top: 0;
  }
}
.pseudo-link {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    cursor: pointer;
}
a.pseudo-link:hover {
    text-decoration: none;
}
.hide-panel-block {
    margin: 5px 0;
}
.horizontal-scroll {
    position: relative;
    overflow-x: auto;
}

.table thead  tr th.sorting
{
    position: relative;
}
#umbrella {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 10;
    text-align: center;

}
#umbrella-message {
    display: inline-block;
    background: #F9EDBE;
    padding: 5px 15px;
    border: 1px solid #F0C36D;
    -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.2);
    margin-top: -1px;
}
 #alerts .alert {
     margin-top: 5px;
 }
 #content .alert {
     margin-bottom: 0;
 }
 #splash-screen {
     position: absolute;
     position: fixed;
     top: 40px;
     bottom: 0;
     left: 0;
     right: 0;
     display: none;
     background: red;
     z-index: 109999;
 }
 #output p.importError {
     line-height: 20px;
    padding: 6px 4px;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
 }

 .field-validation-error {
     color: red;
 }

 .nowrap {
     white-space: nowrap;
 }

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pad-left10 {
    padding-left: 10px;
}

.pad-right5 {
    padding-right: 5px;
}

.text-right-gray-italic {
    color: #dadada;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    text-align: right;
}
#statesHistoryPopover {
    float: right;
    top: 35px;
    right: 10px;
    left: inherit;
    width: 650px;
    max-width: 650px;
}
#statesHistoryPopover .arrow {
    left: 95%;
}

.map-report .innerLR {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.map-report #footer-block {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    text-align: right;
}
.map-report #footer-block * {
    display: inline-block;
}

.map-report #footer-block hr {
    display: none;
}

.map-report #footer-block footer div:last-child {
    display: none;
}

.map-report #footer-block footer div:first-child {
    background: rgba(255, 255, 255, 0.8);
    padding: 2px 15px;
}

#map-canvas {
     position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#report-builder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 226px;
    background: white;
    z-index: 30;
    -webkit-box-shadow: 5px 0px 25px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 0px 25px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         5px 0px 25px 0px rgba(50, 50, 50, 0.75);
}

#report-builder .central-pane {
     position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
     padding: 10px;
    padding-bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
}
#report-builder .central-pane  .currently-on-map {
    margin-top: 15px;
}

#report-builder .central-pane  .currently-on-map h4{
    margin: 0;
}

#report-builder .central-pane .currently-on-map li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
#report-builder .central-pane .currently-on-map li:last-child {
    border-bottom: none;
}

#report-builder .bottom-pane{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
     padding: 10px;
    -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0px -5px 25px 0px rgba(255, 255, 255, 0.75);
-moz-box-shadow:    0px -5px 25px 0px rgba(255, 255, 255, 0.75);
box-shadow:         0px -5px 25px 0px rgba(255, 255, 255, 0.75);
}
