.swagger-section .swagger-ui-wrap ul#resources li.resource .heading,
.swagger-section .swagger-ui-wrap ul#resources li.resource:hover div.heading h2 a, 
.swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading h2 a,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.http_method a,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit,
.swagger-section .swagger-ui-wrap .footer h4 span a,
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content div.sandbox_header a{
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
*, :after, :before {
    box-sizing: border-box;
}
body{
    min-height: 100%;
    position: relative;
    padding: 70px 45px 100px 90px;
    font: 16px/18px Arial, sans-serif;
    color: #3f3f3f;
    background: -webkit-linear-gradient(left, #dbdfe2 0%, #dbdfe2 100%) repeat-y; 
    background: -o-linear-gradient(left, #dbdfe2 0%, #dbdfe2 100%) repeat-y; 
    background: linear-gradient(to right, #dbdfe2 0%, #dbdfe2 100%) repeat-y; 
    background-size: 12px 100%;
}
#header {
    display: none;
}
#swagger-ui-container{
    min-width: 380px;
    margin: 0;
}
.swagger-section .swagger-ui-wrap .info_title{
    font: 26px/28px Tahoma, Geneva, sans-serif;
    font-weight: 200;
    padding-left: 15px;    
}
.swagger-section .swagger-ui-wrap ul#resources li.resource{
    border-bottom: none;
}
li.resource .endpoints{
    padding: 0 0 10px;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource .heading{
    background-color: #f8f9f9;
    padding: 5px 0; 
}
.swagger-section .swagger-ui-wrap ul#resources li.resource:nth-of-type(odd) .heading{
    background-color: #edeff0;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource.active .heading{
    background-color: transparent;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2{
    font: 22px/24px Tahoma, Geneva, sans-serif;
    font-weight: 200;
    padding-left: 15px;
    color: #6b6b6b;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a,
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a{
    color: #6b6b6b;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options{
    font: 14px/16px "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path,
.swagger-section .swagger-ui-wrap pre{
    font: 14px/18px "Lucida Console", Monaco, monospace; 
}
.operation-params .model-signature .signature-container pre{
    font: 12px/16px "Lucida Console", Monaco, monospace; 
    padding: 0;
}
.swagger-section .swagger-ui-wrap pre{
    background-color: #fffbea;
    border: 4px solid #fcf6db;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.http_method a,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header a{
    font: 12px/14px "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    border-radius: 5px;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.http_method a{
    border: 1px solid transparent;
    width: 85px;
    padding: 10px;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.http_method a{
    background-color: #2a81cb;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span.http_method a{
    background-color: #3ca21a;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.http_method:hover a{
    background-color: #15568e;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span.http_method:hover a{
    background-color: #297011;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading h3 span.http_method:hover a{
    background-color: #936420;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading h3 span.http_method:hover a{
    background-color: #B9672B;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading h3 span.http_method:hover a{
    background-color: #801818;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading{
    padding: 5px;
    border: none !important;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint:nth-of-type(odd) ul.operations li.operation.get div.heading{
    background-color: #cadeed;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint:nth-of-type(odd) ul.operations li.operation.post div.heading{
    background-color: #caebd5;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint:nth-of-type(odd) ul.operations li.operation.put div.heading{
    background-color: #F4E7D6;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint:nth-of-type(odd) ul.operations li.operation.patch div.heading{
    background-color: #FADAD0;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint:nth-of-type(odd) ul.operations li.operation.delete div.heading{
    background-color: #EFDBDB;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation{
    margin: 0;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options li a .markdown p{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
}
.swagger-section .swagger-ui-wrap .footer span a{
    background-color: #3ca21a;
    display: block;
    border-radius: 5px;
}
.swagger-section .swagger-ui-wrap .footer span a:after{
    font: 12px/14px "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    content: "valid";
    color: #fff;
    padding: 10px 16px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    border: 1px solid transparent;
}
.swagger-section .swagger-ui-wrap .footer h4 span a:hover,
.swagger-section .swagger-ui-wrap .footer h4 span a:focus{
    text-decoration: none;
    background-color: #297011;
}
.swagger-section .swagger-ui-wrap .footer span a img{
    display: none;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content{
    border: 5px solid;
    border-top: none;
    background-color: transparent;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content{
    border-color: #e7f0f7;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content{
    border-color: #e7f6ec;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content{
    border-color: #f9f2e9;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content{
    border-color: #FCE9E3;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content{
    border-color: #f5e8e8;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint:nth-of-type(odd) ul.operations li.operation.get div.content{
    border-color: #cadeed;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint:nth-of-type(odd) ul.operations li.operation.post div.content{
    border-color: #caebd5;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint:nth-of-type(odd) ul.operations li.operation.put div.content{
    border-color: #F4E7D6;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint:nth-of-type(odd) ul.operations li.operation.patch div.content{
    border-color: #FADAD0;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint:nth-of-type(odd) ul.operations li.operation.delete div.content{
    border-color: #EFDBDB;
}
.swagger-section .swagger-ui-wrap input.parameter{
    display: block;
    padding: 10px 9px;
    font-size: 14px;
    line-height: 16px;
    color: #555555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.swagger-section .swagger-ui-wrap table tbody tr td, 
.swagger-section .swagger-ui-wrap table tbody tr th{
    border-bottom: none;
}
.swagger-section .swagger-ui-wrap table tbody tr td{
    vertical-align: middle;
}
.fullwidth tbody tr{
    background-color: #f8f9f9;
}
.fullwidth > tbody > tr:nth-of-type(odd){
    background-color: #edeff0;
}
.swagger-section .swagger-ui-wrap table thead tr th{
    font: 10px/12px "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    border-bottom: none;
}
.swagger-section .swagger-ui-wrap table thead tr th,
.swagger-section .swagger-ui-wrap table tbody tr td{
    border-left: 1px solid #f8f9f9;
    padding: 10px 15px;
}
.swagger-section .swagger-ui-wrap table tbody tr td{
    font: 14px/16px Arial, sans-serif;
}
.swagger-section .swagger-ui-wrap table thead tr th:first-child,
.swagger-section .swagger-ui-wrap table tbody tr td:first-child{
    border-left: none;
}
select, 
.swagger-section .swagger-ui-wrap .body-textarea{
    border: 1px solid #ccc;
    padding: 10px 9px;
    font-size: 14px;
    line-height: 16px;
    color: #555555;
    background-color: #fff;
    border-radius: 5px;
}
select{
    width: 300px;
    height: 40px;
}
label{
    font: 14px/16px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    margin-right: 15px;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content h4{
    font: 18px/20px Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color: #3f3f3f !important;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header a{
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
    background-color: #fff;
    margin-top: 15px;
    text-decoration: none;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header a{
    margin-left: 20px;
    color: #333 !important;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit:hover,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header a:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
}
.description .readOnly{
    margin: 5px 0;
}
.description{
    border: 1px solid #e5e0c6;
    padding: 12px;
    font: 14px/16px Arial, sans-serif !important;
}
.swagger-section .swagger-ui-wrap .model-signature .description div{
    margin-left: 2em;
}
.swagger-section .swagger-ui-wrap .model-signature .propType{
    font-weight: bold;
    color: #6262b1;
}
.operation-params .model-signature .signature-container{
    max-width: 220px;
}
@media (max-width: 1210px){
    body{
        padding: 0 20px 0 35px;
    }
    .swagger-section .swagger-ui-wrap input.parameter,
    .swagger-section .swagger-ui-wrap .body-textarea,
    select{
        width: 200px;
    }
}