.text-page{
	font: 14px/16px "RobotoRegular";
}
.prefilled-data-info{
	&>a{
		display: block;
		margin-bottom: 30px;
	}
	ul{
		margin-left: 30px;
		margin-bottom: 20px;
		font-family: "RobotoBold";
		li{
			margin: 5px 0;
		}
	}
}
.selection-box a{
	@extend %uppercase-font;
    display: block;
    margin-bottom: 25px;
	cursor: pointer;
}
.btn-file input{
	display: none;
}
.action-block{
	margin-top: 30px;
}
.action-buttons{
	margin-top: 40px;
	width: 100%;
	overflow: hidden;
	.btn{
		padding: 8px 12px;
		margin: 0;
		margin-right: 5px;
		&.cancel-uploading{
			float: left;
		}
		& + .back-link{
			margin-left: 25px;
		}
	}
}
.import-progress {
	margin-bottom: 40px;
	@extend h4;
	margin-top: 0;
	p{
		margin: 0;
	}
}
.error-block{
	&:last-of-type{
		margin-bottom: 30px;
	}
	h5{
		margin: 20px 0 5px;
	}
	p{
		margin: 3px 0;
	}
}	
.action-block.preloading-done-with-errors{
	h4{
		margin-bottom: 10px;
	}
	&>a{
    	font: 14px/16px "TrebuchetMSBold";
		display: inline-block;
		width: 38%;
	}
}
.uploading-verifying, .verification-failed, 
.verification-complete, .verification-complete-choose-supervisor,
.processing-interview, .preloading-done, .preloading-done-with-errors{
	display: none;
	&.active-preloading{
		display: block;
	}
} 
.verification-complete-choose-supervisor{
	.input-group{
		.typeahead{
			width: 100%;
			border-color: $gray-form;
		}
	}
}
@media (max-width: $screen-sm-min){
	.prefilled-data-info{
		margin-bottom: 0;
	}
}
@media (max-width: $screen-xs-min){
	.action-block{
		.btn-input{
			display: inline-block;
		}
		.back-link{
			margin: 30px 0 0;
		}
		
		
		.btn-input .dropdown-toggle{
			width: 250px;
		}
		&.preloading-done-with-errors > a{
			width: 60%;
		}
		.btn + .back-link{
			margin-left: 10px;
		}
	}
}
@media only screen and (max-width: 400px){
	.action-block .action-buttons .btn:last-of-type{
		margin-right: 5px;
	}
}