@import "add-interviews";
.text-page{
	font: 14px/16px "RobotoRegular";
}
.prefilled-data-info{
	@extend .text-page;
	margin-bottom: 20px;
	p{
		margin-bottom: 20px;

	}
	&>a{
		display: block;
		margin-bottom: 30px;
	}
	ul{
		margin-left: 30px;
		margin-bottom: 20px;
		font-family: "RobotoBold";
		li{
			margin: 5px 0;
		}
	}
}
.selection-box a{
	@extend %uppercase-font;
    display: block;
    margin-top: 40px;
}
.btn-file input{
	display: none;
}
.action-block{
	margin-top: 30px;
}
.action-buttons{
	margin-top: 40px;
	width: 100%;
	overflow: hidden;
	.btn{
		padding: 8px 12px;
		margin: 0 2px;
		&.cancel-uploading{
			float: left;
		}
		& + .back-link{
			margin-left: 25px;
		}
	}
}
.cancelable-progress{
	margin-top: 40px;
	.progress{
		width: 66%;
		float: left;
		background-color: $gray_form;
		margin-right: 30px;
		margin-top: 8px;
	}
	.btn-link{
		float: left;
	}
}

.import-progress {
	@extend h4;
	margin-top: 0;
	p{
		margin: 0;
	}
}
.btn-input{
	margin-bottom: 40px;		
}
.error-block{
	&:last-of-type{
		margin-bottom: 30px;
	}
	h5{
		margin: 20px 0 5px;
	}
	p{
		margin: 3px 0;
	}
}	

.processing-interview{
	.progress-bar.progress-bar-success{
		background-color: $green_btn;
	}
}
.action-block.preloading-done-with-errors{
	h4{
		margin-bottom: 10px;
	}
	&>a{
    	font: 14px/16px "TrebuchetMSBold";
		display: inline-block;
		width: 38%;
	}
}
 .uploading-verifying, .verification-failed, 
.verification-complete, .verification-complete-choose-supervisor,
.processing-interview, .preloading-done, .preloading-done-with-errors{
	display: none;
	&.active-preloading{
		display: block;
	}
} 
.verification-complete-choose-supervisor{
	.input-group{
		.typeahead{
			width: 100%;
			border-color: $gray-form;
		}
	}
}
@media (max-width: $screen-sm-min){
	.prefilled-data-info{
		margin-bottom: 0;
	}
}
@media (max-width: $screen-xs-min){
	.action-block{
		.btn-input{
			display: inline-block;
		}
		.back-link{
			margin: 30px 0 0;
		}
		.cancelable-progress{
			.progress{
				width: 100%;
				float: none;
			}
			.btn{
				&.btn-link{
					float: none;
				}
				margin: 0;
				padding: 6px 0;
			}
		}
		
		.btn-input .dropdown-toggle{
			width: 250px;
		}
		&.preloading-done-with-errors > a{
			width: 60%;
		}
	}
}
@media (max-width: 400px){
	.action-block .action-buttons .btn:last-of-type{
		margin-right: 5px;
	}
}