.btn{
	font: 12px/14px "TrebuchetMSBold";
	text-transform: uppercase;
    letter-spacing: 0.13em;
    /* outline: none; */
	&:disabled, &.disabled{
		background-image: repeating-linear-gradient(-45deg, #d7d7d7, #d7d7d7 3px, $gray_light 2px, $gray_light 6px); 
		border-color: transparent !important;	
		color: #fff !important;
		cursor: not-allowed;
		&:hover, &:focus{
			border-color: $gray-super-light;
		}
	}
}
a.disabled{
	pointer-events: none;
	cursor: not-allowed;
}
.btn-link{
	@extend %gray-uppercase;
	&:hover, &:focus{
		text-decoration: none;
		color: darken($gray_light, 25%);
	}
	&:hover{
		/* outline: none; */
	}
}
.foldback-button{
	display: none;
	@include size($width-foldback-button, $height-foldback-button);
	cursor: pointer;
	@include absolute(75px, 0, null, null);
	border-radius: 4px;
	z-index: 3;
	@include transition(all, 0.2s);
	&:hover, &:focus{
	    span.arrow{
	    	background-color: rgba(0, 0, 0, 1);
	    }
	    .glyphicon{
	    	color: rgba(0, 0, 0, 1);
		}
	}
	span.arrow{
		display: inline-block;
		@include size(20px, 2px); 
		background-color: rgba(0, 0, 0, 0.5);
		@include absolute((($height-foldback-button)/2 + 5px), 10px);
		@include rotate(45deg);
		&:first-of-type{
			@include rotate(-45deg);
			top: ($height-foldback-button/3);
		}
	}
	.glyphicon{
		display: none;
		color: rgba(0, 0, 0, 0.5);
		font-size: 18px;
		top: ($height-foldback-button/3);
		left: 10px;
	}
}
.humburger-foldback-button{
	border-radius: 4px;
	@include absolute(0, null, null, 20px);
	display: block;
	@include size(42px, 32px);
	cursor: pointer;
	z-index: 3;
	top: calc(50% - 16px);
	display: block;
	@include transition(all, 0.2s);
	&:before, &:after{
		content: "";
		display: block;
		@include size(22px, 2px); 
		@include absolute(((32px)/2 + 8px), 10px);
		@include rotate(45deg);
		background-color: rgba(255,255,255, 0.8);
	}
	span{
		display: block;
		@include size(22px, 2px); 
		background-color: rgba(255,255,255, 0.8);
		@include absolute(((32px)/2), null, null, 10px);
		visibility: hidden;
	}
	&:after{
		@include rotate(-45deg);
		top: 9px;
	}

	&:hover, &:focus, &:active{
		span{
			background-color: rgba(255,255,255, 1);
		}
		&:before, &:after{
			background-color: rgba(255,255,255, 1);
		}
	}
}
@media only screen and (max-width: 615px){
	.humburger-foldback-button{
		left: 0;
	}
}
@media (max-width: $screen-sm-min){
	.humburger-foldback-button{
		&:before, &:after{
			@include rotate(-45deg);
		}
		&:after{
			@include rotate(45deg);
		}
	}
}
.btn-default.btn-gray{
	color: $white;
	padding: 12px;
	background-color: darken($gray_form, 10%);
	border: none;
	&:hover, &:focus{
		border: none;
		background-color: darken($gray_form, 20%);
	}
	&:hover{
		/* outline: none; */
	}
}
.back-link{
    text-transform: uppercase;
    font: 12.5px/14px "TrebuchetMSBold";
    letter-spacing: 0.13em;
    display: inline-block;
}
#hidden-links{
    display: none;
}
.cancel{
	border: none;
	/* outline: none; */
}
.button-flag{
	display: inline-block;
    @include size(19px, 22px); 
    @include image-2x("#{$assetsPath}/img/flags2k.png", 75px, 22px);
    background: transparent url("#{$assetsPath}/img/flags.png") no-repeat;
    background-size: 75px 22px;
    background-position: -38px 0;  
	border: none;
	&:hover, &:focus{
		background-position: -57px 0;
	}
	&:hover{
		/* outline: none; */
	}
	&.flagged, &:active{
    	background-position: 0 0;
    	/* outline: none; */
    	&:hover, &:focus{
    		background-position: -19px 0;
    	}
	}
}
.reject{
	border-width: 3px;
	border-color: $red_error;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: transparent;
	color: $red_error;
	&:focus,
	&.focus,
	&:hover {
	    color: darken($red_error, 10%);
	    border-color: darken($red_error, 10%);
	}
}
.btn-clear{
	@include clear();
}
.btn-action-questionnaire{
	background-color: $white;
	border-color: transparent;
	color: $gray_light;
	border-radius: 5px;
	text-transform: none;
	letter-spacing: 0.5px;
	font: 14px/18px Arial, sans-serif;
	font-style: italic;
	&:hover, &:focus, &:active{
		background-color: $gray-super-light;
		border-color: darken($gray_light, 10%);
		color: darken($gray_light, 20%);
	}
}
.btn-plus{
	@include cancel(14px);
	opacity: 1;
		&:before, &:after{
			@include transition(all, 0.2s);
	        @include rotate(0deg);
	        top: 0;
	    }
	    &:after{
	        top: -2px;
	    }
	&.collapsed{
	    &:after{
	        @include rotate(90deg);
	    }
	}
}
.btn-roster-section{
	letter-spacing: normal;
	font: 14px/16px Arial, sans-serif;
	font-weight: bold;
	width: 100%;
	text-transform: none;
	padding: 11px 15px;
	text-align: left;
	white-space: normal;
}
.btn-back{
	padding-left: 40px;
	background-color: transparent;
	border-width: 3px;
	min-height: 60px;
	background-size: 22.5px 33.75px;
	background-position: 10px 10px;
	&.btn-success{
		@include btn-back-questionnaire ($green, "back-to-parrent-1-no-animation-2.png");	
	}
	&.btn-danger{
		@include btn-back-questionnaire (#f05a26, "back-to-parrent-1-no-animation-3.png");
	}
	&.btn-primary{
		@include btn-back-questionnaire ($blue, "back-to-parrent-1-no-animation-1.png");
	}
}