@include fontface(RobotoRegular);
@include fontface(RobotoItalic);
@include fontface(RobotoLight);
@include fontface(RobotoBold);
@include fontface(TrebuchetMSBold);
@include fontface(ufonts_com_lucidaconsole);
@include fontface(TrebuchetMS);
@include fontface(RobotoMedium);
input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
input::-ms-clear {
    display: none;
}
a{
	color: $blue;
	&:hover, &:focus{
		color: $blue;
	}
}
html {
  position: relative;
  min-height: 100%;
	body {
		color: $gray_text; 
		min-width: 400px;
		margin-bottom: 100px;
		font-family: Arial, sans-serif;
		font-size: 16px;
		line-height: 18px;
		@include gradient-horizontal($gray_form, $gray_form);
		background-repeat: repeat-y;
		background-size: 12px 100%;
		padding-top: 70px;
		.footer {
			position: absolute;
			bottom: 0;
			@include size(100%, 60px);
			text-align: left;
			color: $gray_light;
			@include font(12px, 16px);
			@include transition(padding, 0.3s);
			a{
				color: $gray_light;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}
.container, .container-fluid{
	padding: 0  ($margin-container/2) 0 ($margin-container);
}
main{
	.container{
		margin-left: 0;
		margin-right: 0;
	}

}
@media (max-width: $screen-md-min){
	html body {
		padding-top: 60px;
	}
	.container, .container-fluid {
	    padding: 0 ($margin-container-md-screen - 15px) 0 $margin-container-md-screen;
	}
}

@media (max-width: $screen-sm){
	main .container{
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}
h1{
	font: 26px/28px "RobotoLight";
	margin: 0;
    color: $gray_text;
    padding: 0 0 15px;
}
h2{
	font: 26px/28px "RobotoLight";
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 25px;
}
h3{
	@include font(19px, 21px, "RobotoBold");
	margin-top: 0;
}
h4{
	font: 22px/24px "RobotoLight";
	margin-bottom: 20px;
}
h5{
	@include font(14px, 16px);
	margin-bottom: 15px;
	font-weight: bold;
} 
.hold-transition *{
 -webkit-transition: none !important;
 -moz-transition: none !important;
 -ms-transition: none !important;
 -o-transition: none !important;
} 
.breadcrumb{
    background-color: transparent;
    margin: 0;
    padding: 0;
  	& > li + li:before{
  		display: none;
  	}
  	& > li:after{
  		content: "/ ";
	    padding: 0 5px;
	    @extend %gray-uppercase;
  	}
    li a{
        @extend %gray-uppercase;
    } 
}
@media (max-width: $screen-xs-min){
	.breadcrumb li a, .breadcrumb > li + li:before{
			padding: 0 2px;
			font-size: 10px;
			line-height: 12px;
	}	
}
.page-header{
    padding-bottom: 0;
    margin: 0;
    border: none;
    padding-top: 40px;
    padding-bottom: 15px;
    .maintenance-mode{
        @extend %instructions;
    }
    h1 + .maintenance-mode{
    	margin-top: 15px;
    }
    &>div{
		h1{
			float: left;
			margin-right: 30px;
		}
		.btn{
			float: left;
		}	
	}
	p{
		font-family: "RobotoRegular";
	}
}
.row{
	.page-header{
		padding-left: 15px;
	}
}
.alert{
	margin-bottom: 20px;
	background-color: transparent;
	padding: 0;
	border: none;
	p{
		margin-bottom: 10px;
		color: $red_error; 
	}
	&.alert-danger, .help-block{
		color: $red_error; 
	}
	&.alert-success{
		color: $green-light;
	}
	&.alert-info{
		color: $blue;
	}
	div ul li{
		margin: 10px 0;
	}
}
.alerts{
	margin-top: 20px;
	.alert{
		margin: 0;
		padding: 15px;
		border-radius: 5px;
		border: 1px solid $gray_form;
		background-color: #f8f8f8;
		.close{
			color: inherit;
			&:hover, &:focus, &:active{
				opacity: 1;
			}
		}
		&.alert-success {
		  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
		}
		&.alert-info {
		  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
		}
		&.alert-warning {
		  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
		}
		&.alert-danger {
		  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
		}
	}
}
body > .ui-pnotify
{
    z-index: 100050;
}
.ui-pnotify-modal-overlay{
    background-color: rgba(0,0,0,.2);
}
.ui-pnotify{
 	background: #fff;
 	box-shadow: 9px 9px 3px rgba(0, 0, 0, 0.1), 0 0 3px #323232;
	border-radius: 0;
  	.alert{
   		font-family: "RobotoMedium";
        margin: 0;
        border-top: none !important;
  		padding: 20px;
        &.alert-warning{
            border-top: 10px solid $blue;
            color: $blue;
        }
        &.alert-success{
            border-top: 10px solid $green;
            color: $green;
        }
        &.alert-info{
            border-top: 10px solid $blue;
            color: $blue;
        }
        &.alert-danger{
            border-top: 10px solid $red;
            color: $red;
        }
    	.ui-pnotify-title{
     		font: 16px/18px "RobotoMedium";
    	}
    	.ui-pnotify-text{
     		font-size: 14px;
     		line-height: 16px;
     		color: $gray_text;
    	}
    	.ui-pnotify-action-bar{
			margin-top: 20px !important;
			text-align: left !important;
			.btn{
				border-color: transparent;
				color: $blue;
				padding: 0;
				margin-right: 20px;
				&:last-of-type{
					margin-right: 0;
				}
				&:hover, &:focus, &:active{
					background-color: transparent;
					text-decoration: underline;
				}
			}
		}
		.ui-pnotify-closer span{
    		@include cancel(16px);
    	}
  	}
    &.loading-indicator{
        border-radius: 0;
        .ui-pnotify-container{
            border-radius: 0;
            box-shadow: 9px 9px 3px rgba(0, 0, 0, 0.1);
        }
        .ui-pnotify-container.alert{
            padding: 30px 40px;
            border-top: none;
        }
        .ui-pnotify-title{
     		font: 24px/26px "RobotoLight";
            padding: 0;
            margin: 0;
    	}
    }
    &.centered-modal{
        position: fixed;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}
/* .ui-pnotify.stack-modal{
	box-shadow: 9px 9px 3px rgba(0, 0, 0, 0.1), 0 0 3px #323232;
	border-radius: 0;
	.alert{
		border-top: none !important;
		padding: 20px;
		
		.ui-pnotify-text{
			color: $gray_text;
		}
		.ui-pnotify-action-bar{
			margin-top: 20px !important;
			text-align: left !important;
			.btn{
				border-color: transparent;
				color: $blue;
				padding: 0;
				margin-right: 20px;
				&:last-of-type{
					margin-right: 0;
				}
				&:hover, &:focus, &:active{
					background-color: transparent;
					text-decoration: underline;
				}
			}
		}
		.ui-pnotify-closer span{
    		@include cancel(16px);
    	}
	}
} */
.error-text{
	color: $red_error;
}
.success-text{
	color: $green_btn;
}
.default-text{
	color: $gray_form;
}
.info-block{
    font: 14px/16px "RobotoRegular";
 	margin-bottom: 20px;

    p{
  	margin-bottom: 20px;
        &:last-of-type{
            margin-bottom: 0px;
        }
        &:only-of-type{
            margin-bottom: 20px;
        }
 	}
}
table.dataTable span.highlight {
  background-color: $highlight-color;
  color: $gray_text;
  border-radius: 0.28571429rem;
}
table{
	tr{
		th, td{
			&:first-child{
				.census-icon{
					margin-right: 5px;
					margin-left: 0;
				}
			}
			.census-icon{
				margin-left: 5px;
			}
		}
	}
}
.census-icon{
	text-transform: capitalize;
	display: inline-block;
    padding: 3px 5px 3px 4px;
    border-radius: 100%;
    background-color: $blue;
    color: #fff !important;
    font: 13px/13px Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}
.flag{
	font-size: 14px;
	line-height: 24px;
  	color: $gray_form;
  	display: block;
  	font-weight: bold;
  	padding-left: 35px;
  	position: relative;
  	@include transition(color, 0.2s);
  	&:before{
  		@extend .button-flag;
  		content: "";
  		@include absolute(0, null, null, 0);
  	}
	&.flagged{
		color: $gray-text;
		&:before{
            background-position: 1px 0;
        }
	}
	&:hover, &:focus, &:active{
		color: $gray_light;
		text-decoration: none;
		&:hover, &:focus{
    		&:before{
				background-position: -57px 0;
			}
    	}
		&:before{
			background-position: -57px 0;
		}
	}
	&.flagged:hover, &.flagged:focus{
		color: $gray-text;
		text-decoration: none;
		&:before{
			background-position: -18px 0;
		}
	}	
}
.view-mood{
	position: fixed;
	top: 70px;
	z-index: 20;
	width: 100%;
	text-align: center;
	color: $state-warning-text;
	margin: 0;
	border-radius: 0;
	.panel-heading{
		padding: 5px;
		background-color: $highlight-color;
	}
	& + main {
		margin-top: 30px;
		.container-fluid{
			
			.filters{
				padding-top: 130px;
			}
			.content{
				padding-top: 100px;
			}
			.foldback-button{
				top: $indent-foldback-button-hd + 30px;
			}
			.questionnaire{
		    	.unit-title.is_stuck{
			        top: 100px !important;
			    }
		    }
		}
	}
	& + .web-interview-for-supervisor.fullscreen-hidden-filters.fullscreen-hidden-content .content .foldback-button{
	 	top: 155px;
	}
}
@media (max-width: $screen-md-min){
	.view-mood{
		top: 60px;
		& + main {
			.container-fluid{
				margin-top: 30px;
				.filters{
					padding-top: 125px;
				}
				.content{
					padding-top: 90px;
				}
				.foldback-button{
					top: $indent-foldback-button + 30px;
				}
				.questionnaire{
			    	.unit-title.is_stuck{
				        top: 90px !important;
				    }
			    }
			}
		}
		& + .web-interview-for-supervisor.fullscreen-hidden-filters.fullscreen-hidden-content .content .foldback-button,
		& + .web-interview-for-supervisor.fullscreen-hidden-filters .filters .foldback-button,
		& + .web-interview-for-supervisor.fullscreen-hidden-content .filters .foldback-button{
		 	top: $indent-foldback-button + 30px;
		}
	}
}
@media (max-width: $screen-sm-min){
	.view-mood{
		& + main {
			.container-fluid{
				.content{
					.foldback-button{
						top: 145px;
					}
					.humburger-foldback-button{
						top: $indent-foldback-button + 30px;
					}
				}
			}
		}
		& + .web-interview.fullscreen-hidden-content .content .foldback-button{
			top: $indent-foldback-button + 30px;
		}
	}
}