@include fontface(RobotoRegular);
@include fontface(RobotoItalic);
@include fontface(RobotoLight);
@include fontface(RobotoBold);
@include fontface(TrebuchetMSBold);
@include fontface(ufonts_com_lucidaconsole);
@include fontface(TrebuchetMS);
@include fontface(RobotoMedium);
input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
input::-ms-clear {
    display: none;
}
a{
	color: $blue;
	&:hover, &:focus{
		color: $blue;
	}
}
html {
  position: relative;
  min-height: 100%;
	body {
		margin-bottom: 60px;
		font-family: Arial, sans-serif;
		font-size: 16px;
		line-height: 18px;
		@include gradient($gray_form, $gray_form, null, null);
		background-size: 12px 100%;
		padding-top: 70px;
		main{
			padding: 25px 45px 40px 88px;
		}
		.footer {
			position: absolute;
			bottom: 0;
			@include size(100%, 60px);
			text-align: left;
			color: $gray_light;
			@include font(12px, 16px);
			padding: 0 45px 0 75px;
			a{
				color: $gray_light;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}

//navigation
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
	max-height: 360px;
}
.navbar{
	min-height: 60px;
	.container-fluid{
		padding: 0 45px;
	}
	.navbar-brand{
		height: 50px;
		div{
			float: left;
		}
		.brand-name{
			@extend %font-header;
			padding: 9px 0 0 28px;
			&:hover, &:focus{
				font-family: "RobotoBold";
			}
			&::after {
				   display:block;
				    font-family: "RobotoBold";
				    content:attr(title);
				    height:1px;
				    color:transparent;
				    overflow:hidden;
				    visibility:hidden;
				    margin-bottom:-1px;
				}
		}
		.retina.logo{
			@include size(15px, 41px);
			background: url(../img/logo.png) no-repeat;
			background-size: 15px 41px;
			@include image-2x("../img/logo-retina.png", 15px, 41px);
		}
	}
	.navbar-collapse{
		li{
			position: relative;
			
			&.active>a{
				@include transition;
				font-family: "RobotoBold";
				span{
					font-family: "RobotoLight";
				}
				& > .caret{
					border-top-color: $white;
				}
			}
			&>a{
				@extend %font-header;
				padding: 24px 12px 25px;
				text-align: center;
				@include transition();
				
				&:hover, &:focus{
					font-family: "RobotoBold";
					span{
						font-family: "RobotoLight";
					}
					& > .caret{
						border-top-color: $white;
					}
				}
				.caret{
					@include absolute(31px, 17px);
					margin-left: 11px;
					border-top: 8px solid rgba(255, 255, 255, 0.7);
					border-right: 5px solid transparent;
					border-left: 5px solid transparent;
				}
				&::after {
				    display:block;
				    font-family: "RobotoBold";
				    content:attr(title);
				    height:1px;
				    color:transparent;
				    overflow:hidden;
				    visibility:hidden;
				    margin-bottom:-1px;
				    padding: 0 5px;
				}
			}
			&.dropdown > a{
				padding-right: 25px;
			}
			.dropdown-menu li{ 
				&.active {
					a{
						color: $white;
						font-family: "RobotoLight";
						border-radius: 0;
						&:hover, &:focus{
							font-family: "RobotoBold";
						}
					}
				}
				a{
					border-radius: 5px;
					padding: 10px;
					text-align: left;
					color: $gray_text;
					@include transition();
				}
			}
		}
	}
}
.retina{
	font-size: 0;
	line-height: 0;
}
.container{
	margin: 0;
	padding: 0;
}
.badge.badge_nav{
	background-color: #2a81cb;
	border-radius: 100%;
	padding: 9px;
	@include absolute($top: 18px, $left: -30px);
	font-size: 18px;
	line-height: 20px;
}
.navbar-header {
	text-align: center;
	.badge.badge_nav{
		display: none;
	}
}

.active-page{
	display: none;
	color: $white;
	font-family: "RobotoBold";
	font-size: 18px;
	line-height: 50px;
	&:hover, &:focus{
		color: white;
	}
}
@media (max-width: $screen-md-min) {
	html body main, html body .footer, .navbar .container-fluid{
		padding: 0 2% 0 4%;
	}
	html body {
		padding-top: 60px;
		main{
			padding-bottom: 45px;
			padding-top: 25px;
		}
	}
	.active-page{
		display: inline-block;
	}
	.navbar-nav{
		margin: 0;
	}	
	.navbar-brand{
		transform: rotate(270deg);
		.brand-name{
			display: none;
		}
	}
	.navbar-toggle{
		z-index: 25;
	}
	.navbar-header{
		margin: 5px 0;
	}
	.navbar.navbar-fixed-top .navbar-collapse{
		max-height: 100%;
		top: 0;
		left: 0;
		z-index: 10;
		display: none;
		position: fixed;
		@include size(100%, 100%);
		background: black;
		margin: 0;
		padding: 40px 5%;
		li {
			&.active a{
				color: white;
				&:hover, &:focus{
					background-color: rgba(255, 255, 255, 0.4);
				}
			}
			&> a{
				border-radius: 5px;
				padding: 15px 10px;
				text-align: left;
				color: $gray_light;
				&:hover, &:focus{
					color: white;
				}
			}
			.dropdown-menu li {
				a{
					padding: 15px 10px;
				}
				&.active {
						a{
							border-radius: 5px;
							background-color: rgba(42, 129, 203, 0.5);
							&:hover, &:focus{
								font-family: "RobotoBold";
								background-color: rgba(42, 129, 203, 1);
							}
						}
					}
			}
		}
		
		.navbar-right .badge.badge_nav{
			top: 0;
			left: 0;
			position: relative;
			margin-right: 10px;
		}
		li .caret{
			top: 0;
			left: 0;
			position: relative;
			margin: 0;
			margin-right: 10px;
		}
	} 
	.navbar-fixed-top .navbar-nav > .active > a, 
	.navbar-fixed-top .navbar-nav > .active > a:hover, 
	.navbar-fixed-top .navbar-nav > .active > a:focus{
		background-color: #333;
	}
	.icon-bar{
		@include transition;
	}
	.navbar-inverse .navbar-toggle{
		background-color: transparent;
		border: none;
	}
	.top-animate {
	  @include rotate(225deg);
	  position: relative;
	  top: 6px;
	}
	.mid-animate { opacity: 0; }
	.bottom-animate {
		bottom: 6px;
		position: relative;
	    @include rotate(-225deg);
	}
	.navbar-header .badge.badge_nav{
		display: block;
		float: right;
		position: relative;
		top: 0;
		left: 0;
		margin: 6px 15px 6px 0;
	}
}
@media (max-width: $screen-sm){
	html body .container{
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: $screen-xs-min){
	.breadcrumb li a, .breadcrumb > li + li:before{
			padding: 0 2px;
			font-size: 8px;
			line-height: 10px;
	}	
}
h2{
	font: 26px/28px "RobotoLight";
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 25px;
}
h3{
	@include font(19px, 21px, "RobotoBold");
	margin-top: 0;
}
h4{
	font: 22px/24px "RobotoLight";
	margin-bottom: 22px;
}
h5{
	@include font(14px, 16px);
	margin-bottom: 15px;
	font-weight: bold;
} 
.hold-transition *{
 -webkit-transition: none !important;
 -moz-transition: none !important;
 -ms-transition: none !important;
 -o-transition: none !important;
} 
.progress{
	height: 10px;
	.progress-bar{
		border-radius: 4px;
	}
}
.back-link{
    text-transform: uppercase;
    font: 12.5px/14px "TrebuchetMSBold";
    letter-spacing: 0.5px;
    display: inline-block;
}
.btn-success, .btn-primary, .btn-danger, .btn-default{
    font: 12px/14px "TrebuchetMSBold";
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.btn-success{
	background-color: $green_btn;
}
.btn-primary{
	background-color: $blue;
}
.btn{
	&:disabled{
		background: $gray-super-light repeating-linear-gradient(-45deg, #d7d7d7, #d7d7d7 3px, $gray_light 2px, $gray_light 6px); 
		border-color: transparent;	
		&:hover, &:focus{
			border-color: $gray-super-light;
		}
	}
}
.breadcrumb{
    background-color: transparent;
    margin: 0;
    padding: 0;
  	& > li + li:before{
  		display: none;
  	}
  	& > li:after{
  		content: "/ ";
	    padding: 0 5px;
	    color: #ccc;
	    line-height: 75%;
	    font-size: 75%;
  	}
    li a{
        @extend %gray-uppercase;
    } 
}

.error-text{
	color: $red_error;
}
.success-text{
	color: $green_btn;
}
.default-text{
	color: $gray_form;
}
.radio{
	label{
	    color: $gray_light;
	    font-weight: normal;
	    padding: 7px 0;
	}
    input.wb-radio{
        display: none;
	    @extend %questionnaire-sprite;
	    &:checked + label{
            color:  $gray_text;
            font-weight: bold;
        }
       	& + label .tick {background-position: -324px 0px;}

	    & + label:hover .tick,
	  	& + label:focus .tick{
	    	background-position: -365px 0px;
	  	}
	  	&:checked + label .tick {
	    	background-position: -406px 0px;
	  	}
	  	&:checked + label:hover .tick,
	  	&:checked + label:focus .tick {
	    	background-position: -447px 0px;
	  	}
	  	&:disabled + label .tick {
	    	background-position: -570px 0px;
	  	}
	  	&:disabled + label:hover .tick,
	  	&:disabled + label:focus .tick{
	    	background-position: -611px 0px;
	  	}
	  	&:checked:disabled + label .tick{
	    	background-position: -488px 0px;
	  	}
	  	&:checked:disabled + label:hover .tick,
	  	&:checked:disabled + label:focus .tick{
	    	background-position: -529px 0px;
	  	}
    }
}
input.wb-checkbox{
    display: none;
    @extend %questionnaire-sprite;
    & ~ label:hover .tick,
  	& ~ label:focus .tick{
    	background-position: -37px 0px;
  	}
  	&:checked ~ label .tick {
    	background-position: -78px 0px;
  	}
  	&:checked ~ label:hover .tick,
  	&:checked ~ label:focus .tick {
    	background-position: -119px 0px;
  	}
  	&:disabled ~ label .tick {
    	background-position: -160px 0px;
  	}
  	&:disabled ~ label:hover .tick,
  	&:disabled ~ label:focus .tick{
    	background-position: -201px 0px;
  	}
  	&:checked:disabled ~ label .tick{
    	background-position: -242px 0px;
  	}
  	&:checked:disabled ~ label:hover .tick,
  	&:checked:disabled ~ label:focus .tick{
    	background-position: -283px 0px;
  	}
}
@include placeholder {
    font-weight: normal !important;
    font-style: italic;
}
.foldback-button{
	@include size(50px, 46px);
	cursor: pointer;
	@include absolute(5px, 0, null, null);
	border-radius: 4px;
	z-index: 2;
	@include transition(all, 0.5s, linear, 0.2s);
	&:hover, &:focus{
	    span.arrow{
	    	background-color: rgba(0, 0, 0, 1);
	    }
	    .glyphicon{
	    	color: rgba(0, 0, 0, 1);
		}
	}
	span.arrow{
		display: inline-block;
		@include size(20px, 2px); 
		margin: 15px 10px;
		background-color: rgba(0, 0, 0, 0.5);
		@include absolute(0, 0);
		@include rotate(-45deg);
		&:first-of-type{
			@include rotate(45deg);
			top: 13px;
		}
	}
	.glyphicon{
		display: none;
		color: rgba(0, 0, 0, 0.5);
		font-size: 18px;
		top: 14px;
		left: 10px;
	}
}

#hidden-links{
    display: none;
}