.enumerators{
    position: relative;
    .table-wrapper{
        margin-left: -15px;
        max-width: 1210px;
    }
}
.interviews-information{
    margin-bottom: 40px;  
    .number-information{
        color: $gray_text;
        float: left;
        padding-right: 15px;
        font-family: "RobotoLight";
        min-width: 110px;
        cursor: default;
        .amount-of-questionnaires,
        .description{
            @include transition(all, 0.2s);
        }
        .amount-of-questionnaires{
            padding-right: 10px;
            border-bottom: 2px solid #f0f0f0; 
            font-size: 60px;
            line-height: 62px;
        }
        .description{
            padding-top: 7px;
            text-transform: uppercase;
            font: 10px/12px $roboto_medium;
            width: 100px;
        }
        &:hover, &:focus, &:active, &:active:focus{
            text-decoration: none;
            color: $blue;
            .amount-of-questionnaires{
                border-color: $blue;
            }
        }
    }
}
.connection-statistics{
    margin-bottom: 30px;
    h3{
        margin-bottom: 20px;
    }
    @include font(14px, 16px);
    ul{
        margin-bottom: 15px;
        li{
            margin-bottom: 3px;
            &::last-child{
                margin-bottom: 0;
            }
        }
    }
    .detailed-statistics{
        display: block;
        &+a{
            margin-top: 15px;
        }
    }
}
.detailed-statistics-block{
    display: block;
    td{
        width: 50%;
    }
    .table{
        margin-left: -15px;
    }
}


.graphic-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: $graphic-height;
    margin-bottom: 60px;
}
.graphic{
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    &:after, &:before{
        display: block;
        content: "";
        @include absolute(0, 0);
        z-index: 3;
        width: 100%;
        height: 12px;
        @include gradient-vertical(#fff, rgba(255, 255, 255, 0), 0%, 80%);
    }
    &:before{
        top: auto;
        bottom: 0;
        @include gradient-vertical(rgba(255, 255, 255, 0), #fff, 0%, 80%);
    }
}
.day-unit{
    height: 100%;
    display: flex;
    position: relative;
    .day{
        display: block;
        @include absolute(null, null, -15px, 0px);
        font: 12px/14px $trebuchet;
        text-transform: uppercase;
    }
    &:before{
        display: block;
        content: "";
        @include absolute(0, null, null, 0);
        width: 2px;
        height: 100%;
        background-color: #f0f0f0;
    }
    &:last-of-type{
        .quarter-of-day:last-child{
            .recent-activity, .unfinished-assignments{
                position: relative;
                &:after{
                    display: block;
                    content: "";
                    @include absolute(0, 0, 0, 0);
                    z-index: 2;
                    @include gradient-horizontal(rgba(255, 255, 255, 0), #fff, 0%, 60%);
                }
            }
        }
    }
}
.recent-activity.first-column{
    padding-left: 2px;
}
.quarter-of-day{
    width: 18px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.recent-activity{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: $graphic-height/2;
    padding-bottom: 3px;
    & {
        .uploaded, .downloaded, .census-template, .successful-connection, .failed-connection{
            display: flex;
            flex-shrink: 0;
        } 
    }
}
.unfinished-assignments{
    border-top: 2px solid #f0f0f0;
    height: $graphic-height/2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.downloaded {
     @include synchronizations-arrow($blue, -45deg, 45deg);
}
.uploaded {
    @include synchronizations-arrow($green, 45deg, -45deg);
}
.census-template{
    @include synchronizations-arrow(#00ceed, -45deg, 45deg);
}
.successful-connection{
    @include connection-status($gray_form);
}
.failed-connection{
    @include connection-status($red-super-light);
}
.over-limit{
    width: 15px;
    height: 6px;
    position: relative;
    %dot{
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background-color: $gray_form;
    }
    span{
        @extend %dot;
        position: absolute;
        top: 0;
        left: calc(50% - 2px);
        &:before, &:after{
            @extend %dot;
            content: "";
            position: absolute;
            left: -5px;
            bottom: 0;
        }
        &:after{
            left: 5px;
        }
    }
}
.explanation{
    height: 100%;
    @include font(12px, 14px);
    .downloaded, .uploaded, .census-template, .successful-connection, .failed-connection{
        display: inline-block;
    }
}
.graphic-explanation{
    width: 300px;
    font: 12px/14px $trebuchet_bold;
    .recent-activity {
         align-items: flex-start;
         margin-left: 20px;
         ul li{
            padding-left: 25px;
            position: relative;
            .uploaded, .downloaded, .census-template, .successful-connection, .failed-connection{
                @include absolute(0,null, null, 0);
            }
         }
    }
    .unfinished-assignments{
        flex-direction: column;
        padding-left: 20px;
        p{
            margin: 10px 0 0 25px;
        }
    }
}
.half-of-quarter{
    width: 50%;
}
.unfinished-unit{
    width: 100%;
    height: 7px;
    background: rgba(42, 129, 203, 0.7);
    position: relative;
    z-index: 2;
}
.census{
    .unfinished-assignments{
        padding-top: 7px;
        position: relative;
        &.census-update:before{
             @include gradient-horizontal(#00ceed, rgba(42, 129, 203, 0.9), 60%, 100%);            
        }
        &:before{
            display: block;
            content: "";
            width: 100%;
            height: 7px;
            @include absolute(0,0);
            @include gradient-horizontal(rgba(42, 129, 203, 0.9), rgba(42, 129, 203, 0.9), 0%, 100%);
        }
    }
}
.qrcode-wrapper{
    position: absolute;
    display: block;
    top: 35px;
    right: 40px;
    width: 200px;
    img{
        width: 100%;
        height: auto;
    }
}
// traffic usage
.t-monthly-usage{
    border-left: 2px solid #f0f0f0;
    height: 100%;
    display: flex;
    position: relative;
}
.t-month{
    position: absolute;
    top: calc(100% - 24px);
    left: 2px;
    font: 12px/14px "Trebuchet MS", Helvetica, sans-serif;
    text-transform: uppercase;
}
.t-daily-usage{
    height: 80%;
    position: relative;
    border-right: 1px solid #f0f0f0;
    &:last-of-type{
        border-right: none;
    }
}
.t-unit-wrapper{
    width: 20px;
    height: 85%;
    border-bottom: 2px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.t-day{
    position: absolute;
    bottom: 0;
    left: 2px;
    font: 12px/14px "Trebuchet MS", Helvetica, sans-serif;
    text-transform: uppercase;
    &.t-no-sync{
        color: #d8d8d8;
    }
}
.t-up, .t-down{
    width: 100%;
    font: 12px/14px "Trebuchet MS", Helvetica, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.t-up{
    background-color: rgba(60,162,26,0.7);
}
.t-down{
    background-color: rgba(42, 129, 203, 0.7);
}
.traffic-usage{
    .total{
        padding-left: 40px;
    }
} 
.legend-block{
    height: 80%;
    padding-bottom: 0;
    margin-left: 0;
    .legend{
        height: 85%;
        border-bottom: 2px solid #f0f0f0;
        padding-left: 20px;
        padding-bottom: 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
.legend-unit span{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    /* border-radius: 100%; */
}
.up-unit span{
    background-color: rgba(60,162,26,0.7);
}
.down-unit span{
    background-color: rgba(42, 129, 203, 0.7);
}
.total span{
    font-size: 22px;
    line-height: 24px;
}
@media (max-width: $screen-md-min){
    .enumerators{
        .table-wrapper{
            margin-left: 0;
        }
        .detailed-statistics-block .table{
            margin: 0;
        }
    }
}
@media only screen and (max-width: 1050px){
    .qrcode-wrapper{
        position: relative;
        top: 0;
        right: 0;
    }
}
@media only screen and (max-width: 840px){
    .interviews-information .number-information{
        width: 50%;
    }
}
@media (max-width: $screen-sm-min){
    .enumerators {
        .table-interviews{
            display: none;
        }
        .screen-small-resolution{
            padding: 0;
        }
    }
    .graphic-wrapper{
        display: block;
        height: auto;
        margin: 30px 0 30px 50px;;
    }
    .graphic{
        height: auto;
        display: block;
        width: $graphic-height;
        float: left;
        margin-right: 40px;
         &:after, &:before{
             height: 100%;
             width: 12px;
             left: 0;
             @include gradient-horizontal(#fff, rgba(255, 255, 255, 0), 0%, 80%);
         }
         &:before{
             left: auto;
             right: 0;
             @include gradient-horizontal(rgba(255, 255, 255, 0), #fff, 0%, 80%);
        }
    }
    .day-unit{
        height: auto;
        width: 100%;
        display: block;
        &:before{
            width: 100%;
            height: 2px;
        }
        .day{
            top: calc(50% - 7px);
            bottom: auto;
            left: -55px;
            width: 50px;
            text-align: right;
        }
        &:last-of-type{
        .quarter-of-day:last-child{
            .recent-activity, .unfinished-assignments{
                &:after{
                    @include gradient-vertical(rgba(255, 255, 255, 0), #fff, 0%, 60%);
                }
            }
        }
    }
    }
    .recent-activity.first-column{
        padding-left: 0;
        padding-top: 2px;
    }
    .quarter-of-day{
        width: 100%;
        height: 18px;
        flex-direction: row;
    }
    .recent-activity{
        flex-direction: row-reverse;
        height: auto;
        padding-bottom: 0;
        padding-right: 5px;
        width: 50%;
    }
    .downloaded, .uploaded, .census-template{
        display: block;
        width: 10px;
        height: 15px;
        &:before{
            top: 3px;
            right: 0;
        }
        &:after{
            top: 8px;
            left: 0;
        }
    }
    .over-limit{
        width: 6px;
        height: 15px;
        span{
            top: calc(50% - 2px);
            left: 0;
            &:before, &:after{
                left: 0;
                bottom: -5px;
            }
            &:after{
                left: 0;
                top: -5px;
            }
        }
    }
    .successful-connection, .failed-connection{
        width: 6px;
        height: 15px;
        &:before{
            width: 4px;
            height: 13px;
            bottom: calc(50% - 6.5px);
            left: auto;
            right: 0;
        }
    }
    .unfinished-assignments{
        height: auto;
        flex-direction: column;
        width: 50%;
        border-top: none;
        border-left: 2px solid #f0f0f0;
    }
    .half-of-quarter{
        width: 100%;
        height: 9px;
        display: flex;
        flex-direction: row;
    }
    .unfinished-unit{
        height: 100%;
        width: 7px;
    }
    .graphic-explanation{
        float: left;
        .recent-activity{
            width: 100%;
            display: block;
            ul li{
                margin-bottom: 5px;
            }
        }
        .unfinished-assignments{
            width: 100%;
            border-left: none;
            border-top: 2px solid #f0f0f0;
        }
    }
    .census{
        .unfinished-assignments{
            padding-top: 0;
            padding-left: 7px;

            &.census-update:before{
                @include gradient-vertical(#00ceed, rgba(42, 129, 203, 0.9), 60%, 100%);            
            }
            &:before{
                width: 7px;
                height: 100%;
                right: auto;
                left: 0;
                @include gradient-vertical(rgba(42, 129, 203, 0.9), rgba(42, 129, 203, 0.9), 0%, 100%);
            }
        }
    }
}
@media only screen and (max-width: 670px){
    .graphic-wrapper{
        margin: 30px 0;
        .graphic{
            float: none;
            margin: 0 auto 30px;
        }
        .graphic-explanation{
            float: none;
        }
    }
}