.export-types{
	padding: 50px 30px 0;
	position: relative;
	margin-left: $filter-width - $margin-container + 15px + 12px;
	max-width: 900px;
	@include transition(margin, 0.3s);
	background-color: #fff;

	.data{
		width: 100%;
		margin-bottom: 30px;
		p{
			@include font(14px, 16px);
			margin-bottom: 0;
			span{
				display: block;
			}
			a{
				color: $gray-text;
				text-decoration: underline;
				&:hover, &:focus{
					text-decoration: none;
				}
			}
		}
		&.metadata .table-data-header{
			height: 32px;
		}
		.table-data-header{
			min-height: 32px;
			padding-left: 18px;
			@extend %gray-uppercase;
			overflow: hidden;
			width: 100%;
			display: table;

			div{
				float: right;
				padding: 5px 10px 13px;
			}
		}
		.table-data{
			padding-left: 18px;
			display: table;
			@include size(100%, 60px); 
			.cell-data{
				display: table-cell;
				vertical-align: middle;
				padding: 0 20px;

				.not-generated{
					display: inline-block;
				}
				&.download-block{
					padding: 0 5px;
				}
			}
			.min-view{
				display: none;
			}
			&:nth-of-type(2n){
				background-color: $gray-super-light;
			}
			.format-data{
				@include font(14px, 16px);
				font-weight: bold;
				width: 34%;
				position: relative;
				padding-left: 80px;
				&:before{
					display: block;
					@include absolute(19%, null, null, 0);
					@include size(63px, 41px);
					content: "";
					background: url("#{$assetsPath}/img/data-image.png") no-repeat;
					background-size: 63px 234px;
					@include image-2x("#{$assetsPath}/img/data-image2k.png", 63px, 234px);
    				background-position: 0px -200px;
				}
				&.separated-data:before{
    				background-position: 0px -120px;
				}
				&.xlsx:before{
    				background-position: 0px -78px;
				}
				&.stata:before{
    				background-position: 0px 4px;
				}
				&.spss:before{
    				background-position: 0px -38px;
				}
				&.zip:before{
    				background-position: 0px -165px;
				}
				span{
					color: $blue;
				}
			}
			.btn{
				margin: 5px;
			}
			.not-generated, .no-data-available{
				@extend %uppercase-font;
				color: $gray_light;
			}
			.not-generated{
				padding: 0 20px; 
			}
			.no-data-available{
				display: none;
				padding: 0 10px;
			}
		}
		.size, .last-generated, .min-view{
			color: $gray_light;
			font: 12px/14px "TrebuchetMSBold";
		}
		.size{
			width: 16%; 
		}
		.last-generated{
			width: 19%; 
			border-left: 1px solid #f2f4f4;
			border-right: 1px solid #f2f4f4;
		}
	}
}
.cancel{
	$cross-height: 24px;
	@include cancel($cross-height);
}
.footer{
	@include transition(padding, 0.3s);
}
.fullscreen-hidden-filters .export-types{
	padding: 50px 30px 0;
	margin-left: $filter-width - $margin-container + 15px + 12px;
} 
@media only screen and (max-width: 1300px){
	@include fullscreen-hidden-filter('export-types');
}
@media (max-width: $screen-md-min){
	.fullscreen-hidden-filters .export-types{
		margin-left: 0;
		padding-left: 12px;
	} 
  	.export-types{
  		padding: 50px 20px 0 30px;
  		margin-left:  $filter-width - $margin-container-md-screen + 15px + 12px;
  		.size, .last-generated{
  			display: none;
  		}
  		.data .table-data-header{
  			min-height: auto;
  		}
  		.data.metadata .table-data-header{
			height: auto;
		}
	  	.data .table-data {
	  		.min-view{
	  			display: table-cell;
	  			width: 35%;
	  			padding: 0 5px;
	  			div{
	  				padding: 8px 0;
	  			}
	  		}
	  		.size, .last-generated{
	  			display: none;
	  		}
	  		.format-data{
		  		width: 35%;
		  		padding-left: 75px;
		  	}
		  	.not-generated{
		  		padding: 0 10px;
		  	}
			.progress-information{
				width: 80%;
			}
	  	}
	  	.data p{
	  		margin-bottom: 15px;
	  	}
	  	.data.metadata .container-data {
			padding-top: 0;
		}
  	}
  	.fullscreen-hidden-filters .export-types{
  		padding: 55px 20px 0;
  		width: 100%;
  		.size, .last-generated{
  			display: table-cell;
  		}
	  	.data .table-data {
	  		.min-view{
	  			display: none;
	  			width: 40%;
	  			padding: 0 5px;
	  			div{
	  				padding: 8px 0;
	  			}
	  		}
	  		.size, .last-generated{
	  			display: table-cell;
	  		}
	  		.format-data{
		  		width: 34%;
		  		padding-left: 75px;
		  	}
		  	.last-generated{
		  		width: 19%;
		  	}
		  	.not-generated{
		  		padding: 0 10px;
		  	}
		  	
	  	}
	  	.data p{
	  		margin-bottom: 15px;
	  	}
  	}
}
@media (max-width: $screen-sm-min){
	.export-types{
		margin-left: 0;
		padding: 55px 15px 0;
		h2{
			margin-bottom: 25px;
			@include font(24px, 26px);
		}
		.data .table-data {
			padding: 0 10px;
			.cell-data, .not-generated{
				padding: 0 5px;
				&.format-data{
					padding-left: 75px;
				}
			}
			.progress-information{
				width: 60%;
			}
		}
	}
}
@media (max-width: $screen-xs-min){
	.export-types{
		.data{
			.table-data{
				padding: 10px;
				display: block;
				height: auto;
				
				.cell-data{
					text-align: center;
					display: block;
					margin-bottom: 15px;
					.not-generated{
			  			margin-top: 15px;
			  		}
					&.size, &.last-generated{
			  			display: none;
			  		}
			  		&.format-data, &.min-view{
			  			width: 100%;
			  		}
			  		&.format-data{
			  			padding: 50px 0 0;
			  			
			  			&:before{
			  				left: 43%;
			  				top: 0;
			  			}
						&.stata:before{
							left: 45%;
						}
			  		}
				}
			}
		}
	}
}
.export-types .data .table-data.not-generated-data .cell-data {
	.download, &.last-generated, &.size, &.min-view, &.progress-block{
		@extend %inactive;
	}
}
.export-types .data .table-data.generated-data .cell-data{
	&.progress-block, .not-generated{
		@extend %inactive;
	}
}
.export-types .data .table-data.generation-in-progress .cell-data{
	&.download-block, &.last-generated, &.size, &.min-view, .not-generated{
		@extend %inactive;
	}
}
