h4{
	font: 24px/26px "RobotoLight";
	margin-bottom: 22px;
}
h5{
	font: 14px/16px "RobotoBold";
	margin-bottom: 15px;
} 
main.export{
	padding-left: 45px;
	padding-top: 10px;
	color: $gray_text;
}
.filters{
	top: 80px;
	left: 30px;
	bottom: 0;
	height: 85%;
	overflow: auto;
	position: fixed;
	width: 370px;
	border-right: 3px solid $gray-super-light;
	padding: 40px 15px; 
}
.upper-block {
	color: $gray_text;
	border-bottom: 3px solid $gray-super-light;
	padding-bottom: 20px;
	   
	.block-filter{
		margin-bottom: 30px;
		select{
			border-color: $gray_form;
			max-width: 90%;
			option{
				width: 200px;
			}
		}
		.form-group{
			margin: 0;
			label{
				font-size: 14px;
			    line-height: 16px;
			    font-family: inherit;
			    font-weight: normal;
			    margin: 0;
			}
		}
		.form-date{
			margin-bottom: 15px;
			width: 90%;
			.input-group.date{
				label{
					display: table-cell;
					vertical-align: middle;
					font-size: 14px;
					line-height: 16px;
					width: 50px;
				}
				.form-control{
					border-right: none;
					border-color: $gray_form;
					border-bottom-left-radius: 4px;
					border-top-left-radius: 4px;
				}
				.input-group-addon{
					background-color: transparent;
					border-left: none;
					border-color: $gray_form;
				}
			}
		}
	}
}
.lower-block{
	padding: 30px 0;
	a{
		@extend h5;
		color: $blue;
		display: block;
	}
}
.reports{
	padding: 40px 30px;
	margin-left: 370px;
	h2{
		margin-bottom: 75px;
	}
	.data{
		width: 840px;
		p{
			font-size: 13px;
			line-height: 14px;
			span{
				display: block;
			}
		}
		.table-data-header{
			@extend %gray-uppercase;
			overflow: hidden;
			padding: 13px 20px;
			
			span{
				float: right;
			}
		}
		.row-data{
			padding: 13px 20px;
			&:nth-of-type(2n){
				background-color: $gray-super-light;
			}
		}
	}
}