.filters{
    @include transition(width, 0.5s);    
    @include transition(left, 0.3s);    
}
.filters{
	@extend %aside;
	width: $filter-width;
	border-right: 3px solid $gray-super-light;
	padding: 100px 5px 50px 5px;
	margin-left: 12px;
	.input-group.date{
		margin-left: 0 !important;
	}
	.bootstrap-select.btn-group{
		width: 100% !important;   
	} 
	.input-group, .combo-box, .btn-input .dropdown-toggle{
		width: 100%;
	}
	.open > .dropdown-menu{
		width: 100%;    
	}
}
.filters{
	.checkbox-block h5{
		margin-bottom: 10px;
	}
	input.checkbox-filter{
		& ~ label{
	  		padding-left: 30px;
			font-weight: normal;
	  		.tick {
	  			left: -5px;
	  		}
	  	}
	}
}
.filters-container {
	color: $gray_text;
	border-bottom: 3px solid $gray-super-light;
	padding: 0 15px 20px 15px; 
	@extend %filter-indent;
}
.block-filter{
	h5{
		margin-bottom: 2px;
		label{
			margin-bottom: 0;
		}
	}
	margin-bottom: 15px;
	select{
		border-color: $gray_form;
		max-width: 90%;
		option{
			width: 200px;
		}
	}
	.form-group{
		margin-bottom: 10px;
		label{
			@include font(14px, 16px);
			font-family: inherit;
			margin: 0;
		}
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	.form-date{
		margin-bottom: 15px;
		max-width: 275px;
		.input-group.date{
			width: 100%;
			label{
				display: table-cell;
				vertical-align: middle;
				@include font(14px, 16px);
				width: 50px;
				font-weight: normal;
			}
			.form-control{
				border-right: none;
				border-color: $gray_form;
				border-bottom-left-radius: 4px;
				border-top-left-radius: 4px;
			}
		}
	}
}
.form-date{
	&.input-group{
		max-width: none;
	}
	.form-control{
		cursor: pointer;
		border-right: none;
		border-color: $gray_form;
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
	}
}
.calendar{
	@include size(21px, 20px); 
	display: inline-block;
	background: url("#{$assetsPath}/img/calendar.png") no-repeat;
	@include image-2x("#{$assetsPath}/img/calendar2k.png", 21px, 20px);
}
.preset-filters-container{
	padding: 30px 15px 20px 15px;
	@extend %filter-indent;	
	a, .export-queue{
		@extend h5;
		color: $blue;
		display: block;
	}
}
.filters-container .flagged-questions{
	margin: 0;
}
.filters{
	.help-block{
		margin-top: 10px;
	}
}
@media only screen and (max-width: 1300px){
	.foldback-button{
		display: block;
	}
	.fullscreen-hidden-filters{
		.filters{
			left: - $filter-width - 12px;
			overflow: visible;
			@include hidden-foldback-button();
			.foldback-button{
                right: - $width-foldback-button;
            }
		}
	}
}
@media (max-width: $screen-md-min){
	@include tight-filters-aside();
}
@media (max-width: $screen-sm-min){
	.filters{
		left: ((-$filter-width)-12px);
		@include hidden-foldback-button();
		overflow: visible;
	}
	.fullscreen-hidden-filters{
		.filters{
			border: none;
			margin: 0;
			@include absolute(0px, 0, 0, 0);
			width: 100%;
			overflow: auto;
		   	@include visible-foldback-button();
		   	.foldback-button{
		   		right: 10px;
		   	}
	    	.filters-container, .preset-filters-container{
		   		display: block;
		   		width: 300px;
		   		margin: 0 auto;
		   		border-color: $gray_form;
		   		@include opacity(1);
		    	visibility: visible;
		    }
		}
		.export-types{
			display: none;
		}
	}
}