.questionnaire-statistics {
    margin-bottom: 30px;
    ul{
        font: 14px/16px $trebuchet;
        list-style: none;
        padding: 0;
        overflow: hidden;
        li{
            margin-bottom: 6px;
            a{
                font-style: italic;
                text-decoration: underline;
                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}
.import-questionnaire-form{
    .form-group{
        margin-bottom: 0;
    }
    .questionnaire-versioning{
        margin-bottom: 50px;
        margin-top: 15px;
    }
}
.flex-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    .block{
        display: flex;
        flex-grow:1;
        flex-direction:column;
    }
}
.signed-name{

    font-size: 13px;
    line-height: 15px;
    span{
        @extend %uppercase-font;
        color: $blue;
    }
    a{
        color: $gray_light;
        text-decoration: underline;
        &:hover, &:focus{
            text-decoration: none;
        }
    }
}
.import-interview{
    tr{
        td, th{
            width: 10%; 
        }
        .size{
            width: 6%;
        }
    }
    thead{
        tr{
            border-bottom: 2px solid #ddd;
           th{
                .search{
                    top: -5px;
                }
                padding: 8px 10px; 
                &:after, &.sorting::after{
                    top: 10px;
                }
            } 
        }
        th.column-questionnaire-title{
            width: 44%;
        }
    }
    tbody{
        border-bottom: 2px solid #ddd;
        font: 13px/15px Georgia, Times, "Times New Roman", serif;
        font-style: italic;
        tr{
            border-bottom: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            &:hover, &:focus{
                td {
                    &:first-child a{
                        color: #000;
                    }
                    &.shared-with{
                        color: $gray_text;
                    }
                    span{
                        color: $gray_text;
                    }
                }
                .parameters span{
                    color: $gray_light;
                }
            }
            td{
                padding: 8px 10px;
                &.shared-with{
                    color: $gray_form;
                    &>span{
                        color: $gray_text;
                        span{
                            color: $gray_light;
                        }
                    }
                }
                &:first-child{
                    width: 44%; 
                    font: 18px/20px "RobotoRegular";
                }
            }
        }
        .current-user,  .changed-recently{
            color: $green-light;
        }
        .parameters{
            font-style: normal;
        }  
    }
}
@media (max-width: $screen-md-min){
    .import-interview{
        tr{
            @include transition(all, 0.1s);
            height: 35px;
            td, th{
                width: 13%;  
            }
        }
    }
}
@media (max-width: $screen-sm-min){
    .import-wrapper{
        .dataTables_wrapper{
            .dataTables_filter{
                text-align: left;
                left: 0;
                position: relative;
                top: -5px;
                label{
                    &.active {
                        input{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .signed-name{
        margin-bottom: 10px;
        padding: 0 3%;
    }
    .import-interview tbody tr td:first-child{
        font-size: 12px;
        line-height: 14px;
        width: 70%;
    }
    .import-wrapper  .table{
        tr{
            td, th{
                width: 30%;  
            }
        }
    }
    .import-questionnaire-form {
        .questionnaire-versioning, .flex-row{
            margin-bottom: 0;
        }
    }
}

