.web-interview-for-supervisor{
	&.filters-results-are-shown{
		.filters{
			.foldback-button{
				display: block;
			}
		}
		&.fullscreen-hidden-filters{
			.filters{
				left: - $filter-width-details - 12px;
				overflow: visible;
				box-shadow: none;
				@include hidden-foldback-button();
				 .foldback-button{
					right: - $width-foldback-button;
				}
			}
			.filters-results.active{
				left: 12px;
				width: $filter-width-details;
				h2{
					padding-left: 45px;
				}
			}
		}
	}
	.filters{
		width: $filter-width-details;
		z-index: 6;
		@include box-shadow(20px 0px 40px 0px rgba(0, 0, 0, 0.2));
	}
	
}
.web-interview-for-supervisor,
.web-interview-for-supervisor.fullscreen-hidden-content,
.web-interview-for-supervisor.fullscreen-hidden-filters,
.web-interview-for-supervisor.fullscreen-hidden-content.fullscreen-hidden-filters {
	.content{
		left: $filter-width-details + 12px;
	}
	.details-interview{
		&.questionnaire{
			@include width-questionnaire(($filter-width-details + $content-width));
		}
	}
}
@media only screen and (max-width: 1525px){
	.web-interview-for-supervisor{
		.filters{
			width: $filter-width;
			.filter-actions-block .btn-link{
				margin-top: 15px;
			}
	        .preset-filters-container, .filters-container{
				padding-left: 10px;
				padding-right: 15px;
			}
		}
		.filters-results{
			width: $content-width-small;
			&.active{
				left: $filter-width +12px;
			}
		}
		.content{
			left: $content-width + 12px;
		}
		&.fullscreen-hidden-filters{
			&.filters-results-are-shown{
				.filters-results.active{
					width: $filter-width;
				}
				.filters{
					left: - $filter-width - 12px;
				}
			}
			
		}
	}
	.web-interview-for-supervisor,
	.web-interview-for-supervisor.fullscreen-hidden-content,
	.web-interview-for-supervisor.fullscreen-hidden-filters,
	.web-interview-for-supervisor.fullscreen-hidden-content.fullscreen-hidden-filters {
		.content{
			left: $filter-width + 12px;
			box-shadow: 20px 0px 40px 0px rgba(0, 0, 0, 0.2);
		}
		.details-interview{
			&.questionnaire{
				@include width-questionnaire(($filter-width + $content-width-small));
			}
		}
	}
}
@media only screen and (max-width: 1300px){
	.web-interview-for-supervisor{
		.details-interview{
			&.questionnaire{
				@include width-questionnaire(($filter-width + $content-width-small));
			}
		}
		.filters-results.active{
			@include box-shadow(20px 0px 40px 0px rgba(0, 0, 0, 0.2));
		}
		&.fullscreen-hidden-content{
			.content{
				left: -$content-width-small;
				box-shadow: none;
				@include hidden-foldback-button();
				z-index: 6;
				overflow: visible;
				.foldback-button{
	                right: - $width-foldback-button;
	            }
			}
			.questionnaire.details-interview{
				@include width-questionnaire($filter-width);
			}
			.filters{
				overflow: auto;
				box-shadow: 20px 0px 40px 0px rgba(0, 0, 0, 0.2);
			}
			&.filters-results-are-shown{
				.details-interview{
					&.questionnaire{
						@include width-questionnaire($content-width-small + $filter-width);
					}
				}
			}
		}
		&.fullscreen-hidden-filters{
			.filters{
				left: - $filter-width - 12px;
				overflow: visible;
				@include hidden-foldback-button();
				 .foldback-button{
	                right: - $width-foldback-button;
	            }
			}
			&.filters-results-are-shown{
				.content{
					left: $filter-width +12px;
				}
				.details-interview{
					&.questionnaire{
						@include width-questionnaire($content-width-small + $filter-width);
					}
				}
			}
			.content{
				left: 12px;
			}
			.details-interview{
				&.questionnaire{
					@include width-questionnaire($content-width-small);
				}
			}
		}
		&.fullscreen-hidden-filters.fullscreen-hidden-content{
			.filters{
				left: - $filter-width - 12px;
				box-shadow: none;
			}
			.content{
				left: -$content-width-small;
				box-shadow: none;
				.foldback-button{
					top: 55px;
				}
			}
			.details-interview{
				&.questionnaire{
					@include width-questionnaire(0px);
				}
			}
			&.filters-results-are-shown{
				.details-interview{
					&.questionnaire{
						@include width-questionnaire($filter-width);
					}
				}
			}
		}
		
	}
}
@media (max-width: $screen-md-min){
		.web-interview-for-supervisor{
		.filters, .content{
			@include hidden-foldback-button();
			overflow: visible;
		}
		.filters{
			left: - $filter-width - 12px;
			box-shadow: none;
		}
		.content{
			left: -$content-width-small;
			box-shadow: none;
			.foldback-button{
				top: 55px;
			}
		}
		.details-interview{
			&.questionnaire{
				@include width-questionnaire(0px);
				.unit-title{
					padding-left: 60px;
				}
			}
		}
		&.filters-results-are-shown{
			.filters-results h2{
				padding-left: 40px;
			}
			.filters-results.active{
				left: 12px;
			}
			.details-interview{
				&.questionnaire{
					@include width-questionnaire($content-width-small);
				}
			}
			.content{
				z-index: 6;
			}
		}
		&.show-filters{
			.content{
				z-index: 7;
				.foldback-button{
	                top: 5px;
	            }
			}
			.questionnaire.details-interview{
				@include width-questionnaire($filter-width);
			}
			.filters{
				@include visible-foldback-button();
				overflow: auto;
				box-shadow: 20px 0px 40px 0px rgba(0, 0, 0, 0.2);
				left: 0;
			}
			&.filters-results-are-shown{
				.questionnaire.details-interview{
					@include width-questionnaire($content-width-small);
				}
			}
		}
		&.show-content{
			.content{
				left: 12px;
				@include visible-foldback-button();
				box-shadow: 20px 0px 40px 0px rgba(0, 0, 0, 0.2);
				z-index: 5;
				.foldback-button{
	                top: 5px;
	            }
			}
			.details-interview{
				&.questionnaire{
					@include width-questionnaire($content-width-small);
				}
			}
		}
	}
}
@media (max-width: $screen-sm-min){
	.web-interview-for-supervisor{
		.structured-content >.panel-default:first-of-type > .panel-heading h3 > a{
	        margin-right: 0;
		}
	}
}
@media (max-width: $screen-xs-min){
	.web-interview.web-interview-for-supervisor {
		.aside-menu{
			right: 0;
			z-index: 2;
		}
		.questionnaire{
			.button-flag{
				left: 10px;
			}
			.question-editor h5{
				margin-left: 25px;
				margin-right: 15px;
			}
			.unit-title{
				padding-left: 40px;
				.breadcrumb{
					min-height: auto;
					padding-left: 0;
				}
			}
		}
	}	
}