.table-wrapper{
	position: relative;
	.wrapper-modal-dropdown{
	    @include absolute(8px, -5px);
		padding: 5px;
		.btn-strips{
			z-index: 2;
			background-color: #fff;
		}
	   .modal-dialog{
	   		@include absolute(-30px, 0);
	   }
	   .modal.in{
	   		position: absolute;
	   		overflow: visible;
	   }
	}
}
.table-with-prefilled-column{
	.prefield-column, .spent-time, .template, .accepted-hq, .census, .number-rejected{
		display: none;

	}
	td, th{
		&.visible{
			display: table-cell;
		}
		&.prefield-column.first-identifying{
			border-left: 2px solid $blue !important;
		}
		&.prefield-column.last-identifying{
			border-right: 2px solid $blue !important;
		}
	}
	tr:last-child{
		td.prefield-column{
			border-bottom: 2px solid $blue !important;
		}
	}
	th.prefield-column{
		border-top: 2px solid $blue !important;
	}
}
th.prefield-column{
	font: 12px/14px $trebuchet;
	text-transform: none;
	font-weight: normal;
	color: $blue;
}
td.prefield-column{
	font-style: italic;
}
.prefield-column{
	max-width: 500px;
}
.interview-id{
	min-width: 240px !important;
	overflow: hidden;
	.show-prefield-btn{
		text-transform: none;
		float: right;
	}
}
.flags .flag{
	color: $gray_text;
	&:before{
        background-position: 1px 0;
    }
    &:hover, &:focus, &:active{
    	&:before{
			background-position: -18px 0;
		}
    }
}
td.errors{
	color: $red_error;
}
.table tbody tr td span.interviewer{
	color: $gray_text;
}
.table-wrapper .table td.enumerator{
	padding-top: 10px;
	padding-bottom: 10px;	
}
.table tbody tr {
	&:hover, &:focus, &:active{
		td.not-synced-assign
			a{
				color: $gray_text;
			}
	}
	td.not-synced-assign{
		font-style: italic;
		a{
			color: $gray_light;
		}
	}
}
.comment-icon{
	display: block;
    @include size(25px, 23px); 
	background: transparent url("#{$assetsPath}/img/comments-icon-1x.png") no-repeat;
    @include image-2x("#{$assetsPath}/img/comments-icon-2x.png", 32px, 64px);
    background-size: 32px 64px;
    background-position: -4px -40px; 
    &.responded{
    	background-position: -4px -4px; 
    }
}
.enumerator{
	.interviewer, .supervisor{
		&:before{
			margin-right: 10px;
		}
	}
}
.statuses{
	table{
		tr:last-child td{
		font-weight: bold !important;
		}
	}
}