@import "two-column-form";

.left-column{
    #log-in{
        text-align: left;
    }
}

img#placeholder {
    max-width: 365px;
    font-size: 0;
    line-height: 0;
    position: relative;
    display: block;
}

.default-logo {
    display: none;
}

.no-logo {
    .default-logo {
        @include size(365px, 329px);
        display: block;
        background: #fff url("../img/HQ-login-3_05.png") no-repeat;
        background-size: 365px 329px;
    }
    & #placeholder
    {
        display: none;
    }
}
 
.navbar{
    .retina-world-bank{
        @include size(270px, 53px);
        font-size: 0;
        background: url("../img/wb-logo.png") no-repeat; 
        background-size: 100%;
        margin-top: 20px;
        @include image-2x("../img/WBG_Horizontal-Grayscale-high.png", 100%, 100%);
    }
    .flex-row{
        margin: 0 0 0 5px;
        background-color: white;
    }
    .help{
        margin-top: 20px;
        float: right;
        padding: 5px 15px;
        background-color: $gray-super-light;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14px;
        @include transition;
        &:hover, &:focus{
            background-color: $gray-light;
        }
    }
}
.retina.headquarter{
    @include size(269px, 96px);
    background: url("../img/headquarter_logo.png") no-repeat -9px 0;
    background-size: 269px 96px;
    margin-bottom: 25px;
    @include image-2x("../img/headquarter_logo-retina.png", 269px, 96px);
}
@media (max-width: $screen-sm-min){
    .left-column{
        #log-in{
            text-align: center;
        }
    }
    img#placeholder, .no-logo .default-logo{
        display: none;
    }
    .retina.headquarter{
        display: inline-block;
    }
    .navbar .retina-world-bank{
        @include size(135px, 26.5px);
    }
}
