@import "two-column-form";

.left-column{
    #log-in{
        text-align: left;
    }
}
img#placeholder {
    max-width: 365px;
    font-size: 0;
    line-height: 0;
    position: relative;
    display: block;
}
.default-logo {
    display: none;
}
.no-logo {
    .default-logo {
        @extend %default-logo-size;
        display: block;
        background: #fff url("../img/HQ-login-3_05.png") no-repeat;
    }
    & #placeholder
    {
        display: none;
    }
}
.navbar{
    .retina-world-bank{
        @extend %retina-world-bank-size;
        font-size: 0;
        background: url("../img/wb-logo.png") no-repeat; 
        margin-top: 20px;
        @include image-2x("../img/WBG_Horizontal-Grayscale-high.png", 100%, 100%);
    }
    .flex-row{
        margin: 0 0 0 5px;
        background-color: white;
    }
    .help{
        margin-top: 20px;
        float: right;
        padding: 5px 15px;
        background-color: $gray-super-light;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 14px;
        @include transition;
        &:hover, &:focus{
            background-color: $gray-light;
        }
    }
}
.retina.headquarter{
    @extend %retina-headquarter-size;
    background: url("../img/headquarter_logo.png") no-repeat -9px 0;
    margin-bottom: 25px;
    @include image-2x("../img/headquarter_logo-retina.png", 100%, 100%);
}
.interviewer-app{
    margin: 45px 0 -30px;
    display: none;
    border-top: 3px solid $gray-super-light;
    padding-top: 30px;
    text-align: center;
    a{
        display: block;
        margin: 0 auto;
        color: $gray_light;
        @include font(12px, 16px);
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }        
    }
    .get-interviewer-app{
        @include size(248px, 81px);
        background: #000  url("../img/HQ-login-mobile-get-button-logo.png") no-repeat;
        background-size: 55px;
        margin-bottom: 25px;
        @extend %uppercase-font;
        letter-spacing: 1.5px;
        text-decoration: none;
        color: rgba(255,255,255, 0.9);
        background-position: 15px 10px;
        text-decoration: none;
        padding: 10px 27px 10px 85px;
        text-align: left;
        border-radius: 10px;
        span{
            display: block;
            &.version{
                text-transform: none;
                margin-top: 5px;
                color: rgba(255,255,255, 0.5);
            }
        }
    }
}
@media (max-width: $screen-sm-min){
    img#placeholder, .no-logo .default-logo{
        display: none;
    }
    .retina.headquarter{
        display: inline-block;
    }
    .navbar .retina-world-bank{
        @include size(135px, 26.5px);
    }
    .interviewer-app{
        display: block;
    }
    html body {
        main .two-columns-form .log-in .form-group .form-control{
            width: 100%;
        }
    }    
}
