.main-information{
	margin-left: $filter-width - $margin-container + 12px +15px;
	padding: 0 0 0 30px;
	@include transition(margin, 0.3s);
	.page-header{
		div{
			h1{
				padding: 0;
			}
			padding-right: 365px; 
			&:after{
				display: table;
				content: "";
				clear: both;
			}
		}
	} 
	.panel-table{
		left: $filter-width + 12px;
		@include transition(left, 0.3s);
	}
}
.fullscreen-hidden-filter .main-information{
	margin-left: $filter-width - $margin-container + 12px +15px;
	padding: 0 0 0 30px;
	.panel-table{
		left: $filter-width + 12px;
	}
}
@media (max-width: 1300px){
	@include fullscreen-hidden-filter('main-information');
	.fullscreen-hidden-filters .main-information .panel-table{
		left: 12px;
	}
}
@media (max-width: $screen-md-min){
	.main-information {
		margin-left: $filter-small-width - $margin-container-md-screen + 15px + 12px;
		padding-right: 20px;
		.page-header div{
			padding-right: 255px;
		}
		.panel-table{
			left: $filter-small-width+ 12px;
		}
	}
	.fullscreen-hidden-filters{
		.main-information{
			margin-left: 12px;
			.panel-table{
				left: 12px;
			}
		}
	}
}
@media (max-width: $screen-sm-min){
	.main-information{
		margin-left: 15px;
		padding-right: 15px;
		padding-left: 0;
		.page-header div{
			padding-right: 0;
		}
		.panel-table{
			left:  12px;
		}
	}
	.fullscreen-hidden-filters .main-information{
		display: none;
		.panel-table{
			z-index: 0;
		}
	}
}
@media (max-width: $screen-xs-min){
	.main-information{
		margin-left: 0px;
		padding-right: 0px;
		padding-top: 10px;
	}
	.main-information #DataTables_Table_0_wrapper #DataTables_Table_0_filter{
		left: 0;
	}
}