@mixin fontface($family){
	@font-face {
    font-family: '#{$family}';
    src: url('../fonts/#{$family}.eot');
    src: url('../fonts/#{$family}.eot') format('embedded-opentype'),
         url('../fonts/#{$family}.woff2') format('woff2'),
         url('../fonts/#{$family}.woff') format('woff'),
         url('../fonts/#{$family}.ttf') format('truetype'),
         url('../fonts/#{$family}.svg##{$family}') format('svg');}
}
@mixin gradient($first_color, $second_color, $first_color2, $second_color2){
		@if $first_color2==null and $second_color2==null{
				background-color: $first_color;
		-webkit-background: linear-gradient(0deg, $first_color, $second_color) no-repeat 0 0;
		   -moz-background: linear-gradient(0deg, $first_color, $second_color) no-repeat 0 0;
		  	-ms-background: linear-gradient(0deg, $first_color, $second_color) no-repeat 0 0;
		  	 -o-background: linear-gradient(0deg, $first_color, $second_color) no-repeat 0 0;
		  		background: linear-gradient(0deg, $first_color, $second_color) no-repeat 0 0;
		}	
		@else {
			background-color: $first_color;
	background: -webkit-linear-gradient(90deg, $first_color, $second_color) no-repeat 0 0,
				-webkit-linear-gradient(90deg, $first_color2, $second_color2) no-repeat 0 0;
	   background: -moz-linear-gradient(90deg, $first_color, $second_color) no-repeat 0 0,
	   			   -moz-linear-gradient(90deg, $first_color2, $second_color2) no-repeat 0 0;
		background: -ms-linear-gradient(90deg, $first_color, $second_color) no-repeat 0 0,
					-ms-linear-gradient(90deg, $first_color2, $second_color2) no-repeat 0 0;
		 background: -o-linear-gradient(90deg, $first_color, $second_color) no-repeat 0 0,
		 			 -o-linear-gradient(90deg, $first_color2, $second_color2) no-repeat 0 0;
			background: linear-gradient(0deg, $first_color, $second_color) no-repeat 0 0,
						linear-gradient(0deg, $first_color2, $second_color2) no-repeat 0 0;
		}
}
@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin transition($type: all, $time: 0.5s, $kind: linear, $delay: 0s){
	-webkit-transition: $type $time $kind $delay;
	   -moz-transition: $type $time $kind $delay;
		-ms-transition: $type $time $kind $delay;
		 -o-transition: $type $time $kind $delay;
			transition: $type $time $kind $delay;
}
@mixin font($size, $height, $font_family: inherit){
    font-size: $size;
    line-height: $height;
    font-family: $font_family;
}
@mixin image-2x($image, $width, $height) {
    @media (min--moz-device-pixel-ratio: 1.3),
        (-o-min-device-pixel-ratio: 2.6/2),
        (-webkit-min-device-pixel-ratio: 1.3),
        (min-device-pixel-ratio: 1.3),
        (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
    }
}
@mixin accordion($initial-padding){
    $padding : $initial-padding;
    $cummulativePadding: $initial-padding;
    @include paccordion($cummulativePadding);
        $cummulativePadding: $cummulativePadding + $padding;
    & .panel-default{
        @include paccordion($cummulativePadding);
        $cummulativePadding: $cummulativePadding + $padding;
        & .panel-default{
            @include paccordion($cummulativePadding);
            $cummulativePadding: $cummulativePadding + $padding;
            & .panel-default{
                @include paccordion($cummulativePadding);
                $cummulativePadding: $cummulativePadding + $padding;
                & .panel-default{
                    @include paccordion($cummulativePadding);
                    $cummulativePadding: $cummulativePadding + $padding;
                    & .panel-default{
                        @include paccordion($cummulativePadding);
                        $cummulativePadding: $cummulativePadding + $padding;
                        & .panel-default{
                            @include paccordion($cummulativePadding);
                            $cummulativePadding: $cummulativePadding + $padding;
                            & .panel-default{
                                @include paccordion($cummulativePadding);
                                $cummulativePadding: $cummulativePadding + $padding;
                            } 
                        } 
                    } 
                } 
            } 
        } 
    }
}
@mixin paccordion($cummulativePadding){
  & > .panel-heading h3 a{
        margin-left: $cummulativePadding;
  }
}
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}
@mixin close($width, $top: null, $right: null, $bottom: null, $left: null){
    outline: none;
    background-color: transparent;
    @include square($width);
    @include absolute($top, $right, $bottom, $left);
    padding: 20px;
    margin: 0;
    @include opacity(0.5);
    &:hover, &:focus, &:active{
        &:before, &:after{
            background-color: darken($gray_light, 30%);
        }
    }
    &:before, &:after{
        display: block;
        content: "";
        @include size((1.4*$width), 2px);
        background-color: $gray_light;
        @include rotate(45deg);
        position: relative;
        left: -12px;
    }
    &:after{
        @include rotate(-45deg);
        top: -2px;
    }
}
@mixin question_title_colors($default, $with_error, $filled){
    .unit-title{
        background-color: lighten($blue, $default);
    }
    &.contains-error>.unit-title,
    .contains-error>.unit-title{
        background-color: lighten($red_error, $with_error) ;
    }
    &.filled>.unit-title,
    .filled>.unit-title{
        background-color: lighten($green, $filled);
    }
}
@mixin keyframes($animationName)
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
%font-header{
    color: $white;
    font-family: "RobotoLight";
    font-size: 18px;
    line-height: 20px;
}
%default-logo-size{
    @include size(365px, 329px);
    background-size: 365px 329px !important;
}
%retina-headquarter-size{
    @include size(269px, 96px);
    background-size: 269px 96px !important;
}
%retina-world-bank-size{
    @include size(270px, 53px);
    background-size: 100% !important;
}
%instructions{
    font: 26px/28px "RobotoLight";
    color: $gray_text;
    margin-bottom: 22px;
}
%tick{
    display: inline-block;
    @include size(25px, 30px);
    background: transparent url("../img/pretty-checkable-sprites.png") no-repeat;
    vertical-align: middle;
}
%uppercase-font{
    font: 12px/14px "TrebuchetMSBold";
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
%gray-uppercase{
    color: $gray_light;
    font: 11px/13px "TrebuchetMSBold";
    letter-spacing: 1px;
    text-transform: uppercase;
}
%inactive{
    opacity: 0; 
    display: none;
}
%clean-btn{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    &:hover, &:focus{
        border: none;
        background-color: transparent;
    }
}
%aside{
    top: 70px;
    left: 0;
    bottom: 0;
    overflow: auto;
    position: fixed;
    background-color: #fff;
    z-index: 4;
    @include transition(left, 0.3s);
}
%flag{
    @include absolute(0, null, null, 5px);
    display: block;
    content: "";
    @include size(20px, 22px); 
    @include image-2x("../img/flags2k.png", 75px, 22px);
    background: transparent url("../img/flags.png") no-repeat;
    background-size: 75px 22px;
    background-position: -37px 0;  
}
%form{
    border: 1px solid $gray-form;
    background-color: $white;
    border-radius: 5px;
}
%questionnaire-sprite{
    & ~ label .tick {
        display: inline-block;
        @include square(18px);
        background: transparent url("../img/questionnaire-sprite.png") no-repeat;
        vertical-align: middle;
        background-size: 629px 18px;
        background-position: 4px 0px;
        margin-right: 10px;
        @include image-2x("../img/questionnaire-sprite2k.png", 629px, 18px);
    }
}
%visibility-visible{
    visibility: visible;
    opacity: 1;
}
%visibility-hidden{
    opacity: 0;
    visibility: hidden;
}
%action-btn{
    .question-unit .options-group .action-btn-holder .action-btn{
        border-color: $gray_form;
        &:hover, &:focus, &:active{
            border-color: darken($gray_light, 10%);
        }
    }
    .question-unit .options-group .field .close{
        top: -15px;
    }
    .block-with-data{
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
        margin-bottom: 20px;
    }
}
%hidden-foldback-button{
    .foldback-button{
        right: -80px;
        top: 5px;
        background-color: $gray_form;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        span.arrow{
            margin-left: 13px;
            margin-right: 2px;
            @include rotate(45deg);
            &:first-of-type{
                @include rotate(-45deg);
            }
        }
        .glyphicon{
            display: inline-block;
        }
    }
}
@mixin tight-filters-aside(){
    .filters{
        top: 60px;
        width: $filter-small-width;
        padding-top: 45px;
        padding-left: 15px;
        .dropdown-toggle{
            width: 100%; 
        }
        .open > .dropdown-menu{
            width: 100%;    
        }
        &.hidden-filters{
            left: $hidden-filter-small-indent;
            position: absolute;
            .foldback-button{
                right: -70px;
            }
        }
    }
}