body > .ui-pnotify{
    z-index: 100050;
}
.ui-pnotify-modal-overlay, .modal-backdrop{
    background-color: rgba(0,0,0,.2);
}
%modal-window{
    background: #fff;
 	box-shadow: 9px 9px 3px rgba(0, 0, 0, 0.1), 0 0 3px #323232;
	border-radius: 0;
}
.ui-pnotify{
 	@extend %modal-window;
     width: 500px !important;
  	.alert{
   		font-family: "RobotoMedium";
        margin: 0;
        border-top: none !important;
  		padding: 20px;
        &.alert-warning{
            border-top: 10px solid $blue;
            color: $blue;
        }
        &.alert-success{
            border-top: 10px solid $green;
            color: $green;
        }
        &.alert-info{
            border-top: 10px solid $blue;
            color: $blue;
        }
        &.alert-danger{
            border-top: 10px solid $red;
            color: $red;
        }
        .ui-pnotify-closer{
            visibility: visible !important;
        }
    	.ui-pnotify-title{
     		font: 18px/20px "RobotoRegular";
            color: $gray_text;
            margin-bottom: 20px;
    	}
        .ui-pnotify-icon{
            display: none;
        }
    	.ui-pnotify-text{
     		font: 14px/16px Arial, sans-serif;
     		color: $gray_text;

    	}
    	.ui-pnotify-action-bar{
			margin-top: 25px !important;
			text-align: left !important;
			.btn{
				border-color: transparent;
				color: $blue;
				padding: 0;
				margin-right: 20px;
				&:last-of-type{
					margin-right: 0;
				}
				&:hover, &:focus, &:active{
					background-color: transparent;
					text-decoration: underline;
				}
			}
		}
		.ui-pnotify-closer span{
    		@include cancel(16px);
    	}
  	}
    &.loading-indicator{
        border-radius: 0;
        .ui-pnotify-container{
            border-radius: 0;
            box-shadow: 9px 9px 3px rgba(0, 0, 0, 0.1);
        }
        .ui-pnotify-container.alert{
            padding: 30px 40px;
            border-top: none;
        }
        .ui-pnotify-title{
     		font: 24px/26px "RobotoLight";
            padding: 0;
            margin: 0;
    	}
    }
    &.centered-modal{
        position: fixed;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -51%);
        -ms-transform: translate3d(-50%, -51%, 0);
        margin: 0;
    }
}
@media only screen and (max-width: 840px){
    #statusHistoryModal .modal-dialog {
		width: calc(100% - 40px) !important;
        margin: 20px; 
	}
}
@media only screen and (max-width: 680px){
    .modal-dialog{
		width: calc(100% - 40px) !important;
        margin: 20px; 
	}
}
@media only screen and (min-width: $screen-sm-min){ 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal {
  text-align: center;
  padding-right: 0 !important;
  .table{
    td{
        .comment{
            padding-top: 10px;
            h4{
                margin-bottom: 5px;
            }
        }
    }
    td, th{
        padding: 10px;
        &:first-child{
            min-width: 160px;
        }
    }
    th{
		border-top: none !important;
	}
  }
    %hover{
		color: $gray-text;
		&:hover, &:focus, &:active{
			color: $blue;
			text-decoration: none;
		}
	}
	.template, .tetle-row{
		font-size: 16px;
		line-height: 18px;
	}
	.title-row{
		font-size: 16px;
		line-height: 18px;
		//margin-right: 10px; 
		@extend %hover;
	}
	.interviewer{
		@extend %hover;
	}	
}
#statusHistoryModal .modal-dialog { 
    width: 800px; 
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  //max-height: 85%;
  width: 660px;
  //overflow-y: auto;
//   @extend %modal-window;
}
.modal-content{
	padding: 20px;
    //overflow: hidden;
    border: none;
    box-shadow: none;
    h3{
        font-size: 14px;
        line-height: 16px;
    }
    font-size: 14px;
    line-height: 16px;
    p + h3{
        margin-top: 25px;
    }
	.modal-header{
		border: none;
		padding: 0;
		margin-bottom: 25px;
		.close{
			position: relative;
			@include opacity(0.5);
			span{
				@include cancel(20px);
			}
		}
	}
	.modal-body{
		padding: 0 0 10px;
        .bootbox-body{
            h3{
                font: 18px/20px RobotoRegular;
            }
            p:last-child{
                margin: 0;
            }
        }
        ul li {
            margin-bottom: 5px;
            label{
                font: 14px/16px "RobotoRegular";
                font-weight: normal;
            }
            input {
                &:checked + label{
                    color: $gray_text;
                }
                & + label{
                    color: $gray_light;
                }
            }
        }
        .table-striped td{
            border-right: 1px solid $gray-form;
            &:last-child{
                border: none;
            }
        }
	}
    .modal-footer{
        border: none;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        .btn-link{
            padding: 0;
            margin-right: 20px;
        }
    }
}
.modal-dropdown{
    width: 315px;
    max-height: none;
    overflow-y: visible;
}
.context-menu{
 	@extend %modal-window;
    width: 280px;
    padding: 15px 10px;
    h3{
        font: 14px/16px "RobotoBold";
        margin-bottom: 20px;
        margin-left: 10px;
    }
    li{
        a{
            padding: 10px;
            &:hover, &:focus, &:active{
                background-color: #eff4f8;
            }
        }
        span{
            display: inline-block;
            padding: 10px;
            color: $gray_light;
        }
    }
}
.audio-question{
    .modal{
        .modal-dialog{
            max-width: 450px;
        }
        .modal-header{
            margin-bottom: 10px;
            h5{
                padding: 0;
                line-height: 18px;
            }
            .modal-title {
                margin-bottom: 5px;
            }
        }
        .modal-body{
            canvas{
                display: block;
                margin: 0 auto;
            }
        }
        .modal-footer{
            padding-bottom: 0;
            .recordign-time{
                float: left;
                font: 24px/36px "RobotoLight";
            }
            button{
                float: right;
                padding: 10px;
                margin: 0 10px 0 0;
            }
        }
    }
}
@media (max-width: $screen-xs-min){
    .ui-pnotify{
        width: 300px !important;
        .input-group{
            width: 100%;
        }
    }
}