.panel-table{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
	background-color: $table-selected;
	z-index: 5;
	border-radius: 0;
	padding: 0 30px;
	label{
		font-size: 16px;
		line-height: 18px;
		color: #fff;
		padding-right: 45px;
		.tick{
			margin-right: 20px;
		}
	}
	.panel-body{
		padding: 10px;
		.btn{
			margin-right: 10px;
			&.btn-link{
				padding: 0;
			}
		}
	}
}
@media (max-width: $screen-xs-min){
	.panel-table label{
		margin-bottom: 20px !important;
	}	
}