//@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";

.table-view{
    .ag-theme-customStyles{
        font-family:  Arial, sans-serif; 
        line-height: 16px;
        .ag-horizontal-left-spacer{
            height: 0;
        }
        .ag-header-cell{
            border: 1px solid #E5E5E5;
            &:not(:last-of-type){
                border-right: none;
            }
            border-bottom-color: rgba(0, 0, 0, 0.3);
            .ag-header-cell-label {
                text-overflow: clip;
                overflow: visible;
                white-space: normal !important;
                padding: 11px 15px;                    
                width: 100%;
            }
        }
        .ag-pinned-left-header{
            .ag-header-cell{
                border-right-color: rgba(0, 0, 0, 0.3);
            }
        }
        .ag-pinned-left-cols-container{
            .ag-cell{
                background-color: transparent;
                border-right-color: rgba(0, 0, 0, 0.3);
            }
        }
        .ag-cell{
            white-space: normal !important;
            & > .ag-input-text-wrapper{
                width: 100%;
                .ag-cell-edit-input{
                    padding: 9px 15px;
                }
                
            }
            border-bottom: 1px solid #E5E5E5;
            border-right: 1px solid #E5E5E5;
            &:first-of-type{
                border-left: 1px solid #E5E5E5;
            }
            
            display: flex;
            align-items: center;
            &.ag-cell-focus{
                border-color: rgba(0, 0, 0, 0.75) !important;
            }
            &.ag-cell-inline-editing{
                .ag-input-text-wrapper{
                    width: 100%;
                }
                padding: 0;  
                
            }
            input.ag-cell-edit-input{
                padding: 10px 15px;
            }
            .hasDatepicker{
                width: 100%;
                height: 100%;
                padding: 10px 15px;
            }
            select.ag-cell-edit-input{
                padding: 0 10px;
                option{
                    padding: 15px 0;
                    display: block;
                }
            }
            .ag-cell-edit-input{

                outline: none;   
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 4px rgba(102, 175, 233, 0.6);    
                &::placeholder{
                    font: 14px/16px Arial, "Helvetica Neue", Helvetica, sans-serif; 
                    text-transform: none;
                    letter-spacing: normal;
                    font-style: italic;
                }
            }

        }
        // .ag-cell:not(.ag-cell-last-left-pinned){
        //     .cell-unit{
        //         background: #FFFFFF; 
        //     }
        // }
        .cell-unit{
            width: 100%;
            height: 100%;
            
            display: flex;
            align-items: center;
            align-content: center;
            .cell-content{
                display: block;
                width: 100%;
                padding: 10px 15px;
                text-decoration: none;
                color: inherit;
            }
            .popover{
                width: 100%;
            }
            &.syncing{
                .progress{
                    visibility: visible;
                }
            }
            .progress{
                visibility: hidden;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                margin: 0;
                border-radius: 0;
                height: 3px;
                background: transparent;
            }
            &.not-applicable{
                background-color: transparent;
                background-image: linear-gradient(-45deg, #dbdfe2 15%, transparent 15%, transparent 50%, #dbdfe2 50%, #dbdfe2 65%, transparent 65%, transparent);
                background-size: 8px 8px;
                
            }
            &.disabled-question{
                background-color: #E5E5E5;
                border-color: #a0a0a0;
            }
            
            &.has-warnings{
                background-image: url('../img/warning2.svg');
                background-repeat: no-repeat;
                background-position: 0 0;
                border-color: #F0AD00;
                
            }
            &.for-supervisor{
                background-color: #C1D9EB;
                border-color: #adc3d3;
            }
            &.has-error{
                background-image: url('../img/error2.svg');
                background-repeat: no-repeat;
                background-position: 0 0;
                background-color: rgba(255, 46, 0, 0.2);
                border-color: #FF2E00;
                
            }

        }

        &.roster-matrix{
            .cell-bordered{
                &:not(.ag-header-cell-label){
                    height: 100%;
                }
                border-right: 1px solid #E5E5E5;
                
                &:last-of-type{
                    border: none;
                }

            }
            .ag-cell{
                .tooltip-wrapper{
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 30px;
                    position: absolute;
                    z-index: 1000;
                    a{
                        display: block;
                        height: 100%;
                    }
                }
                & > .ag-input-text-wrapper{
                    height: 100%
                }
                .field{
                    height: 100%;
                }
				input{
					left:0px;
					width:0px;
				}
                label{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    justify-content: center;
                    cursor: pointer;
                }
                .radio + .radio{
                    margin: 0;
                }
            }
        }
    }
    .cell-wrap-text {
        white-space: normal !important;
    }
}
.popover-content{
    font-style: italic !important;
    font-weight: bold !important;
    font: 12px/14px Arial, Helvetica, sans-serif;
    h6{
        text-transform: uppercase !important;
        font: 10px/12px "TrebuchetMSBold";
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-style: normal !important;
        font-weight: 400 !important;
        margin-top: 0;
    }
}
.has-instruction{
    background-image: url('../img/instruction.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    border-color: #2D9CDB;
    
}
.warning-tooltip{
    color: rgb(202, 145, 1);
}
.error-tooltip{
    color: #e74924;
}
.instruction-tooltip{
    color: #2a81cb;
}
