main{
    .before-search{
        display: none;
    }
}
.search-wasnt-started{
    .before-search{
        display: block;
    }
    .main-information{
        display: none;
    }
    .filters{
        position: static;
        overflow: visible;
        border: none;
        width: 100%;
        margin: 0;
        padding: 0;
        .foldback-button{
            display: none;
        }
        .filters-container{
            max-width: 310px;
            border: none;
            padding: 0 5px;
            &>h4{
                display: none;
            }
        }
    }
    & + .footer{
        padding-left: 0 !important;
    }
}
.troubleshooting-explanation{
    font-weight: bold;
}
.search-wasnt-started .wrapper-view-mode {
    padding-top: 0 !important;
}