$screen-xs:                  481px;
$screen-sm:                  880px;
$screen-md:                  1210px;
$screen-lg:                  1400px;
$screen-md-min:              $screen-md;
$grid-float-breakpoint:     $screen-md-min;
$grid-gutter-width:         30px;
$container-tablet:             (768px + $grid-gutter-width);
$container-desktop:            (960px + $grid-gutter-width);
$container-large-desktop:      (960px + $grid-gutter-width);
$blue: #2a81cb;
$gray_form: #dbdfe2;
$gray_text: #3f3f3f;
$gray_light: #b0b0b0;
$gray_info: #3c4143;
$gray-super-light: #efefef;
$white: #fff;
$green_btn: #2fc507;
$red_error: #e74924;
