$screen-xs:                  481px;
$screen-sm:                  880px;
$screen-md:                  1210px;
$screen-lg:                  1400px;
$screen-md-min:              $screen-md;
$grid-float-breakpoint:     $screen-md-min;
$grid-gutter-width:         30px;
$container-tablet:             (768px + $grid-gutter-width);
$container-desktop:            (960px + $grid-gutter-width);
$container-large-desktop:      (960px + $grid-gutter-width);

$blue: #2a81cb;
$light-blue: #5fd3c6;
$blue-super-light: #eff4f8;

$gray_form: #dbdfe2;
$gray_text: #3f3f3f;
$gray_light: #a6a8a9;
$gray-super-light: #ececec;
$gray-highlighting: #f3f3f3;
$gray-highlight-font: #6b6b6b;

$white: #fff;

$green_btn: #2fc507;
$green: #3ca21a;
$green-light: #22c015;
$green-progress: #cbe1cc;

$red_error: #e74924;
$red: #ed2c39;
$red-super-light: #f6d6d0;

$pink: #ed45aa;

$width-question-editor: 445px;

$filter-width: 360px;
$filter-small-width: 270px;
$hidden-filters-indent: -400px;
$hidden-filter-small-indent:-300px;

$export-types-margin-left: 335px;
$small-export-types-margin-left: 235px;

$content-width: 570px;
$content-width-small: 330px;
$fullscreen-hidden-content: -597px;

$questionnaire-min-width: 555px;
$questionnaire-margin-left: 942px;
$questionnaire-margin-left-hidden-content: 372px;
$questionnaire-margin-left-hidden-filter: 582px;