.start-web-interview{
	.two-columns-form{
		font-size: 16px;
		line-height: 18px;
		p{
			margin-bottom: 20px;
		}
		.additional-info-block{
			font-size: 15px;
			line-height: 17px;
			max-width: 350px;
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.g-recaptcha{
			max-width: 350px;
		}
		.form-actions{
			margin-top: 20px;
			margin-bottom: 20px;
		}
		 .left-column{
		 	padding-top: 20px;
		 	padding-bottom: 20px;
		 	text-align: right;
		 	.default-logo{
		 		display: inline-block;
		 		margin-bottom: 20px;
		 	}
		 	.additional-info-block{
		 		color: $gray-text;
		 		max-width: 100%;
		 		margin-bottom: 0;
		 		a{
		 			color: inherit;
					text-decoration: none;
		 		}
		 	}
		 }
	}
}
div.no-cookies{
	display: none;
	max-width: 1200px;
	margin: 10px auto;
	padding: 10px;
	color: #b20000;
	box-shadow: 9px 9px 3px rgba(0, 0, 0, 0.1), 0 0 3px #323232;

}
body.no-cookies{
	div.no-cookies{
		display: block;
	}
}
@media (max-width: $screen-md-min){
	div.no-cookies{
    	margin: 25px 20px;
    }
}
@media (max-width: $screen-sm-min){
	.start-web-interview{
		.left-column{
	    	display: none;
	    }
	    .right-column .centered-box-table{
	    	text-align: left;
	    	h2, p, .form-actions{
	    		max-width: 350px;
	    	}
	    }
	    .additional-info-block, h2, p, .form-actions{
	    	margin-left: auto;
	    	margin-right: auto;
	    }
		.g-recaptcha{
			margin: 0 auto;
		}
	}
	div.no-cookies{
    	margin: 10px 20px;
    }
}