@using ClientDependency.Core.Mvc
@model RavenQuestionnaire.Core.Views.Questionnaire.QuestionnaireView

@{
    this.ViewBag.Title = "PDF Preview";
    this.Layout = "~/Views/Shared/_Layout.cshtml";

    Html.RequiresCss("pdf.css", "Content");
}

<div class="pdf-preview">

    <div class="buttons">
        @Html.ActionLink("Download PDF", "ExportQuestionnaire", new { id = Model.PublicKey }, new { @class = "btn" })
    </div>

    <div class="content">
        @{ Html.RenderPartial("_RenderQuestionnaire", this.Model); }
    </div>

    <div class="buttons">
        @Html.ActionLink("Download PDF", "ExportQuestionnaire", new { id = Model.PublicKey }, new { @class = "btn" })
    </div>

</div>

