<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.3.1" targetFramework="net452" />
  <package id="NConsole" version="0.6.5780.31873" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Npgsql" version="3.0.3" targetFramework="net452" />
</packages>