@model WB.UI.Headquarters.Controllers.AssignmentsFilters
@{
    ViewBag.ActivePage = MenuItem.Assignments;
    ViewBag.Title = Pages.Assignments_PageTitle;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@Html.RenderHqConfig(Model)
<div id="vueApp"></div>