@using System.Web.Optimization
@model WB.UI.Supervisor.Models.UserCreateModel

@{
    ViewBag.Title = "Add supervisor";
}

@section scripts
{
    @Scripts.Render("~/validate")
}

<h2>Supervisor <small>create</small></h2>

@using (Html.BeginForm())
{
    <fieldset class="form-horizontal">
        @{
            this.Html.RenderPartial("EditForm");
        }
        <div class="form-group">
            <div class="col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Save changes</button>
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </fieldset>
}
