@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div data-role="panel" data-id="main">
    <!-- Start of second page -->
    <div data-role="page" id="main">

        <h2>Sorry, something went wrong. Appologize for inconvinience.</h2>
        
        <a class="nav-link" data-corners="false"  data-icon="arrow-l" href="@Url.Action("Dashboard", "Survey")" rel = "external">
                Dashboard</a>
    </div>
</div>
