@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Models.Template.ImportQuestionnaireListModel
@{
    ViewBag.Title = QuestionnaireImport.MyQuestionnairesTitle;
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}

<div id="vueApp"></div>
