@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Models.ImportModeModel

@{
    ViewBag.Title = QuestionnaireImport.ImportModeTitle;
}


@section Scripts{
    @Html.RenderHqConfig(Model)
}

<div id="vueApp"></div>

