@model object
@{
    ViewBag.ActivePage = MenuItem.UserBatchUpload;
    ViewBag.Title = MainMenu.UserBatchUpload;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>