@model WB.UI.Headquarters.Models.UsersListModel

@{
    ViewBag.Title = "Users list";
}


<div>
    <h1>Users</h1>
    <div class="row col-sm-12 bottom-buffer">
        @Html.ActionLink("Register new account", "RegisterAccount", "Users", null,  new { @class = "btn btn-primary" })
    </div>
    <div class="row col-sm-12">
        <table class="table table-striped">
            <tr>
                <th>User name</th>
                <th>Role</th>
            </tr>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Login</td>
                    <td>@user.Role</td>
                </tr>
            }
        </table>
    </div>
</div>