@using RavenQuestionnaire.Core.Views.Status.StatusElement
@model StatusItemView
@if (Model != null)
{
    using (Html.BeginForm("Update", "Status"))
    {
        @Html.ValidationSummary(true)
        @Html.EditorForModel()

        /*{Html.RenderPartial("~/Views/EditorTemplates/StatusItemView.cshtml", Model);}*/
    <p>
        <input type="submit" value="Save" />
    </p>
    }
}
<div>
    @Html.ActionLink("Back to List", "Index", new { qid = Model.QuestionnaireId })
</div>
