@using RavenQuestionnaire.Core.Views.Status
@using RavenQuestionnaire.Web.Models
@model StatusBrowseView
<p>
    @Html.ActionLink("Create New", "Create", new { qId = Model.QuestionnaireId }, new { @class = "btn small primary" })
</p>
<table class="bordered-table zebra-striped">
    <thead>
        <tr>
            <th>Title </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="buttons">
                    @Html.ActionLink("Role restrictions", "Edit", new { id = item.Id }, new { @class = "btn small " })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination">
    @Html.QPager(Model.PageSize, Model.Page, Model.TotalCount)
</div>
