@using RavenQuestionnaire.Core.Views.Status
@using RavenQuestionnaire.Web.Utils
@model StatusView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <script src="../../Scripts/bootstrap/bootstrap-modal.js" type="text/javascript"></script>
    
    <script>
        $('#addNewRoute').modal({
            backdrop: 'static'
        });
        function OpenModal() {

            $('#addNewRoute').modal('show');
        }
        function HideAddRouteForm(content) {
            //      $('#addNewRoute').modal('hide');
            if ($(content.responseText).children('div#addNewRoute form').length == 0) {
                $('#allRoutes').html(content.responseText);
                $('#addNewRoute').modal('hide');
            }
        }
    </script>
    
    <p>
        @Ajax.ActionLinkWithIcon("Add route", "AddRoute", "Status",
            new { Model.Id, Qid = Model.QuestionnaireId },
            new AjaxOptions { UpdateTargetId = "addNewRoute", OnSuccess = "OpenModal" },
            new { @class = "btn btn-success" },
            "icon-plus icon-white")
    </p>
    
    <div id="allRoutes">
        @{Html.RenderPartial("~/Views/Status/_Route.cshtml", Model);}
    </div>
    
    <div id="addNewRoute">
    </div>
    
    
    <div>
        @Html.ActionLink("Back to List", "Index", new { qid = Model.QuestionnaireId })
    </div>

}
