@using WB.UI.Headquarters.Code
@model InterviewsFilterModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
