@using Main.Core.View.CompleteQuestionnaire.Statistics
@model IEnumerable<ChangeStatusHistoryView>
           
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>set status</th>
            <th>with comment</th>
            <th>on</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ch in Model)
        {
            <tr>
                <td>
                    @ch.UserName
                </td>
                <td>
                    @ch.StatusName
                </td>
                <td>
                    <div class="expander">
                        @ch.Comment
                    </div>
                </td>
                <td>
                    @ch.ChangeDate.ToLocalTime()
                </td>
            </tr>
        }
    </tbody>
</table>