@using Main.Core.Entities.SubEntities
@using RavenQuestionnaire.Core.Views.Survey
@model SurveyBrowseView
@foreach (var collect in Model.Items)
{
    <tr>
        <td>@Html.ActionLink(collect.Title, "Assigments", new { id = collect.Id })
        </td>
        <td>
        </td>
        @foreach (var it in Model.Headers)
        {

            var status = SurveyStatus.IsValidStatus(it.Value);

            if (status != null)
            {
                <td>
                    @Html.ActionLink(Model.Headers.GetItemValue(collect, it.Key), "Assigments",
                                       new
                                           {
                                               id = collect.Id,
                                               status = status.PublicId
                                           })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink(Model.Headers.GetItemValue(collect, it.Key), "Assigments", new { id = collect.Id })
                </td>
            }


        }
    </tr>
}