@using RavenQuestionnaire.Core.Entities.SubEntities
@using RavenQuestionnaire.Core.Views.Survey
@model SurveyBrowseView
@foreach (var collect in Model.Items)
{
    <tr>
        <td>@Html.ActionLink(collect.Title, "Assigments", new { id = collect.Id })
        </td>
        <td>
        </td>
        @foreach (var it in collect.Grid)
        {
            if (SurveyStatus.IsValidStatus(it.Key) != null)
            {
                <td>
                    @Html.ActionLink(it.Value.ToString(), "Assigments",
                         new
                         {
                             id = collect.Id,
                            status = SurveyStatus.IsValidStatus(it.Key).PublicId
                         })
                </td>
            }
            else
            {
                <td>
                    @(it.Key == "Unassigned" ? Html.ActionLink(it.Value.ToString(), "Assigments",
                                new { id = collect.Id, isNotAssigned = true }) 
                                : Html.ActionLink(it.Value.ToString(), "Assigments", new { id = collect.Id }))
                </td>
            }
        }
    </tr>
}