@model RavenQuestionnaire.Core.Views.StatusReport.StatusReportGroupView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SurveyAssigments</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
