@using Questionnaire.Core.Web.Helpers
@using Core.Supervisor.Views.Assignment

@model Web.Supervisor.Models.ChangeStateModel

<h2>Change State</h2>
<p><a href="@Url.Action("Assigments", new {id = Model.TemplateId, input = new AssignmentInputModel()})">Back to list</a></p>
@using (Html.BeginForm("ChangeState", "Survey"))
{
    @Html.Hidden("CqId", Model.Id)
    @Html.Hidden("TmptId", Model.TemplateId)
    <label class="control-label">State</label>
    <select name="state">
      <option value="1">Reddo</option>
      <option value="2">Approve</option>
    </select> 
    <input name="Save" class="btn btn-primary" type="submit" value="Save" />
}