
@model Main.Core.View.CompleteQuestionnaire.ScreenGroup.ScreenGroupView
        
<br/>   
<div class="row-fluid">
    <div class="span3">
        <p>
            <a href="@Url.Action("Details", new { id = @Model.QuestionnairePublicKey, template = ViewBag.TemplateId })">Back to questionnaire</a>        
        </p>
    </div>
</div>

<h2> Comments</h2>
 
@if (!string.IsNullOrEmpty(Model.Status.ChangeComment))
{
    @Model.Status.ChangeComment    
}
else
{
    <em>No comments here...</em>
}