@using Web.Supervisor.Models
@model AssigmentModel

<table>
<tr>
<td colspan="@Model.ColumnsCount">
    @using (Ajax.BeginForm("Assign", "Survey", new AjaxOptions() { UpdateTargetId = "responsible-" + @Model.CompleteQuestionnaireId, InsertionMode=InsertionMode.Replace}))
    {
        @Html.Hidden("Id", Model.CompleteQuestionnaireId)
        @Html.DropDownList("userId", ViewBag.Users as SelectList)
        
        <input name="Save" type="submit" value="Save" />
        <input name="Cancel" type="submit" value="Cancel"/> 
    }
    </td>
    </tr>
 </table>
