<?xml version="1.0"?>
<configuration>
  
  <system.serviceModel>
    <services>
      <service name="RavenQuestionnaire.Web.WCF.SpotSyncService" behaviorConfiguration="tradeServiceBehavior">
        <endpoint name="basicHttpBinding" address="" binding="basicHttpBinding" bindingConfiguration="basicBindingExtended" contract="SynchronizationMessages.Discover.ISpotSync" />
        <endpoint name="DiscoveryEndpoint" kind="udpDiscoveryEndpoint" />
        <endpoint name="mexHttpBinding" contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service name="RavenQuestionnaire.Web.WCF.EventPipeService" behaviorConfiguration="tradeServiceBehavior">
        <endpoint name="basicHttpBinding" address="" binding="basicHttpBinding" bindingConfiguration="basicBindingExtended" contract="SynchronizationMessages.CompleteQuestionnaire.IEventPipe" />
        <endpoint name="mexHttpBinding" contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <standardEndpoints>
      <udpDiscoveryEndpoint>
        <standardEndpoint name="DiscoveryEndpoint" />
      </udpDiscoveryEndpoint>
    </standardEndpoints>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBindingExtended" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None"></security>
          <readerQuotas
          maxArrayLength="2147483647" maxBytesPerRead="2147483647"
          maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />

        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="tradeServiceBehavior">
          <serviceDiscovery />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
