body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.network-name {
    float: left;
    width: 300px;
    height: 80px;
    margin: 0px 0px 23px;
    text-indent: -999px;
    background: url(images/wb_logo.png) 0px 20px no-repeat;
}

.network-name-container {
    float: left;
    width: 160px;
}

.form-signin {
    max-width: 650px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-actions {
    margin-top: 20px;
    margin-bottom: 0px;
}

.form-horizontal .form-actions {
    padding-left: 30px;
}
