.slider {
    position: absolute;
    width: 100%;
    height: 5px;
    overflow-x: hidden;
}

.line {
    position: absolute;
    opacity: 0.4;
    background: #4a8df8;
    width: 150%;
    height: 5px;
}

.subline {
    position: absolute;
    background: #4a8df8;
    height: 5px;
}

.inc {
    animation: increase 2s infinite;
}

.dec {
    animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
    from {
        left: -5%;
        width: 5%;
    }

    to {
        left: 130%;
        width: 100%;
    }
}

@keyframes decrease {
    from {
        left: -80%;
        width: 80%;
    }

    to {
        left: 110%;
        width: 10%;
    }
}

/* common styles */
.classifications-wrapper {
    margin-top: -0.1px;
    height: 100%;
    border-top: 1px solid #dddddd;
    border-left: 13px solid #bcc3c8;
}

    .classifications-wrapper .column {
        height: 100%;
        box-shadow: inset -10px 0px 20px -5px rgba(0, 0, 0, 0.2);
    }

        .classifications-wrapper .column h3 {
            color: #7e898f;
            padding-left: 15px;
        }

.classifications-block {
    height: 100%;
}

.search-row {
    padding: 10px 0;
    border-bottom: 2px solid #bcc3c8;
}

.classification-groups {
    background-color: #c9cfd3;
    padding: 0 0 0 10px;
}

.classifications {
    background-color: #e4e7e9;
    padding: 0 0 0 10px;
}

.categories-groups {
    background-color: #f8f9f9;
    padding-right: 0;
}

.classifications-block .form-control {
    border: 2px solid #cccccc;
    box-shadow: none;
    font-size: 14px;
    min-height: 40px;
    line-height: 20px;
    padding: 8px;
    resize: none;
    max-height: 400px;
}

.categories-holder textarea.form-control {
    font-family: monospace;
}

.classifications-block .form-control:focus,
.classifications-block .option-line .form-control:focus,
.classifications-block .edit-classification-group-name .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.classifications-block .has-error .form-control,
.classifications-block .has-error .form-control[type="number"] {
    border-color: #c44919;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(196, 73, 25, 0.6) !important;
}

.classifications-block .has-warning .form-control {
    border-color: #8a6d3b;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(138, 109, 59, 0.6) !important;
}

.classifications-block .breadcrumb {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4a4a4a;
    background: transparent;
    word-break: break-word;
    margin-bottom: 5px;
}

    .classifications-block .breadcrumb li {
        display: inline;
    }


/* classifications columns */
.classifications-wrapper .breadcrumb {
    padding: 15px 16px 8px;
    margin-bottom: 0;
}

.classification-list + .btn {
    margin-bottom: 20px;
}

.classification-list .form-control {
    border-color: #fff;
}

.classification-list li {
    padding-right: 15px;
}

    .classification-list li a {
        display: block;
        word-break: break-word;
        padding: 10px;
        position: relative;
        color: #4d4d4d;
    }

.line-wrapper {
    border-radius: 5px;
    transition: background 0.3s linear;
    position: relative;
    margin: 6px 6px 0;
}

.classification-list li a:hover,
.classification-list li a:focus,
.classification-list li a:active {
    text-decoration: none;
    cursor: pointer;
}

.classification-list .btn-delete {
    background-color: transparent;
    padding: 0;
    position: absolute;
    right: -20px;
    top: 3px;
    outline: none;
}

.classification-list .btn polyline {
    stroke: #393e42;
    fill: transparent;
    stroke-width: 1;
    opacity: 0.6;
}

.classifications-block .btn-delete polyline {
    stroke: #c44919;
}

.btn:hover polyline,
.btn:focus polyline,
.btn:active polyline {
    stroke-width: 2;
    opacity: 1;
}

.classification-groups .classification-list li:hover .line-wrapper,
.classification-groups .classification-list li:focus .line-wrapper,
.classification-groups .classification-list li:active .line-wrapper {
    background-color: #f8f9f9;
}

.classification-list li {
    position: relative;
}

.classification-groups .active .line-wrapper,
.classification-groups .active .edit-classification-group-name {
    background-color: #e4e7e9;
    box-shadow: 23px 0px 0 0 #e4e7e9;
}

.classification-groups .active .edit-classification-group-name {
    box-shadow: 23px 0px 0 0 #e4e7e9;
}

.classification-list .active .line-wrapper:before,
.classification-list .active .line-wrapper:after,
.classification-list .active .edit-classification-group-name:before,
.classification-list .active .edit-classification-group-name:after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 100%;
    box-shadow: 8px 7px 0px -3px #e4e7e9;
    right: -21px;
    top: -20px;
}

.classification-list .active .edit-classification-group-name:before,
.classification-list .active .edit-classification-group-name:after {
    right: -17px;
}

.classification-list .active .edit-classification-group-name:after,
.classification-list .active .line-wrapper:after {
    box-shadow: 7px -8px 0px -3px #e4e7e9;
    bottom: -20px;
    top: auto;
}

.scroller {
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

.classification-list-wrapper {
    height: 100%;
}

.classifications .classification-list li:hover .line-wrapper,
.classifications .classification-list li:focus .line-wrapper,
.classifications .classification-list li:active .line-wrapper {
    background-color: #fff;
}

.classifications .active .line-wrapper,
.classifications .active .edit-classification-group-name {
    background-color: #f8f9f9;
    box-shadow: 23px 0px 0 0 #f8f9f9;
    position: relative;
}

.classifications .active .edit-classification-group-name {
    box-shadow: 23px 0px 0 0 #f8f9f9;
}

    .classifications .active .line-wrapper:before,
    .classifications .active .edit-classification-group-name:before {
        box-shadow: 8px 7px 0px -3px #f8f9f9;
    }

    .classifications .active .line-wrapper:after,
    .classifications .active .edit-classification-group-name:after {
        box-shadow: 7px -8px 0px -3px #f8f9f9;
    }

.edit-classification-group-name {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    position: relative;
}

.classification-list .private a {
    color: #2a81cb;
    font-style: italic;
    font-family: Georgia, serif;
}


/* edit classification column */
.classifications-wrapper .categories-groups {
    height: 100%;
}

.categories-groups form {
    position: relative;
    height: 100%;
}

    .categories-groups form .scroller {
        height: calc(100% - 70px);
    }

    .categories-groups form label {
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 14px;
        color: #5d5d5d;
        font-weight: normal;
    }

.categories-holder {
    height: 100%;
    padding-left: 5px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.option-line {
    margin-bottom: 4px;
}

.categories-holder .form-group .form-control {
    border-radius: 4px;
}

.categories-holder .form-control {
    height: 34px;
    box-shadow: none;
    border-color: #eee;
    border-radius: 0 4px 4px 0;
    font-family: Arial, Helvetica, sans-serif;
}

    .categories-holder .form-control[type="number"] {
        border-radius: 4px 0 0 4px;
        border-right-color: transparent;
        color: #3da802;
    }

        .categories-holder .form-control[type="number"]:focus {
            border-right-color: #66afe9;
        }

.categories-holder-body,
.categories-holder-footer {
    padding-right: 15px;
}

.option-line input[type=number]::-webkit-inner-spin-button,
.option-line input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.option-line .input-group-btn {
    width: 35px;
}

.option-line .input-group {
    width: 100%;
}

.option-line-holder {
    display: table-row;
}

.option-cell {
    display: table-cell;
}

    .option-cell:first-of-type {
        width: 100px;
    }

.categories-groups .breadcrumb {
    padding-left: 5px;
}

.categories-groups .form-buttons-holder {
    background-color: #f8f9f9;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
}

.categories-holder-body.readonly {
    padding: 0 25px 0 5px;
}

.categories-groups .readonly .input-group {
    display: block;
}

.categories-groups .readonly .option-cell {
    display: block;
    position: relative;
}

    .categories-groups .readonly .option-cell:before {
        content: '';
        position: absolute;
        bottom: .4rem;
        width: 100%;
        height: 0;
        line-height: 0;
        border-bottom: 2px dotted #ddd;
    }

    .categories-groups .readonly .option-cell > span span {
        color: transparent;
        font-size: 1px;
    }

    .categories-groups .readonly .option-cell:first-of-type {
        width: 100%;
    }

    .categories-groups .readonly .option-cell > span:first-of-type {
        background: #f9f9f9;
        position: relative;
        display: inline;
        z-index: 1;
        padding-right: .2rem;
        word-break: break-word;
    }

    .categories-groups .readonly .option-cell > span:last-of-type {
        background: #f9f9f9;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-left: .2rem;
        z-index: 2;
    }
