#uploadForm input {
    display: inline-block;
}

#applyOptionsError {
    display: none;
}

.table {
    margin-top: 10px;
}

.table.table-bordered.table-hover.table-condensed tr > td {
    word-break: break-all;
}