/*
    Util to convert ttf to other font types: https://everythingfonts.com/font-face
    Util to convert file to base64: http://www.opinionatedgeek.com/dotnet/tools/base64encode/
*/

@font-face {  font-family: 'NotoSansDevanagariRegular'; src: url('../fonts/NotoSansDevanagari-Regular.ttf') format('truetype'); unicode-range: U+0900-097F; }
@font-face {  font-family: 'NotoSansArmenianRegular'; src: url('../fonts/NotoSansArmenian-Regular.ttf') format('truetype'); unicode-range: U+0531-058F; }
@font-face {  font-family: 'NotoSansEthiopicRegular'; src: url('../fonts/NotoSansEthiopic-Regular.ttf') format('truetype'); unicode-range: U+1200-1399; }
@font-face {  font-family: 'NotoSansGeorgianRegular'; src: url('../fonts/NotoSansGeorgian-Regular.ttf') format('truetype'); unicode-range: U+10A0-10FC; }
@font-face {  font-family: 'NotoSansHebrewRegular'; src: url('../fonts/NotoSansHebrew-Regular.ttf') format('truetype');unicode-range: U+0591-05F4; }
@font-face {  font-family: 'NotoSansMyanmarRegular'; src: url('../fonts/NotoSansMyanmar-Regular.ttf') format('truetype'); unicode-range: U+1000-109F;}
@font-face {  font-family: 'NotoSansMongolianRegular'; src: url('../fonts/NotoSansMongolian-Regular.ttf') format('truetype');unicode-range: U+1800-18AA; }
@font-face {  font-family: 'NotoSansThaiRegular'; src: url('../fonts/NotoSansThai-Regular.ttf') format('truetype');unicode-range: U+0E01-0E5B;  }
@font-face {  font-family: 'NotoSansBengaliRegular'; src: url('../fonts/NotoSansBengali-Regular.ttf') format('truetype'); unicode-range: U+0964-09FB; }
@font-face {  font-family: 'NotoSansRegular'; src: url('../fonts/NotoSans-Regular.ttf') format('truetype');unicode-range: U+0021-0527;  }
@font-face {  font-family: 'NotoNaskhArabicRegular'; src: url('../fonts/NotoNaskhArabic-Regular.ttf') format('truetype');unicode-range: U+0600-077D; }