header {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 500px;
    font-size: 2.5em;
}
.create-date {
    text-align: center;
}

.statistics {
    position: absolute;
    top: 1200px;
}
