.pdf-preview .content {
    width: 855px;
    margin: 0 auto;
    padding: 60px 55px 60px 50px;

    border: 1px solid black;
    box-shadow: 5px 5px 3px #888;
}

.pdf-preview .buttons {
    padding: 15px;
    text-align: center;
}

.pdf-dl-horizontal dt {
    width: 30px;
}

.pdf-dl-horizontal dd {
    margin-left: 40px;
}