<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding >
        <binding name="extendedBinding">
          <readerQuotas maxDepth="100" maxArrayLength="10485760" maxBytesPerRead="10485760" maxStringContentLength="10485760"  />
        </binding>
      </basicHttpBinding >
    </bindings>
    <client>
      <endpoint address="http://localhost:15401/CompleteQuestionnaireSyncService.svc" binding="basicHttpBinding" bindingConfiguration="extendedBinding" name="" contract="SynchronizationMessages.CompleteQuestionnaire.ICompleteQuestionnaireService" />
    </client>
  </system.serviceModel>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>