<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="extendedBinding">
          <textMessageEncoding>
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
              maxNameTableCharCount="2147483647" />
          </textMessageEncoding>
          <httpTransport transferMode="Buffered" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>

        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9009/services/syncCompleteQuestionanire"
        binding="customBinding" bindingConfiguration="extendedBinding" contract="SynchronizationMessages.CompleteQuestionnaire.ICompleteQuestionnaireService" />
    </client>
  </system.serviceModel>
</configuration>