@using RavenQuestionnaire.Core.Views.Answer
@model CompleteAnswerView
@{
    var i = Model.Image;
}
<div class="thumbnails">
    <div class="span2" id="image@(i.PublicKey)">
        <div class="thumbnail">
            <img src="@Url.Action("Images", "Resource", new { id = i.Thumb })" alt="@i.Title" />
            <h5>@i.Title</h5>
            <p>@i.Description</p>
        </div>
    </div>
</div>
