<div class="modal-header blue-strip">
    <button type="button" class="close" aria-hidden="true" ng-click="cancel()">
        <!--&times;-->
    </button>
    <h1 ng-i18next="GeneratePdf"></h1>
</div>

<div class="modal-body blue-strip">
    <div class="start-pdf-generation" id="startPdf">
        <p ng-i18next>ChooseLanguageTitle</p>

        <div class="btn-group dropup dropdown" uib-dropdown>
            <button class="btn dropdown-toggle ng-binding" id="selectedTranslation" uib-dropdown-toggle type="button">
                {{ viewModel.selectedTranslation.name }}
                <span class="dropdown-arrow"></span>
            </button>

            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-repeat="translation in viewModel.translations">
                    <a role="menuitem" tabindex="-1" ng-click="selectTranslation(translation)">
                        {{translation.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <pre id="export-pdf-modal-status" ng-if="viewModel.isGenerating">{{Initializing | i18next}}...</pre>
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-lg btn-primary"
            ng-click="generate()" ng-disabled="viewModel.isGenerating" ng-if="!viewModel.canDownload" ng-i18next>
        GeneratePdf
    </button>

    <button type="button" class="btn btn-lg btn-primary"
            ng-click="download()" ng-if="viewModel.canDownload" ng-i18next>
        DownloadPdf
    </button>

    <button type="button" class="btn btn-lg btn-primary"
            ng-click="retryGenerate()" ng-if="viewModel.canRetryGenerate" ng-i18next>
        RetryExportPDF
    </button>

    <button type="button" class="btn btn-lg pull-right"
            ng-click="cancel()" ng-i18next>
        Cancel
    </button>
</div>
