<div class="modal-header blue-strip handle">
    <button type="button" class="close" aria-hidden="true" ng-click="$close()"></button>
    <h3 class="modal-title">
        <span ng-i18next="ScenarioDetails"></span>:
        <span style="overflow: hidden;">{{scenario.title}}</span>
    </h3>
</div>
<div class="modal-body">
    <div class="header-block clearfix">
        <form name="frmEditor">
            <div id="edit-scenario" 
                ui-ace="{ onLoad : aceLoaded,
                    mode: 'json',
                    showGutter: false }" 
                ng-model="scenario.steps"></div>
        </form>
    </div>
</div>
