@using WB.UI.Designer.Resources
@model WB.UI.Designer.Models.AnonymousSharingEmailModel

@Html.Raw(string.Format(NotificationResources.AnonymousSharingEmail, Model.UserName, Model.Questionnaire))

<br/>
<br/>
<a href="@Model.SharingLink">
    @Model.SharingLink
</a>
