@model WB.UI.Designer.Models.Mails.EmailChangeConfirmationModel

@Html.Raw(string.Format(NotificationResources.EmailChange, Model!.UserName))

<a href="@Model.ConfirmationLink">
    @NotificationResources.EmailChangeLink
</a>
