@model WB.UI.Designer.Models.EmailConfirmationModel
 
@Html.Raw(string.Format(NotificationResources.ResetPasswordEmail, Model!.UserName))

<a href="@Model.ConfirmationLink">
    @NotificationResources.ResetPassword
</a>
