@using WB.UI.Headquarters.Code
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.CloneQuestionnaireModel

@{
    ViewBag.Title = QuestionnaireClonning.CloneQuestionnaireTitle;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    Model.QuestionnaireFullName = Html.QuestionnaireName(Model.OriginalTitle, Model.Version);
}

@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
