@using WB.UI.Headquarters.Code
@model WB.Core.SharedKernels.SurveyManagement.Web.Models.CloneQuestionnaireModel

@{
    ViewBag.Title = QuestionnaireClonning.CloneQuestionnaireTitle;
}

@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
