@using WB.UI.Designer.BootstrapSupport
@foreach(string key in Alerts.ALL)
{
    if (TempData.ContainsKey(key))
        {
            <div class="alert alert-@key">
                <button type="button" class="close" data-dismiss="alert">x</button>
                @Html.Raw(@TempData[key])
            </div>
        }
}