© @DateTime.Now.Year.ToString() <a href="http://www.worldbankgroup.org">The World Bank Group</a>, All Rights Reserved. <a href="http://web.worldbank.org/WBSITE/EXTERNAL/0,,contentMDK:20146401~pagePK:50016803~piPK:50016805~theSitePK:13,00.html">Legal</a>.
<br>
<a href="https://play.google.com/store/apps/details?id=org.worldbank.solutions.Vtester">
    <img alt="Android app on Google Play"
         src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
</a>