@using WB.UI.Designer.BootstrapSupport
@model Object

@foreach (var property in Model.VisibleProperties())
{
    if (property.GetAttribute<System.Web.Mvc.HiddenInputAttribute>() != null)
    {
        @Html.Editor(property.Name)
    }
    else
    {
        using (Html.ControlGroupFor(property.Name))
        {
            @Html.Label(property.Name.ToSeparatedWords(), new { @class = "control-label" })
            <div class="controls">
                @Html.Editor(property.Name, new { @class = "input-xlarge" })
                @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
            </div>
        }
    }
}