@using WB.UI.Designer.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Error/Layout.Error.cshtml";
}

<hgroup class="title">
    <h1 class="error">@QuestionnaireController.Error.</h1>
    <h2 class="error">@QuestionnaireController.ErrorDescription.</h2>
</hgroup>
