@using System.Runtime.Serialization.Formatters
@using Newtonsoft.Json

@model Core.Supervisor.Views.Assign.AssignSurveyView
@{
    ViewBag.Title = "Assignment";
}
@section styles{

}
@section scripts{
    <script data-main="../../Scripts/assign/main.js" src="~/Scripts/lib/require.js"></script>
    <script type="text/javascript">
        define('input', [], function() {
            var q = @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.None, new JsonSerializerSettings
                        {
                            TypeNameHandling = TypeNameHandling.Objects,
                            TypeNameAssemblyFormat = FormatterAssemblyStyle.Simple
                        })) ;
            return {
                questionnaire: q,
                url: '@Url.Action("Assign", "HQ", new { }, Request.Url.Scheme)'
            };
        });
    </script>
}

<h3 data-bind="text: questionnaire().title"></h3>
<div class="row-fluid">
    <div class="span12">
        <div id="featured-questions" class="form-horizontal">
            <!-- ko foreach: questions -->
            <!-- ko template:  { name: type(), data: $data } -->
            <!-- /ko -->
            <!-- /ko -->
            <div class="control-group info" data-bind="validationElement: responsible">
                <label class="control-label">Responsible</label>
                <div class="controls">
                    <select class="span12" data-bind="options: supervisors, optionsText: 'name', value: responsible"></select>
                    <span class="help-inline" data-bind="validationMessage: responsible"></span>
                </div>
            </div>
        </div>
        <p id="assignmentButton">
            <button class="btn btn-success btn-large" data-bind="click: save, enable: isSaveEnable"><i class="icon-white icon-ok"></i>&nbsp;Save</button>
        </p>
    </div>
</div>
<div id="output" class="stack">
    <div class="inner">
        <div class="title">
            <button type="button" class="close" data-bind="click: hideOutput">&times</button>
            <span>Errors log</span>
        </div>
        <div class="body">
            <ul data-bind="foreach: errors" class="error-list">
                <li class="error">
                    <span data-bind="text: error"></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/html" id="SingleOption">
    <div class="control-group" data-bind="validationElement: selectedOption">
        <label class="control-label" data-bind="text: title"></label>
        <div class="controls">
            <!-- ko foreach: options -->
            <label class="radio" data-bind='attr: { "for": optionFor }'>
                <input type='radio' data-bind="attr: { value: id, name: title, id: optionFor }, checked: $parent.selectedOption" />
                <span data-bind="text: title"></span>
            </label>
            <!-- /ko -->
            <span class="help-inline" data-bind="validationMessage: selectedOption"></span>
        </div>
    </div>
</script>

<script type="text/html" id="MultyOption">
    <div class="control-group" data-bind="validationElement: selectedOptions">
        <label class="control-label" data-bind="text: title"></label>
        <div class="controls">
            <!-- ko foreach: options -->
            <label class="checkbox" data-bind='attr: { "for": optionFor }'>
                <input type='checkbox' data-bind="attr: { value: id, name: title, id: optionFor }, checked: $parent.selectedOptions" />
                <span data-bind="text: title"></span>
            </label>
            <!-- /ko -->
            <span class="help-inline" data-bind="validationMessage: selectedOption"></span>
        </div>
    </div>
</script>
<script type="text/html" id="Numeric">
    <div class="control-group" data-bind="validationElement: selectedOption">
        <label class="control-label" data-bind="text: title"></label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: selectedOption, valueUpdate: 'afterkeydown'" />
            <span class="help-inline" data-bind="validationMessage: selectedOption"></span>
        </div>
    </div>

</script>
<script type="text/html" id="DateTime">
    <div class="control-group" data-bind="validationElement: selectedOption">
        <label class="control-label" data-bind="text: title"></label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="datepicker: selectedOption, datepickerOptions: { date: selectedOption }" />
            <span class="help-inline" data-bind="validationMessage: selectedOption"></span>
        </div>
    </div>

</script>
<script type="text/html" id="AutoPropagate">
    <div class="control-group" data-bind="validationElement: selectedOption">
        <label class="control-label" data-bind="text: title"></label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: selectedOption, valueUpdate: 'afterkeydown'" />
            <span class="help-inline" data-bind="validationMessage: selectedOption"></span>
        </div>
    </div>

</script>
<script type="text/html" id="Text">
    <div class="control-group" data-bind="validationElement: selectedOption">
        <label class="control-label" data-bind="text: title"></label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: selectedOption, valueUpdate: 'afterkeydown'" />
            <span class="help-inline" data-bind="validationMessage: selectedOption"></span>
        </div>
    </div>
</script>
