@using System.Web.Optimization
@using Newtonsoft.Json
@using Web.Supervisor.Code
@using AppSettings = Web.Supervisor.Code.AppSettings
@{
    ViewBag.Title = "MapReport";
}


    <h2>MapReport</h2>
    <div id="map-canvas" class="google-maps" />


@section scripts
{
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=@(AppSettings.Instance.GoogleMapApiKey)&sensor=false">
    </script>
    @Scripts.Render("~/Scripts/viewmodels/pages/mapreport.js")
    <script type="text/javascript">
            var commandExecutionUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "CommandApi", action = "ExecuteCommands" })';
            var $questionnairesListUrl = '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "ReportDataApi", action = "Questionnaires" })';
            $(function () {
                var model = new Supervisor.VM.MapReport($questionnairesListUrl, commandExecutionUrl);
                ko.applyBindings(model);
                model.initializeMap();
                model.load();
            });
    </script>
}

@section styles
{

}
