@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_ListViewLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/Scripts/vm/surveylistview.js")

    <script type="text/javascript">
        $(function () {

            var model = new ListViewMasterModel('@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "SurveysApi", action = "Surveys" })');
            model['Summary'] = new SurveyListViewModel('@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "SurveysApi", action = "Users" })');

            model.Summary.SelectedUser.subscribe(function () {
                model.ListView.search();
            });
            model.ListView.GetFilterMethod = function () {
                return { UserId: model.Summary.SelectedUser };
            };

            ko.applyBindings(model);
        });
    </script>
}

@section header
{
    <h2 class="sinle-line-header">Surveys and Questionnaire Statuses</h2>
}

@section filters
{
    <div class="well" style="max-width: 340px; padding: 8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">FILTER</li>
            <li class="divider"></li>
            <li>Supervisors:
                <select data-bind="options: Summary.Users, optionsText: 'UserName', optionsValue: 'UserId', optionsCaption: 'Any', value: Summary.SelectedUser"></select>
            </li>
        </ul>
    </div>
}

@section grid
{
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th data-bind='click: function (data, event) { ListView.sort("Template.Title") }'><span class="btn-link">Survey Name</span></th>
                <th data-bind='click: function (data, event) { ListView.sort("Unassigned") }'><span class="btn-link">Unassigned</span></th>
                <th data-bind='click: function (data, event) { ListView.sort("Initial") }'><span class="btn-link">Initial</span></th>
                <th data-bind='click: function (data, event) { ListView.sort("Redo") }'><span class="btn-link">Redo</span></th>
                <th data-bind='click: function (data, event) { ListView.sort("Completed") }'><span class="btn-link">Completed</span></th>
                <th data-bind='click: function (data, event) { ListView.sort("Error") }'><span class="btn-link">Completed with Errors</span></th>
                <th data-bind='click: function (data, event) { ListView.sort("Approved") }'><span class="btn-link">Approved</span></th>
                <th data-bind='click: function (data, event) { ListView.sort("Total") }'><span class="btn-link">Total</span></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach:ListView.Items -->
            <tr>
                <td data-bind="text: Template.Title"></td>
                <td data-bind="text: Unassigned"></td>
                <td data-bind="text: Initial"></td>
                <td data-bind="text: Redo"></td>
                <td data-bind="text: Completed"></td>
                <td data-bind="text: Error"></td>
                <td data-bind="text: Approved"></td>
                <td data-bind="text: Total"></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
}