<div class="block-filter">
    @Html.LabelForModel(new { @class=(ViewData.ModelMetadata.IsRequired ? "compulsory-field" : "") }):
    <div class="form-group @(ViewData.ModelState.IsValidField(ViewData.ModelMetadata.PropertyName) ? string.Empty : "has-error")">
        <div class="field">
            @RenderBody()
            <button type="button" class="btn btn-link btn-clear" tabindex="-1">
                <span></span>
            </button>
        </div>
        @Html.ValidationMessageFor(v => v, null, new { @class = "help-block" })
    </div>
</div>