@if (ViewData.ContainsKey("disableClientValidation")) { Html.EnableClientValidation(false); }
<div class="block-filter">
    <h5>@Html.LabelForModel():</h5>
    <div class="form-group @(ViewData.ModelState.IsValidField(ViewData.ModelMetadata.PropertyName) ? string.Empty : "has-error")">
        <div class="field">
            @RenderBody()
            <button type="button" class="btn btn-link btn-clear" tabindex="-1">
                <span></span>
            </button>
        </div>
        @Html.ValidationMessageFor(v => v, null, new { @class = "help-block" })
    </div>
</div>
@if (ViewData.ContainsKey("disableClientValidation")) { Html.EnableClientValidation(true); }