@if (ViewData.ModelState.ContainsKey(string.Empty))
{
    <div class="block-filter">
        @foreach (var error in ViewData.ModelState[string.Empty].Errors)
        {
            <div class="form-group has-error">
                <span class="field-validation-error help-block">@error.ErrorMessage</span>
            </div>
        }
    </div>
}