@model WB.Core.SharedKernels.SurveyManagement.Web.Models.IPublicDetails
<div class="col-sm-12">
@Html.EditorFor(x => x.PersonName, "TextBoxFormField", new { disableClientValidation = true })
@Html.EditorFor(x => x.Email, "TextBoxFormField")
@Html.EditorFor(x => x.PhoneNumber, "TextBoxFormField")
</div>