@using WB.Core.BoundedContexts.Headquarters.Services
@model UserModelBase
@{
    var isObserving = DependencyResolver.Current.GetService<IAuthorizedUser>().IsObserving;
}
<div class="col-sm-12">
    <div class="block-filter">
        @if (!isObserving)
        {
            <button type="submit" class="btn btn-success">@Pages.Update</button>
        }
        @Html.ActionLink(Common.Cancel, Model.CancelAction, Model.CancelArg, new {@class = "btn btn-default"})
    </div>
</div>
