<div class="col-sm-12">
    <div class="block-filter">
        <button type="submit" class="btn btn-success">@Pages.Update</button>
        @Html.ActionLink(Common.Cancel, (ViewBag.Action as string) ?? @"Index", null, new { @class = "btn btn-default" })
    </div>
</div>