@import (reference) "../designer-start/font-styles.less";

.findReplaceModal {
    top: 75px;
    left: 0;
    width: 50%;
    .modal-dialog {
        width: 650px;

        .modal-body {
            min-height: 160px;
        }
    }

    label {
        .arial();
        font-size: 14px;
    }
}
