.brighttheme-notice {
  background-color: #ffffa2;
  border: 0 solid #ff0;
  color: #4f4f00;
}
.broken-links {
  max-height: 500px;
  overflow-y: auto;
}
.broken-links a {
  display: block;
  padding: 5px 0 5px 8px;
  border-top: 2px solid #eee;
  text-decoration: none;
  border-radius: 4px;
}
.broken-links a:last-child {
  border-bottom: 2px solid #eee;
}
.broken-links a:hover {
  background: #eee;
}
.icon-none {
  background: none !important;
}
.icon {
  width: 20px;
  height: 20px;
  background: url(../i/icons4.png);
  background-position-x: 0;
  overflow: hidden;
}
.icon-numeric {
  background-position: 0 0;
}
.icon-text {
  background-position: 0 -30px;
}
.icon-singleoption {
  background-position: 0 -60px;
}
.icon-multyoption {
  background-position: 0 -90px;
}
.icon-datetime {
  background-position: 0 -120px;
}
.icon-gpscoordinates {
  background-position: 0 -150px;
}
.icon-qrbarcode {
  background-position: 0 -180px;
}
.icon-textlist {
  background-position: 0 -210px;
}
.icon-photo {
  background-position: 0 -270px;
}
.icon-multimedia {
  background-position: 0 -270px;
}
.icon-statictext {
  background-position: 0 -300px;
}
.icon-macro {
  background-position: 0 -390px;
}
.icon-lookup {
  background-position: 0 -420px;
}
.icon-attachment {
  background-position: 0 -450px;
}
.icon-variable {
  background-position: 0 -480px;
}
.icon-tranlsation {
  background-position: 0 -510px;
}
.icon-area {
  background-position: 0 -540px;
}
.icon-audio {
  background-position: 0 -570px;
}
.icon-questionnaire {
  background-position: 0 -600px;
}
.icon-error.icon-numeric {
  background-position: -30px 0;
}
.icon-error.icon-text {
  background-position: -30px -30px;
}
.icon-error.icon-singleoption {
  background-position: -30px -60px;
}
.icon-error.icon-multyoption {
  background-position: -30px -90px;
}
.icon-error.icon-datetime {
  background-position: -30px -120px;
}
.icon-error.icon-gpscoordinates {
  background-position: -30px -150px;
}
.icon-error.icon-qrbarcode {
  background-position: -30px -180px;
}
.icon-error.icon-textlist {
  background-position: -30px -210px;
}
.icon-error.icon-photo {
  background-position: -30px -270px;
}
.icon-error.icon-multimedia {
  background-position: -30px -270px;
}
.icon-error.icon-statictext {
  background-position: -30px -300px;
}
.icon-error.icon-macro {
  background-position: -30px -390px;
}
.icon-error.icon-lookup {
  background-position: -30px -420px;
}
.icon-error.icon-attachment {
  background-position: -30px -450px;
}
.icon-error.icon-variable {
  background-position: -30px -480px;
}
.icon-error.icon-translation {
  background-position: -30px -510px;
}
.icon-error.icon-area {
  background-position: -30px -540px;
}
.icon-error.icon-audio {
  background-position: -30px -570px;
}
.icon-error.icon-questionnaire {
  background-position: -30px -600px;
}