<table>
    <tr>
        <td class="title">
            <button type="button" class="close" data-bind="click: $root.closeDetails">&times;</button>
            <div class="row-fluid control-group" data-bind="validationElement: title">
                <label class="control-label required">Title</label>
                <div class="controls">
                    <textarea rows="1" data-bind="autoGrowArea: title" class="span12" maxlength="2000"></textarea>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="body">
            <div class="container-fluid">
                <!-- ko if : level() != 0 -->
                <div class="control-group" data-bind="validationElement: isRoster">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: isRoster">
                            Is Roster
                        </label>
                    </div>
                </div>
                <div class="control-group" data-bind="visible: isRoster">
                    <div class="controls">
                        <label class="control-label">Roster size source</label>
                        <div class="btn-group">
                            <button type="button" class="btn btn-small" data-value="Question" data-bind="checkedButtons: rosterSizeSource">Question</button>
                            <button type="button" class="btn btn-small" data-value="FixedTitles" data-bind="checkedButtons: rosterSizeSource">Fixed Titles</button>
                        </div>
                    </div>
                </div>
                <div class="control-group" data-bind="validationElement: rosterSizeQuestion, visible: isRosterSizeSourceQuestion">
                    <div class="controls">
                        <label class="control-label">Roster size</label>
                        <select class="input-block-level" data-bind="options: allowedQuestions, optionsValue: 'questionId', optionsText: 'title', value: rosterSizeQuestion, optionsCaption: 'Choose roster size question'"></select>
                        <blockquote class="text-info" data-bind="visible: isCategoricalRosterSizeQuestion">*Option names to be used as titles of roster</blockquote>
                    </div>
                </div>
                <div class="control-group" data-bind="validationElement: rosterTitleQuestion, visible: isNumericRosterSizeQuestion">
                    <div class="controls">
                        <label class="control-label">Roster title should be taken from question</label>
                        <select class="input-block-level" data-bind="options: rosterTitlesForNumericRosterSizeQuestion, optionsValue: 'questionId', optionsText: 'title', value: rosterTitleQuestion, optionsCaption: 'Choose roster title question'"></select>
                    </div>
                </div>
                <div class="control-group" data-bind="validationElement: rosterFixedTitles, visible: isRosterSizeSourceFixedTitles">
                    <div class="controls">
                        <label>
                    <a href="#" class="btn btn-info btn btn-help"
                        data-content="Each line - it is new title for the roster"
                        data-original-title="Fixed roster titles"
                        data-html="true"
                        data-trigger="hover"
                        data-placement="right"
                        data-toggle="popover"><i class="icon-info-sign icon-white"></i></a>Fixed roster titles</label>
                        <textarea rows="5" data-bind="autoGrowArea: rosterFixedTitles, valueUpdate: 'afterkeydown'" class="span8"></textarea>
                    </div>
                </div>
                <!-- /ko -->
                <div class="row-fluid">
                    <label>Description</label>
                    <textarea rows="2" data-bind="autoGrowArea: description, valueUpdate: 'afterkeydown'" class="span12"></textarea>
                </div>

                <label>
                    <a href="#" class="btn btn-info btn btn-help"
                        data-content="A logical expression that activates(disactivates) the current question(group) depending on the answers on the other questions."
                        data-original-title="Condition expression"
                        data-html="true"
                        data-trigger="hover"
                        data-placement="right"
                        data-toggle="popover"><i class="icon-info-sign icon-white"></i></a>Condition expression</label>

                <div class="control-group add-more-space-bottom" data-bind="validationElement: condition">
                    <div class="controls">
                        <textarea rows="1" data-bind="autoGrowArea: condition, valueUpdate: 'afterkeydown'" class="input-block-level"></textarea>
                        @* <div class="editor-container" data-bind="validationElement: condition">
                            <div class="editor" data-bind="ace: condition, aceOptions: { mode: 'ncalc', theme: 'designer' }"></div>
                        </div>*@
                        <span class="help-inline" data-bind="validationMessage: condition"></span>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr class="pane-bottom">
        <td>
            <div>
                <div class="inner">
                    <button type="button" class="btn btn-success" data-bind="click: $root.saveGroup, visible: dirtyFlag().isDirty() || isNew(), enable: errors().length == 0 && canUpdate()"><i class="icon-white icon-ok"></i>Save</button>
                    <button type="button" class="btn btn-link cancel-edit" data-bind="click: revert, visible: dirtyFlag().isDirty() && !isNew()"><i class="icon-remove"></i></button>
                </div>
            </div>
        </td>
    </tr>
</table>


