<table>
    <tr>
        <td class="title">
            <button type="button" class="close" data-bind="click: $root.closeDetails">&times;</button>
            <div class="row-fluid control-group" data-bind="validationElement: title">
                <label class="control-label required">Title</label>
                <div class="controls">
                    <textarea rows="1" data-bind="autoGrowArea: title, disable: true" class="input-block-level"></textarea>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="body">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" data-bind="checked: isPublic, disable: true" />Is public?
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr class="pane-bottom">
        <td>
        </td>
    </tr>
</table>
