@model WB.Core.BoundedContexts.Designer.Views.Questionnaire.Edit.NewEditQuestionView

@{
    ViewBag.Title = "Edit options";
    Layout = "~/Views/Shared/Layout.empty.cshtml";
}

<h2>Edit options</h2>
