@using System.Runtime.Serialization.Formatters
@using System.Web.Script.Serialization
@using Newtonsoft.Json
@using WB.UI.Designer.Utils
@model WB.UI.Designer.Views.Questionnaire.QuestionnaireView

@{
    ViewBag.Title = "Edit " + Model.Title;
    var serializer = new JavaScriptSerializer(new TypeResolver());
}
@section Styles{
    @Styles.Render("~/content/edit")
    <!--[if IE 7]>
      <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <![endif]-->
}
@section Scripts{
    <script type="text/javascript">
        var input = window.input || (function(document) {
            'use strict';
            var q = @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.None, new JsonSerializerSettings()
                        {
                            TypeNameHandling = TypeNameHandling.Objects,
                            TypeNameAssemblyFormat = FormatterAssemblyStyle.Simple
                        })) ;
            return {
                questionnaire: q,
                commandExecutionUrl: '@Url.Action("Execute", "Command", new { }, Request.Url.Scheme)'
            };
        }(document));
        
        window.input = input;
    </script>
    @Scripts.Render("~/designer")

}

<div id="busyindicator"></div>

<div id="stacks" data-bind="css: {'output-visible': isOutputVisible}">

    <div id="footer">
        <div class="inner">
            <div class="row-fluid">
                <div class="span4">
                    <div id="filter">
                        <button type="button" class="close" data-bind="click: $root.clearFilter">&times</button>
                        <input type="text" class="transparent" maxlength="255" placeholder="search text" data-bind="value: filter, valueUpdate: 'afterkeydown'">
                    </div>
                </div>
                <div class="span4">
                    <div class="statistics">
                        <ul class="nav nav-pills" data-bind="with: statistics">
                            <li><a>G: <span class="badge" data-bind="text: groups"></span></a></li>
                            <li><a>Q: <span class="badge" data-bind="text: questions"></span></a></li>
                        </ul>
                    </div>
                    <div class="statistics" data-bind="with: statistics">
                        <div id="unsavedWarningMessage" class="alert" data-bind="visible: hasUnsaved()">
                            <strong>Warning!</strong> <span data-bind="html: unsavedWarningMessage"></span>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="pull-right">
                        <button class="btn btn-info" data-bind="click: $root.toggleOutput">
                            <span data-bind="visible: isOutputVisible">Hide</span><span data-bind="hidden: isOutputVisible">Show</span> errors
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="output" class="stack">
        <div class="inner">
            <div class="title">
                <button type="button" class="close" data-bind="click: $root.toggleOutput">&times</button>
                <span>Errors log</span>
            </div>
            <div class="body">
                <ul data-bind="foreach: errors" class="error-list">
                    <li class="error">
                        <span data-bind="html: error"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="questionnaire" class="stack">
        <div class="inner">
            <div class="body">

                <ul data-bind="with: questionnaire" class="list">
                    <li>
                        <div class="q-item-wrap q-questionnaire" data-bind="css: {selected : isSelected}">
                            <div class="q-item">
                                <div class="group-actions  pull-right">
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle btn-success btn-mini" data-toggle="dropdown" href="#"><i class=" icon-download icon-white"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a data-bind="click: $root.addChapter" tabindex="-1" href="#"><i class="icon-plus"></i>Add chapter</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <a class="q-title" data-bind="attr: {href: getHref() }, text: title"></a>
                                <i class="icon-warning-sign" data-bind="visible: dirtyFlag().isDirty"></i>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- ko ifnot: isFilterMode -->
                <ul data-bind="sortable: {data: chapters, beforeMove: $root.isMovementPossible}" class="list">
                    <li data-bind="template: { name: 'GroupView' }, allowDrop : true"></li>
                </ul>
                <!-- /ko -->
                <!-- ko if: isFilterMode -->
                <ul id="search-results" data-bind="foreach: searchResult" class="list">
                    <li data-bind="template: { name: template + 'Search' }"></li>
                </ul>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <div id="details-questionnaire" class="details stack" data-bind="with: questionnaire ">
        <div class="inner">
            @{
                this.Html.RenderPartial("_QuestionnaireDetails");
            }
        </div>
    </div>
    <div id="details-group" class="details stack" data-bind="with:selectedGroup ">
        <div class="inner">
            @{
                this.Html.RenderPartial("_GroupDetails");
            }
        </div>
    </div>
    <div id="details-question" class="details stack" data-bind="with:selectedQuestion ">
        <div class="inner">
            @{
                this.Html.RenderPartial("_QuestionDetails");
            }
        </div>
    </div>

</div>

<script type="text/html" id="GroupView">
    <div class="ui-expander" data-bind="expand: true">
        <button class="btn btn-info btn-mini ui-expander-head pull-left"><i class="icon-plus icon-white"></i><i class="icon-minus icon-white"></i></button>
        <div class="q-item-wrap q-group" data-bind="css: {selected : isSelected, new : isNew}, popover : tip">
            <div class="handler"></div>
            <div class="q-item">
                <div class="group-actions  pull-right">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle btn-success btn-mini" data-toggle="dropdown" href="#"><i class=" icon-download icon-white"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a data-bind="click: $root.addQuestion" tabindex="-1" href="#"><i class="icon-plus"></i>Add Question</a></li>
                            <li><a data-bind="click: $root.addGroup, visible: gtype()=='None'" tabindex="-1" href="#"><i class="icon-plus"></i>Add Group</a></li>
                            <li data-bind="css: {disabled: isNew()}"><a data-bind="    click: $root.cloneGroup" tabindex="-1" href="#"><i class="icon-copy"></i>Clone Group</a></li>
                            <li><a data-bind="click: $root.deleteGroup" tabindex="-1" href="#"><i class="icon-remove"></i>Remove</a></li>
                        </ul>
                    </div>
                </div>
                <a class="q-title" data-bind="attr: {href: getHref() },text: title"></a>
                <i class="icon-warning-sign" data-bind="visible: dirtyFlag().isDirty"></i>
            </div>
        </div>
        <ul data-bind="sortable: { data: children, beforeMove: $root.isMovementPossible}" class="list ui-expander-content">
            @*<ul data-bind="foreach: children" class="list ui-expander-content">*@
            <li data-bind="template: { name: $data.template}"></li>
        </ul>
    </div>
</script>
<script type="text/html" id="QuestionView">
    <div class="q-item-wrap q-question" data-bind="css: {selected : isSelected, new : isNew}">
        <div class="handler"></div>
        <div class="q-item">
            <div class="group-actions  pull-right">
                <div class="btn-group">
                    <a class="btn dropdown-toggle btn-success btn-mini" data-toggle="dropdown" href="#"><i class=" icon-download icon-white"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-bind="click: $root.deleteQuestion" tabindex="-1" href="#"><i class="icon-remove"></i>Remove</a></li>
                        <li data-bind="css: {disabled: isNew()}"><a data-bind="    click: $root.cloneQuestion" tabindex="-1" href="#"><i class="icon-copy"></i>Clone Question</a></li>
                    </ul>
                </div>
            </div>
            <span class="alias" data-bind="text: alias"></span>
            <a class="q-title" data-bind="attr: {href: getHref() },text: title"></a>
            <i class="icon-warning-sign" data-bind="visible: dirtyFlag().isDirty"></i>
        </div>
    </div>
</script>
<script type="text/html" id="QuestionViewSearch">
    <div class="q-item-wrap q-question" data-bind="css: {selected : isSelected, new : isNew}">
        <div class="q-item">
            <div class="group-actions  pull-right">
                <div class="btn-group">
                    <a class="btn dropdown-toggle btn-success btn-mini" data-toggle="dropdown" href="#"><i class=" icon-download icon-white"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-bind="click: $root.deleteQuestion" tabindex="-1" href="#"><i class="icon-remove"></i>Remove</a></li>
                    </ul>
                </div>
            </div>
            <span class="alias" data-bind="text: alias"></span>
            <a class="q-title" data-bind="attr: {href: getHref() },text: title"></a>
            <i class="icon-warning-sign" data-bind="visible: dirtyFlag().isDirty"></i>
        </div>
    </div>
</script>
@{
    this.Html.RenderPartial("_QuestionTypes");
}
