<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="307200" maxQueryStringLength="10240" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="314572800" maxUrl="10241" maxQueryString="20481" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" arguments="%LAUNCHER_ARGS%" shutdownTimeLimit="30">
        <environmentVariables>
            <environmentVariable name="DOTNET_BUNDLE_EXTRACT_BASE_DIR" value=".\.net-app" />
        </environmentVariables>
    </aspNetCore>
  </system.webServer>
  <location path="~/ImportExport/Import" inheritInChildApplications="false">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="16777208" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="~/HQ/SampleBatchUpload" inheritInChildApplications="false">
    <system.web>
      <httpRuntime maxRequestLength="307200" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="314572800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="~/HQ/SampleBatchUploadAndVerify" inheritInChildApplications="false">
    <system.web>
      <httpRuntime maxRequestLength="307200" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="314572800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="~/HQ/PanelBatchUploadAndVerify" inheritInChildApplications="false">
    <system.web>
      <httpRuntime maxRequestLength="307200" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="314572800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="~/api/interviewer/v2/tabletInfoAsFile" inheritInChildApplications="false">
    <system.web>
      <httpRuntime maxRequestLength="102400" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="104857600" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="~/api/interviewer/v2/tabletInfo" inheritInChildApplications="false">
    <system.web>
      <httpRuntime maxRequestLength="102400" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="104857600" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="~/api/interviewer/v1/tabletInfo" inheritInChildApplications="false">
    <system.web>
      <httpRuntime maxRequestLength="102400" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="104857600" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="~/api/MapsApi/Upload" inheritInChildApplications="false">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
