@*<table style="width: 100%;">
    <tbody>
        <tr>
            <td class="OrderHeader">
                Totals:
            </td>
        </tr>
        <tr>
            <td style="font-size: 12pt;">
                <table style="width: 400px;">
                    <tr>
                        <td style="width: 50%;">
                            Sub Total:
                        </td>
                        <td>
                            $<span id="FinalSubTotal">{{=FinalSubTotal}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            Sales Tax:
                        </td>
                        <td>
                            $<span id="FinalSalesTax">{{=FinalSalesTax }}</span>
                        </td>
                    </tr>
                    {{#if DeliveryFee > 0}}
                    <tr>
                        <td style="width: 50%;">
                            Delivery Fee:
                        </td>
                        <td>
                            $<span id="FinalDeliveryFee">{{=DeliveryFee }}</span>
                        </td>
                    </tr>
                    {{/if}}
                    <tr>
                        <td style="width: 50%;">
                            Admin Fee:
                        </td>
                        <td>
                            $<span id="FinalAdminFee">{{=AdminFee }}</span>
                        </td>
                    </tr>
                    <tr style="border-top: 1px solid black;">
                        <td style="width: 50%; font-weight: bold;">
                            Total:
                        </td>
                        <td>
                            $<span id="FinalTotal">{{=FinalTotal }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Will be charged to your credit card ending with {{=CreditCard }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="OrderHeader">
                Delivery Information
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 500px;">
                    <tr>
                        <td style="width: 25%;">
                            Deliver To:
                        </td>
                        <td>
                            {{=DeliveryName}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%;">
                            Address:
                        </td>
                        <td>
                            {{=DeliveryAddress}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%;">
                            Date and Time:
                        </td>
                        <td>
                            {{=DeliveryDate}} from {{=DeliveryTime}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="OrderHeader">
                Items Ordered
            </td>
        </tr>
        {{#if MainItems.length === 0}}
        <tr>
            <td>
                No items selected
            </td>
        </tr>
        {{else}} {{#each MainItems tmpl="#ItemsTemplate"}} {{/if}}
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="OrderHeader">
                Accessories Ordered
            </td>
        </tr>
        {{#if AccessoryItems.length === 0}}
        <tr>
            <td>
                No accessories selected
            </td>
        </tr>
        {{else}} {{#each AccessoryItems tmpl="#ItemsTemplate"}} {{/if}}
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>*@
<div class="{{#if Valid}} ui-disabled {{else}} ui-body ui-body-e {{/if}}">
    {{#if Instructions && Instructions!='' }} <a href="#inctruction-{{=PublicKey}}" data-icon="info"
        data-role="button" data-inline="true" data-rel="dialog" data-transition="flip">Read
        instructions</a> {{/if}} {{#if Cards.Length > 0 }} <a data-role="button" rel="external"
            data-icon="grid" data-inline="true" href="#gallery-{{=PublicKey}}">Cards</a>
    {{/if}} @*   @{Html.RenderPartial(string.Format("~/Views/Answer/AnswerListViewHtml5/_{0}.cshtml", Model.QuestionType), Model);}*@
</div>
