@using RavenQuestionnaire.Core.Views.Group
@model RavenQuestionnaire.Core.Views.Group.PropagatableCompleteGroupView
<table>
    <tr>
        @foreach (var question in Model.Questions)
        {
            <td>
                @using (Ajax.BeginForm("SaveSingleResult", "CompleteQuestionnaire", new AjaxOptions()
                                                                                    {
                                                                                        InsertionMode = InsertionMode.Replace,
                                                                                        UpdateTargetId = ((CompleteGroupView)ViewBag.CurrentGroup).GetClientId("div")
                                                                                    }))
                {
                    Html.RenderPartial("~/Views/Question/_TakeRow.cshtml", question);
                    @Html.Hidden("ParentGroupPublicKey", ((CompleteGroupView)ViewBag.CurrentGroup).PublicKey)
                    @Html.Hidden("id", Model.QuestionnaireId)
                    @Html.Hidden("PropogationPublicKey", Model.PropogationPublicKey)
                }
            </td>
        }
    </tr>
</table>
@Ajax.ActionLink("Remove", "DeletePropagatedGroup", "Group", new { propagationKey = Model.PropogationPublicKey, publicKey = Model.PublicKey, questionnaireId = Model.QuestionnaireId, parentGroupPublicKey = ((CompleteGroupView)ViewBag.CurrentGroup).PublicKey },
new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = ((CompleteGroupView)ViewBag.CurrentGroup).GetClientId("div") },
new { @class = "btn" })
