@model Designer.Web.Models.LocalPasswordModel

@using (Html.BeginForm("manage", "account"))
{
    @Html.AntiForgeryToken()
     
    
    <h3 class="form-signin-heading">Change Password Form</h3>
    <fieldset>
        @Html.PasswordFor(x => x.OldPassword, new { @class = "input-large", placeholder = Html.DisplayNameFor(m => m.OldPassword) })
    </fieldset>
    <fieldset>
        @Html.PasswordFor(x => x.NewPassword, new { @class = "input-large", placeholder = Html.DisplayNameFor(m => m.NewPassword) })
    </fieldset>
    <fieldset>
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "input-large", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
    </fieldset>
    <fieldset>
        <button class="btn btn-large btn-primary" type="submit">Change password</button>
    </fieldset>
         
}
