@{
    ViewBag.Title = "Registration Completed";
}

<h2>Registration Completed</h2>
<p>You have completed the registration process. You can now logon to the system by clicking on the logon link.</p>