@using WB.Core.SharedKernels.SurveyManagement.Web.Properties
@{
    ViewBag.Title = Pages.AccessDenied_Title;
    Layout = "~/Views/Shared/_LayoutForErrorPage.cshtml";
}

<h2>@ViewBag.Title</h2>
