@using Newtonsoft.Json
@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.GenericSubdomains.Portable.ServiceLocation
@using WB.UI.Headquarters.Utils

@{
    ViewBag.Title = MainMenu.CreateNew;
    ViewBag.ActivePage = MenuItem.CreateNew;
    Layout = @"~/Views/Shared/_MainLayout.cshtml";
}

<div id="vueApp" configuration="@JsonConvert.SerializeObject(
new {
    title = @MainMenu.CreateNew,
    assignmentsEndpoint = Url.Content(@"~/api/Assignments"),
    interviewerHqEndpoint = Url.Content(@"~/interviewerHq"),
    authorizedUser = ServiceLocator.Current.GetInstance<IAuthorizedUser>(),
    resources = new[] {MainMenu.ResourceManager, Assignments.ResourceManager, Common.ResourceManager}.Translations()
})"></div>

<script type="text/javascript" src="@Url.Content("~/Dependencies/build/vendor.bundle.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Dependencies/build/interviewer_createNew.bundle.js")"></script>
