@using Newtonsoft.Json
@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.GenericSubdomains.Portable.ServiceLocation
@using WB.UI.Headquarters.Utils
@using ASP

@{
    ViewBag.Title = MainMenu.CreateNew;
    ViewBag.ActivePage = MenuItem.CreateNew;
    Layout = @"~/Views/Shared/_MainLayoutHq.cshtml";
}
@Html.RenderHqConfig(Model)
<div id="vueApp"></div>