@{
    ViewBag.Title = MainMenu.CreateNew;
    ViewBag.ActivePage = MenuItem.CreateNew;
    Layout = @"~/Views/Shared/_MainLayoutHq.cshtml";
}
@Html.RenderHqConfig(new
{
    AssignmentsEndpoint = Url.Content(@"~/api/Assignments"),
    InterviewerHqEndpoint = Url.Content(@"~/interviewerHq")
})
<div id="vueApp"></div>