@using Newtonsoft.Json
@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.Core.GenericSubdomains.Portable.ServiceLocation
@using WB.UI.Headquarters.Utils

@{
    ViewBag.Title = @"View";
    Layout = @"~/Views/Shared/_MainLayout.cshtml";
}

<div id="vueApp" configuration="@JsonConvert.SerializeObject(
new {
    assignmentsEndpoint = Url.Content(@"~/api/Assignments"),
    interviewerHqEndpoint = Url.Content(@"~/interviewerHq"),
    authorizedUser = ServiceLocator.Current.GetInstance<IAuthorizedUser>(),
    resource = new[] {MainMenu.ResourceManager, Assignments.ResourceManager}.Translations()
})"></div>


@Scripts.Render(@"~/js/app/interviewer.createnew")
