@model WB.UI.Headquarters.Models.InterviewerHqModel

@{
    ViewBag.Title = Html.ActivePage();
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="vueApp" configuration="@Model.ToString()"></div>

@Html.StaticScipt("~/Dependencies/build/vendor.bundle.js")
@Html.StaticScipt("~/Dependencies/build/interviewer_interviews.bundle.js")