@model WB.UI.Headquarters.Models.InterviewerHqModel

@{
    ViewBag.Title = Html.ActivePage();
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}

<div id="vueApp" configuration="@Model.ToString()"></div>
