@model WB.UI.Headquarters.Models.InterviewerHqModel
@{
    ViewBag.Title = Html.ActivePage();
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@Html.RenderHqConfig(Model)
<div id="vueApp"></div>
