@model WB.UI.Headquarters.Models.InterviewerHqModel

@{
    ViewBag.Title = Html.ActivePage();
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="vueApp" configuration="@Model.ToString()"></div>

@Html.StaticScipt(@"~/HqApp/dist/vendor.bundle.js")
@Html.StaticScipt(@"~/HqApp/dist/app.bundle.js")