@model WB.UI.Headquarters.Models.InterviewerHqModel

@{
    ViewBag.ActivePage = Model.Title;
    ViewBag.Title = Html.ActivePage();

    Layout = @"~/Views/Shared/_MainLayout.cshtml";
}

<div id="vueApp" configuration="@Model.ToString()"></div>

<script type="text/javascript" src="@Url.Content("~/Dependencies/build/vendor.bundle.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Dependencies/build/interviewer_interviews.bundle.js")"></script>