<div>
    @using (Html.BeginForm("Import", "Template", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="myfile" />
        <input type="submit" name="Submit" value="Upload" />
    }
</div>