{
    "plugins": [
        [
            "transform-runtime",
            {
                "polyfill": true,
                "regenerator": true
            }
        ]
    ],
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ]
    ],
    "sourceMaps": true
}
