{
    "plugins": [
        [
            "syntax-dynamic-import",
            "transform-async-to-generator",
            "transform-runtime",
            {
                "polyfill": true,
                "regenerator": true
            }
        ]
    ],
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "ie >= 10"
                    ]
                }
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}