@using Main.Core.View.Device
@using Main.Core.Documents

@model DeviceView


<h5>Devices</h5>
<table id="table"  class="table-hover table table-striped table-bordered table-condensed">
        <thead>
            <tr>               
                <th>PublicKey</th>
                <th>TabletId</th>
                <th>Description</th>
            </tr>
        </thead>
        @foreach (SyncDeviceRegisterDocument fitem in Model.Items)
        {
            <tr>               
                <td>@fitem.PublicKey</td>
                <td>@fitem.TabletId</td>
                <td>@fitem.Description</td>                
            </tr>
        }
</table>