@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@using WB.UI.Headquarters.Code

@model WB.UI.Headquarters.Models.Reports.DevicesInterviewersModel
@{
    ViewBag.ActivePage = MenuItem.DevicesInterviewers;
    ViewBag.Title = MenuItem.DevicesInterviewers;
}

@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
