@using WB.UI.Headquarters.Code

@model WB.Core.BoundedContexts.Headquarters.Views.Reposts.PeriodicStatusReportModel
@{
    ViewBag.Title = Model.ReportName;
}

@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>

