@using WB.UI.Headquarters.Code
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = MainMenu.SurveysAndStatuses;
}
@model WB.UI.Headquarters.Models.Reports.SurveysAndStatusesModel
@section Scripts
{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
