@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Models.Reports.SurveysAndStatusesModel
@{
    ViewBag.ActivePage = MenuItem.SurveyAndStatuses;
    ViewBag.Title = MainMenu.SurveysAndStatuses;
}

@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
