@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Models.Reports.TeamsAndStatusesModel
@{
    ViewBag.Title = Reports.Report_Team_Members_and_Statuses;
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
