<div class="download-report-as">
    @Pages.DownloadReport
    <a target="_blank" data-bind="attr:{ href: ExportToExcelUrl }">XLSX</a> @Pages.Or
    <a target="_blank" data-bind="attr:{ href: ExportToCsvUrl }">CSV</a> @Pages.Or
    <a target="_blank" data-bind="attr:{ href: ExportToTabUrl }">TAB</a>
</div>