<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        @Pages.ExportButton
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a target="_blank" data-bind="attr:{ href: ExportToExcelUrl }">@Pages.ExportToExcel</a></li>
        <li><a target="_blank" data-bind="attr:{ href: ExportToCsvUrl }">@Pages.ExportToCsv</a></li>
        <li><a target="_blank" data-bind="attr:{ href: ExportToTabUrl }">@Pages.ExportToTab</a></li>
    </ul>
</div>