@using System.Web.Optimization
@using System.Web.UI.WebControls
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/content/bootstrap")
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
