@using System.ComponentModel
@using WB.UI.Headquarters.Utils
@model Object

@foreach (var property in Model.VisibleProperties())
{
    using (Html.ControlGroupFor(property.Name))
        {
            @Html.Label(property.Name.ToSeparatedWords(), new { @class = "col-sm-2 control-label" })
            <div class="col-sm-2">
                @if (property.GetAttribute<ReadOnlyAttribute>() == null)
                {
                    @Html.Editor(property.Name, new {htmlAttributes = new { @class = "form-control"}})
                    @Html.ValidationMessage(property.Name, null, new { @class = "help-block" })

                }
                else
                {
                    <div style="margin-top: 5px;">
                        @Html.Display(property.Name)
                    </div>
                }
            </div>
        }
}