@{
    ViewBag.Title = Pages.Error_Title;
    Layout = "~/Views/Shared/_LayoutForErrorPage.cshtml";
}

<hgroup class="title">
    <h1 class="error">@Pages.Error_Title.</h1>
    <h2 class="error">@Pages.Error_Description</h2>
</hgroup>
