<li class="active glow-animate" style="display: none" id="IncomingPackagesQueueIndicator">
    <a href="javascript:void(0);" title="@MainMenu.QueueSizeTitle">
        <i class="glyphicon glyphicon-cloud-upload"></i>
        <span id="sync-queue-size">-</span>
    </a>
</li>
