@using WB.Core.SharedKernels.SurveyManagement.Web.Properties
@model string

@{
    this.Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
    this.ViewBag.Title = Pages.Designer_Title;
}

<b> @Pages.Designer_DiagnosticResultsTitle :</b><br/>
<pre style="height: 300px; overflow-y: scroll;">
@Html.Raw(this.Model)
</pre>

@using (Html.BeginForm())
{
    <input type="text" name="login"/>
    <input type="text" name="password"/>

    <button type="submit">@Pages.Designer_PerformDiagnostic</button>
}
