@{
    this.Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
    this.ViewBag.Title = "Control Panel: EvenStore";
}

@model string

<h3>Event Store</h3>

@using (Html.BeginForm("RunScavenge", "ControlPanel"))
{
    <div>
        <label>Scavenge:</label>
        <input type="submit" value="Run" class="btn btn-primary"/>
    </div>
    <div>
        @Model
    </div>
}

