@{
    this.Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
    this.ViewBag.Title = "Control Panel";
}

<h1 class="page-header">Control Panel</h1>
Please select option from the left menu to continue.
