@using System.Web.Optimization
@{
    this.Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
    this.ViewBag.Title = "Interview details loading information";
}

<h1 class="page-header">Interview details loading information</h1>
<div class="row margin-left10" data-bind="foreach: messages">
    <p data-bind="text: $data"></p>
</div>

@section scripts {

    @Scripts.Render("~/Scripts/viewmodels/pages/controlpanel/interviewdetails.js")
    <script type="text/javascript">
        var viewModel = new Supervisor.VM.ControlPanel.InterviewDetails(
            '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "ControlPanelApi", action = "InterviewDetails"})');
        viewModel.load();

        setInterval(viewModel.load, 3000);

        ko.applyBindings(viewModel);
    </script>
    
}