@{
    this.Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
    this.ViewBag.Title = "Control Panel: Versions";
}

<h1 class="page-header">Versions</h1>

<pre class="raw" style="height: 300px; overflow-y: scroll;">
Please wait while data is being loaded from server...
</pre>

<div class="list"></div>

@section scripts
{
    <script type="text/javascript">
        $(function() {

            var versionsUrl = '@Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "ControlPanelApi", action = "GetVersions"})';

            var writeLine = function(line) {
                $(".raw").text($(".raw").text() + line + "\n");
            }

            $.getJSON(versionsUrl, function(data) {
                $(".raw").text("");
                $.each(data, function (key, val) {
                    if (val !== null && typeof val === 'object') {
                        writeLine("[" + key + "]");
                        $.each(val, function (subkey, subval) {
                            writeLine("    " + subkey + " -> " + subval);
                        });
                    } else {
                        writeLine(key + ": " + val);
                    }
                });
            });

        });
    </script>
}