<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="CLIENTDIR">
            <Component Id="cmp1CE8F01E2C428B8B101BB9DE6AC1DB71" Guid="*">
                <File Id="fil8DE513EAD94248D12E9C53D5C7EC2389" KeyPath="yes" Source="$(var.SourceClientDir)\Awesomium.Core.dll" />
            </Component>
            <Component Id="cmp7940D4783491E6E3A6DB7FEA78CA1CDC" Guid="*">
                <File Id="fil3792D94A8F2A0C12E89CD3C64F8FC2F7" KeyPath="yes" Source="$(var.SourceClientDir)\Awesomium.dll" />
            </Component>
            <Component Id="cmpCC0F07A409596C7E46A54EB4BF3465FD" Guid="*">
                <File Id="fil9CC9F587353C0872B6CCA040298FC673" KeyPath="yes" Source="$(var.SourceClientDir)\Awesomium.Windows.Controls.Design.dll" />
            </Component>
            <Component Id="cmp1D3D31D8750CEE4A002B129618F4A0D6" Guid="*">
                <File Id="fil7521C35AF64B129178250711B56F9DE0" KeyPath="yes" Source="$(var.SourceClientDir)\Awesomium.Windows.Controls.dll" />
            </Component>
            <Component Id="cmpFDDA7C561EDCAD5B19D1FE26A20731D1" Guid="*">
                <File Id="fil4CAF5B1C68F617EADE5270F6EF0883DD" KeyPath="yes" Source="$(var.SourceClientDir)\Awesomium.Windows.Forms.dll" />
            </Component>
            <Component Id="cmp56F68F447E271564236AD2107DCEB726" Guid="*">
                <File Id="filFE6D38AFA848ECFCA2B1B58EAD46055B" KeyPath="yes" Source="$(var.SourceClientDir)\AwesomiumProcess" />
            </Component>
            <Component Id="cmp93052E890F53198045CDA94C85D0FE36" Guid="*">
                <File Id="fil0AD3A2B8092B570A5F39997D52956E67" KeyPath="yes" Source="$(var.SourceClientDir)\Browsing.Common.dll" />
            </Component>
            <Component Id="cmp57F2184BCCD6E1A6F0CE7C91ED631A2F" Guid="*">
                <File Id="fil23E84AE0BBEF82D155FF1C3F5D205C89" KeyPath="yes" Source="$(var.SourceClientDir)\Common.dll" />
            </Component>
            <Component Id="cmp0A74E9DB7B80DDE95EF0BD280F1C718F" Guid="*">
                <File Id="filA6658BFD98B15A018FAFF7CD1A208CE4" KeyPath="yes" Source="$(var.SourceClientDir)\en-US.dll" />
            </Component>
            <Component Id="cmp831E6A3FE37D5A7628579030F3F44395" Guid="*">
                <File Id="filFB408E4CC3410259924106C91DFFB0EB" KeyPath="yes" Source="$(var.SourceClientDir)\icudt42.dll" />
            </Component>
            <Component Id="cmp7EFEC5D7E2155DF97F9CEC4DC59CAD19" Guid="*">
                <File Id="fil1E22DA16E5E1876466084C0E8AB0FB39" KeyPath="yes" Source="$(var.SourceClientDir)\NLog.config" />
            </Component>
            <Component Id="cmpEC8050BEF7C4F28C2B1EF19B9451E675" Guid="*">
                <File Id="fil0C3941A8B2E51C115840C0CE3F0061AB" KeyPath="yes" Source="$(var.SourceClientDir)\NLog.dll" />
            </Component>
            <Component Id="cmpA7B4A9B54627A55A2F8CB9FBE4F361D8" Guid="*">
                <File Id="fil3E139BE911F0A421FEA96AEAA4FF6F97" KeyPath="yes" Source="$(var.SourceClientDir)\Supervisor.exe" />
            </Component>
            <Component Id="cmpAECE465033EB02DCD6A29636B7671DEF" Guid="*">
                <File Id="fil09D0E11B58BA6249426B6A6B4C68F757" KeyPath="yes" Source="$(var.SourceClientDir)\Supervisor.exe.config" />
            </Component>
            <Component Id="cmp702F871DF0951365204679D251AEC6BF" Guid="*">
                <File Id="filA2DC1854358CF0111DE397964DE63CC2" KeyPath="yes" Source="$(var.SourceClientDir)\Synchronization.Core.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Client_Project">
            <ComponentRef Id="cmp1CE8F01E2C428B8B101BB9DE6AC1DB71" />
            <ComponentRef Id="cmp7940D4783491E6E3A6DB7FEA78CA1CDC" />
            <ComponentRef Id="cmpCC0F07A409596C7E46A54EB4BF3465FD" />
            <ComponentRef Id="cmp1D3D31D8750CEE4A002B129618F4A0D6" />
            <ComponentRef Id="cmpFDDA7C561EDCAD5B19D1FE26A20731D1" />
            <ComponentRef Id="cmp56F68F447E271564236AD2107DCEB726" />
            <ComponentRef Id="cmp93052E890F53198045CDA94C85D0FE36" />
            <ComponentRef Id="cmp57F2184BCCD6E1A6F0CE7C91ED631A2F" />
            <ComponentRef Id="cmp0A74E9DB7B80DDE95EF0BD280F1C718F" />
            <ComponentRef Id="cmp831E6A3FE37D5A7628579030F3F44395" />
            <ComponentRef Id="cmp7EFEC5D7E2155DF97F9CEC4DC59CAD19" />
            <ComponentRef Id="cmpEC8050BEF7C4F28C2B1EF19B9451E675" />
            <ComponentRef Id="cmpA7B4A9B54627A55A2F8CB9FBE4F361D8" />
            <ComponentRef Id="cmpAECE465033EB02DCD6A29636B7671DEF" />
            <ComponentRef Id="cmp702F871DF0951365204679D251AEC6BF" />
        </ComponentGroup>
    </Fragment>
</Wix>