<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>

        <?include ..\Variables.wxi?>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="CapiApplicationShortcut" Guid="*">
                <RegistryValue Root="HKCU"
                    Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                    Name="installed"
                    Type="integer"
                    Value="1"
                    KeyPath="yes"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <Shortcut Id="AppProgramsSupervisor"
                    Target="[CLIENTDIR]Supervisor.exe"
                    Name="Supervisor"
                    WorkingDirectory="CLIENTDIR"
                    Description ="$(var.ProductName)"
                    Advertise="no"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DesktopFolder">
            <Component Id="DesktopShortcutCapi" Guid="*">
                <RegistryKey Root="HKCU" Key="$(var.Manufacturer)\$(var.ProductName)\SC" Action="createAndRemoveOnUninstall">
                    <RegistryValue Name="AnyValueName" Value="1" Type="integer" KeyPath="yes"/>
                </RegistryKey>
                <Shortcut Id="DesktopShortcutSupervisor"
                          Directory="DesktopFolder"
                          Name="Supervisor"
                          Target="[CLIENTDIR]Supervisor.exe"/>
            </Component>
        </DirectoryRef>
        
    </Fragment>
</Wix>