<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net471" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net471" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net471" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="Iesi.Collections" version="4.0.2" targetFramework="net471" />
  <package id="Machine.Specifications.Runner.Console" version="0.9.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net471" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="Moq" version="4.7.145" targetFramework="net471" />
  <package id="MvvmCross.Core" version="5.5.2" targetFramework="net471" />
  <package id="MvvmCross.Platform" version="5.5.2" targetFramework="net471" />
  <package id="MvvmCross.Plugin.Messenger" version="5.5.2" targetFramework="net471" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net471" />
  <package id="NHibernate" version="5.0.3" targetFramework="net471" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net471" />
  <package id="NUnit.Console" version="3.7.0" targetFramework="net471" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net471" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net471" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net471" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net471" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net471" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net471" />
  <package id="Quartz" version="2.6.1" targetFramework="net471" />
  <package id="ReflectionMagic" version="3.1.0" targetFramework="net471" />
  <package id="Remotion.Linq" version="2.1.2" targetFramework="net471" />
  <package id="Remotion.Linq.EagerFetching" version="2.1.0" targetFramework="net471" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="net471" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.9" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="1.1.9" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.9" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.9" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.9" targetFramework="net471" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.9" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net471" />
  <package id="System.Reflection.Metadata" version="1.5.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net471" />
</packages>