<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="https://217.12.197.135/designer/publicservice.svc"
        binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublicService"
        contract="DesignerPublicService.IPublicService" name="CustomBinding_IPublicService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
