<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="Raven.DocumentStore" value="http://192.168.3.113:8080" />-->
    <add key="Raven.IsEmbeded" value="false" />
    <add key="ShouldUsePersistentReadLayer" value="true" />
    <add key="Raven.Username" value="Raven" />
    <add key="Raven.Password" value="_database_33" />
  </appSettings>
</configuration>
