<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="Raven.DocumentStore" value="http://192.168.3.113:8080" />-->
    <add key="Raven.DocumentStore" value="http://localhost:8082" />
    <add key="Raven.IsEmbeded" value="false" />
    <add key="Raven.Username" value="Stacy" />
    <add key="Raven.Password" value="Nastya12" />
    <add key="ShouldUsePersistentReadLayer" value="true" />
  </appSettings>

</configuration>
