<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="super-dev.Supervisor.Web.config" />

    <add key="HeadquartersFunctionsEnabled" value="true"/>
    
    <add key="Raven.UseStreamingForAllEvents" value="true" />
    <add key="IsApprovedSended" value="false"/>
    <add key="AcceptUnsignedCertificate" value="false"/>
    
    <add key="SupportedQuestionnaireVersion.Major" value="1" />
    <add key="SupportedQuestionnaireVersion.Minor" value="6" />
    <add key="SupportedQuestionnaireVersion.Patch" value="2" />
    
    <add key="Headquarters.Url" value="http://hq-dev/" />
  </appSettings>
 <system.serviceModel>
    <client>
      <endpoint address="https://design1.wbcapi.org/publicservice.svc"
        binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublicService"
        contract="DesignerPublicService.IPublicService" name="CustomBinding_IPublicService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IPublicService" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                       maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
