<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="Supervisor.Web.config" />
    <add key="Raven.IsEmbeded" value="false" />
    <add key="Raven.DocumentStoreEmbeded" value="~\App_Data\LocalStorage" />

    <add key="Raven.UseStreamingForAllEvents" value="true" />
    <add key="SupportedQuestionnaireVersion.Major" value="1" />
    <add key="SupportedQuestionnaireVersion.Minor" value="6" />
    <add key="SupportedQuestionnaireVersion.Patch" value="2" />
  </appSettings>
</configuration>
