<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="Supervisor.Web.config" />
    <add key="Raven.IsEmbeded" value="false" />
    <add key="Raven.DocumentStoreEmbeded" value="~\App_Data\LocalStorage" />

    <add key="Raven.UseStreamingForAllEvents" value="true" />
    <add key="HeadquartersFunctionsEnabled" value="true"/>
    <add key="SupportedQuestionnaireVersion.Major" value="1" />
    <add key="SupportedQuestionnaireVersion.Minor" value="6" />
    <add key="SupportedQuestionnaireVersion.Patch" value="2" />

    <add key="Headquarters.LoginServiceEndpoint" value="api/resources/users/v1/validateSupervisor" />
    <add key="Headquarters.UserChangedFeed" value="api/feeds/users/v1"/>
    <add key="Headquarters.InterviewsFeed" value="api/feeds/interviews/v1"/>
    <add key="Headquarters.QuestionnaireDetailsEndpoint" value="api/resources/questionnaires/v1/{id}/{version}"/>
  </appSettings>
</configuration>
