<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Raven.IsEmbeded" value="false" />
    <add key="Raven.DocumentStore" value="http://srv-vm01:8040" />
    <add key="Raven.Username" value="Raven" />
    <add key="Raven.Password" value="_database_33" />
    <add key="ShouldUsePersistentReadLayer" value="true" />
  </appSettings>
</configuration>
