<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
      <DirectoryRef Id="FontsFolder">
      </DirectoryRef>
  </Fragment>
    <Fragment>
        <ComponentGroup Id="FontFilesComponentGroup">		  
          <Component Id="cmp1B39366A55B9281DFDDA97B1D22CFB03" Directory="FontsFolder" Guid="22ADFABF-2659-44C2-ADE3-3F0D73D2B08E">
            <File Id="fil918A11A8D189EB59A3EA80E98D2BD99E" KeyPath="yes" TrueType="yes" Source="Fonts\NotoSans-Bold.ttf" />
          </Component>          
		  <Component Id="cmp2BDF630196C64080F7CFC5C144408C72" Directory="FontsFolder" Guid="{FAC0C472-211A-4F77-B31A-F6841BEC535F}">
            <File Id="fil93126E6459F341DABE86E59D2BF78CD6" KeyPath="yes" TrueType="yes" Source="Fonts\NotoSans-Italic.ttf" />
          </Component>
		  <Component Id="cmpB4E70197E1C624351E16A763977F294F" Directory="FontsFolder" Guid="{32FFA6BA-D1DC-441C-BC4E-32D48FCB92AD}">
            <File Id="fil4F8947FA58798708B146F5AFA670F414" KeyPath="yes" TrueType="yes" Source="Fonts\NotoSans-Regular.ttf" />
          </Component>
        </ComponentGroup>
	</Fragment>
</Wix>
