@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section scripts
{
<!-- jsApp:js -->
<script src="~/Dependencies/js/import-questionnaires-list.js"></script>
<!-- endinject -->    
}
<main class="import-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="signed-name">
                <div>
                    You are signed in on Designer as <span>Uername</span> <a href="#">sign&nbsp;out</a>
                </div>
            </div>
            <div class="table-title">
                <ol class="breadcrumb">
                    <li><a href="">Questionnaires</a></li>
                </ol>
                <h2>Select Questionnaire for import (125 avalaible) </h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <table class="table import-interview">
                <thead>
                <tr>
                    <th class="column-questionnaire-title">title</th>
                    <th>last modified</th>
                    <th class="created-by">created by</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div id="hidden-links">
        <a id="questionnaireListUrl" title="questionnaire list" href="@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "DesignerQuestionnairesApi", action = "QuestionnairesListNew" })"></a>
        <a id="questionnaireImportModeUrl"  title="questionnaire import mode" href="@Url.Action("ImportMode", "Template")"></a>
    </div>
</main>