@using WB.UI.Headquarters.Code
@{
    ViewBag.Title = MainMenu.CreateNew;
}
@section Scripts{
    @Html.RenderHqConfig(new
    {
        AssignmentsEndpoint = Url.Action("Get", "AssignmentsApi"),
        InterviewerHqEndpoint = Url.Content(@"~/interviewerHq")
    })
}
<div id="vueApp"></div>
