@using WB.UI.Headquarters.Code
@{
    ViewBag.Title = MainMenu.CreateNew;
}
@section Scripts{
    @Html.RenderHqConfig(new
    {
        AssignmentsEndpoint = Url.Action("Get", "AssignmentsApi"),
        AssignmentsApi = Url.Content("~/api/v1/assignments"),
        InterviewerHqEndpoint = Url.Content(@"~/interviewerHq"),
        AllowInterviewerChangeAssignmentStatus = Model.AllowInterviewerChangeAssignmentStatus
    })
}
<div id="vueApp"></div>
