@using WB.UI.Headquarters.Code
@using WB.UI.Headquarters.Services
@model WB.UI.Headquarters.Models.InterviewerHqModel
@{
    ViewBag.Title = Html.ActivePage();
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
