<!DOCTYPE html>
<html>

<head>
    <script type="module" src="/build/entries/pdf.js"></script>
</head>

<body>
    <img src="~/images/suso-logo-dark.svg" alt="Survey Solutions" />
    <img src="~/images/pdf-question-legend.png" />
    <img src="~/images/pdf-roster-legend.png" />
</body>

</html>
