<!DOCTYPE html>
<html>

<head>
  <script type="module" crossorigin src="/js/modulepreload-polyfill.js"></script>
  <link rel="stylesheet" crossorigin href="/css/pdf.css">
</head>

<body>
    <img src="~/images/suso-logo-dark.svg" alt="Survey Solutions" >
    <img src="~/images/pdf-question-legend.png" >
    <img src="~/images/pdf-roster-legend.png" >
</body>

</html>
