@{
    Layout = null;
    var pageindex = Context.Request.Query["page"].FirstOrDefault() ?? "";
    var topage = Context.Request.Query["topage"].FirstOrDefault() ?? "";
    var subsection = Context.Request.Query["subsection"].FirstOrDefault() ?? "";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        .footer {
            width: 100%;
        }

        .subsection {
            text-transform: uppercase;
            font-size: 10px;
            font-family: 'RobotoLight';
            vertical-align: bottom;
            overflow: hidden;
        }

        .page-number {
            text-align: right;
            font-family: 'RobotoLight';
            font-size: 13px;
            vertical-align: bottom;
        }
    </style>
</head>
<body>
    <table class="footer">
        <tr>
            <td class="subsection">@subsection</td>
            <td class="page-number">
                <span class="page">@pageindex</span> / <span class="topage">@topage</span>
            </td>
        </tr>
    </table>
</body>
</html>
