@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'none'">
    <style>
        .footer {
            width: 100%;
            padding: 0 20px;
        }

        .title {
            text-transform: uppercase;
            font-size: 10px;
            font-family: 'RobotoLight';
            vertical-align: bottom;
            overflow: hidden;
        }

        .pageNumber {
            text-align: right;
            font-family: 'RobotoLight';
            font-size: 13px;
            vertical-align: bottom;
        }
    </style>
</head>
<body>
    <table class="footer">
        <tr>
            <td class="title"></td>
            <td class="page-number">
                <span class="pageNumber"></span> / <span class="totalPages"></span>
            </td>
        </tr>
    </table>
</body>
</html>
