<?xml version="1.0" encoding="utf-8" ?>
<resources>
  <integer name="HttpResponseTimeout">1200</integer>
  <integer name="BufferSize">512</integer>
  <integer name="GpsReceiveTimeoutSec">30</integer>
  <integer name="GpsDesiredAccuracy">50</integer>
  <bool name="AcceptUnsignedSslCertificate">false</bool>
  <string name="DesignerEndpoint">https://designer.mysurvey.solutions</string>
  <bool name="VibrateOnError">true</bool>
  <string name="google_maps_api_key">AIzaSyBi_p1AvdpT0DH2fAY5ZAIt6p_qxTLqejw</string>
    <string name="appcenter_key">e77a488d-d76b-4300-9a37-8716f5b2faa7</string>
</resources>
