<?xml version="1.0" encoding="utf-8" ?>
<resources>
  <integer name="HttpResponseTimeout">1200</integer>
  <integer name="BufferSize">512</integer>
  <integer name="GpsReceiveTimeoutSec">30</integer>
  <integer name="GpsDesiredAccuracy">50</integer>
  <bool name="AcceptUnsignedSslCertificate">false</bool>
  <string name="DesignerEndpoint">https://designer.mysurvey.solutions</string>
  <bool name="VibrateOnError">true</bool>
  <string name="google_maps_api_key"></string>
    <string name="appcenter_key"></string>
</resources>
