@using WB.Enumerator.Native.Resources
@model WB.Enumerator.Native.WebInterview.Models.WebInterviewError
@{
    Layout = "_WebInterviewLayout.cshtml";
}
<h1>
	@WebInterview.WelcomeText
</h1>
<h3>
	@Model.Message
</h3>