@using WB.Core.BoundedContexts.Headquarters.WebInterview
@using WB.UI.Headquarters.Models.WebInterview
@model StartWebInterview
@{
    Layout = "_WebInterviewLayout.cshtml";
}

<h2>@Html.SubstituteQuestionnaireName(Model.CustomMessages.GetText(WebInterviewUserMessages.WelcomeText).ToString(), Model.QuestionnaireTitle)</h2>
<p>
    @Html.SubstituteQuestionnaireName(Model.CustomMessages.GetText(WebInterviewUserMessages.Invitation).ToString(), Model.QuestionnaireTitle)
</p>

<div class="additional-info-block">
    @WebInterview.Resume_InvitationSmallText
</div>
@Html.Partial("_StartOrResumeForm", Model)
