@using WB.UI.Designer.Resources

@{
    ViewBag.Title = AccountResources.PasswordReset;
    Layout = "~/Views/Account/Layout.Account.cshtml";
}

<form id="start-register-step2">
    <h1>@AccountResources.ThankYou</h1>
    <p class="note">
        @AccountResources.CompleteRegistrationInstruction
    </p>
    <div class="form-actions">
        <a class="btn btn-success btn-lg" href="@Url.Action("Login")">@AccountResources.BackToLogin</a>
    </div>
</form>
