@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Question
@model CompleteQuestionView

@using (Html.BeginCollectionItem("Answers", true, Guid.NewGuid()))
{
    var settings = (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings;
    settings.Add("onchange", "$(this.form).submit();");

    string dateValue = Model.Answer == null ? string.Empty : Model.Answer.ToString();
    @Html.Hidden("Parent", Model.PublicKey)

    <div class="answer hide-date-box">
        @Html.Hidden("Selected", true)     
        @Html.TextBox("AnswerValue", dateValue, settings)   
    </div>
}