@model dynamic

@{
    ViewBag.Title = "Control Panel: Migration from NCalc to C#";
    Layout = "~/Views/Shared/Layout.admin.cshtml";
}

<div class="page-header">
    <h2>Migration: NCalc to C#</h2>
</div>

<div class="well">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="questionnaireId" class="col-xs-3 control-label">Migrate one questionnaire</label>
            <div class="col-xs-9">
                <input id="questionnaireId" type="text" class="form-control" value="00000000-0000-0000-0000-000000000000" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <button id="migrateSingle" type="button" class="btn btn-primary">Migrate one</button>
            </div>
        </div>
        <pre id="migrateSingleOutput" class="help-block"></pre>
    </form>
</div>

<div class="well">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-3 control-label">Migrate all questionnaires</label>
            <div class="col-xs-9">
                <button id="migrateAll" type="button" class="btn btn-default">Migrate all</button>
            </div>
        </div>
        <pre id="migrateAllOutput" class="help-block"></pre>
    </form>
</div>

<pre id="statusArea" style="height: 200px; overflow-y: scroll;">requesting status...</pre>

@section scripts
{
    <script type="text/javascript">

        $(function() {

            $('#migrateSingle').click(function() {
                performPrettyAjaxRequest($('#migrateSingleOutput'), {
                    type: 'POST',
                    url: '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "NCalcToSharp", action = "MigrateOne" })',
                    data: { id: $('#questionnaireId').val() },
                })
            });

            $('#migrateAll').click(function() {
                performPrettyAjaxRequest($('#migrateAllOutput'), {
                    type: 'POST',
                    url: '@Url.RouteUrl("DefaultApiWithAction", new { httproute = "", controller = "NCalcToSharp", action = "MigrateAll" })',
                })
            });

            function performPrettyAjaxRequest($output, ajaxSettings) {
                $('button').attr('disabled', 'disabled');

                $output.text("sending request...");

                $.ajax(ajaxSettings
                ).done(function(result) {
                    $output.text("started execution on server, see status below for details");
                }).fail(function(xhr, status, error) {
                    $output.text("failed: " + error + "\r\n" + getExceptionDetails(xhr));
                }).always(function() {
                    $('button').removeAttr('disabled');
                });
            }

            function getExceptionDetails(xhr) {
                try {
                    return xhr.responseJSON.Message;
                } catch (e1) {
                    return xhr.responseText;
                }
            }

            function updateStatus() {
                return $.ajax({
                    type: 'GET',
                    url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "NCalcToSharp" })',
                    data: { timestamp: new Date().getMilliseconds() },
                }).done(function(result) {
                    $('#statusArea').text('Updated from server: ' + new Date().toTimeString() + '\r\n\r\n' + result);
                }).fail(function(xhr, status, error) {
                    $('#statusArea').text(error + '\r\n' + xhr.responseText + '\r\n\r\nUpdated from server: ' + new Date().toTimeString());
                });
            }

            function updateStatusNeverending() {
                $.when(updateStatus()).always(function() {
                    setTimeout(updateStatusNeverending, 1000);
                });
            }

            updateStatusNeverending();

        });

    </script>
}
