@{
    this.Layout = "~/Views/ControlPanel/Layout.ControlPanel.cshtml";
    this.ViewBag.Title = "Control Panel: NConfig";
}


<h3>Configuration</h3>

<b>Value of Test Parameter:</b><br/>
@(System.Configuration.ConfigurationManager.AppSettings["Test"] ?? "<null>")

<br/><br/>

<b>Dump:</b><br/>
<pre style="height: 300px; overflow-y: scroll;">
@Html.Raw(NConfig.NConfigurator.Default.DumpDiagnostics())
</pre>


