@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Models.SurveySetupModel
@{
    ViewBag.Title = Dashboard.Questionnaires;
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}

<div id="vueApp"></div>
