@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Models.UpgradeAssignmentsModel
@{
    ViewBag.Title = Pages.UpgradeAssignmentsTitle;
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
