@using WB.Core.BoundedContexts.Designer.Views.Questionnaire.Pdf
@model WB.Core.BoundedContexts.Designer.Views.Questionnaire.Pdf.PdfEntityView

<div>

    @if (this.Model is PdfQuestionView)
    {
        Html.RenderPartial("_RenderQuestionDetails", (PdfQuestionView)this.Model);
    }
    else if (this.Model is PdfStaticTextView)
    {
        Html.RenderPartial("_RenderStaticTextDetails", this.Model);
    }
    else
    {
        @Html.Raw(string.Format("<h{0}><span>{2} &nbsp;&nbsp;&nbsp;</span>{1} <span class=\"variable-name\">{3}</span></h{0}>",
            Math.Min(4, Model.Depth), Html.Encode(Model.Title), Html.Encode(Model.ItemNumber), Html.Encode(Model.VariableName)))
    }

    @if (this.Model.Children.Count > 0)
    {
        <div style="margin-left: 20px;">
            @foreach (var child in this.Model.Children)
            {
                Html.RenderPartial("_RenderChild", child);
            }
        </div>
    }

</div>