@using Main.Core.View
@using Main.Core.View.Question
@model Main.Core.View.ICompositeView

<div>
    
    @if (this.Model is QuestionView)
    {
        Html.RenderPartial("_RenderQuestionDetails", (QuestionView) this.Model);
    }
    else
    {
        <text>
            @Html.Raw(string.Format("<h{0}>{1}</h{0}>", Math.Min(4, Model.GetDepth() + 1), Html.Encode(Model.Title)))
        </text>
        @*<dl>
            <dt>Guid: </dt><dd>@Model.PublicKey</dd>
            <dt>parentguid:</dt><dd>@(Model.ParentView != null ? Model.ParentView.PublicKey.ToString() : string.Empty)</dd>
        </dl>*@
    }

    @if (this.Model.Children != null && this.Model.Children.Count > 0)
    {
        <div style="margin-left: 20px;">
            @foreach (ICompositeView child in this.Model.Children)
            {
                Html.RenderPartial("_RenderChild", child);
            }
        </div>
    }

</div>