@using Main.Core.View.Answer
@model Main.Core.View.Question.QuestionView

@if (this.Model.Answers != null && this.Model.Answers.Length > 0)
{
    <table style="margin-left: 20px;">
        @foreach (AnswerView answer in this.Model.Answers)
        {
            <tr>
                <td style="text-align: right; font-weight: bold;">
                    @answer.AnswerValue
                </td>
                <td style="padding-left: 10px;">
                    @answer.Title
                </td>

            </tr>
        }
    </table>
}
