@using WB.UI.Designer.Views.Questionnaire.Pdf
@model WB.UI.Designer.Views.Questionnaire.Pdf.PdfEntityView

<div>
    
    @if (this.Model is PdfQuestionView)
    {
        Html.RenderPartial("_RenderQuestionDetails", (PdfQuestionView) this.Model);
    }
    else
    {
        <text>
            @Html.Raw(string.Format("<h{0}>{1}</h{0}>", Math.Min(4, Model.Depth), Html.Encode(Model.Title)))
        </text>
    }

    @if (this.Model.Children.Count > 0)
    {
        <div style="margin-left: 20px;">
            @foreach (var child in this.Model.Children)
            {
                Html.RenderPartial("_RenderChild", child);
            }
        </div>
    }

</div>