@model WB.UI.Designer.Views.Questionnaire.QuestionnaireView

@{
    this.ViewBag.Title = "PDF Preview";
}
@section Styles
{
    @Styles.Render("~/Content/pdf.css")
}
@section Scripts
{
    @Scripts.Render("~/simplepage")
}
<div class="pdf-preview">

    <div class="buttons">
        @Html.ActionLink("Download PDF", "ExportQuestionnaire", new { id = Model.PublicKey }, new { @class = "btn" })
    </div>

    <div class="content">
        @{ Html.RenderPartial("_RenderQuestionnaire", this.Model); }
    </div>

    <div class="buttons">
        @Html.ActionLink("Download PDF", "ExportQuestionnaire", new { id = Model.PublicKey }, new { @class = "btn" })
    </div>

</div>

