@model WB.UI.Designer.Views.Questionnaire.Pdf.PdfQuestionnaireView

@{ Layout = null; }

<!DOCTYPE html>
<html>
    <head>
        <title>@Model.Title</title>
        @Styles.Render("~/Content/pdf.css")
    </head>
    <body>
        @{ Html.RenderPartial("_RenderQuestionnaire", this.Model); }
    </body>
</html>


