@model WB.UI.Designer.Pdf.TitlePageDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
              @Html.Partial("_RenderTitlePage", Model)
        </div>
    </body>
</html>