<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Raven.DocumentStore" value="http://localhost:8080" />
    <add key="SupervisorFunctionsEnabled" value="false"/>
    <add key="Core.EventStoreProvider" value="Raven"/>
    <add key="Raven.Databases.Events" value="HeadquartersEvents_split" />
    <add key="Raven.Databases.Views" value="HeadquartersViews_split" />
    <add key="Raven.Databases.PlainStorage" value="HeadquartersPlain_split" />

    <add key="EventStore.ServerTcpPort" value="1113" />
    <add key="EventStore.ServerHttpPort" value="2113" />
    <add key="EventStore.Login" value="admin" />
    <add key="EventStore.Password" value="changeit" />
    <add key="IsDevelopmentEnvironment" value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IPublicService"  maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost/Designer/PublicService.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublicService" contract="PublicService.IPublicService" name="CustomBinding_IPublicService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <system.web>
    <membership defaultProvider="QuestionnaireMembershipProvider">
      <providers>
        <clear />
        <add name="QuestionnaireMembershipProvider" 
             type="WB.Core.SharedKernels.SurveyManagement.Web.Utils.Security.QuestionnaireMembershipProvider"
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             connectionStringName="TesterConnestionString" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="false" 
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="1" 
             minRequiredNonalphanumericCharacters="0" 
             passwordAttemptWindow="10" 
             applicationName="Headquarters" 
             passwordStrengthRegularExpression=".*" />
      </providers>
    </membership>
  </system.web>
</configuration>
