<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Raven.DocumentStore" value="http://localhost:8080" />
   
    <add key="Raven.Databases.Views" value="HeadquartersViews" />
    <add key="Raven.Databases.PlainStorage" value="HeadquartersPlain" />

    <add key="SupervisorFunctionsEnabled" value="true"/>
    <add key="EventStore.ServerTcpPort" value="2115" />
    <add key="EventStore.ServerHttpPort" value="2114" />

    
    <!--<add key="SupervisorFunctionsEnabled" value="false" />
    <add key="EventStore.ServerTcpPort" value="2118" />
    <add key="EventStore.ServerHttpPort" value="2119" />-->
    
    <add key="EventStore.Login" value="admin" />
    <add key="EventStore.Password" value="changeit" />
    <add key="IsDevelopmentEnvironment" value="true" />
    <add key="DataStorePath" value="F:/esent/superhq" />
    <add key="DesignerAddress" value="http://localhost/designer/api/import" />
  </appSettings>
  <!--<connectionStrings>
    <add name="ReadSide" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=Qwerty1234;Database=SuperHQ-Views-Split;" />
    <add name="PlainStore" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=Qwerty1234;Database=SuperHQ-Plain-Split;" />
  </connectionStrings>-->
  <system.web>
    <membership defaultProvider="QuestionnaireMembershipProvider">
      <providers>
        <clear />
        <add name="QuestionnaireMembershipProvider" 
             type="WB.Core.SharedKernels.SurveyManagement.Web.Utils.Security.QuestionnaireMembershipProvider"
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             connectionStringName="TesterConnestionString" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="false" 
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="1" 
             minRequiredNonalphanumericCharacters="0" 
             passwordAttemptWindow="10" 
             applicationName="Headquarters" 
             passwordStrengthRegularExpression=".*" />
      </providers>
    </membership>
  </system.web>
</configuration>
