<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="Headquarters.Web.config" />
    <add key="Raven.DocumentStore" value="http://localhost:8080" />
    <add key="Raven.Databases.Events" value="HeadquartersEvents" />
    <add key="Raven.Databases.Views" value="HeadquartersViews" />
    <add key="Raven.Databases.PlainStorage" value="HeadquartersPlainStorage" />
    <add key="SupportedQuestionnaireVersion.Major" value="1" />
    <add key="SupportedQuestionnaireVersion.Minor" value="6" />
    <add key="SupportedQuestionnaireVersion.Patch" value="2" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IPublicService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost/designer/publicservice.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublicService" contract="PublicService.IPublicService" name="CustomBinding_IPublicService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
