<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="hq-dev.Headquarters.Web.config" />
  </appSettings>
<system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IPublicService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://design1.wbcapi.org/publicservice.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublicService" contract="PublicService.IPublicService" name="CustomBinding_IPublicService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
