<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="externalStorages" type="WB.UI.Shared.Web.Configuration.ExternalStoragesConfigSection, WB.UI.Shared.Web, Version=5.22.20.0, Culture=neutral" />
    </configSections>
    <externalStorages>
        <oauth2 redirectUri="https://demo.mysurvey.solutions/data-export-storages.html" responseType="token">
            <dropbox authorizationUri="https://www.dropbox.com/1/oauth2/authorize" clientId="9uz71ejx33noq9a"></dropbox>
            <onedrive authorizationUri="https://login.live.com/oauth20_authorize.srf" clientId="964a0fcb-7b2e-47f0-a5bd-96e775fbb11c" scope="onedrive.readwrite"></onedrive>
            <googledrive authorizationUri="https://accounts.google.com/o/oauth2/v2/auth" clientId="571731722180-rqf3v08fc95mo1ccqg5oqrehrau32oh1.apps.googleusercontent.com" scope="https://www.googleapis.com/auth/drive.file"></googledrive>
        </oauth2>
    </externalStorages>
    <appSettings>
    <add key="InterviewDetailsDataScheduler.SynchronizationInterval" value="5" />
    <add key="InterviewDetailsDataScheduler.NumberOfInterviewsProcessedAtTime" value="3"/>
    <add key="DesignerAddress" value="http://localhost/designer" />
    <add key="EventStore.Provider" value="Postgres" />
    <add key="Export.EnableInterviewHistory" value="true" />
    <add key="RestTimeout" value="180" />
    <add key="WebInterviewEnabled" value="true" />
    <add key="recaptchaPublicKey" value="6Lc3HxATAAAAAAXkAe_N9K7JcACaAC45luOC2070" />
    <add key="recaptchaPrivateKey" value="6Lc3HxATAAAAADQ24nfx6grw3ExpzzVNk4AEHkhs" />

    <add key="Storage.S3.Enable" value="false" />
    <add key="Storage.S3.Endpoint" value="http://minio.alfeg.net:9000" />
    <add key="AWSAccessKey" value="SurveySolutions" />
    <add key="AWSSecretKey" value="Qwerty1234" />
    <add key="Storage.S3.Region" value="us-east-1" />
    <add key="Storage.S3.BucketName" value="binarydata" />
    <add key="BaseUrl" value="http://localhost/headquarters" />
  </appSettings>
  <connectionStrings>
    <add name="Postgres" providerName="Npgsql" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=Qwerty1234;Database=fp2017;" />
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>
