<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Raven.DocumentStore" value="http://localhost:8080" />
    <add key="Raven.Databases.Events" value="HeadquartersEvents" />
    <add key="Raven.Databases.Views" value="HeadquartersViews" />
    <add key="HeadquartersFunctionsEnabled" value="false"/>
    <add key="Raven.Databases.PlainStorage" value="HeadquartersPlainStorage" />
    <add key="InterviewDetailsDataScheduler.SynchronizationInterval" value="60" />
    <add key="InterviewDetailsDataScheduler.NumberOfInterviewsProcessedAtTime" value="3"/>
    <add key="SupervisorFunctionsEnabled" value="true"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IPublicService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost/Designer/PublicService.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublicService" contract="PublicService.IPublicService" name="CustomBinding_IPublicService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
