<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="SlavaDesktop.Headquarters.Web.config" />
    <!--<add key="DesignerAddress" value="https://design-dev.mysurvey.solutions" />-->
    <add key="DesignerAddress" value="https://localhost/Designer" />

    <add key="EventStore.ServerTcpPort" value="1113" />
    <add key="EventStore.ServerHttpPort" value="2113" />
    <add key="IsDevelopmentEnvironment" value="true" />

    <add key="EventStore.Provider" value="Postgres" />
    <add key="RestTimeout" value="300" />

    <add key="recaptchaPublicKey" value="***REMOVED***" />
    <add key="recaptchaPrivateKey" value="***REMOVED***" />

    <add key="WebInterviewEnabled" value="true" />

    <add key="Export.EnableInterviewHistory" value="true" />

    <add key="Storage.S3.Enable" value="false" />
    <!--<add key="Storage.S3.Endpoint" value="http://minio.alfeg.net:9000" />
    <add key="AWSAccessKey" value="SurveySolutions" />
    <add key="AWSSecretKey" value="P@$$w0rd" />
    <add key="Storage.S3.Region" value="us-east-1" />
    <add key="Storage.S3.BucketName" value="binarydata" />
    <add key="Storage.S3.Enable" value="true" />-->
    <add key="BaseUrl" value="http://172.31.41.60/headquarters" />
  </appSettings>

  <connectionStrings>
    <add name="Postgres" providerName="Npgsql" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=P@$$w0rd;Database=NewHQ;" /> 
  </connectionStrings>
</configuration>
