<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="Slava.Headquarters.Web.config" />
    <add key="DesignerAddress" value="https://localhost/Designer" />
    <add key="IsDevelopmentEnvironment" value="true" />

    <add key="EventStore.Provider" value="Postgres" />
    <add key="Export.EnableInterviewHistory" value="true" />

    <add key="WebInterviewEnabled" value="true" />

    <add key="Storage.S3.Enable" value="false" />
    <add key="Storage.S3.Endpoint" value="http://minio.alfeg.net:9000" />
    <add key="AWSAccessKey" value="SurveySolutions" />
    <add key="AWSSecretKey" value="P@$$w0rd" />
    <add key="Storage.S3.Region" value="us-east-1" />
    <add key="Storage.S3.BucketName" value="binarydata" />
      
    <add key="Google.Map.ApiKey" value="AIzaSyDqE5u3wPHI2hvKWJ68nDg5sOKT-2J1Qf8" />

     <add key="BaseUrl" value="http://localhost/headquarters" />
  </appSettings>
  <connectionStrings>
    <add name="Postgres" providerName="Npgsql" connectionString="Server=127.0.0.1;Port=5433;User Id=postgres;Password=P@$$w0rd;Database=nica17;" />
  </connectionStrings>
</configuration>
