<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="SlavaDesktop.Headquarters.Web.config" />
    <add key="SupervisorFunctionsEnabled" value="true"/>
    <add key="DesignerAddress" value="http://localhost/Designer/api/v2/import" />

    <add key="SupervisorFunctionsEnabled" value="true"/>
    <add key="EventStore.ServerTcpPort" value="1113" />
    <add key="EventStore.ServerHttpPort" value="2113" />
    <add key="IsDevelopmentEnvironment" value="true" />
  </appSettings>

  <connectionStrings>
    <add name="ReadSide" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=P@$$w0rd;Database=HybridHQ-Views;" />
    <add name="PlainStore" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=P@$$w0rd;Database=HybridHQ-Plain;" />
  </connectionStrings>
</configuration>
