<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="SlavaDesktop.Headquarters.Web.config" />
    <add key="Raven.DocumentStore" value="http://localhost:8081" />
    <add key="Raven.Databases.Views" value="HeadquartersHybridViews" />
    <add key="Raven.Databases.PlainStorage" value="HeadquartersHybridPlainStorage" />
    <add key="SupervisorFunctionsEnabled" value="true"/>
    <add key="DesignerAddress" value="https://design-rc.wbcapi.org/api/import" />

    <add key="SupervisorFunctionsEnabled" value="true"/>
    <add key="EventStore.ServerTcpPort" value="1113" />
    <add key="EventStore.ServerHttpPort" value="2113" />
    
  </appSettings>
</configuration>
