<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="Slava.Headquarters.Web.config" />
    <add key="DesignerAddress" value="https://localhost/Designer" />

    <add key="EventStore.ServerTcpPort" value="1113" />
    <add key="EventStore.ServerHttpPort" value="2113" />
    <add key="IsDevelopmentEnvironment" value="true" />

    <add key="EventStore.Provider" value="Postgres" />
    <add key="Export.EnableInterviewHistory" value="true" />

    <add key="WebInterviewEnabled" value="true" />
    
  </appSettings>
  <connectionStrings>
  </connectionStrings>
</configuration>
