<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="applicationSecurity" type="WB.UI.Shared.Web.Configuration.HqSecuritySection, WB.UI.Shared.Web, Version=3.0.60.0, Culture=neutral" />
  </configSections>
    <appSettings>
    <add key="Esent.Cache.Enabled" value="false" />
    <add key="InterviewDetailsDataScheduler.SynchronizationInterval" value="60" />
    <add key="InterviewDetailsDataScheduler.NumberOfInterviewsProcessedAtTime" value="3"/>
    <add key="IsDevelopmentEnvironment" value="true" />
    <add key="DesignerAddress" value="https://localhost/designer" />
    <add key="EventStore.Provider" value="Postgres" />
    <add key="Export.InterviewsExportParallelTasksLimit" value="1" />
    <add key="Export.EnableInterviewHistory" value="true" />
    <add key="PreLoading.InterviewsImportParallelTasksLimit" value="1" />
    <add key="WebInterviewEnabled" value="true" />
    <add key="recaptchaPublicKey" value="***REMOVED***" />
    <add key="recaptchaPrivateKey" value="***REMOVED***" />
    <add key="Metrics.Gateway" value="" />

    <add key="Storage.S3.Enable" value="false" />
    <add key="Storage.S3.Endpoint" value="http://minio.alfeg.net:9000" />
    <add key="AWSAccessKey" value="SurveySolutions" />
    <add key="AWSSecretKey" value="P@$$w0rd" />
    <add key="Storage.S3.Region" value="us-east-1" />
    <add key="Storage.S3.BucketName" value="binarydata" />
    <add key="BaseUrl" value="http://localhost/headquarters" />
  </appSettings>
  <connectionStrings>
    <add name="Postgres" providerName="Npgsql" connectionString="Persist Security Info=true;Server=127.0.0.1;Port=5432;User Id=postgres;Password=P@$$w0rd;Database=SuperHQ;ApplicationName=SuperHQ;CommandTimeout=60" />
  </connectionStrings>
  <applicationSecurity>
    <passwordPolicy minRequiredNonAlphanumericCharacters="0" passwordMinimumLength="1" passwordStrengthRegularExpression="^.*$" />
    <cookieSettings expirationTime="24" slidingExpiration="true" name=".AspNet.Cookies" httpOnly="true" />
  </applicationSecurity>
  <system.web>
  </system.web>
</configuration>
