<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Raven.DocumentStore" value="http://localhost:8080" />
    <add key="Raven.Databases.Views" value="HeadquartersViews" />
    <add key="Raven.Databases.PlainStorage" value="HeadquartersPlainStorage" />
    <add key="InterviewDetailsDataScheduler.SynchronizationInterval" value="60" />
    <add key="InterviewDetailsDataScheduler.NumberOfInterviewsProcessedAtTime" value="3"/>
    <add key="SupervisorFunctionsEnabled" value="true"/>
    <add key="IsDevelopmentEnvironment" value="true" />
    <add key="DesignerAddress" value="https://localhost/designer/api/import" />
  </appSettings>
  <system.web>
    <membership defaultProvider="QuestionnaireMembershipProvider">
      <providers>
        <clear />
        <add name="QuestionnaireMembershipProvider"
             type="WB.Core.SharedKernels.SurveyManagement.Web.Utils.Security.QuestionnaireMembershipProvider"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             connectionStringName="TesterConnestionString"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="1"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             applicationName="Headquarters"
             passwordStrengthRegularExpression=".*" />
      </providers>
    </membership>
  </system.web>
</configuration>
