<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="Raven.DocumentStore" value="http://192.168.3.113:8080" />-->
    <add key="Raven.DocumentStore" value="http://localhost:8080" />
    <add key="Raven.IsEmbeded" value="false" />
    <add key="Raven.Username" value="nastya.kholodova@gmail.com" />
    <add key="Raven.Password" value="NastyaKholodova" />
    <add key="SupervisorFunctionsEnabled" value="true"/>
    <add key="Raven.Databases.Views" value="HeadquartersViews-dev" />
    <add key="Raven.Databases.RavenFileSystemName" value="HeadquartersFileSystem" />
    <add key="EventStore.ServerTcpPort" value="1113" />
    <add key="EventStore.ServerHttpPort" value="2113" />
    <add key="EventStore.Login" value="admin" />
    <add key="EventStore.Password" value="changeit" />
    <add key="Export.EnableInterviewHistory" value="false"/>
    <add key="DesignerAddress" value="http://localhost/Designer/api/import" />
  </appSettings>
</configuration>
