<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SupervisorFunctionsEnabled" value="true"/>
    <add key="EventStore.ServerTcpPort" value="1113" />
    <add key="EventStore.ServerHttpPort" value="2113" />
    <add key="EventStore.Login" value="admin" />
    <add key="EventStore.Password" value="changeit" />
    <add key="Export.EnableInterviewHistory" value="true"/>
    <add key="DesignerAddress" value="https://design-dev.mysurvey.solutions/api/import" />
    <add key="RestTimeout" value="3000"/>
    <add key="EventStore.MaxCountToRead" value="2500" />
  </appSettings>
</configuration>
