<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="eventBus" type="WB.UI.Shared.Web.Configuration.EventBusConfigSection, WB.UI.Shared.Web, Version=3.0.60.0, Culture=neutral" />
  </configSections>
  <appSettings>
    <add key="Test" value="TLK.Headquarters.Web.config" />
    <add key="InterviewDetailsDataScheduler.SynchronizationInterval" value="60" />
    <add key="InterviewDetailsDataScheduler.NumberOfInterviewsProcessedAtTime" value="1"/>
    <add key="SupervisorFunctionsEnabled" value="true"/>
    <!--<add key="DesignerAddress" value="https://localhost/designer/api/import" />-->
    <add key="DesignerAddress" value="https://design-dev.mysurvey.solutions/api/import" />
    <add key="EventStore.ServerTcpPort" value="1117"/>
    <add key="EventStore.ServerHttpPort" value="2117"/>
    <add key="DataStorePath" value="C:/Projects/Data/AppData/HQSV.BhutanKap" />
  </appSettings>
  <eventBus>
    <eventHandlers>
      <disabled>
        <!--<add type="WB.Core.SharedKernels.SurveyManagement.EventHandler.InterviewHistoryDenormalizer, WB.Core.SharedKernels.SurveyManagement"/>-->
        <!--<add type="WB.Core.SharedKernels.SurveyManagement.EventHandler.InterviewEventHandlerFunctional, WB.Core.SharedKernels.SurveyManagement"/>-->
        <!--<add type="WB.Core.SharedKernels.SurveyManagement.EventHandler.InterviewSummaryDenormalizer, WB.Core.SharedKernels.SurveyManagement"/>-->
        <!--<add type="WB.Core.SharedKernels.SurveyManagement.EventHandler.StatusChangeHistoryDenormalizerFunctional, WB.Core.SharedKernels.SurveyManagement"/>-->
      </disabled>
      <withIgnoredExceptions>
        <add type="WB.Core.SharedKernels.SurveyManagement.EventHandler.InterviewStatusTimeSpanDenormalizer, WB.Core.SharedKernels.SurveyManagement"/>
        <add type="WB.Core.SharedKernels.SurveyManagement.EventHandler.InterviewsChartDenormalizer, WB.Core.SharedKernels.SurveyManagement"/>
        <add type="WB.Core.SharedKernels.SurveyManagement.EventHandler.AnswersByVariableDenormalizer, WB.Core.SharedKernels.SurveyManagement"/>
      </withIgnoredExceptions>
    </eventHandlers>
    <ignoredAggregateRoots>
      <!--<aggregateRootId>3fefab305b474f2ba6c4420dce52eae9</aggregateRootId>-->
    </ignoredAggregateRoots>
  </eventBus>
</configuration>
