<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="TLK.Headquarters.Web.config" />
    <add key="InterviewDetailsDataScheduler.SynchronizationInterval" value="60" />
    <add key="InterviewDetailsDataScheduler.NumberOfInterviewsProcessedAtTime" value="1"/>
    <add key="SupervisorFunctionsEnabled" value="true"/>
    <add key="DesignerAddress" value="https://design-dev.wbcapi.org/api/import" />
    <add key="EventStore.ServerTcpPort" value="1117"/>
    <add key="EventStore.ServerHttpPort" value="2117"/>
    <add key="DataStorePath" value="C:/Projects/AppDatas/Headquarters" />
  </appSettings>
</configuration>
