<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="TLK.Headquarters.Web.config" />
    <add key="Raven.DocumentStore" value="http://localhost:8080" />
    <add key="Raven.Databases.Events" value="Roslyn-HQ-Events" />
    <add key="Raven.Databases.Views" value="Roslyn-HQ-Views" />
    <add key="Raven.Databases.PlainStorage" value="Roslyn-HQ-PlainStorage" />
    <add key="InterviewDetailsDataScheduler.SynchronizationInterval" value="60" />
    <add key="InterviewDetailsDataScheduler.NumberOfInterviewsProcessedAtTime" value="1"/>
    <add key="SupervisorFunctionsEnabled" value="false"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IPublicService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost/designer/publicservice.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublicService" contract="PublicService.IPublicService" name="CustomBinding_IPublicService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
