<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="Vitalii.Headquarters.Web.config" />
    <add key="SupervisorFunctionsEnabled" value="true"/>
    
    <add key="EventStore.ServerIP" value="127.0.0.1" />
    <add key="EventStore.ServerTcpPort" value="9317" />
    <add key="EventStore.ServerHttpPort" value="9316" />
    <add key="EventStore.Login" value="admin" />
    <add key="EventStore.Password" value="changeit" />
    <add key="ReadSide.CacheSize" value="512" />
    <add key="ReadSide.BulkSize" value="32" />
    <add key="DesignerAddress" value="https://design-rc.mysurvey.solutions/api/import" />
  </appSettings>
</configuration>
