<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="Vitalii.Headquarters.Web.config" />
    <add key="EventStore.ServerIP" value="127.0.0.1" />
    <add key="EventStore.ServerTcpPort" value="2217" />
    <add key="EventStore.ServerHttpPort" value="2216" />
    <add key="EventStore.Login" value="admin" />
    <add key="EventStore.Password" value="changeit" />
    <add key="EventStore.Provider" value="Postgres" />
    <add key="DesignerAddress" value="https://localhost/designer" />
    <add key="vs:EnableBrowserLink" value="false"></add>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <add key="IsDevelopmentEnvironment" value="true" />
    <add key="Export.EnableInterviewHistory" value="true" />
    <add key="WebInterviewEnabled" value="true" />
    <add key="recaptchaPublicKey" value="***REMOVED***" />
    <add key="recaptchaPrivateKey" value="***REMOVED***" />
    
    <add key="Storage.S3.Enable" value="false" />
    <add key="Storage.S3.Endpoint" value="http://minio.alfeg.net:9000" />
    <add key="AWSAccessKey" value="SurveySolutions" />
    <add key="AWSSecretKey" value="P@$$w0rd" />
    <add key="Storage.S3.Region" value="us-east-1" />
    <add key="Storage.S3.BucketName" value="binarydata" />
      
    <add key="BaseUrl" value="http://172.31.32.167/headquarters" />
  </appSettings>

  <connectionStrings>
    <add name="Postgres" providerName="Npgsql" connectionString="Server=127.0.0.1;Port=5434;User Id=postgres;Password=P@$$w0rd;Database=SuperHQ;" />
  </connectionStrings>

</configuration>
