<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="ank.Headquarters.Web.config" />
    <add key="Raven.DocumentStore" value="http://localhost:8899" />
    <add key="Raven.Databases.Events" value="HeadquartersEvents" />
    <add key="Raven.Databases.Views" value="HeadquartersViews" />
    <add key="SupervisorFunctionsEnabled" value="true"/>
    <add key="Raven.Databases.PlainStorage" value="HeadquartersPlainStorage" />
    <add key="DesignerQuestionnnaireApiBaseAddress" value="http://localhost/designer/api/import" />
  </appSettings>
</configuration>
