<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
	<Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="AppPool" Guid="" KeyPath="yes">
        <iis:WebAppPool Id="HeadquartersAppPool"
                        Name="[SITE_NAME]AppPool"
                        Identity="applicationPoolIdentity"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0" />
      </Component>
      <Component Id="InstallWebsite" Guid="" KeyPath="yes">
        <iis:WebSite Id="HeadquartersSite"
                     Description='[SITE_NAME]'
                     Directory='INSTALLFOLDER'
                     AutoStart='yes'
                     StartOnInstall='yes'>
          <iis:WebAddress Id="AllUnassigned"
                          Header="[SITE_HOST]"
                          Port="[SITE_PORT]" />
          <iis:WebApplication Id="Application" Name="[SITE_NAME]" WebAppPool="HeadquartersAppPool"></iis:WebApplication>
        </iis:WebSite>
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="IssConfiguration">
      <ComponentRef Id="InstallWebsite" />
      <ComponentRef Id="AppPool" />
    </ComponentGroup>
	</Fragment>
</Wix>