<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util=" http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*"
           Name="!(loc.ProductName)"
           Language="!(loc.LANG)"
           Version="1.0.0.0"
           Manufacturer="!(loc.CompanyName)"
           UpgradeCode="f535f179-cbf1-4e35-85b7-5d32e31ff525">
		<Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" />
   <!-- <?include Conditions.wxi ?> -->

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
 
		<Feature Id="ProductFeature" Title="SetupHeadquarters" Level="1">
      <ComponentGroupRef Id="WB.UI.Headquarters_Project" />
      <ComponentGroupRef Id="IssConfiguration" />
      <ComponentGroupRef Id="Web.configModification" />
    </Feature>
    <UIRef Id="SetupUI" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
	</Product>
	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INETPUB" Name="Inetpub">
        <Directory Id="COMPANYFOLDER" Name="!(loc.CompanyName)" ComponentGuidGenerationSeed="CF2FA519-6E38-44D4-A009-E6397878AEA2">
          <Directory Id="INSTALLFOLDER" Name="!(loc.ProductName)" />
        </Directory>
      </Directory>
    </Directory>
	</Fragment>
</Wix>