<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DBFOLDER">
            <Directory Id="dir5285948782C0F74D71F56B1257243176" Name="bin" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ravendb">
            <Component Id="cmp8A331465E9A73B705761815D01F01E06" Directory="DBFOLDER" Guid="*">
                <File Id="fil005BC7F0664F0B0D9E510BDED83DE1D6" KeyPath="yes" Source="$(var.RavenDBDir)\web.config" />
            </Component>
            <Component Id="cmp48C802240DBB21B605A605B3DC30B520" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="filEB6DE275B4C48D209D966EAED45676FC" KeyPath="yes" Source="$(var.RavenDBDir)\bin\AWS.Extensions.dll" />
            </Component>
            <Component Id="cmp2CDBC89CC48F9E2B6A54488D0938AA00" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="filCE0258699F602F93C8A4E7AC35412DF8" KeyPath="yes" Source="$(var.RavenDBDir)\bin\AWSSDK.dll" />
            </Component>
            <Component Id="cmpCCDB4A0B60964D3BF5BCCFEF851C1609" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="fil3FECE25FFA8CB9BD740C923F7AE18992" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Esent.Interop.dll" />
            </Component>
            <Component Id="cmpF2DA8BAEA31CE6812F0FF5DE905B2A55" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="fil5AC05B847CC22FA2390A052078C2A270" KeyPath="yes" Source="$(var.RavenDBDir)\bin\GeoAPI.dll" />
            </Component>
            <Component Id="cmp9F4F347EE73696199419AD92C612E515" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="filBA7DF92C3449001B50B0A54655E62239" KeyPath="yes" Source="$(var.RavenDBDir)\bin\ICSharpCode.NRefactory.CSharp.dll" />
            </Component>
            <Component Id="cmp44B93E0DC6EB52F6BD459F0AF5093494" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="fil5B94D0A38FD4898AD3D22DB3E07933B1" KeyPath="yes" Source="$(var.RavenDBDir)\bin\ICSharpCode.NRefactory.dll" />
            </Component>
            <Component Id="cmpBEB81EC8E3838C8B49CEB2337AF604F8" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="filFA6F0A494456BE40FDA9B567ED8B90AC" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Jint.Raven.dll" />
            </Component>
            <Component Id="cmp92074A4A511F0C8FF82FC16CA708ADC2" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="filF2F7C7197AA85BC32CB937FCEF2FFAF4" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Lucene.Net.Contrib.FastVectorHighlighter.dll" />
            </Component>
            <Component Id="cmp054E33D3A96A96BC0929DA70E8D81EF4" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="filB23B6727296FF250F080217E7B83BDE0" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Lucene.Net.Contrib.Spatial.NTS.dll" />
            </Component>
            <Component Id="cmpCF0ADE84750038E478FD5A0A84E75BFE" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="fil766D102DDEC6C7886F8FD0F1555831B8" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Lucene.Net.dll" />
            </Component>
            <Component Id="cmp83FFE477D674C7E1DC7AFB4F45355E1A" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="fil852FAD9D9AB7C9D04535A685A794B2BA" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Microsoft.CompilerServices.AsyncTargetingPack.Net4.dll" />
            </Component>
            <Component Id="cmpFA7CF7A786D7C8B54B6EC8D09FB3EAE0" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="fil30892B0D25574414AB1366546CAA745C" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Microsoft.Web.Infrastructure.dll" />
            </Component>
            <Component Id="cmpFEDFD7D142F79CD7232F2B2174563EAD" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="fil2AE6B158C2F066E595F66AFE6665777E" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Mono.Cecil.dll" />
            </Component>
            <Component Id="cmp27FE2800AB9FADBE6FE8C2E107CDDCA6" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="filC5C4114D723EC76EFDF2666E0752203C" KeyPath="yes" Source="$(var.RavenDBDir)\bin\NetTopologySuite.dll" />
            </Component>
            <Component Id="cmp135518DA222B4A93B7C0C088BBC9F43D" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="filE8D833B75E035CC6E3212D7960DB3026" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Nlog.dll" />
            </Component>
            <Component Id="cmpE97ADD1142C9A0BBC7C3AE11EC4F5CFC" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="filD6A76C81D42259AD39E4261ABDC1CE67" KeyPath="yes" Source="$(var.RavenDBDir)\bin\PowerCollections.dll" />
            </Component>
            <Component Id="cmpA2CE2FCBC77CF4B9C1B656B51BECDE4F" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="fil7FA92B20BB755088D681E9FBC55F7295" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Raven.Abstractions.dll" />
            </Component>
            <Component Id="cmpD3929E7350A696DCD832EF873D660AC8" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="filABA0A4E0C7A9F33422B7941A29B80FD6" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Raven.Database.dll" />
            </Component>
            <Component Id="cmp3D7AB1B86BD6E2DAFD43D38AECE781EB" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="fil66B45DD7660D75431979D6FED802F156" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Raven.Web.dll" />
            </Component>
            <Component Id="cmp20B9D1AD3D7A34BF2FE1DF044C684E31" Directory="dir5285948782C0F74D71F56B1257243176" Guid="*">
                <File Id="filC55B22973F04BFF69D550A2A7D2508B7" KeyPath="yes" Source="$(var.RavenDBDir)\bin\Spatial4n.Core.NTS.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>