<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <!--will have to move strings to localize -->
      <Dialog Id="SiteHybridDlg"  Width="370" Height="400" Title="Headquarters site mode" NoMinimize="yes">
        <Control Id="Label" Type="Text" X="45" Y="73" Width="220" Height="15" TabSkip="no" Text="Allow online supervisors?" />
        <Control Id="HybridRadio" Type="RadioButtonGroup" X="45" Y="85" Width="220" Height="50" Property="HYBRID" >
          <RadioButtonGroup Property="HYBRID">
            <RadioButton Text="Online supervision" Value="true" X="0" Y="0" Width="250" Height="15" />
            <RadioButton Text="Off-line supervision" Value="false" X="0" Y="20" Width="250" Height="15" />
          </RadioButtonGroup>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="365" Width="56" Height="17" Text="Back"></Control>
        <Control Id="Next" Type="PushButton" X="236" Y="365" Width="56" Height="17" Default="yes" Text="Next"></Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="365" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
    </UI>
	</Fragment>
</Wix>