<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="EventsDatabase" Guid="">
        <util:XmlFile Id="ModifyDocumentStore"
                 Action="setValue"
                 ElementPath="//configuration/appSettings/add[\[]@key='Raven.DocumentStore'[\]]/@value"
                 Value="http://localhost:[DBPORT]"
                 File="[INSTALLFOLDER]web.config"
                 SelectionLanguage="XPath" />
        <util:XmlFile Id="ModifyEvents"
                 Action="setValue"
                 ElementPath="//configuration/appSettings/add[\[]@key='Raven.Databases.Events'[\]]/@value"
                 Value="[SITENAME]Events"
                 File="[INSTALLFOLDER]web.config"
                 SelectionLanguage="XPath" />
        <util:XmlFile Id="ModifyPlainStorage"
                 Action="setValue"
                 ElementPath="//configuration/appSettings/add[\[]@key='Raven.Databases.PlainStorage'[\]]/@value"
                 Value="[SITENAME]PlainStorage"
                 File="[INSTALLFOLDER]web.config"
                 SelectionLanguage="XPath" />
        <util:XmlFile Id="ModifyViews"
                 Action="setValue"
                 ElementPath="//configuration/appSettings/add[\[]@key='Raven.Databases.Views'[\]]/@value"
                 Value="[SITENAME]Views"
                 File="[INSTALLFOLDER]web.config"
                 SelectionLanguage="XPath" />
        <util:XmlFile Id="ModifyHybrid"
                 Action="setValue"
                 ElementPath="//configuration/appSettings/add[\[]@key='SupervisorFunctionsEnabled'[\]]/@value"
                 Value="[HYBRID]"
                 File="[INSTALLFOLDER]web.config"
                 SelectionLanguage="XPath" />
        <CreateFolder />
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="Web.configModification">
      <ComponentRef Id="EventsDatabase" />
    </ComponentGroup>
	</Fragment>
</Wix>