@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@using WB.UI.Headquarters.Code
@using WB.Core.BoundedContexts.Headquarters.Configs
@model object
@{
    ViewBag.ActivePage = MenuItem.Assignments;
    ViewBag.Title = Common.CreateNewAssignment;
}
@inject IOptions<GoogleMapsConfig> googleMapsConfig;

@section Scripts{
    @Html.RenderHqConfig(Model)

    <script async
            defer
            src="@googleMapsConfig.Value.ApiBaseUrl/maps/api/js?key=@googleMapsConfig.Value.ApiKey"></script>
}
<div id="vueApp"></div>


