<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Scheduler.Enabled" value="false"/>
    <add key="Scheduler.HqSynchronizationInterval" value="180" />

    <add key="EventStore.ServerTcpPort" value="2117" />
    <add key="EventStore.ServerHttpPort" value="2116" />
    <add key="EventStore.Login" value="admin" />
    <add key="EventStore.Password" value="changeit" />
  </appSettings>
  <headquartersSettingsGroup>
    <headquartersSettings baseUrl="http://localhost/Headquarters/" 
                          accessToken="60bb37838d8649aaa37c0575b7240667" 
                          loginServiceEndpoint="api/resources/users/v1/validateSupervisor" 
                          userChangedFeed="api/feeds/users/v1" 
                          interviewsFeed="api/feeds/interviews/v1" 
                          questionnaireDetailsEndpoint="api/resources/questionnaires/v1/{id}/{version}" 
                          questionnaireChangedFeed="api/feeds/questionnaires/v1" 
                          interviewsPushEndpoint="api/sync" 
                          filePushEndpoint="api/sync/postfile" 
                          questionnaireAssemblyEndpoint="api/resources/assemblies/v1/{id}/{version}" />
  </headquartersSettingsGroup>

  <system.serviceModel>
    <client>
      <endpoint address="https://localhost/designer/PublicService.svc"
        binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublicService"
        contract="DesignerPublicService.IPublicService" name="CustomBinding_IPublicService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IPublicService" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                       maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
