<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="SlavaDesktop.Headquarters.Web.config" />
    <add key="Raven.DocumentStore" value="http://localhost:8081" />
    <add key="Headquarters.BaseUrl" value="http://localhost/Headquarters/" />
    
    <add key="Raven.Databases.Views" value="SupervisorViews" />
    <add key="Raven.Databases.PlainStorage" value="SupervisorPlainStorage" />
    <add key="InterviewDetailsDataScheduler.SynchronizationInterval" value="60" />
    <add key="InterviewDetailsDataScheduler.NumberOfInterviewsProcessedAtTime" value="1"/>
  </appSettings>
</configuration>
