<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Test" value="SlavaDesktop.Headquarters.Web.config" />
    <add key="Raven.DocumentStore" value="http://localhost:8081" />
    <add key="Headquarters.BaseUrl" value="http://localhost/Headquarters/" />
    
    <add key="Raven.Databases.Views" value="SupervisorViews" />
    <add key="Raven.Databases.PlainStorage" value="SupervisorPlainStorage" />
    <add key="InterviewDetailsDataScheduler.SynchronizationInterval" value="60" />
    <add key="InterviewDetailsDataScheduler.NumberOfInterviewsProcessedAtTime" value="1"/>

    <add key="Scheduler.Enabled" value="false"/>
    <add key="Scheduler.HqSynchronizationInterval" value="180" />

    <add key="EventStore.ServerTcpPort" value="1115" />
    <add key="EventStore.ServerHttpPort" value="2115" />
    <add key="EventStore.Login" value="admin" />
    <add key="EventStore.Password" value="changeit" />
  </appSettings>
</configuration>
