<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Raven.IsEmbeded" value="false"/>
    <add key="Raven.DocumentStore" value="http://localhost:8080" />
    <add key="Raven.Databases.Views" value="SupervisorViews" />
    <add key="Raven.Databases.PlainStorage" value="SupervisorPlainStorage" />
    <add key="Headquarters.BaseUrl" value="http://localhost/Headquarters/" />
    <add key="Scheduler.Enabled" value="true"/>
    <add key="Scheduler.HqSynchronizationInterval" value="180" />
    <add key="InterviewDetailsDataScheduler.SynchronizationInterval" value="60" />
    <add key="InterviewDetailsDataScheduler.NumberOfInterviewsProcessedAtTime" value="1"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="https://localhost/designer/publicservice.svc"
        binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublicService"
        contract="DesignerPublicService.IPublicService" name="CustomBinding_IPublicService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IPublicService" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                       maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
