<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Headquarters.BaseUrl" value="http://localhost/Headquarters/" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="https://design-rc.wbcapi.org/PublicService.svc"
        binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublicService"
        contract="DesignerPublicService.IPublicService" name="CustomBinding_IPublicService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IPublicService" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                       maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
