@using ClientDependency.Core
@using ClientDependency.Core.Mvc
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @MvcHtmlString.Create(Html.RenderCssHere(new List<IClientDependencyPath>
                                                       {
                                                           new BasicPath("Jquerymobile", "~/Content/themes/jquerymobile"),
                                                           new BasicPath("Content", "~/Content")
                                                       }))
        @MvcHtmlString.Create(Html.RenderJsHere(new List<IClientDependencyPath>
                                                      {
                                                          new BasicPath("Scripts", "~/Scripts"),
                                                          new BasicPath("Html5", "~/Scripts")
                                                      }))
        @{
            //Html.RequiresCss("jquery.mobile.css", "Jquerymobile", 1);
            Html.RequiresCss("jquery.mobile.1.2.min.css", "Jquerymobile", 1);
            Html.RequiresCss("jquery.mobile.datebox.min.css", "Jquerymobile", 2);
            
            Html.RequiresCss("jquery.ui.datepicker.mobile.css", "Jquerymobile", 4);
            Html.RequiresCss("photoswipe.css", "Content", 5);
            Html.RequiresCss("jquery.mobile.splitview.css", "Content", 6);
            Html.RequiresCss("keyboard.css", "Jquerymobile", 7);
            Html.RequiresCss("custom.css", "Jquerymobile", 8);
            Html.RequiresCss("jquery.mobile.simpledialog.min.css", "Content", 9);
            Html.RequiresCss("mobile.css", "Content", 10);

            Html.RequiresJs("jquery-1.7.1.js", "Scripts", 1);
            Html.RequiresJs("jquery.unobtrusive-ajax.js", "Scripts", 3);
            Html.RequiresJs("jquery.mobile.splitview.1.2.js", "Html5", 4);
            Html.RequiresJs("jquery.mobile.1.2.js", "Html5", 5);
            //Html.RequiresJs("jquery.mobile.js", "Html5", 5);
            Html.RequiresJs("iscroll-wrapper.js", "Html5", 6);
            Html.RequiresJs("iscroll.js", "Html5", 7);
            Html.RequiresJs("jquery.ui.datepicker.mobile.js", "Html5", 8);
            Html.RequiresJs("jquery.mobile.datebox.min.js", "Html5", 9);
            Html.RequiresJs("jquery.keyboard.js", "Html5", 10);
            Html.RequiresJs("klass.min.js", "Html5", 11);
            Html.RequiresJs("code.photoswipe.jquery-3.0.4.min.js", "Html5", 12);
            //Html.RequiresJs("jquery.client.js", "Scripts", 13);
            //Html.RequiresJs("jquery.mobile.simpledialog2.min.js", "Html5", 14);
            Html.RequiresJs("take.js", "Html5", 15);
        }
    </head>
    <body>
        @RenderBody()
    </body>
</html>