@using System.Web.Script.Serialization
@using ClientDependency.Core.Mvc
@using RavenQuestionnaire.Core.Views.Questionnaire
@using RavenQuestionnaire.Web.Utils
@model QuestionnaireView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RequiresCss("toastr.css", "Content");
    Html.RequiresCss("toastr-responsive.css", "Content");
    Html.RequiresCss("details.css", "Content");
    var serializer = new JavaScriptSerializer(new TypeResolver());
}

<script src="../../Scripts/details/lib/knockout-2.1.0.js"></script>

<script src="../../Scripts/details/lib/json2.js"></script>

<script src="../../Scripts/details/lib/moment.js"></script>

<script src="../../Scripts/details/lib/TrafficCop.js"></script>
<script src="../../Scripts/details/lib/infuser.js"></script>

<script src="../../Scripts/details/lib/lodash.min.js"></script>

<script src="../../Scripts/details/lib/knockout.activity.js"></script>
<script src="../../Scripts/details/lib/knockout.asyncCommand.js"></script>
<script src="../../Scripts/details/lib/knockout.dirtyFlag.js"></script>
<script src="../../Scripts/details/lib/knockout.validation.js"></script>
<script src="../../Scripts/details/lib/koExternalTemplateEngine.js"></script>

<script src="../../Scripts/details/lib/sammy.js"></script>
<script src="../../Scripts/details/lib/sammy.title.js"></script>
<script src="../../Scripts/details/lib/amplify.core.js"></script>
<script src="../../Scripts/details/lib/amplify.request.js"></script>
<script src="../../Scripts/details/lib/amplify.store.js"></script>

<script src="../../Scripts/details/lib/toastr.js"></script>

<script src="../../Scripts/details/lib/require.js"></script>

<script>
    define('input', [], function () {
        var q= @Html.Raw(serializer.Serialize(Model)) ;
        return {
            questionnaire: q
        };
    });
</script>
<script src="../../Scripts/details/main.js"></script>


<div id="busyindicator"></div>
<div id="stacks">
    <div id="groups" class="stack">
        <div class="inner">
            <div class="title">
                <button type="button" class="close" >&times</button>
            </div>
            <div class="body">
                  <ul class="nav nav-list" data-bind="foreach: menu">
                    <li data-bind="css: { active : isSelected, level1: level() == 1, level2: level() == 2 }">
                        <a data-bind="attr: {'href': getHref() }" href="#/group"><span class="link-text" data-bind="    text: title"></span></a></li>
                </ul>
            </div>
            <div class="bottom">
                <div class="inner">
                    <button class="btn btn-success"><i class="icon-plus icon-white"></i> Chapter</button>
                </div>
            </div>
        </div>
    </div>
    <div id="answers" class="stack">
        <div class="inner">
            <div class="body">
            </div>
            <div class="bottom">
                <div class="inner">
                </div>
            </div>
        </div>
    </div>
    <div id="details" class="stack">
        <div class="inner">
            <div class="title">
                <button type="button" class="close">&times</button>
            </div>
            <div class="body">
            </div>
            <div class="bottom">
                <div class="inner">
                </div>
            </div>
        </div>
    </div>
</div>