@using RavenQuestionnaire.Core.Views.Questionnaire
@model QuestionnaireView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Export";
}
<h2>
    Export</h2>
@if (Model != null)
{
    
    @Html.DisplayFor(model => model.Id)
    <br />
    @Html.DisplayFor(model => model.Title)
    
    <table id="questionnaireTable" class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>
                    Export type
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.ActionLink("CSV", "GetExportedData", new { id = Model.Id, type = "csv" }, new { @class = "btn small " })
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Tab", "GetExportedData", new { id = Model.Id, type = "tab" }, new { @class = "btn small " })
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
    
}
else
{
    <text> Q not found </text>
}
