@using RavenQuestionnaire.Core.Views.Questionnaire
@using RavenQuestionnaire.Web.Models
@model QuestionnaireBrowseView
@{
    ViewBag.Title = "Take a new survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="bordered-table zebra-striped">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Creation date
            </th>
            
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td class="buttons">
                    @Html.ActionLink("Participate", "Participate", "CompleteQuestionnaire", new { id = item.Id }, new { @class = "btn small primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pagination">
    @Html.QPager(Model.PageSize, Model.Page, Model.TotalCount)
</div>
