@{
    Layout = "Layout.ControlPanel";
    ViewBag.Title = "Control Panel: Settings";
}
@model IEnumerable<KeyValuePair<string, string>>

<div class="panel panel-default">
    <div class="panel-heading">
        All settings with values
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            @if (Model != null)
            {
                foreach (var setting in Model)
                {
                    <tr>
                        <td>@setting.Key</td>
                        <td>@setting.Value</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
