@using Web.Supervisor.Models
@using Web.Supervisor.Utils

@model ApproveRedoModel
@{
    ViewBag.Title = "Redo survey";
}
<h3>Redo survey</h3>
<p><a href="@Url.Action("Index", new { id = Model.TemplateId })">Back to list</a></p>
<div class="row-fluid">
    <div class="span6">
        @using (Html.BeginForm("Redo", GlobalHelper.CurrentController, new { id = Model.Id, templateId = Model.TemplateId,  }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <legend>Redo survey</legend>
            <div class="control-group">
                @Html.LabelFor(x => x.Comment, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(x => x.Comment, new { @class = "span12" })
                </div>
            </div>
            <div class="form-actions">
                <button type="submit"  name="redo" id="redo" class="btn btn-primary">Redo</button>
                <button type="submit" name="cancel" id="cancel" class="btn">Cancel</button>
            </div>
        }
    </div>
</div>
   