/*Clickjacking protection*/
body {
    display: none;
}

.form-signin {
    max-width: 650px;
    margin: 140px auto 20px;
}

.form-actions {
    margin-top: 20px;
    margin-bottom: 0px;
}

.form-horizontal .form-actions {
    padding-left: 30px;
}