@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


<form>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="note text-danger">You do not have access to this resource.</p>
    <div class="form-actions">
        <a class="btn btn-success btn-lg" asp-page="./Login">@AccountResources.BackToLogin</a>
    </div>
</form>

