@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = AccountResources.ForgotPassword;
}

<div>
    <h1>@AccountResources.ThankYou</h1>
    <p class="note">
        @AccountResources.PasswordEmailSent
    </p>
    <div class="form-actions">
        <a class="btn btn-success btn-lg" asp-page="./Login">@AccountResources.BackToLogin</a>
    </div>
</div>

