@page
@model LockoutModel
@{
    ViewData["Title"] = AccountResources.LockedOut;
}

<form>
    <h1>@AccountResources.LockedOut</h1>
    <p class="note">
        @AccountResources.LockedOutText
    </p>
    <div class="form-actions">
        <a class="btn btn-success btn-lg" asp-page="./Login">@AccountResources.BackToLogin</a>
    </div>
</form>
