@page
@{
    ViewBag.Title = AccountResources.PasswordReset;
}

<form id="start-register-step2">
    <h1>@AccountResources.ThankYou</h1>
    <p class="note">
        @AccountResources.CompleteRegistrationInstruction
    </p>
    <div class="form-actions">
        <a class="btn btn-success btn-lg" asp-page="./Login">@AccountResources.BackToLogin</a>
    </div>
</form>
