@using Main.Core.Entities.SubEntities
<div class="pull-right">
<ul id="menu" class="nav" >
    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
        <li  class="navbar-text">@User.Identity.Name</li>
        <li class="divider-vertical"></li>
    }
    else
    {
        <li>@Html.ActionLink("Log On", "LogOn", "Account")</li>
    }
</ul>
</div>