@using Main.Core.View.Group
@using RavenQuestionnaire.Core.Views.CompleteQuestionnaire
@model CompleteQuestionnaireViewV
       @{
           int prevSpan = 0;
           int curSpan = 12;
           int nexSpan = 0;
           CompleteGroupHeaders prev = null;
           CompleteGroupHeaders curr = null;
           CompleteGroupHeaders next = null;

           foreach (var gh in Model.Groups)
           {
               if (!gh.IsCurrent && curr == null)
               {
                   prevSpan = 4;
                   prev = gh;
               }
               else if (gh.IsCurrent)
               {
                   curSpan -= prevSpan;
                   curr = gh;
               }
               else
               {
                   next = gh;
                   nexSpan = 4;
                   curSpan -= nexSpan;
                   break;
               }
           }


           <table class="table table-striped table-bordered table-condensed" id="navTable" style="margin-top: 10px;">
               <tbody>
                   <tr style="text-align: center">
                       @if (prev != null)
                       {
                           <td style="text-align: center">
                               @Html.ActionLink("Prev Group", "QuestionI", "CompleteQuestionnaire", new {id = Model.Id, group = prev.PublicKey}, new {@class = "btn small "})
                           </td>
                       }
                       @if (curr != null)
                       {
                           <td style="text-align: center">@curr.GroupText
                           </td>
                       }
                       @if (next != null)
                       {
                           <td style="text-align: center">
                               @Html.ActionLink("Next Group", "QuestionI", "CompleteQuestionnaire", new {id = Model.Id, group = next.PublicKey}, new {@class = "btn small btn-primary"})
                           </td>
                       }
                   </tr>
               </tbody>
           </table>
       }