@model RavenQuestionnaire.Web.Models.MoveItemModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="display-question">    
    <div class="question-body">        
            @{ Html.RenderPartial("~/Views/Shared/_MoveItem.cshtml", Model); }
    </div>
</div>
