@model RavenQuestionnaire.Core.Views.CompleteQuestionnaire.Vertical.Counter
<div style="margin: 9px 20px 0 0">
    <div style="margin-bottom: 9px;" class="progress progress-warning">
        <div style="width: @string.Format("{0}%", 100 - Model.Progress)" class="questions-left">
            @(Model.Enablad - Model.Answered)
        </div>
        <div style="width: @string.Format("{0}%", Model.Progress)" class="bar">
            @Model.Answered
        </div>
    </div>
</div>
