@using RavenQuestionnaire.Web.Models
@model SwitcherModel
<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Switch view <span
        class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("Question", "CompleteQuestionnaire", new { id = Model.Id, group = Model.PublicKey })">
            Horizontal</a></li>
        <li><a href="@Url.Action("QuestionV", "CompleteQuestionnaire", new { id = Model.Id, group = Model.PublicKey })">
            Vertical</a></li>
        <li><a href="@Url.Action("QuestionC", "CompleteQuestionnaire", new { id = Model.Id, group = Model.PublicKey })">
            Modal</a></li>
        <li><a href="@Url.Action("QuestionI", "CompleteQuestionnaire", new { id = Model.Id, group = Model.PublicKey })">
            Tabbable</a></li>
    </ul>
</div>