<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Browsing.CAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <Browsing.CAPI.Properties.Settings>
        <setting name="UsbExportPath" serializeAs="String">
          <value>Synchronizations/Export</value>
        </setting>
        <setting name="NetworkLocalExportPath" serializeAs="String">
          <value>Synchronizations/Push</value>
        </setting>
        <setting name="NetworkCheckStatePath" serializeAs="String">
          <value>Synchronizations/ProgressInPersentage</value>
        </setting>
        <setting name="UsbImportPath" serializeAs="String">
          <value>Synchronizations/Import</value>
        </setting>
        <setting name="NetworkLocalImportPath" serializeAs="String">
          <value>Synchronizations/Pull</value>
        </setting>
        <setting name="ClientId" serializeAs="String">
          <value>00000000-0000-0000-0000-000000000000</value>
        </setting>
        <setting name="ParentId" serializeAs="String">
          <value>00000000-0000-0000-0000-000000000000</value>
        </setting>
        <setting name="CheckEventPath" serializeAs="String">
          <value>Synchronizations/CheckIsThereSomethingToPush</value>
        </setting>
        <setting name="DefaultUrl" serializeAs="String">
          <value>http://localhost:8083/</value>
        </setting>
        <setting name="EndpointExportPath" serializeAs="String">
          <value>http://localhost</value>
        </setting>
        <setting name="DefaultPort" serializeAs="String">
          <value>8083</value>
        </setting>
        <setting name="EnginePathName" serializeAs="String">
          <value>Engine</value>
        </setting>
        <setting name="RunClient" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AuthentificationCheckPath" serializeAs="String">
          <value>Account/IsLoggedIn</value>
        </setting>
        <setting name="LoginPath" serializeAs="String">
          <value>Account/LogOn</value>
        </setting>
      </Browsing.CAPI.Properties.Settings>
    </userSettings>
</configuration>