@model string

@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Views/Error/Layout.Error.cshtml";
}

<h1>Rebooting...</h1>

<br />

<h4>
    The application is now rebooting and this may take up to 10 minutes or more.<br />
    Sorry for the inconvenience.<br />
    <br />
    After the process is completed you will be automatically redirected to the page you requested.<br>
</h4>


<br />

<script type="text/javascript">
    setTimeout(function() {
        window.location.href = '@this.Model';
    }, 10000);
</script>
