<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.1.1" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.Droid.Fragging" version="3.1.1" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.1.1" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.HotTuna.Plugin.PictureChooser" version="3.1.1" targetFramework="MonoAndroid40" />
  <package id="MvvmCross.PortableSupport" version="3.5.0" targetFramework="MonoAndroid44" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="MonoAndroid44" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Android.Support.v13" version="21.0.3.0" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3.0" targetFramework="MonoAndroid44" />
</packages>