<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chance.MvvmCross.Plugins.UserInteraction" version="1.1.3" targetFramework="MonoAndroid22" />
  <package id="Cheesebaron.MvxPlugins.Settings" version="1.1.1" targetFramework="MonoAndroid22" />
  <package id="IHS.MvvmCross.Plugins.Keychain" version="0.0.12" targetFramework="MonoAndroid22" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.0" targetFramework="MonoAndroid22" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.0" targetFramework="MonoAndroid22" />
  <package id="MvvmCross.HotTuna.Plugin.File" version="3.5.0" targetFramework="MonoAndroid22" />
  <package id="MvvmCross.HotTuna.Plugin.Network" version="3.5.0" targetFramework="MonoAndroid22" />
  <package id="MvvmCross.PortableSupport" version="3.5.0" targetFramework="MonoAndroid22" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="MonoAndroid22" />
  <package id="Xamarin.Insights" version="1.9.1.107" targetFramework="MonoAndroid22" />
</packages>