@model UserModel
@{
    ViewBag.Title = Pages.Profile_HeadquartersCreate;
    ViewBag.PageTitle = Pages.Profile_HeadquartersCreate;

    ViewBag.ControllerName = @"Headquarters";
    
    Layout = "~/Views/Shared/Profile/_UserCreateLayout.cshtml";
}
@section Breadcrumbs
{
    <li>
        @Html.ActionLink(@Pages.Profile_HeadquartersList, "Index")
    </li>
}