@{
    ViewBag.Title = "Administration";
}
<h2>
    Administration</h2>
<div>
    <text> @Html.ActionLink("Users", "Index", "User") </text>
</div>
<div>
    <text> @Html.ActionLink("Locations", "Index", "Location") </text>
</div>
<div>
    <text> @Html.ActionLink("Statuses", "Index", "Status") </text>
</div>
