@{
    ViewBag.Title = "Administration";
}
<h2>
    Administration</h2>
<table id="AdminTable" class="bordered-table zebra-striped">
    <tbody>
        <tr>
            <td>
                <text> @Html.ActionLink("Users", "Index", "User") </text>
            </td>
        </tr>
        <tr>
            <td>
                <text> @Html.ActionLink("Locations", "Index", "Location") </text>
            </td>
        </tr>
        <tr>
            <td>
                <text> @Html.ActionLink("Survey templates", "Index", "Questionnaire") </text>
            </td>
        </tr>
    </tbody>
</table>
