<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hostMap" type="NConfig.HostMapSection, NConfig"/>
  </configSections>

  <hostMap>
    <add host="Ironhide" alias="TLK" />
    <add host="srv-vm01" alias="Dev" />
    <add host="Stacy-PC" alias="Stacy" />
    <add host="wbmserccweb101" alias="Preview" />
    <add host="RLA376582" alias="Roma" />
  </hostMap>

</configuration>
