<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hostMap" type="NConfig.HostMapSection, NConfig"/>
  </configSections>

  <hostMap>
    <add host="Ironhide" alias="TLK" />
    <add host="Smokescreen" alias="TLK" />
    <add host="Stacy-PC" alias="Stacy" />
    <add host="wbmserccweb101" alias="Preview" />
    <add host="RLA376582" alias="Roma" />
    <add host="V" alias="Vitalii" />
    <add host="Slava-PC" alias="Slava" />
    <add host="AMAZONA-CDC2RES" alias="Amazon" />
    <add host="sly-work-note" alias="ANK" />
    <add host="dpa-laptop" alias="Dima" />
    <add host="spuv-work" alias="SPuV" />
  </hostMap>

</configuration>
