<?xml version="1.0" encoding="utf-8"?>

<nlog  autoReload="true" 
       internalLogFile="${basedir}/App_Data/nlog.txt" 
       internalLogLevel="Debug"
	     internalLogToConsole="true"
       xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/App_Data/logs/${shortdate}.log"
            layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" /> />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>