<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net461" />
  <package id="CommonServiceLocator.NinjectAdapter" version="1.0.0.0" targetFramework="net45" />
  <package id="CsvHelper" version="2.15.0.0" targetFramework="net461" />
  <package id="elmah" version="1.2.2" targetFramework="net45" />
  <package id="Elmah.Contrib.WebApi" version="1.0.10.25" targetFramework="net451" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="Elmah.Mvc" version="2.1.2" targetFramework="net461" />
  <package id="FluentMigrator" version="1.6.2" targetFramework="net461" />
  <package id="ImageResizer" version="4.0.5" targetFramework="net461" />
  <package id="jQuery" version="2.1.3" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.13.1" targetFramework="net45" />
  <package id="knockoutjs" version="3.4.0" targetFramework="net461" />
  <package id="lodash.underscore" version="2.4.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebHelpers" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Moment.js" version="2.9.0" targetFramework="net45" />
  <package id="MultipartDataMediaFormatter" version="1.1.0.0" targetFramework="net461" />
  <package id="MvcMailer" version="4.5" targetFramework="net45" />
  <package id="NConfig" version="1.1.20" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Conventions" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.MVC5" version="3.2.1.0" targetFramework="net461" />
  <package id="Ninject.Web.Common" version="3.2.3.0" targetFramework="net461" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.3.0" targetFramework="net461" />
  <package id="Ninject.Web.WebApi" version="3.2.4.0" targetFramework="net451" />
  <package id="Ninject.Web.WebApi.WebHost" version="3.2.4.0" targetFramework="net451" />
  <package id="NLog" version="4.3.11" targetFramework="net462" />
  <package id="recaptcha" version="1.0.5.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.1" targetFramework="net45" />
  <package id="T4Scaffolding.Core" version="1.0.0" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.1.0" targetFramework="net461" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
</packages>