<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="desk" type="WB.UI.Designer.Code.ConfigurationManager.DeskConfigSection, WB.UI.Designer, Version=3.0.60.0, Culture=neutral" />
        <section name="pdf" type="WB.UI.Designer.Code.ConfigurationManager.PdfConfigSection, WB.UI.Designer, Version=3.0.60.0, Culture=neutral" />
        <section name="eventBus" type="WB.UI.Shared.Web.Configuration.EventBusConfigSection, WB.UI.Shared.Web, Version=3.0.60.0, Culture=neutral" />
        <section name="dynamicCompilerSettingsGroup" type="WB.UI.Designer.DynamicCompilerSettingsGroup, WB.UI.Designer, Version=3.0.60.0, Culture=neutral" />
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="EventBus" type="WB.UI.Shared.Web.Configuration.EventBusConfigSection, WB.UI.Shared.Web" />
        <section name="Exceptional" type="StackExchange.Exceptional.Settings, StackExchange.Exceptional" />
    </configSections>
    <appSettings>
        <add key="SupportEmail" value="wbcapi@worldbank.org" />
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="enableSimpleMembership" value="false" />
        <add key="autoFormsAuthentication" value="false" />
        <add key="Esent.Cache.Enabled" value="false" />
        <add key="Esent.Cache.Folder" value="Temp\EsentCache" />
        <add key="CaptchaService" value="recaptcha" />
        <add key="IsReCaptchaEnabled" value="true" />
        <add key="recaptchaPrivateKey" value="6LdeKeISAAAAALUofxNu_Tp-1qYrzFnnf07okzE2" />
        <add key="recaptchaPublicKey" value="6LdeKeISAAAAABJG9KhhWwLfhx2FXR6FnGWLj_dg" />
        <add key="recaptchaApiVersion" value="2" />
        <add key="IsTrackingEnabled" value="true" />
        <add key="WKHtmlToPdfExecutablePath" value="C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe" />
        <add key="IsDevelopmentEnvironment" value="false" />
        <add key="DataStorePath" value="~/App_Data" />
        <add key="UserNotification" value="" />
        <add key="IsApiSSLVerificationEnabled" value="true" />
        <add key="DesignerHelpUrl" value="http://docs.mysurvey.solutions/designer" />
        <add key="QuestionnaireChangeHistoryLimit" value="500" />
        <add key="WebTester.BaseUri" value="http://localhost/Webtester/WebTester/Run" />
        <add key="WebTester.ExpirationAmountMinutes" value="10" />
    </appSettings>
    <connectionStrings>
        <add name="Postgres" connectionString="Server=127.0.0.1;Port=5434;User Id=postgres;Password=P@$$w0rd;Database=Design;" />
    </connectionStrings>
    <desk>
        <siteKey value="surveysolutions" />
        <multipassKey value="6c7fb0309d5187c290e6657666dc1c48956777f8" />
        <returnUrlFormat value="https://{0}.desk.com/customer/authentication/multipass/callback?multipass={1}&amp;signature={2}" />
    </desk>
    <pdf>
        <instructionsExcerptLength value="200" />
        <expressionExcerptLength value="200" />
        <variableExpressionExcerptLength value="200" />
        <optionsExcerptCount value="16" />
        <minAmountOfDigitsInCodes value="2" />
        <attachmentSize value="384" />
        <pdfGenerationTimeoutInSeconds value="700" />
    </pdf>
    <eventBus>
        <eventHandlers>
            <disabled>
                <!--<add type="WB.Core.SharedKernels.SurveyManagement.EventHandler.InterviewStatusTimeSpanDenormalizer, WB.Core.SharedKernels.SurveyManagement"/>-->
            </disabled>
            <withIgnoredExceptions>
                <!--<add type="WB.Core.SharedKernels.SurveyManagement.EventHandler.InterviewHistoryDenormalizer, WB.Core.SharedKernels.SurveyManagement"/>-->
            </withIgnoredExceptions>
        </eventHandlers>
    </eventBus>
    <dynamicCompilerSettingsGroup enableDump="false" dumpFolder="C:\Temp\CompilerDump">
    </dynamicCompilerSettingsGroup>
    <Exceptional applicationName="Designer">
        <IgnoreErrors>
            <Regexes>
                <!-- Exceptions with messages matching a regular expression here will not be logged -->
                <add name="404" pattern="was not found or does not implement" />
            </Regexes>
            <Types>
                <add name="OperationCanceledException" type="System.OperationCanceledException" />
            </Types>
        </IgnoreErrors>
        <LogFilters>
            <Form>
                <add name="password" replaceWith="***" />
                <add name="confirmPassword" replaceWith="***" />
            </Form>
            <Cookies>
                <add name="__RequestVerificationToken" replaceWith="***" />
                <add name=".AspNet.Cookies" replaceWith="***" />
                <add name="WBAuthD" replaceWith="***" />
            </Cookies>
        </LogFilters>
        <ErrorStore type="JSON" path="~\App_Data\Elmah" size="2000" />
    </Exceptional>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
    <system.web>
        <compilation debug="true" targetFramework="4.7.1" strict="false" explicit="true">
            <assemblies>
                <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
            </assemblies>
        </compilation>
        <httpRuntime targetFramework="4.7.1" maxRequestLength="102400" />
        <authentication mode="Forms">
            <forms loginUrl="~/account/login" timeout="2880" defaultUrl="/" name="WBAuwthD" slidingExpiration="true" requireSSL="true" />
        </authentication>
        <membership defaultProvider="CustomMembershipProvider" userIsOnlineTimeWindow="20">
            <providers>
                <clear />
                <add name="CustomMembershipProvider" type="WB.UI.Designer.Code.DesignerMembershipProvider" applicationName="WB.UI.Designer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" minRequiredPasswordLength="10" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" passwordStrengthRegularExpression="^(?=.*[a-z])(?=.*[0-9])(?=.*[A-Z]).*$" requiresUniqueEmail="true" />
            </providers>
        </membership>
        <roleManager enabled="true" defaultProvider="CustomRoleProvider">
            <providers>
                <clear />
                <add name="CustomRoleProvider" type="WB.Core.BoundedContexts.Designer.MembershipProvider.Roles.RoleProvider" />
            </providers>
        </roleManager>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Optimization" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
        <httpModules>
        </httpModules>
        <globalization uiCulture="auto:en" culture="en-US" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="9600" maxUrl="9600" />
            </requestFiltering>
        </security>
        <validation validateIntegratedModeConfiguration="false" />
        <staticContent>
            <remove fileExtension=".json" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
        <modules>
            <add name="ErrorLog" type="StackExchange.Exceptional.ExceptionalModule, StackExchange.Exceptional" />
        </modules>
        <directoryBrowse enabled="true" />
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto">
            <remove statusCode="404" />
            <remove statusCode="403" />
            <remove statusCode="401" />
            <error statusCode="404" path="/Error/NotFound" responseMode="ExecuteURL" />
            <error statusCode="403" path="/Error/Forbidden" responseMode="ExecuteURL" />
            <error statusCode="401" path="/Error/AccessDenied" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.SecureString" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Data.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Globalization.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO.Compression" publicKeyToken="B77A5C561934E089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Remotion.Linq.EagerFetching" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <location path="admin/restorequestionnaire" inheritInChildApplications="false">
        <system.web>
            <httpRuntime maxRequestLength="314572800" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="104857600" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <location path="api/command/attachment" inheritInChildApplications="false">
        <system.web>
            <httpRuntime maxRequestLength="102400" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="104857600" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <variable name="logDirectory" value="${basedir}/App_Data/" />
        <targets>
            <target name="logfile" xsi:type="File" fileName="${logDirectory}/logs/${shortdate}.log" layout="${longdate}[${logger}][${level}][${message}][${onexception:${exception:format=tostring}|${stacktrace}}]" />
            <target name="console" xsi:type="Console" />
        </targets>
        <rules>
            <logger name="*" minlevel="Warn" writeTo="logfile" />
            <logger name="*" minlevel="Trace" writeTo="console" />
            <logger name="WB.UI.Designer.MvcApplication" minlevel="Info" writeTo="logfile" />
        </rules>
    </nlog>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
</configuration>
