@model WB.Core.SharedKernels.SurveyManagement.Views.Interview.InterviewStaticTextView

<tr>
    <td colspan="4" class="static-text">
        <div class="cell-content">
            <span data-bind="html: staticText">@Html.Raw(Model.Text)</span>
        </div>
    </td>
</tr>