@model WB.Core.SharedKernels.SurveyManagement.Views.Interview.InterviewStaticTextView

<tr>
    <td colspan="4" class="static-text">
        <div class="cell-content">
            <div>@Html.Raw(Model.Text)</div>
            
            @if (Model.Attachment != null)
            {
                @Html.Partial("AttachmentPartialView", Model.Attachment)
            }
        </div>
    </td>
</tr>