<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EventStore.Client" version="3.0.1" targetFramework="net45" />
  <package id="EventStore.Client.Embedded" version="3.0.1" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.9.1" targetFramework="net45" />
  <package id="Machine.Specifications.Should" version="0.7.2" targetFramework="net45" />
  <package id="ManagedEsent" version="1.9.2.0" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Database.Collections.Generic" version="1.9.2.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net45" />
</packages>