<script type="text/html" id="comment-template">
    <dt><span data-bind="text: userName"></span>&nbsp;<span class="text-normal" data-bind="text: comment"></span></dt>
    <dd><small class="comment-date" data-bind="attr: { 'data': date }, text: moment(date).fromNow()"></small></dd>
</script>