@using WB.Core.SharedKernels.DataCollection.Events.Interview.Dtos
@using WB.Core.SharedKernels.SurveyManagement.Views.Interview
@using WB.UI.Headquarters.Resources
@model WB.Core.SharedKernels.SurveyManagement.Views.Interview.InterviewQuestionView


@{
    var answersTyped = (AnsweredYesNoOption[])Model.Answer;
    var answers = (answersTyped ?? new AnsweredYesNoOption[0]).ToList();
    var orderedYesAnswers = answers.Where(answer => answer.Yes).ToList();
    var multiQuestionSettings = Model.Settings as MultiQuestionSettings;
}

@if (Model.Options.Any())
{
    <table>
        <tr>
            <td style="white-space: nowrap;"><span style="color: #36AEE5">@Pages.YesNoQuestion_Yes</span><span style="color: #E6E8E9"> / </span><span style="color: #36AEE5">@Pages.YesNoQuestion_No</span></td>
            <td></td>
        </tr>
        @foreach (var option in Model.Options)
        {
            var selectedAnswer = answers.FirstOrDefault(answer => answer.OptionValue == (decimal)option.Value);

            <tr>
                <td>
                    &nbsp;
                    <input type="radio" disabled @if (selectedAnswer != null && selectedAnswer.Yes) { <text> checked</text>} />
                    <span style="color: #E6E8E9"> / </span>
                    <input type="radio" disabled @if (selectedAnswer != null && !selectedAnswer.Yes) { <text> checked</text>} />
                </td>
                <td>
                    @option.Label
                    @if (multiQuestionSettings.AreAnswersOrdered && selectedAnswer != null && selectedAnswer.Yes)
                    {
                        <span class="badge">@(orderedYesAnswers.IndexOf(selectedAnswer) + 1)</span>
                    }
                </td>
            </tr>

        }
    </table>

}