@model WB.Core.SharedKernels.SurveyManagement.Web.Controllers.InterviewReviewModel
@{
    ViewBag.Title = string.Format(ReviewInterview.PageTitle, Model.Key);
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@section styles
{
    <!-- css_markupWebInterview:css -->
    <link rel='stylesheet' async href='@Url.Content("~/Dependencies/build/markup-web-interview.css")' >
    <!-- endinject -->
    <!-- css_markupWebInterview:css -->
    <link rel='stylesheet' async href='@Url.Content("~/Dependencies/build/markup-interview-review.css")' >
    <!-- endinject -->
}
@section Scripts{
    @Html.RenderHqConfig(Model)
    <script>
        window.CONFIG.audioGet = '@Url.Content(@"~/Resource/AudioRecordReview")'
    </script>
}

<div id="vueApp"></div>
