@using WB.UI.Shared.Web.Extensions
@model WB.UI.Headquarters.Models.TroubleshootModel
@{
    ViewBag.Title = "Start Troubleshoot";
}

<div class="col-sm-12">
    @if (TempData.ContainsValue(Alerts.ERROR))
    {
        <div class="alert alert-danger" role="alert">
            @TempData[Alerts.ERROR]
        </div>
    }
    
    <h2>Enter interview identificator to revalidate <small>(you can find it in Url of interview details page)</small>
    </h2>
    @using (Html.BeginForm("Troubleshoot", "Interview", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.InterviewId, new { @class = "control-label" })
            @Html.TextBoxFor(x => x.InterviewId, new { @class = "form-control", style = "min-width:310px;" })
        </div>
        <button type="submit" class="btn btn-primary">Find</button>
    }
</div>