<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Ninject" version="3.0.0.15" />
  <package id="Ninject.Extensions.Wcf" version="3.0.0.5" />
  <package id="Ninject.Web.Common" version="3.0.0.7" />
  <package id="WebActivator" version="1.5" />
</packages>