<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />-->
  </configSections>
  <appSettings>
    <add key="Raven.DocumentStore" value="http://localhost:8082" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="extendedBinding" maxReceivedMessageSize="63400320">
          <security mode="None" />
          <readerQuotas maxDepth="100" maxArrayLength="10485760" maxBytesPerRead="10485760" maxStringContentLength="10485760" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <!--<service name="DataEntryServer.CompleteQuestionnaire.WebServices.CompleteQuestionnaireSyncService" behaviorConfiguration="Default">
   
        -->
      <!-- Uncomment the lines below to change to settings of the default serviceendpoint -->
      <!--
      
        <endpoint address=""  binding="basicHttpBinding" bindingConfiguration="extendedBinding"  contract="SynchronizationMessages.CompleteQuestionnaire.ICompleteQuestionnaireService">
        </endpoint>
        <endpoint address="mex"
                binding="mexHttpBinding"
                contract="IMetadataExchange" />
      
      </service>-->
    </services>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>