@using WB.UI.Headquarters.Code
@using WB.UI.Shared.Web.Extensions
@using WB.Core.SharedKernels.SurveyManagement.Web.Models

@model object
@{
    ViewBag.Title = MainMenu.Administration;
    ViewBag.SpecificPageCaption = MenuItem.Administration_Diagnostics;
}

@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
