@using WB.Core.BoundedContexts.Designer.Implementation.Services.Accounts.Membership
@using WB.UI.Designer.Resources

@{
    ViewBag.Title = QuestionnaireController.MyQuestionnaires;
    IMembershipUserService userHelper = ViewBag.UserHelper;
}


@section Modal
{
    <script type="x/template" id="categories-editor-template">
        <form>
            <div class="categories-holder">
                <div class="categories-holder-body">
                    <div class="options-editor" v-if="optionsMode">
                        <div class="option-line" v-for="(category, index) in categories" :key="category.id">
                            <div class="input-group">
                                <div class="option-cell">
                                    <input v-if="isEditMode" name="value" v-on:keyup.enter="moveFocus" v-validate="'required|integer'" type="number" v-model="category.value" class="form-control" placeholder="Value">
                                    <div v-else>{{category.value}}</div>
                                </div>
                                <div class="option-cell">
                                    <input v-if="isEditMode" name="title" v-on:keyup.enter="moveFocus" v-validate="'required'" type="text" v-model="category.title" class="form-control" placeholder="Title">
                                    <div v-else>{{category.title}}</div>
                                </div>
                                <div class="input-group-btn" v-if="isEditMode">
                                    <button @@click="deleteCategory(index)" type="button" class="btn btn-link btn-delete">
                                        <svg width="20" height="20">
                                            <polyline points="0,0 20,20"></polyline>
                                            <polyline points="20,0 0,20"></polyline>
                                        </svg>
                                    </button>
                                </div>
                            </div>

                            @*<category-editor :category="category" :index="index"></category-editor>*@
                        </div>
                    </div>
                    <div v-else class="form-group">
                        <textarea  v-elastic v-model="stringifiedOptions" class="form-control js-elasticArea" placeholder="Enter categories"></textarea>
                    </div>
                </div>
                <div class="categories-holder-footer clearfix">
                    <button v-if="optionsMode" type="button" class="btn btn-link pull-left" @@click="addCategory">Add option</button>
                    <button v-if="optionsMode" type="button" class="btn btn-link pull-right show-strings" @@click="showStrings">Show strings</button>
                    <button v-else type="button" class="btn btn-link pull-left" @@click="showList">Show list</button>
                </div>
            </div>
            <div class="form-buttons-holder">
                <button type="button" class="btn btn-success" @@click="save">Save</button>
                <button type="button" class="btn btn-link" @@click="cancel">Cancel</button>
            </div>
        </form>
    </script>
    @*<script type="x/template" id="category-editor-template">
            <div class="input-group">
                <div class="option-cell">
                    <input v-if="isEditMode" name="value" v-on:keyup.enter="moveFocus" v-validate="'required'" type="number" v-model="value" class="form-control" placeholder="Value">
                    <div v-else>{{value}}</div>
                </div>
                <div class="option-cell">
                    <input v-if="isEditMode" name="title" v-on:keyup.enter="moveFocus" v-validate="'required'" type="text" v-model="title" class="form-control" placeholder="Title">
                    <div v-else>{{title}}</div>
                </div>
                <div class="input-group-btn" v-if="isEditMode">
                    <button @@click="deleteCategory" type="button" class="btn btn-link btn-delete">
                        <svg width="20" height="20">
                            <polyline points="0,0 20,20"></polyline>
                            <polyline points="20,0 0,20"></polyline>
                        </svg>
                    </button>
                </div>
            </div>
        </script>*@
    <script type="x/template" id="group-editor-template">
        <div>
            <div v-if="isEditMode" class="edit-classification-group-name">
                <form>
                    <div class="form-group" :class="{'has-error': errors.has('title')}">
                        <textarea v-elastic name="title" type="text" v-validate="'required'" required v-model="title" class="form-control" placeholder="Group title"></textarea>
                        <span class="help-block" v-show="errors.has('title')">{{ errors.first('title') }}</span>
                    </div>
                    <button type="button" :disabled="!isFormDirty" @@click="save" class="btn btn-success">Save</button>
                    <button type="button" @@click="cancel()" class="btn btn-link">Cancel</button>

                </form>
            </div>
            <div v-else class="line-wrapper">
                <a @@click="select()">{{ group.title }}</a>
            </div>
        </div>
    </script>
    <script type="x/template" id="classification-editor-template">
        <div>
            <div v-if="isEditMode" class="edit-classification-group-name">
                <form>
                    <div class="form-group">
                        <textarea v-elastic name="title" type="text" v-validate="'required'" required v-model="title" class="form-control" placeholder="Classification title"></textarea>
                    </div>
                    <button type="button" :disabled="!isFormDirty" @@click="save" class="btn btn-success">Save</button>
                    <button type="button" @@click="cancel()" class="btn btn-link">Cancel</button>

                </form>
            </div>
            <div v-else class="line-wrapper">
                <a @@click="select()"> {{ title }}</a>
            </div>
        </div>
    </script>
}

@section Scripts {


    @Scripts.Render("~/list")
    <link href="~/Content/classifications.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
   
    <script src="~/Scripts/classifications/config.js"></script>
    <script type="text/javascript">
        Vue.use(ClassificationsConfig,
            {
                isAdmin: @Json.Encode(userHelper.WebUser.IsAdmin),
                userId: '@userHelper.WebUser.UserId'
            });
    </script>

    <script src="~/Scripts/classifications/components/CategoriesEditor.js"></script>
    <script src="~/Scripts/classifications/components/CategoryEditor.js"></script>
    <script src="~/Scripts/classifications/components/ClassificationEditor.js"></script>
    <script src="~/Scripts/classifications/components/GroupEditor.js"></script>
    <script src="~/Scripts/classifications/routes.js"></script>
    <script src="~/Scripts/classifications/store.js"></script>
    <script src="~/Scripts/classifications/main.js"></script>
}
<div class="slider" v-if="isLoading"><div class="line"></div><div class="subline inc"></div><div class="subline dec"></div></div>
<div class="classifications-wrapper">
    <div class="search-row">
        <form id="frmSearch" class="form-inline">
            <div class="input-group">
                <input id="txtFilter" type="text" class="form-control" name="f" value="">
                <span class="input-group-btn">
                    <button class="btn btn-default" onclick="$('#frmSearch').submit()">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="13px" height="12px">
                        <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" fill="#b2b2b2"></path>
                        </svg>

                    </button>
                </span>
            </div>
            <button type="button" title="Cancel search" class="btn clear-search" onclick=" $('#txtFilter').val(''); $('#frmSearch').submit(); "></button>
        </form>
    </div>
    <div class="classifications-block">
        <div class="col-xs-3 column classification-groups">
            <div class="classification-list-wrapper">
                <div class="scroller">
                    <ul class="breadcrumb">
                        <li class="active">groups</li>
                    </ul>
                    <ul class="list-unstyled classification-list">
                        <li v-for="(group, index) in groups" :key="group.id" :class="{'active': group.isActive }">
                            <group-editor :group="group" :index="index"></group-editor>
                        </li>
                    </ul>
                    <button type="button" class="btn lighter-hover" @@click="addGroup()" v-if="isAdmin">Add group</button>
                </div>
            </div>
        </div>
        <div class="col-xs-4 column classifications">
            <div class="classification-list-wrapper">
                <div class="scroller">
                    <ul class="breadcrumb">
                        <li class="active">{{activeGroup.title}}</li>
                    </ul>
                    <ul class="list-unstyled classification-list">
                        <li v-for="(classification, index) in classifications" :key="classification.id" :class="{'active': classification.isActive }">
                            <classification-editor :classification="classification" :index="index"></classification-editor>
                        </li>
                    </ul>
                    <button type="button" class="btn lighter-hover" @@click="addClassification()">Add classification</button>
                </div>
            </div>
        </div>
        <div class="col-xs-5 column categories-groups tab-content">
            <div class="scroller">
                <ul class="breadcrumb">
                    <li>{{activeGroup.title}}</li>
                    <li class="active">{{activeClassification.title}}</li>
                </ul>
                <categories-editor></categories-editor>
            </div>
        </div>
    </div>
</div>

