@using RavenQuestionnaire.Core.Views.Answer
@model CompleteAnswerView
@*@{var radibutonname = ViewData.TemplateInfo.GetFullHtmlFieldId("PublicKey");    }
<label for="@radibutonname">@Model.AnswerText</label>*@


@Html.Label("PublicKey", Model.AnswerText)