@using RavenQuestionnaire.Core.Views.Answer
@model CompleteAnswerView
@{var radibutonname = string.Format("radiobutton-{0}", Model.PublicKey);     }
<label for="@radibutonname">@Model.AnswerText</label>
