@using RavenQuestionnaire.Core.Views.Answer
@model CompleteAnswerView
@{var radibutonname = string.Format("radiobutton-{0}", Model.PublicKey);
    var textArrtrs = new Dictionary<string, object>(){{"onchange",Model.Selected ? "$(this.form).submit();" : ""},
    {"input-label", true}};
     }

<label for="@radibutonname">@Model.AnswerText
<div data-role="fieldcontain">
    @Html.Label("AnswerValue", " ")
@Html.TextBox("AnswerValue", Model.AnswerValue, textArrtrs)
</div>
</label>