<form role="form" id="comments-editor" name="addCommentForm" unsaved-warning-form>
    <div class="form-holder">
        <div ng-repeat="comment in comments">
            <button ng-hide="comment.isResolved" type="button" class="btn btn-sm btn-link pull-right" ng-click="resolveComment(comment)">Resolve</button>
            <span class="author">{{comment.userEmail}}</span>
            <span class="date">{{comment.date}}</span>
            <p class="comment-text">{{comment.comment}}</p>
        </div>

        <div class="row" id="edit-entity-comment-row">
            <div class="form-group col-xs-12">
                <label for="edit-entity-comment"> {{'EntityComment' | i18next}} <help key="newComment" /></label>
                <textarea id="edit-entity-comment" ng-model="activeComment.comment" class="form-control" required msd-elastic></textarea>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" id="edit-post-comment-button" class="btn btn-lg " ng-class="{ 'btn-primary': addCommentForm.$dirty }" unsaved-warning-clear ng-click="postComment()" ng-disabled="!addCommentForm.$valid" ng-i18next>Add comment</button>
        </div>
    </div>
</form>
