<form role="form" name="groupForm" unsaved-warning-form  ng-show="activeGroup">
    <div class="form-holder">
        <div class="breadcrumbs-container">
            <div data-item-breadcrumbs data-crumbs="activeGroup.breadcrumbs"></div>
        </div>
            <div class="form-group">
                <label for="edit-group-title" class="wb-label">Title</label><br>
                <textarea id="edit-group-title" class="form-control" ng-model="activeGroup.title" msd-elastic></textarea>
            </div>

        <div class="form-group enabling-group">
            <div class="enabling-group-marker"></div>
            <label for="edit-group-condition">Enabling condition <help key="conditionExpression"/></label>
                <input id="cb-hideIfDisabled" type="checkbox" class="wb-checkbox" ng-model="activeGroup.hideIfDisabled" />
                <label for="cb-hideIfDisabled"><span></span>Hide if disabled <help key="hideIfDisabled" /></label>
            <br>
            <div class="pseudo-form-control">
                <div id="edit-group-condition" ui-ace="{ onLoad : aceLoaded , require: ['ace/ext/language_tools']}" ng-model="activeGroup.enablementCondition"></div>
            </div>
        </div>
        </div>
<div class="form-buttons-holder">
    <div class="pull-left">
        <button type="submit" ng-show="!questionnaire.isReadOnlyForUser" id="edit-chapter-save-button" class="btn btn-lg" ng-class="{ 'btn-primary': groupForm.$dirty }" ng-click="saveGroup()" unsaved-warning-clear ng-disabled="!groupForm.$valid">Save</button>
        <button type="reset" id="edit-chapter-cancel-button" class="btn btn-lg btn-link" ng-click="cancelGroup()" unsaved-warning-clear unsaved-warning-clear>Cancel</button>
    </div>
    <div class="pull-right">
        <button type="button" ng-show="!questionnaire.isReadOnlyForUser" id="edit-chapter-delete-button" class="btn btn-lg btn-link" ng-click="deleteItem()" unsaved-warning-clear>Delete</button>
        <ng-include src="'moveToChapterSnippet'" ng-show="!questionnaire.isReadOnlyForUser" ng-if="!activeGroup.isChapter" />
    </div>
</div>
</form>
