<form role="form" name="groupForm" unsaved-warning-form  ng-show="activeGroup">
    <div class="form-holder">
        <div class="breadcrumbs-container">
            <div data-item-breadcrumbs data-crumbs="activeGroup.breadcrumbs"></div>

            <span>Hide if disabled: {{activeGroup.hideIfDisabled}}</span>
        </div>
            <div class="form-group">
                <label for="edit-group-title-highlight" class="wb-label">{{'GroupTitle' | i18next}}</label><br>
                <div class="pseudo-form-control">
                    <div id="edit-group-title-highlight"
                         ui-ace="{ onLoad : setupAceForSubstitutions, require: ['ace/ext/language_tools'] }" ng-model="activeGroup.title"></div>
                </div>
            </div>

        <div class="form-group enabling-group">
            <div class="enabling-group-marker"></div>
            <label for="edit-group-condition">{{'EnablingCondition' | i18next}} <help key="conditionExpression"/></label>
                
                <hide-if-disabled hideValue='activeGroup.hideIfDisabled'></hide-if-disabled>

                
                <!-- <input type="checkbox" class="wb-checkbox" disabled="disabled" checked="checked" ng-if="questionnaire.hideIfDisabled"
                   title="{{ 'HideIfDisabledNested' | i18next }}" />
                <input ng-if="!questionnaire.hideIfDisabled" id="cb-hideIfDisabled" type="checkbox" class="wb-checkbox" ng-model="activeGroup.hideIfDisabled" />
                <label for="cb-hideIfDisabled"><span title="{{questionnaire.hideIfDisabled ? ('HideIfDisabledNested' | i18next) : ''}}"></span>{{'HideIfDisabled' | i18next}} <help key="hideIfDisabled" /></label> -->
            <br>
            <div class="pseudo-form-control">
                <div id="edit-group-condition" ui-ace="{ onLoad : aceLoaded , require: ['ace/ext/language_tools']}" ng-model="activeGroup.enablementCondition"></div>
            </div>
        </div>
        </div>
<div class="form-buttons-holder">
    <div class="pull-left">
        <button type="submit" ng-show="!questionnaire.isReadOnlyForUser" 
                id="edit-chapter-save-button" class="btn btn-lg" ng-class="{ 'btn-primary': groupForm.$dirty }" 
                ng-click="saveGroup()" unsaved-warning-clear ng-disabled="!groupForm.$valid" ng-i18next="Save"></button>
        <button type="reset" id="edit-chapter-cancel-button" class="btn btn-lg btn-link" ng-click="cancelGroup()" unsaved-warning-clear ng-i18next="Cancel"></button>
    </div>
    <div class="pull-right">
        <button type="button" ng-show="!questionnaire.isReadOnlyForUser" id="add-comment-button" class="btn btn-lg btn-link" ng-click="toggleComments(activeQuestion)" unsaved-warning-clear>
            <span ng-i18next ng-hide="isCommentsBlockVisible">EditorAddComment</span>
            <span ng-i18next ng-show="isCommentsBlockVisible">EditorHideComment</span>
        </button>
        <button type="button" ng-show="!questionnaire.isReadOnlyForUser" id="edit-chapter-delete-button" class="btn btn-lg btn-link" ng-click="deleteItem()" unsaved-warning-clear ng-i18next>Delete</button>
        <ng-include src="'moveToChapterSnippet'" ng-show="!questionnaire.isReadOnlyForUser" ng-if="!activeGroup.isChapter"/>
    </div>
</div>
</form>
