<section id="header" class="row">
    <a class="designer-logo" href="../../"></a>
    <div class="header-line">
        <div class="header-menu">
            <!--This document is <strong>{{questionnaire.isPublic ? 'public' : 'private'}}</strong>-->
            <div class="buttons">
                <a class="btn" href="http://docs.mysurvey.solutions/designer.pdf" target="_blank">Help</a>
                <a class="btn" href="../../questionnaire/questionnairehistory/{{questionnaire.questionnaireId}}" target="_blank">History</a>
                <a class="btn" type="button" ng-show="questionnaire.hasViewerAdminRights" href="../../admin/backupquestionnaire/{{questionnaire.questionnaireId}}">Backup</a>
                <button class="btn" type="button" ng-disabled="questionnaire.isReadOnlyForUser && !questionnaire.hasViewerAdminRights" ng-click="showShareInfo()">Settings</button>

                <div class="btn-group">
                    <a class="btn btn-default">Hi, {{::currentUserName}}</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="../../account/manage">Change password</a></li>
                        <li><a href="../../account/logoff">Log out</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="questionnarie-title">
            <div class="title">
                <div class="questionnarie-title-text">
                    {{questionnaire.title}}
                </div>
                <div class="questionnarie-title-buttons">
                    <span class="text-muted">({{questionnaire.questionsCount}}Q, {{questionnaire.groupsCount}}S, {{questionnaire.rostersCount}}R)</span>
                    <input id="verification-btn" type="button" class="btn" value="COMPILE" ng-click="verify()" />
                    <span ng-show="verificationStatus.warnings!=null && verificationStatus.errors!=null">
                        <span data-toggle="modal" ng-show="(verificationStatus.warnings.length + verificationStatus.errors.length) > 0" class="error-message ng-hide" ng-class="{'no-errors': verificationStatus.errors.length == 0}">
                            <a href="javascript:void(0);"
                               ng-click="showVerificationErrors()"
                               ng-pluralize
                               count="verificationStatus.errors.length"
                               when="{
                               '0': 'No errors',
                               '1': '{} error',
                              '100' : '{}+ errors',
                              'other': '{} errors'}">
                            </a>
                        </span>
                        <span data-toggle="modal" ng-show="verificationStatus.warnings.length > 0" class="warning-message ng-hide">
                            <a href="javascript:void(0);"
                               ng-click="showVerificationWarnings()"
                               ng-pluralize
                               count="verificationStatus.warnings.length"
                               when="{
                                '1': '{} warning',
                                '100' : '{}+ warnings',
                                'other': '{} warnings'}">
                            </a>
                        </span>
                        <span class="text-success" ng-show="(verificationStatus.warnings.length + verificationStatus.errors.length) === 0">OK</span>

                        <span class="text-success"><em>saved at <span>{{verificationStatus.time | date:'H:mm'}}</span></em></span>
                    </span>
                    <span class="error-message strong" ng-show="questionnaire.isReadOnlyForUser">Read Only</span>

                </div>
            </div>
        </div>
    </div>

</section>

<section id="spacer" class="row">
    <div class="left"></div>
    <div class="right"></div>
</section>

<section id="main" class="row">
    <div class="left-side-panel chapters" ng-class="{unfolded: isFolded }" ng-controller="ChaptersCtrl" data-empty-place-holder-enabled="false">
        <div class="foldback-region" ng-click="foldback();$event.stopPropagation()"></div>
        <div class="left-side-panel-content chapter-panel" ui-tree="chaptersTree">
            <div class="foldback-button" ng-click="foldback();$event.stopPropagation()"></div>
            <div class="ul-holder">
                <div class="chapters">
                    <perfect-scrollbar class="scroller">
                        <h3><span ng-show="questionnaire.chapters.length!=0">{{questionnaire.chapters.length}}</span> Section<span ng-show="questionnaire.chapters.length!=1">s</span>:</h3>
                        <ul ui-tree-nodes ng-model="questionnaire.chapters" class="chapters-list">
                            <li class="chapter-panel-item"
                                ng-repeat="chapter in questionnaire.chapters"
                                ui-tree-node
                                ng-class="{ current: isCurrentChapter(chapter) }"
                                context-menu data-target="chapter-context-menu-{{ chapter.itemId }}"
                                context-menu-hide-on-mouse-leave="true">
                                <div class="holder" ng-click="editChapter(chapter);$event.stopPropagation();">
                                    <div class="inner">
                                        <a class="handler" ui-tree-handle><span></span></a>
                                        <a class="chapter-panel-item-body" ui-sref="questionnaire.chapter.group({ chapterId: chapter.itemId, itemId: chapter.itemId})" ng-bind-html="chapter.title | escape"></a>
                                    </div>
                                </div>
                                <div class="dropdown position-fixed" id="chapter-context-menu-{{ chapter.itemId }}">
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a ng-click="editChapter(chapter);">Edit</a></li>
                                        <li><a ng-click="copyRef(chapter);">Copy</a></li>
                                        <li>
                                            <a ng-disabled="!readyToPaste" ng-click="pasteAfterChapter(chapter);$event.stopPropagation();">Paste after</a>
                                        </li>
                                        <li><a ng-click="deleteChapter(chapter);$event.stopPropagation();">Delete</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="button-holder">
                            <input type="button" class="btn lighter-hover" value="ADD NEW SECTION" ng-click="addNewChapter()">
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
    <div class="left-side-panel macroses" ng-class="{unfolded: isFolded }" ng-controller="MacrosCtrl">
        <div class="foldback-region" ng-click="foldback();$event.stopPropagation()"></div>
        <div class="left-side-panel-content macros-panel">
            <div class="foldback-button-region" ng-click="foldback();$event.stopPropagation()">
                <div class="foldback-button"></div>
            </div>
            <div class="macroses">
                <perfect-scrollbar class="scroller">
                    <h3>
                        <span ng-show="macros.length!=0">{{macros.length}}</span> Macro<span ng-show="macros.length!=1">s</span>:
                    </h3>
                    <div class="empty-list" ng-show="macros.length == 0">
                        <p>Use this tab to define macro substitutions.</p>
                        <p>A macro is a named expression that can be used in enabling conditions and validation expressions. A macro consists of name and content. </p>
                        <p>To use a macro in an expression, refer to it by its <span class="variable-name">$macroname</span></p>
                    </div>
                    <form role="form" name="macrosForm" novalidate>
                        <ul ng-model="macros">
                            <li class="macros-panel-item" ng-repeat="macro in macros">
                                <ng-form name="macro.form">
                                    <a href ng-click="deleteMacro($index)" class="btn delete-btn" tabindex="-1"></a>
                                    <div class="input-group macros-name">
                                        <span class="input-group-addon">$</span>
                                        <input focus-on-out="focusMacro{{macro.itemId}}" placeholder="macro name" maxlength="32" spellcheck="false" ng-model="macro.name" name="name" class="form-control" type="text" />
                                    </div>
                                    <div class="divider"></div>
                                    <input placeholder="content" ng-model="macro.content" ui-ace="{ onLoad : aceLoaded, require: ['ace/ext/language_tools'] }" class="form-control" type="text" />
                                    <div ng-show="macro.isDescriptionVisible">
                                        <div class="divider"></div>
                                        <textarea placeholder="description" type="text" ng-model="macro.description" class="form-control macros-description" msd-elastic></textarea>
                                    </div>
                                    <div class="actions" ng-show="macro.form.$dirty">
                                        <button type="submit" ng-disabled="macro.form.$invalid" class="btn lighter-hover" ng-click="saveMacro(macro)">Save</button>
                                        <button type="button" class="btn lighter-hover" ng-click="cancel(macro)">Cancel</button>
                                        <button class="btn btn-default pull-right" ng-show="isDescriptionEmpty(macro)" type="button" ng-click="toggleDescription(macro)">{{ macro.isDescriptionVisible? "hide" : "add" }} description</button>
                                    </div>
                                </ng-form>
                            </li>
                        </ul>

                    </form>
                    <div class="button-holder">
                        <input type="button" class="btn lighter-hover" value="ADD NEW Macro" ng-click="addNewMacro()">
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
    <div class="left-side-panel lookup-tables" ng-class="{unfolded: isFolded }" ng-controller="LookupTablesCtrl">
        <div class="foldback-region" ng-click="foldback();$event.stopPropagation()"></div>
        <div class="left-side-panel-content lookup-tables-panel">
            <div class="foldback-button-region" ng-click="foldback();$event.stopPropagation()">
                <div class="foldback-button"></div>
            </div>
            <div class="lookup-tables">
                <perfect-scrollbar class="scroller">
                    <h3>
                        <span ng-show="lookupTables.length!=0">{{lookupTables.length}}</span> Lookup Table<span ng-show="lookupTables.length!=1">s</span>:
                    </h3>
                    <div class="empty-list" ng-show="lookupTables.length == 0">
                        <p>Use this tab to define lookup tables.</p>
                        <p>A lookup table provides reference information that may be queried by a key and used in enabling conditions and validation expressions.</p>
                        <p>A lookup table consists of a name and the lookup file, which may contain multiple tab-delimited columns of numeric values.</p>
                    </div>
                    <form role="form" name="lookupTablesForm" novalidate>
                        <ul ng-model="lookupTables">
                            <li class="lookup-table-panel-item" ng-repeat="table in lookupTables" ngf-drop="" ngf-change="fileSelected(table, $file)" ngf-max-size="1MB" accept=".tab,.txt" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err'}">
                                <ng-form name="table.form">
                                    <a href ng-click="deleteLookupTable($index)" class="btn delete-btn" tabindex="-1"></a>
                                    <input focus-on-out="focusLookupTable{{table.itemId}}" required="" placeholder="table name" maxlength="32" spellcheck="false" ng-model="table.name" name="name" class="form-control table-name" type="text" />
                                    <div class="divider"></div>
                                    <input placeholder="file name" required="" spellcheck="false" ng-model="table.fileName" name="fileName" class="form-control" disabled="" type="text" />

                                    <div class="drop-box">
                                        Drop File here
                                    </div>

                                    <div class="actions clearfix" ng-class="{dirty: table.form.$dirty }">
                                        <div ng-show="table.form.$dirty" class="pull-left">
                                            <button type="submit" ng-disabled="table.form.$invalid" class="btn lighter-hover" ng-click="saveLookupTable(table);$event.stopPropagation()">Save</button>
                                            <button type="button" class="btn lighter-hover" ng-click="cancel(table);$event.stopPropagation()">Cancel</button>
                                        </div>
                                        <div class="permanent-actions clearfix">
                                            <a href="{{downloadLookupFileBaseUrl + questionnaire.questionnaireId +'?lookupTableId='+ table.itemId}}" ng-show="table.hasUploadedFile" class="btn btn-default pull-right" target="_blank">Download</a>
                                            <button class="btn btn-default pull-right" ngf-select="" ngf-change="fileSelected(table, $file);$event.stopPropagation()" accept=".tab,.txt" ngf-max-size="1MB" type="file">
                                                <span ng-hide="table.hasUploadedFile">Select file</span>
                                                <span ng-show="table.hasUploadedFile">Update file</span>
                                            </button>
                                        </div>
                                    </div>
                                </ng-form>
                            </li>
                        </ul>
                    </form>
                    <div class="button-holder">
                        <input type="button" class="btn lighter-hover" value="ADD NEW Lookup table" ng-click="addNewLookupTable()">
                    </div>
                </perfect-scrollbar>
            </div>
        </div>

    </div>
    <div class="left-side-panel attachments" ng-class="{unfolded: isFolded }" ng-controller="AttachmentsCtrl">
        <div class="foldback-region" ng-click="foldback();$event.stopPropagation()"></div>
        <div class="left-side-panel-content attachments-panel">
            <div class="foldback-button-region" ng-click="foldback();$event.stopPropagation()">
                <div class="foldback-button"></div>
            </div>
            <div class="attachments">
                <perfect-scrollbar class="scroller">
                    <div class="panel-header clearfix">
                        <div class="title pull-left">
                            <h3 ng-pluralize
                                count="attachments.length"
                                when="{
                            '0': 'No Files Attachment to questionnaire',
                            '1': '{} File Attachment ({{formatBytes(totalSize())}} total)',
                            'other': '{} Files Attachments ({{formatBytes(totalSize())}} total)'}"></h3>
                            <p class="estimated-download-time">
                                Est. loading time: <span>{{formatSeconds(estimatedLoadingTime())}}</span> at {{benchmarkDownloadSpeed}}Kb/s (EDGE)
                            </p>

                        </div>
                        <button class="btn btn-default btn-lg pull-left" ng-class="{'btn-primary': !isReadOnlyForUser}" ngf-select ngf-change="createAndUploadFile($file);$event.stopPropagation()" ngf-accept="'image/*'" ngf-max-size="100MB" type="file" ngf-select-disabled="isReadOnlyForUser" ngf-drop-disabled="isReadOnlyForUser">
                            Upload new
                        </button>
                    </div>
                    <div class="empty-list" ng-show="attachments.length == 0">
                        <p>Use this tab to upload multimedia files that may be referenced in the questionnaire.</p>
                        <p>
                            To avoid slow synchronization we recommend combined size of all attached files not to exceed 2MB.
                            For supported file types, formats, and dimensions <a href="http://siteresources.worldbank.org/INTCOMPTOOLS/Resources/8213623-1380598436379/multimedia_formats.pdf" target="_blank">click here</a>
                        </p>
                        <p>
                            To refer to an attachment in the questionnaire add a static text element and
                            specify the attachment <span class="variable-name">name</span> in its attachment property.
                        </p>
                    </div>
                    <form role="form" name="attachmentsForm" novalidate>
                        <div class="attachment-list">
                            <ng-form name="attachment.form" ng-repeat="attachment in attachments">
                                <div class="attachments-panel-item" ng-class="{'has-error': attachment.form.name.$error.pattern}" ngf-drop="" ngf-max-size="100MB" ngf-change="fileSelected(attachment, $file)" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err'}">
                                    <a href ng-click="deleteAttachment($index)" class="btn delete-btn" tabindex="-1"></a>
                                    <div class="attachment">
                                        <div class="attachment-preview">
                                            <div class="attachment-preview-cover clearfix">
                                                <img class="pull-right" ng-click="previewAttachment(attachment)" ngf-size="{width: 156, height: 140}" ngf-thumbnail="attachment.file || '{{downloadLookupFileBaseUrl + '/thumbnail/' + attachment.attachmentId}}'">
                                            </div>
                                        </div>
                                        <div class="attachment-content">
                                            <input focus-on-out="focusAttachment{{attachment.attachmentId}}"
                                                   required=""
                                                   placeholder="attachment name"
                                                   maxlength="32"
                                                   spellcheck="false"
                                                   ng-model="attachment.name"
                                                   name="name"
                                                   class="form-control table-name"
                                                   type="text" />
                                            <div class="divider"></div>
                                            <div class="drop-box">
                                                Drop File here
                                            </div>
                                            <div class="attachment-meta" ng-include="'Image-attachment-info-template.html'"></div>
                                            <div class="actions clearfix" ng-class="{dirty: attachment.form.$dirty }">
                                                <div ng-show="attachment.form.$dirty" class="pull-left">
                                                    <button type="submit" ng-disabled="attachment.form.$invalid" class="btn lighter-hover" ng-click="saveAttachment(attachment);$event.stopPropagation()">Save</button>
                                                    <button type="button" class="btn lighter-hover" ng-click="cancel(attachment);$event.stopPropagation()">Cancel</button>
                                                </div>
                                                <div class="permanent-actions pull-right clearfix">
                                                    <button ng-disabled="isReadOnlyForUser" class="btn btn-default pull-right" ngf-select="" ngf-accept="'image/*'" ngf-max-size="100MB" ngf-change="fileSelected(attachment, $file);$event.stopPropagation()" type="file">
                                                        <span>Update</span>
                                                    </button>
                                                    <a href="{{downloadLookupFileBaseUrl  + '/' + attachment.attachmentId}}" class="btn btn-default pull-right" target="_blank">Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </form>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
    <div class="left-side-panel translations" ng-class="{unfolded: isFolded }" ng-controller="TranslationsCtrl">
        <div class="foldback-region" ng-click="foldback();$event.stopPropagation()"></div>
        <div class="left-side-panel-content translations-panel">
            <div class="foldback-button-region" ng-click="foldback();$event.stopPropagation()">
                <div class="foldback-button"></div>
            </div>
            <div class="translations">
                <perfect-scrollbar class="scroller">
                    
                    <h3 ng-pluralize
                        count="translations.length"
                        when="{
                        '0': 'Translations:',
                        '1': '{} Translation:',
                        'other': '{} Translations:'}"></h3>
                    
                    <div class="empty-list" ng-show="translations.length == 0">
                        <p>Use this tab to manage questionnaire translations.</p>
                        <p>You may download and update translations to different languages.</p>
                        <p>Translation will be applied on original texts and override values. You may leave some texts empty to use default original translations.</p>
                    </div>
                    <form role="form" name="translationsForm" novalidate>
                        <div class="translation-list">
                            <ng-form name="translation.form" ng-repeat="translation in translations">
                                <div class="translations-panel-item" ng-class="{'has-error': translation.form.name.$error.pattern}" ngf-drop="" ngf-max-size="4MB" ngf-change="fileSelected(translation, $file)" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err'}">
                                    <a href ng-click="deleteTranslation($index)" class="btn delete-btn" tabindex="-1"></a>
                                    <div class="translation-content">
                                        <input focus-on-out="focusTranslation{{translation.translationId}}"
                                                required=""
                                                placeholder="translation name"
                                                maxlength="32"
                                                spellcheck="false"
                                                ng-model="translation.name"
                                                name="name"
                                                class="form-control table-name"
                                                type="text" />
                                        <div class="drop-box">
                                            Drop File here
                                        </div>
                                        <div class="actions" ng-class="{dirty: translation.form.$dirty }">
                                            <div ng-show="translation.form.$dirty" class="pull-left">
                                                <button type="submit" ng-disabled="translation.form.$invalid" class="btn lighter-hover" ng-click="saveTranslation(translation);$event.stopPropagation()">Save</button>
                                                <button type="button" class="btn lighter-hover" ng-click="cancel(translation);$event.stopPropagation()">Cancel</button>
                                            </div>
                                            <div class="permanent-actions pull-right">
                                                <a href="{{downloadBaseUrl + '/' + questionnaire.questionnaireId  + '/xlsx/' + translation.translationId}}" class="btn btn-default" target="_blank">Download xlsx</a>
                                                
                                                <button ng-disabled="isReadOnlyForUser" class="btn btn-default" ngf-select="" ngf-max-size="10MB" accept=".xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" ngf-change="fileSelected(translation, $file);$event.stopPropagation()" type="button">
                                                    <span>Update</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </form>
                    <div class="button-holder">
                        <p>
                            Get Template for <a class="btn btn-default" href="{{downloadBaseUrl + '/' + questionnaire.questionnaireId + '/template' }}" target="_blank">Excel (xlsx)</a> 
                        </p>
                        <p>
                            <input type="button" value="Upload new translation"
                                   class="btn lighter-hover" ngf-select
                                   ngf-change="createAndUploadFile($file);$event.stopPropagation()"
                                   ngf-max-size="10MB"
                                   accept=".xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
                                   ngf-select-disabled="isReadOnlyForUser"
                                   ngf-drop-disabled="isReadOnlyForUser" />
                        </p>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>

    <div id="left-menu" ng-controller="LeftMenuCtrl">
        <ul>
            <li><a class="left-menu-chapters" ng-class="{unfolded: isUnfoldedChapters }" ng-click="unfoldChapters();" title="Sections"></a></li>
            <li><a class="left-menu-translations" ng-class="{unfolded: isUnfoldedTranslations }" ng-click="unfoldTranslations();" title="Translations"></a></li>
            <li><a class="left-menu-macroses" ng-class="{unfolded: isUnfoldedMacros }" ng-click="unfoldMacros();" title="Macroses"></a></li>
            <li><a class="left-menu-lookupTables" ng-class="{unfolded: isUnfoldedLookupTables }" ng-click="unfoldLookupTables();" title="Lookup tables"></a></li>
            <li><a class="left-menu-attachments" ng-class="{unfolded: isUnfoldedAttachments }" ng-click="unfoldAttachments();" title="Attachments"></a></li>
        </ul>
    </div>
    <div class="questionnaire-tree" ui-view></div>
</section>

<script type="text/ng-template" id="Image-attachment-info-template.html">
    <p>
        <span class="file-name">{{attachment.meta.fileName}}</span>, &nbsp;
        <span ng-class="{'error': isAttachmentResolutionTooBig(attachment)}">{{attachment.content.details.width}}&nbsp;&times;&nbsp;{{attachment.content.details.height}}px</span>,&nbsp; format:&nbsp;{{attachment.content.type}},
        <span ng-class="{'error': isAttachmentSizeTooBig(attachment)}">size:&nbsp;{{formatBytes(attachment.content.size)}}</span>
    </p>
    <p>uploaded: {{attachment.meta.lastUpdated | amDateFormat:'MMMM DD, YYYY [at] h:mm a'}}</p>
</script>

<div id="verification-modal" ng-show="verificationStatus.visible" ng-class="verificationStatus.typeOfMessageToBeShown">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeVerifications()" aria-hidden="true"> <!--&times;--> </button>
            <h3 class="modal-title">
                Compilation: <span ng-pluralize count="verificationStatus.messagesToShow.length" when="{'1': '{} {{verificationStatus.typeOfMessageToBeShown}} found', '100': '{}+ errors found', 'other': '{} {{verificationStatus.typeOfMessageToBeShown}}s found'}"></span>
            </h3>
        </div>
        <div class="modal-body">
            <perfect-scrollbar class="scroller">
                <div id="verify-popover-content">
                    <div class="question-list">
                        <div ng-repeat="error in verificationStatus.messagesToShow">
                            <div class="error-message"><span class="error-code">[{{error.code}}]:</span>{{error.message}}</div>
                            <ul class="verification-items" ng-class="{singleError: !error.isGroupedMessage}">
                                <empty-tag ng-repeat="referencesWithErrors in error.errors">
                                    <li class="verification-item-container" ng-repeat="reference in referencesWithErrors.references" ng-click="navigateTo(reference)">
                                        <a class="verification-item" href="javascript:void(0);">
                                            <span ng-if="reference.type == 'Question'" class="icon {{reference.questionType}}  icon-{{verificationStatus.typeOfMessageToBeShown}}"></span>
                                            <span ng-if="reference.type == 'Macro'" class="icon icon-macro icon-{{verificationStatus.typeOfMessageToBeShown}}"></span>
                                            <span ng-if="reference.type == 'LookupTable'" class="icon icon-lookup icon-{{verificationStatus.typeOfMessageToBeShown}}"></span>
                                            <span ng-if="reference.type == 'StaticText'" class="icon icon-statictext icon-{{verificationStatus.typeOfMessageToBeShown}}"></span>
                                            <span ng-if="reference.type == 'Attachment'" class="icon icon-attachment icon-{{verificationStatus.typeOfMessageToBeShown}}"></span>
                                            <span ng-if="reference.type == 'Variable'" class="icon icon-variable icon-{{verificationStatus.typeOfMessageToBeShown}}"></span>
                                            <span ng-if="reference.type == 'Translation'" class="icon icon-translation icon-{{verificationStatus.typeOfMessageToBeShown}}"></span>
                                            <span class="title" tooltip-class="error-tooltip" tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip-html="referencesWithErrors.compilationErrorMessages != null ? referencesWithErrors.compilationErrorMessages.slice(0, 10).join('<br />') + (referencesWithErrors.compilationErrorMessages.length > 10 ? '<br />...' : '') : ''">{{reference.title}}</span>
                                            <span class="variable" ng-bind-html="reference.variable || '&nbsp;'">&nbsp;</span>
                                        </a>
                                    </li>
                                </empty-tag>
                            </ul>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
        <div class="modal-footer">
            <button class="btn btn-link" ng-click="verify()">RECOMPILE</button>
            <button class="btn btn-link" data-dismiss="modal" ng-click="closeVerifications()">CLOSE</button>
        </div>
    </div>
</div>

<script type="text/ng-template" id="moveToChapterSnippet">
    <div class="btn-group dropup">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
            Move to <span class="caret"></span>
        </button>

        <div role="menu" class="chapter-menu dropdown-menu dropdown-menu-right">
            <h1>Move to another sub-section:</h1>
            <ul>
                <li ng-repeat="chapter in $parent.questionnaire.chapters">
                    <a ng-click="chapter.itemId == currentChapterId || moveToChapter(chapter.itemId)" ng-disabled="chapter.itemId == currentChapterId" unsaved-warning-clear>
                        {{chapter.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</script>