@model bool

@{
    this.Layout = "~/Views/Shared/_AdminLayout.cshtml";
    this.ViewBag.Title = "Control Panel: Headquarters";
}

@if (this.Model)
{
    <h3>This server operates with built-in Headquarters functionality</h3>
}
else
{
    <h3>This server operates with separate Headquarters server</h3>
}
