@using WB.UI.Headquarters.Code
@model object
@{
    ViewBag.Title = "Control panel";
    ViewBag.SpecificPageCaption = "Control Panel";
}

@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
