@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Controllers.AuditLogModel

@{
    ViewBag.Title = AuditLog.PageTitle;
    ViewBag.SpecificPageCaption = MainMenu.AuditLog;
}

@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
