@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Controllers.LogsModel

@{
    ViewBag.Title = TabletLogs.PageTitle;
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>

