@model WB.UI.Headquarters.Models.Admin.EmailProviders
@{
    ViewBag.Title = Settings.Settings_Title;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@{
    ViewBag.ActivePage = MenuItem.EmailProviders;
    ViewBag.Title = Pages.EmailProviders;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
