@using RavenQuestionnaire.Core.Views.Collection
@model CollectionView
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm("Edit", "Collection", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(t => t.CollectionId)
        <h3>Enter Collection Name:</h3>
        @Html.TextBox("Name", Model.Name)
        <div style="height: 20px;"></div>
        <div id="collectionItems">
            @foreach (var item in Model.Items)
            {
                Html.RenderPartial("~/Views/Collection/EditCollectionItem.cshtml", item);
            }
        </div>
        @Ajax.ActionLink("Add new item", "AddItem", "Collection", new { collectionId = Model.CollectionId }, new AjaxOptions()
                    {
                        HttpMethod = "Post",
                        UpdateTargetId = "collectionItems",
                        InsertionMode = InsertionMode.InsertAfter

                    })
    </div>
    <div style="height: 10px;"></div>
    <div>
        <input type="submit" name="Save" value="Save" />
    </div>
}
