<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="Ninject" version="3.0.1.10" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.0.0.8" />
  <package id="Ninject.Extensions.Conventions" version="3.0.0.11" />
  <package id="Ninject.Extensions.NamedScope" version="3.0.0.5" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="NLog.Config" version="2.0.0.2000" />
  <package id="NLog.Schema" version="2.0.0.2000" />
  <package id="RavenDB" version="1.0.499" />
  <package id="RavenDB-Embedded" version="1.0.0.482" />
  <package id="RavenDB-Embedded" version="1.0.499" />
  <package id="Rx-Main" version="1.0.11226" />
</packages>