
@model WB.UI.Headquarters.Views.Shared.AccessDeniedModel
@{
    Layout = "";
    ViewData["Title"] = "Access denied";
}


<form>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="note text-danger">You do not have access to this resource.</p>
    
</form>

