<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cheesebaron.MvxPlugins.Settings" version="1.1.2" targetFramework="MonoAndroid22" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="MonoAndroid22" />
  <package id="Flurl" version="1.0.5" targetFramework="MonoAndroid22" />
  <package id="Flurl.Http" version="0.4.0" targetFramework="MonoAndroid22" />
  <package id="IHS.MvvmCross.Plugins.Keychain" version="0.0.12" targetFramework="MonoAndroid22" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="MonoAndroid22" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="MonoAndroid22" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid22" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="MonoAndroid22" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.0" targetFramework="MonoAndroid22" />
  <package id="MvvmCross.HotTuna.Plugin.File" version="3.5.0" targetFramework="MonoAndroid22" />
  <package id="MvvmCross.HotTuna.Plugin.Network" version="3.5.0" targetFramework="MonoAndroid22" />
  <package id="MvvmCross.PortableSupport" version="3.5.0" targetFramework="MonoAndroid22" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="MonoAndroid22" />
  <package id="PCLStorage" version="1.0.2" targetFramework="MonoAndroid22" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="MonoAndroid22" />
  <package id="Siaqodb" version="4.0.2.29" targetFramework="MonoAndroid22" />
  <package id="Xamarin.Insights" version="1.9.1.107" targetFramework="MonoAndroid22" />
</packages>