<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>
    <Variable Name="WindowsDotNetHosting318InstallDir" Value="[ProgramFiles64Folder]dotnet\host\fxr\3.1.8" />
    <util:DirectorySearch Id="WindowsDotNetHosting318Installed" Path="[WindowsDotNetHosting318InstallDir]" Variable="WindowsDotNetHosting318Installed" Result="exists" />

    <WixVariable Id="WindowsDotNetHosting318InstalledDetectCondition" Value="WindowsDotNetHosting318Installed" Overridable="yes" />
    <WixVariable Id="WindowsDotNetHosting318InstalledInstallCondition" Value="" Overridable="yes" />

    <PackageGroup Id="WindowsDotNetHosting318">
      <ExePackage
          Name="dotnet-hosting-3.1.8-win.exe"
          InstallCommand="/install /quiet /norestart /log &quot;[WindowsDotNetHosting318Log]&quot;"
          RepairCommand="/repair /quiet /norestart /log &quot;[WindowsDotNetHosting318Log]&quot;"
          UninstallCommand="/uninstall /quiet /norestart /log &quot;[WindowsDotNetHosting318Log]&quot;"
          PerMachine="yes"
          DetectCondition="!(wix.WindowsDotNetHosting318InstalledDetectCondition)"
          InstallCondition="!(wix.WindowsDotNetHosting318InstalledInstallCondition)"
          Vital="yes"
          Permanent="yes"
          Protocol="burn"
          DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/854cbd11-4b96-4a44-9664-b95991c0c4f7/8ec4944a5bd770faba2f769e647b1e6e/dotnet-hosting-3.1.8-win.exe"
          LogPathVariable="WindowsDotNetHosting318Log"
          Compressed="no">
        <!-- heat.exe payload "dotnet-hosting-3.1.1-win.exe" -o "dotnet-hosting.wxs" -->
        <RemotePayload CertificatePublicKey="3756E9BBF4461DCD0AA68E0D1FCFFA9CEA47AC18" 
                       CertificateThumbprint="2485A7AFA98E178CB8F30C9838346B514AEA4769" 
                       Description="Microsoft .NET Core 3.1.8 - Windows Server Hosting" 
                       Hash="8420669C60699443CD2F98495F2F16E21A221421" 
                       ProductName="Microsoft .NET Core 3.1.8 - Windows Server Hosting" 
                       Size="64535320" 
                       Version="3.1.8.20421" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>
