@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Answer
@model RavenQuestionnaire.Core.Views.Question.CompleteQuestionView
         
@{
    var answerGuid = Model.Answers.Length > 0 ? Model.Answers[0].PublicKey : Guid.NewGuid();
    ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings).Add("onchange", "$(this.form).submit();");
}
@using (Html.BeginCollectionItem("Answers", true, answerGuid))
{
    @Html.Hidden("QuestionId", Model.PublicKey)
    @Html.Hidden("PublicKey", answerGuid)
    @Html.Hidden("Selected", true)
    <div class="answer">
        @Html.TextBox("AnswerValue", Model.Answers.Length > 0 ? Model.Answers[0].AnswerValue : "", (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)
        <p class="help-block"> Latitude & Longitude separated by semicolon</p>
    </div>
}
