@using Questionnaire.Core.Web.Helpers
@model Main.Core.View.Question.CompleteQuestionView
         
@{
    var answerGuid = Model.Answers.Length > 0 ? Model.Answers[0].PublicKey : Guid.NewGuid();
    var settings = ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings);
    settings.Add("onchange", "$(this.form).submit();");
    settings.Add("class", "geomask");
    var value = Model.Answers.Length > 0 ? Model.Answers[0].AnswerValue : "";
}
@using (Html.BeginCollectionItem("Answers", true, answerGuid))
{
    @Html.Hidden("Parent", Model.PublicKey)
    @Html.Hidden("PublicKey", answerGuid)
    @Html.Hidden("Selected", true)
    <div class="answer">
        @Html.TextBox("AnswerValue", value, settings)
        <p class="help-block"> Latitude & Longitude separated by semicolon</p>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.geomask').inputmask('99.9[99999];99.9[99999]', { });
            });
        </script>

    </div>
}
