@using Questionnaire.Core.Web.Helpers
@model Main.Core.View.Question.CompleteQuestionView
@{ ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings).Add("onclick", "MultySelectChangeStyles(this);$(this.form).submit();"); }
<ul class="btn-group-vertical">
    @foreach (var item in Model.Answers)
    {
        using (Html.BeginCollectionItem("Answers", true, item.PublicKey))
        {
            var selectedClass = item.Selected ? "btn-primary" : "";
        <li class="btn @selectedClass">
            <label class="checkbox">
                @Html.CheckBox("Selected", item.Selected, (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)
                @{ Html.RenderPartial(string.Format("~/Views/Answer/answerView/_{0}.cshtml", item.AnswerType), item); }
                @Html.Hidden("Parent", Model.PublicKey)
                @Html.Hidden("PublicKey", item.PublicKey)
            </label>
        </li>
        }
    }
</ul>
