@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Answer
@model RavenQuestionnaire.Core.Views.Question.CompleteQuestionView
@{
    var answerGuid = Model.Answers.Length > 0 ? Model.Answers[0].PublicKey : Guid.NewGuid();
}
@using (Html.BeginCollectionItem("Answers", true, answerGuid))
{
    ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings).Add("onchange", "$(this.form).submit();");
    string tbClientId = "#" + Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId("AnswerValue");

    @Html.Hidden("PublicKey", answerGuid)
    @Html.Hidden("Selected", true)
    @Html.Hidden("QuestionId", Model.PublicKey)
    <div class="answer">
        @Html.TextBox("AnswerValue", Model.Answers.Length > 0 ? Model.Answers[0].AnswerValue : null, (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)
    </div>

    <script>
        $(document).ready(function () {
            $('@tbClientId').numeric();
        });
    </script>
}
