@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Answer
@model RavenQuestionnaire.Core.Views.Question.CompleteQuestionView
@{ ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings).Add("onclick", "$(this.form).submit();"); }
@using (Html.BeginCollectionItem("Answers", true, Model.PublicKey))
{
    @Html.Hidden("QuestionId", Model.PublicKey)
    <ul class="btn-group-vertical">
        @foreach (var item in Model.Answers)
        {
            var selectedClass = ((CompleteAnswerView)item).Selected ? "btn-primary" : "";
            <li class="btn @selectedClass ">
                <label class="radio">
                    @Html.RadioButton("PublicKey", item.PublicKey, ((CompleteAnswerView)item).Selected, (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)
                    @Html.Hidden("Selected", true)
                    @{ Html.RenderPartial(string.Format("~/Views/Answer/answerView/_{0}.cshtml", item.AnswerType), item); }
                </label>
            </li>
        }
    </ul>
}
