@using Questionnaire.Core.Web.Helpers
@model Main.Core.View.Question.CompleteQuestionView
@{
    var answerGuid = Model.Answers.Length > 0 ? Model.Answers[0].PublicKey : Guid.NewGuid();
    ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings).Add("onchange", "$(this.form).submit();");
}
@using (Html.BeginCollectionItem("Answers", true, answerGuid))
{
    @Html.Hidden("Parent", Model.PublicKey)
    @Html.Hidden("PublicKey", answerGuid)
    @Html.Hidden("Selected", true)
    <div class="answer">
        @Html.TextBox("AnswerValue", Model.Answers.Length > 0 ? (Model.Answers[0]).AnswerValue : string.Empty, (IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings)
    </div>

}