@using WB.UI.Headquarters.Resources.Questionnaires
@{
    ViewBag.Title = IndexPageResources.PageTitle;
}

<div class="container well-sm">
    <h2>@ViewBag.Title</h2>
    
    <div class="well-sm">
        <button class="btn btn-default">Import questionnaire</button>
    </div>
</div>


