@using WB.UI.Headquarters.Resources.Questionnaires
@{
    ViewBag.Title = IndexPageResources.PageTitle;
}
@model WB.Core.SharedKernels.DataCollection.Views.Questionnaire.BrowseItem.QuestionnaireBrowseView

<div class="container well-sm" ng-app="questionnaires">
    <div class="page-header">
        <h1>Questionnaires</h1>
    </div>
    <div class="row bottom-buffer">
        @Html.ActionLink("Import", "Import", "Questionnaires", null, new {@class="btn btn-default"})
    </div>
    <div class="row">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th></th>
                    <th>Export Data</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @item.Title
                            
                            <span class="badge">ver. @item.Version</span>
                        </td>
                        <td class="buttons">
                            <a href="#" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-th"></span>
                                Batch upload
                            </a>
                            <a href="@Url.Action("TakeNew", "Interviews", new {id = item.QuestionnaireId})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-th-list"></span>
                                New Interview
                            </a>
                        </td> 
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-success btn-sm" href="#">
                                    <span class="glyphicon glyphicon-download"></span>
                                    CSV
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


