@using WB.UI.Headquarters.Resources.Questionnaires
@{
    ViewBag.Title = IndexPageResources.PageTitle;
}

<div class="container well-sm" ng-app="questionnaires">
    <h1>@ViewBag.Title</h1>

    @Html.ActionLink("Import template", "Import", "Template")

</div>


