.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
    margin-top: 3px;
}

.bootstrap-select > .btn {
    background-color: #fff;
    width: 100%;
    text-align: left;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    font-weight: normal;
    color: #c1c7cb;
    border: none;
}

.bootstrap-select.btn-group .btn .caret {
    background: url('../i/dropdown-arrow.png') center center no-repeat;
    width: 19px;
    height: 12px;
    margin: 0;
    border: none;
    margin-top: -6px;
}

.dropup.bootstrap-select.btn-group .btn .caret {
    background: url('../i/dropup-arrow.png') center center no-repeat;
}


.bootstrap-select .dropdown-menu {
    border: 2px solid #dbdfe2;
    top: -4px;
}

.bootstrap-select.btn-group .dropdown-menu dt {
    font-family: "Lucida Console", Monaco, monospace;
    color: #c1c7cb;
    font-weight: normal;
}

.bootstrap-select.btn-group .dropdown-menu li small {
    display: none;
}

.bootstrap-select.btn-group .btn .filter-option small {
    display: block;
}