<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

    <Bundle Name="SurveySolutions"
            Version="$(var.SurveySolutionsVersion)"
            Manufacturer="The World Bank"
            UpgradeCode="D101A3BD-9921-4BBC-8F13-2B496A721317" >

        <bal:Condition Message="This application requires Windows Server 2012 R2 x64.">
            (VersionNT64 &gt;= v6.3) 
        </bal:Condition>
        
        <!--OR WixBundleAction = 3-->

        <util:ProductSearch 
            Id="OldProductSearch" 
            UpgradeCode="0C543B8A-9023-4486-89C9-421D875F5AFA" 
            Variable="OldProductInstalled" 
            Result="state"/>

        <bal:Condition Message="Please uninstall previous version of Survey Solutions.">
            (OldProductInstalled = 2)
        </bal:Condition>

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" >
            <bal:WixStandardBootstrapperApplication 
                LicenseUrl=""
                LogoFile="img\logo-50.bmp"
                LogoSideFile="img\logo-50.bmp"
                ShowVersion="yes"
                SuppressOptionsUI="yes"/>
            
        <!--SuppressRepair="yes"-->
        
        </BootstrapperApplicationRef>
        
        <Chain>
            <PackageGroupRef Id="NetFx471WebLocal" />

            <RollbackBoundary />

            <MsiPackage Id="SurveySolutionsPackage"
              Cache="no"
              Compressed="yes"
              DisplayInternalUI="yes"
              Vital="yes"
              InstallCondition="VersionNT64"
              SourceFile="$(var.SurveySolutions.TargetPath)" >
            </MsiPackage>
        </Chain>
    </Bundle>
    
    <?define NetFx471MinRelease = 461308 ?>
    
    <Fragment>
        <PropertyRef Id="WIXNETFX4RELEASEINSTALLED" />
        <Property Id="WIX_IS_NETFRAMEWORK_471_OR_LATER_INSTALLED" Secure="yes" />
        <SetProperty Id="WIX_IS_NETFRAMEWORK_471_OR_LATER_INSTALLED" Value="1" After="AppSearch">
            WIXNETFX4RELEASEINSTALLED >= "#$(var.NetFx471MinRelease)"
        </SetProperty>
    </Fragment>

    <Fragment>
        <WixVariable Id="NetFx471WebDetectCondition" Value="NETFRAMEWORK45 &gt;= $(var.NetFx471MinRelease)" Overridable="yes" />
    
        <util:RegistrySearchRef Id="NETFRAMEWORK45"/>
    
        <PackageGroup Id="NetFx471WebLocal">
            <ExePackage Id="NetFx471WebLocal"
                    InstallCommand="/passive /showrmui /norestart /ChainingPackage &quot;[WixBundleName]&quot;"
                    PerMachine="yes"
                    Cache="no"
                    Compressed="yes"
                    Permanent="yes"
                    Vital="yes"
                    Name="NDP471-KB4033344-Web.exe"
                    SourceFile="redist\NDP471-KB4033344-Web.exe"
                    DetectCondition="!(wix.NetFx471WebDetectCondition)">
                <ExitCode Behavior="forceReboot" Value="1641" />
                <ExitCode Behavior="forceReboot" Value="3010" />
                <ExitCode Behavior="success" Value="0" />
            </ExePackage>
            <!--RepairCommand="/passive /showrmui /norestart /repair /ChainingPackage &quot;[WixBundleName]&quot;"
                    UninstallCommand="/uninstall /passive /showrmui /norestart /ChainingPackage &quot;[WixBundleName]&quot;"-->
        </PackageGroup>
    </Fragment>
</Wix>
