<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

    <Bundle Name="SurveySolutions Installation"
            Version="$(var.SurveySolutionsVersion)"
            Manufacturer="The World Bank"
            UpgradeCode="5189a6c7-c50d-4dc5-8205-7a3c78e289c9">

       <bal:Condition Message="This application only runs in Windows Server 2012 R2 or higher.">
            <![CDATA[Installed OR (VersionNT64 >= 603 AND MsiNTProductType > 1)]]>
        </bal:Condition>
        
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" >
            <bal:WixStandardBootstrapperApplication
               LicenseUrl="http://go.worldbank.org/OS6V7NIUD0"/>
        </BootstrapperApplicationRef>
        <Chain>
            <PackageGroupRef Id="NetFx462Web"/>

            <RollbackBoundary />

            <MsiPackage Id="SurveySolutionsPackage"
              Cache="no"
              Compressed="yes"
              DisplayInternalUI="yes"
              Vital="yes"
              InstallCondition="VersionNT64"
              SourceFile="$(var.SurveySolutions.TargetPath)" />
        </Chain>
    </Bundle>
</Wix>