<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>
    <Variable Name="WindowsDotNetHosting501InstallDir" Value="[ProgramFiles64Folder]dotnet\host\fxr\5.0.1" />
    <util:DirectorySearch Id="WindowsDotNetHosting501Installed" Path="[WindowsDotNetHosting501InstallDir]" Variable="WindowsDotNetHosting501Installed" Result="exists" />

    <WixVariable Id="WindowsDotNetHosting501InstalledDetectCondition" Value="WindowsDotNetHosting501Installed" Overridable="yes" />
    <WixVariable Id="WindowsDotNetHosting501InstalledInstallCondition" Value="" Overridable="yes" />

    <PackageGroup Id="WindowsDotNetHosting501">
      <ExePackage
          Name="dotnet-hosting-5.0.1-win.exe"
          InstallCommand="/install /quiet /norestart /log &quot;[WindowsDotNetHosting501Log]&quot;"
          RepairCommand="/repair /quiet /norestart /log &quot;[WindowsDotNetHosting501Log]&quot;"
          UninstallCommand="/uninstall /quiet /norestart /log &quot;[WindowsDotNetHosting501Log]&quot;"
          PerMachine="yes"
          DetectCondition="!(wix.WindowsDotNetHosting501InstalledDetectCondition)"
          InstallCondition="!(wix.WindowsDotNetHosting501InstalledInstallCondition)"
          Vital="yes"
          Permanent="yes"
          Protocol="burn"
          DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/b6271a4b-db02-4245-bf99-974ea96b7ca3/29389344a55c6792bd4e717a254168a2/dotnet-hosting-5.0.1-win.exe"
          LogPathVariable="WindowsDotNetHosting501Log"
          Compressed="no">
        <!-- heat.exe payload "dotnet-hosting-3.1.1-win.exe" -o "dotnet-hosting.wxs" -->
       <RemotePayload CertificatePublicKey="3756E9BBF4461DCD0AA68E0D1FCFFA9CEA47AC18" 
                      CertificateThumbprint="2485A7AFA98E178CB8F30C9838346B514AEA4769" 
                      Description="Microsoft .NET Core 5.0.1 - Windows Server Hosting" 
                      Hash="FC76A6E09C6F667C9569472404DBB99948468089" 
                      ProductName="Microsoft .NET Core 5.0.1 - Windows Server Hosting" 
                      Size="66644920" Version="5.0.1.20601" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>
