<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>
    <Variable Name="WindowsDotNetHosting311InstallDir" Value="[ProgramFiles64Folder]dotnet\host\fxr\3.1.7" />
    <util:DirectorySearch Id="WindowsDotNetHosting311Installed" Path="[WindowsDotNetHosting311InstallDir]" Variable="WindowsDotNetHosting311Installed" Result="exists" />

    <WixVariable Id="WindowsDotNetHosting311InstalledDetectCondition" Value="WindowsDotNetHosting311Installed" Overridable="yes" />
    <WixVariable Id="WindowsDotNetHosting311InstalledInstallCondition" Value="" Overridable="yes" />

    <PackageGroup Id="WindowsDotNetHosting317">
      <ExePackage
          Name="dotnet-hosting-3.1.7-win.exe"
          InstallCommand="/install /quiet /norestart /log &quot;[WindowsDotNetHosting311Log]&quot;"
          RepairCommand="/repair /quiet /norestart /log &quot;[WindowsDotNetHosting311Log]&quot;"
          UninstallCommand="/uninstall /quiet /norestart /log &quot;[WindowsDotNetHosting311Log]&quot;"
          PerMachine="yes"
          DetectCondition="!(wix.WindowsDotNetHosting311InstalledDetectCondition)"
          InstallCondition="!(wix.WindowsDotNetHosting311InstalledInstallCondition)"
          Vital="yes"
          Permanent="yes"
          Protocol="burn"
          DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/21a5322f-cf9c-40e0-af41-4cdf14b3fb17/ff1390906525099bcd6b322279e09938/dotnet-hosting-3.1.7-win.exe"
          LogPathVariable="WindowsDotNetHosting311Log"
          Compressed="no">
        <!-- heat.exe payload "dotnet-hosting-3.1.1-win.exe" -o "dotnet-hosting.wxs" -->
        <RemotePayload 
            CertificatePublicKey="F7E39D0BEF5615C1D09E695629E32600EE79639C" 
            CertificateThumbprint="A5BCE29A2944105E0E25B626120264BB03499052" 
            Description="Microsoft .NET Core 3.1.7 - Windows Server Hosting" 
            Hash="A1835679F13E27EF274801A3CC370BA4625240B2" 
            ProductName="Microsoft .NET Core 3.1.7 - Windows Server Hosting" 
            Size="64699648" Version="3.1.7.20372" />
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>
