@{
    ViewBag.Title = Pages.Error_Title;
    Layout = "_LayoutForErrorPage.cshtml";
}

<h1>The application has encountered an unknown error :(</h1>
<div class="description">
    Please contact system administrator <br /> to resolve this issue
</div>
