@using WB.Core.SharedKernels.SurveyManagement.Web.Code
@model object
@{
    ViewBag.Title = MapReport.MapReportTitle;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@section Scripts{
    <script type="text/javascript" async defer
            src="@AppSettings.Instance.GoogleMapApiBaseUrl/maps/api/js?key=@AppSettings.Instance.GoogleMapApiKey&sensor=false">
    </script>
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
