@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model WB.UI.Headquarters.Models.Reports.StatusDurationModel
@{
    ViewBag.Title = Pages.StatusDuration;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
<div id="vueApp" configuration="@JsonConvert.SerializeObject(Model, Formatting.None, new JsonSerializerSettings
                                {
                                    ContractResolver = new CamelCasePropertyNamesContractResolver()
                                })"></div>
