@model WB.UI.Headquarters.Models.Reports.StatusDurationModel
@{
    ViewBag.Title = MainMenu.SurveyStatistics;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@Html.RenderHqConfig(Model)
<div id="vueApp"></div>
