@model object
@{
    ViewBag.Title = MainMenu.SurveyStatistics;
    ViewBag.ActivePage = MenuItem.SurveyStatistics;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@Html.RenderHqConfig(Model)
<div id="vueApp"></div>
