@model WB.UI.Headquarters.Models.Reports.TeamsAndStatusesModel
@{
    ViewBag.Title = Reports.Report_Team_Members_and_Statuses;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@Html.RenderHqConfig(Model)
<div id="vueApp"></div>
