@model WB.UI.Headquarters.Models.Reports.TeamsAndStatusesModel
@{
    ViewBag.Title = Pages.InterviewersAndDevicesTitle;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@Html.RenderHqConfig(Model)
<div id="vueApp"></div>
