@using RavenQuestionnaire.Core.Views.User
@model InterviewerGroupView

    @foreach (var item in Model.Items)
    {
        <tr>            
            @foreach (var question in item.FeaturedQuestions)
            {
                <td>@question.AnswerValue</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
        </tr>
    }