
@model Core.Supervisor.Views.Interviewer.InterviewerGroupView

    @foreach (var item in Model.Items)
    {
        <tr>            
            @foreach (var question in item.FeaturedQuestions)
            {
                <td>@question.GetAnswerString()</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
        </tr>
    }