@using RavenQuestionnaire.Core.Views.Interviewer
@model InterviewerStatisticsView
@foreach (var item in Model.Items)
{
    <tr>
        <td>        
            <a href="@Url.Action("Assigments","Survey", new {id = item.TemplateId})">@item.Title</a>
        </td>
        @foreach (var header in Model.Headers)
        {
            <td>@item.Counters[header.Key]</td>
        }
    </tr>
}