<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:localization="http://schemas.microsoft.com/wix/2006/localization">
    
    <Product Id="EE5F1DD2-13D8-442C-9978-8E8918EA789D" 
             Name="SurveySolutions" 
             Language="1033" 
             Version="1.0.0.0" 
             Manufacturer="The World Bank" 
             UpgradeCode="5189a6c7-c50d-4dc5-8205-7a3c78e289c9">
        
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

        <!--not supported in wix 3.10 should be in 3.11 and 4-->
        <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED" />
        
        <Condition Message="This application requires .NET Framework 4.6.2 Please install the .NET 4.6.2 Framework then run this installer again. You may get it here: https://www.microsoft.com/en-us/download/details.aspx?id=53345">
            <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
        </Condition>
            
        
        <Condition Message="This application only runs in Windows Server 2008 R2  or higher.">
            <![CDATA[Installed OR (VersionNT >= 602)]]> <!--for dev win 10 supported-->
            
            <!--<![CDATA[Installed OR ((VersionNT = v6.1 AND ServicePackLevel >= 1 AND NTProductType <= 3) OR (VersionNT = v6.2 AND NTProductType <= 3) OR (VersionNT = v6.3 AND NTProductType <= 3))]]>-->
        </Condition>

        <!--<Property Id="CONNSTRING"/>-->
        <Property Id="SITEPORT" Value="9700"></Property>
        
        <Property Id="CONNSTRING" Value="Server=127.0.0.1;Port=5432;User Id=postgres;Password=Password;Database=SuperHQ;"></Property>
        
        <UI>

            <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
            <UIRef Id="WixUI_InstallDir" />

            <DialogRef Id="ConnectionStringDlg" />

            <!--Override original steps-->
            <!--Remove license agreement step-->
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">NOT Installed</Publish>
            <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            
            <!--Redirect to new connection string step-->
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="ConnectionStringDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>

            <!--Custom step-->
            <Publish Dialog="ConnectionStringDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>
            <Publish Dialog="ConnectionStringDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

            <!--Override original step-->
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ConnectionStringDlg" Order="1">NOT Installed</Publish>

            <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="SurveySolutions has been succesfully installed." />

        </UI>
        
        
        <UIRef Id="WixUI_InstallDir" />
        
        <Property Id="IISInstallCommandProperty" Value="/Online /Enable-Feature /All /FeatureName:IIS-WebServerRole /FeatureName:IIS-ASPNET45 /FeatureName:IIS-ManagementConsole /FeatureName:IIS-ISAPIFilter /FeatureName:IIS-NetFxExtensibility45 /FeatureName:NetFx4Extended-ASPNET45 /FeatureName:IIS-WebSockets /FeatureName:IIS-WindowsAuthentication /FeatureName:IIS-ManagementService /FeatureName:IIS-HttpCompressionDynamic"/>
                
        <!-- Use DISM to setup IIS (see also http://support.microsoft.com/kb/2736284) -->
        <!-- Build path to dism.exe (full path is important, just calling dism.exe without path will fail) -->
        <CustomAction Id="InstallIISSetProperty" 
                      Property="InstallIIS" 
                      Execute="immediate"
                      Value="&quot;[System64Folder]dism.exe&quot; [IISInstallCommandProperty]" />
        <!-- Call dism.exe quietly (without showing command prompt).
                 (see also http://wixtoolset.org/documentation/manual/v3/customactions/qtexec.html) -->
        <CustomAction Id="InstallIIS" 
                      BinaryKey="WixCA" 
                      DllEntry="CAQuietExec64"
                      Execute="deferred" 
                      HideTarget="no" 
                      Return="ignore" 
                      Impersonate="no"/>

        <InstallExecuteSequence>

            <Custom Action="InstallIISSetProperty" After="CostFinalize">
                <![CDATA[NOT Installed]]>
            </Custom>
            <Custom Action="InstallIIS" Before="WriteRegistryValues">
                <![CDATA[NOT Installed]]>
            </Custom>

        </InstallExecuteSequence>
        
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        
        <MediaTemplate  EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="SurveySolutions" Level="1">
        <ComponentGroupRef Id="ProductComponents" />
          
        <ComponentGroupRef Id="SettingsUpdate" />
        </Feature>
    </Product>
    
    
            
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="INSTALLFOLDER" >
                    <Directory Id="INSTALLSITEFOLDER" Name="Site" ComponentGuidGenerationSeed="AA5F1DD2-13D8-442C-9978-8E8918EA789D" >
                        <Directory Id="CONFIGFOLDER" Name="Configuration">
                        </Directory>
                    </Directory>
            </Directory>
        </Directory>
        
        <SetDirectory Id='INSTALLFOLDER' Value='[WindowsVolume]SurveySolutions' />
    
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLSITEFOLDER">
           
                <Component Id="cmpAppPool" Guid="{CBA59BDC-989C-4F77-B0F9-861AAB8E0DEB}" KeyPath="yes" Win64="yes">
                    
                    <iis:WebAppPool
                        Id="SurveySolutionsSiteAppPool"
                        Name="SurveySolutionsSiteAppPool"
                        ManagedRuntimeVersion="v4.0"
                        ManagedPipelineMode="integrated"
                        Identity="applicationPoolIdentity" />

                    <iis:WebSite Id="webSite" SiteId="*" Description="SurveySolutionsSite" Directory="INSTALLSITEFOLDER" ConfigureIfExists="no">
                        <iis:WebAddress Id="webSite" Port="[SITEPORT]" />
                        <iis:WebDirProperties Id="webSite" AnonymousAccess="no" WindowsAuthentication="yes" />
                        <iis:WebApplication Id="webSite" WebAppPool="SurveySolutionsSiteAppPool" Name="SyrveySolutionsWebApplication" />

                        <iis:MimeMap Id="MIME_OTF" Extension=".otf" Type="application/x-font-otf" />
                        <iis:MimeMap Id="MIME_WOFF" Extension=".woff" Type="application/x-font-woff" />

                        <iis:MimeMap Id="MIME_APK" Extension=".apk" Type="application/vnd.android.package-archive" />
                    </iis:WebSite>

                </Component>
                
                <!--add harvested project output-->
            
                <ComponentGroupRef Id="ProductFilesComponentGroup"></ComponentGroupRef>
                
        </ComponentGroup>
        
        <ComponentGroup Id="SettingsUpdate" Directory="CONFIGFOLDER">
                <Component Id="ConfigUpdate" Guid="035F0D52-04C7-4DB4-A9C7-C447F405C2EA">
                <CreateFolder/>
                <File Source="Headquarters.Web.config" PatchIgnore="yes"/>

                <!--<connectionStrings>
                           <add name="Postgres" connectionString="Persist Security Info=true;Server=prod-db.mysurvey.solutions;Port=5432;User Id=brpdsa;Password=Qwerty1234;Database=brpdsa;ApplicationName=brpdsa" />
                </connectionStrings>-->
                <util:XmlFile Id="CreateElementConnectionStrings" 
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="createElement" 
                              ElementPath="//configuration"
                              Name="connectionStrings" Sequence='1'/>

                <util:XmlFile Id="CreateElementXml1" 
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="createElement" 
                              ElementPath="//configuration/connectionStrings"
                              Name="add" Sequence='2'/>
                
                <util:XmlFile Id="UpdateElementXml1"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="setValue"
                              ElementPath="//configuration/connectionStrings/add"
                              Name="name"
                              Value="Postgres"
                              Sequence='3'/>
                
                <util:XmlFile Id="UpdateElementValueXml1"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="setValue"
                              ElementPath="//configuration/connectionStrings/add"
                              Name="connectionString"
                              Value="[CONNSTRING]"
                              Sequence='4'/>
                
                <!--<add key="EventStore.Provider" value="Postgres" />-->
                <util:XmlFile Id="CreateElementXml2"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="createElement"
                              ElementPath="//configuration/appSettings"
                              Name="add" Sequence='5'/>

                <util:XmlFile Id="UpdateElementXml2"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="setValue"
                              ElementPath="//configuration/appSettings/add[\[]not(@key)[\]]"
                              Name="key"
                              Value="EventStore.Provider"
                              Sequence='6'/>

                <util:XmlFile Id="UpdateElementValueXml2"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="setValue"
                              ElementPath="//configuration/appSettings/add[\[]@key='EventStore.Provider'[\]]"
                              Name="value"
                              Value="Postgres"
                              Sequence='7'/>   
                    
                <!--<add key="DataStorePath" value="..." />-->
                <util:XmlFile Id="CreateElementXml3"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="createElement"
                              ElementPath="//configuration/appSettings"
                              Name="add" Sequence='8'/>

                <util:XmlFile Id="UpdateElementXml3"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="setValue"
                              ElementPath="//configuration/appSettings/add[\[]not(@key)[\]]"
                              Name="key"
                              Value="DataStorePath"
                              Sequence='9'/>

                <util:XmlFile Id="UpdateElementValueXml3"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="setValue"
                              ElementPath="//configuration/appSettings/add[\[]@key='DataStorePath'[\]]"
                              Name="value"
                              Value="[INSTALLFOLDER]Data_Site"
                              Sequence='10'/>
            
                <!--<add key="DesignerAddress" value="https://solutions.worldbank.org" />-->
                <util:XmlFile Id="CreateElementXml4"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="createElement"
                              ElementPath="//configuration/appSettings"
                              Name="add" Sequence='11'/>

                <util:XmlFile Id="UpdateElementXml4"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="setValue"
                              ElementPath="//configuration/appSettings/add[\[]not(@key)[\]]"
                              Name="key"
                              Value="DesignerAddress"
                              Sequence="12"/>

                <util:XmlFile Id="UpdateElementValueXml4"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="setValue"
                              ElementPath="//configuration/appSettings/add[\[]@key='DesignerAddress'[\]]"
                              Name="value"
                              Value="https://solutions.worldbank.org"
                              Sequence='13'/>
                <!--<add key="WebInterviewEnabled" value="true" />-->
                <util:XmlFile Id="CreateElementXml5"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="createElement"
                              ElementPath="//configuration/appSettings"
                              Name="add" Sequence='14'/>

                <util:XmlFile Id="UpdateElementXml5"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="setValue"
                              ElementPath="//configuration/appSettings/add[\[]not(@key)[\]]"
                              Name="key"
                              Value="WebInterviewEnabled"
                              Sequence="15"/>

                <util:XmlFile Id="UpdateElementValueXml5"
                              File="[CONFIGFOLDER]\Headquarters.Web.config"
                              Action="setValue"
                              ElementPath="//configuration/appSettings/add[\[]@key='DesignerAddress'[\]]"
                              Name="value"
                              Value="true"
                              Sequence='16'/>
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <UI>
        <Dialog Id="ConnectionStringDlg" Width="370" Height="270" Title="SurveySolutions">
            
            <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
            <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
            <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
            </Control>

            <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ConnectionStringDlgDescription)" />
            
            <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Connection string" />
            <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
            <!--Text="!(loc.ConnectionStringBannerBitmap)"-->
            <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
            <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

            <Control Id="connStringTextbox" Type="Edit" X="20" Y="100"  Height="18" Width="320" Property="CONNSTRING"  />

        </Dialog>
        </UI>
    </Fragment>
</Wix>
