@using WB.UI.Headquarters.Code
@model WB.UI.Headquarters.Models.Admin.EmailProviders
@{
    ViewBag.Title = Settings.Settings_Title;
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
