@using WB.UI.Headquarters.Code
@model object
@{
    ViewBag.Title = Settings.Settings_Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
