@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Answer
@model AnswerView
<div class="answer">
    <p>
        @Model.Index) @Html.DisplayFor(modelItem => Model.AnswerText)
    </p>
</div>
