@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Answer
@model AnswerView
<div class="answer">
    <p>
        @Model.Index)
        @if (!string.IsNullOrEmpty(Model.AnswerValue))
        {
            @Model.AnswerValue;
                              <b> = </b>
        }
        
        @Html.DisplayFor(modelItem => Model.AnswerText)
    </p>
</div>
