@using RavenQuestionnaire.Core.Views.Answer
@using RavenQuestionnaire.Web.Utils
@model Main.Core.View.Answer.AnswerView

<script language="javascript">
    function GetData() {
        var collectionId = $("#NameCollection").val();
        var questionId = $("#Parent").val();
        var url = $('#check').attr('url');
        url = url + "?questionId="+questionId+"&NameCollection=" + collectionId;
        $.get(url, null,
            function (data) {
                $('#divNewForm').html(data);
            });
    }
</script>

<div id = "divNewForm">
     <div class="control-group">
         @Html.LabelFor(model => Model.NameCollection, new { @class = "control-label" })
         <div class="controls">
             @Html.DropDownListFor(model => model.NameCollection, (SelectList)ViewBag.Collection)                                          
             @Html.HiddenFor(model => Model.Parent)                      
             <input id="check" onclick="GetData()" type="button" url="@Url.Action("FillAnswers", "Answer")" value="Fill answers" class="btn btn-mini btn-danger"/>                   
         </div>
     </div>       
 </div>
