@using Questionnaire.Core.Web.Helpers
@model Main.Core.View.Question.QuestionView
@{
    if (ViewBag.Images != null)
    {
        var images = ViewBag.Images as SelectList;
        this.ViewBag.Images = images;
    }
}
@foreach (var item in Model.Answers)
{
    Html.RenderPartial("~/Views/Answer/_EditRow.cshtml", item);
}
<div id="divNewAnswer">
</div>
@Ajax.ActionLink("Add Answer", "Create", "Answer", new { questionPublicKey = Model.PublicKey }, new AjaxOptions
                                                                                                {
                                                                                                    UpdateTargetId = "divNewAnswer",
                                                                                                    InsertionMode = InsertionMode.InsertAfter
                                                                                                })
