@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Answer
@using RavenQuestionnaire.Core.Views.Question
@model QuestionView
@{
    if (ViewBag.Images != null)
    {
        var images = ViewBag.Images as SelectList;
        this.ViewBag.Images = images;
    }
}
@foreach (var item in Model.Answers)
{
    Html.RenderPartial("~/Views/Answer/_EditRow.cshtml", item);
}
<div id="divNewAnswer">
</div>
<div class="control-group">
    <div class="controls">
        @Ajax.ActionLink("Add Answer", "Create", "Answer", new { questionPublicKey = Model.PublicKey }, new AjaxOptions
                                                                                                {
                                                                                                    UpdateTargetId = "divNewAnswer",
                                                                                                    InsertionMode = InsertionMode.InsertAfter
                                                                                                })
    </div>
</div>
