@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Answer
@model CompleteAnswerView
    @Html.Hidden("QuestionPublicKey", Model.QuestionId)
<div class="answer">
    <span>
        @Html.RadioButton("PublicKey", Model.PublicKey, Model.Selected)</span>
    @Model.AnswerText
</div>
