#canvas
{
	min-height: 900px;
}
.canvas
{
	position: relative;
	border: 1px solid red;
	margin: 0 auto;
	width: 80%;
}

.w
{
	width: 12em;
	position: absolute;
	z-index: 4;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	cursor: move;
	text-align: center;
	
}
.h {
	font-size: 14px;
	padding: 5px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-border-radius: 0.5em 0.5em 0 0;
	border-radius:  0.5em 0.5em 0 0;
}

.group
{
	border: 1px solid #5BB75B;
	background-color: rgba(250, 255, 255, 0.7);
}
.group .h {
	background: #DFF0D8;
	color: #468847;
	border-bottom: 1px solid #D6E9C6;
}
.question
{
	border: 1px solid #0069D6;
	background-color: rgba(250, 255, 255, 0.7);
}
.question .h {
	background: #D9EDF7;
	color: #3A87AD;
	border-bottom: 1px solid #BCE8F1;
}

.wi
{
	margin: 1em;
	margin-bottom: 30px;
}
.canvas.w
{
	width: 80%;
	padding: 0;
	padding-bottom: 20px;
}
.initialized
{
	background-color: white;
	opacity: 0.8;
	padding: 0.3em;
	z-index: 999;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	border: 1px solid #0069D6;
}
.ep
{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -8px;
	width: 16px;
	height: 16px;
	background-color: #C7EEFE;
	cursor: pointer;
}
.dragHover
{
	box-shadow: 2px 2px 19px #0064CD;
	-o-box-shadow: 2px 2px 19px #0064CD;
	-webkit-box-shadow: 2px 2px 19px #0064CD;
	-moz-box-shadow: 2px 2px 19px #0064CD;
}
.group.dragHover
{
	box-shadow: 2px 2px 19px #5BB75B;
	-o-box-shadow: 2px 2px 19px #5BB75B;
	-webkit-box-shadow: 2px 2px 19px #5BB75B;
	-moz-box-shadow: 2px 2px 19px #5BB75B;
}
.highlight-error
{
	box-shadow: 2px 2px 19px red;
	-o-box-shadow: 2px 2px 19px red;
	-webkit-box-shadow: 2px 2px 19px red;
	-moz-box-shadow: 2px 2px 19px red;
}
