.text-block {
    color: #333333;
    display: block;
    margin-bottom: 0;
    margin-top: 5px;
}
.inline-modal {
	position: relative; 
	top: 0; 
	left: auto; 
	margin: 0 auto;
	max-height: 999999px;
	z-index: 1;
}
#main {
    padding-top: 10px;
	position: relative;
}
.question {
  padding-left: 5px;
  border-left: 3px solid #bfbfbf;
  margin-bottom: 15px;
}
.answers {
  margin-left: 20px;
}
