body
{
    padding-top: 40px;
}
.pull-right #menu{
    width: 300px;
}

.pull-right #menu li {
    float: right;
}

#main .container-fluid
{
	padding: 0;
}

.text-block
{
	color: #333333;
	display: block;
	margin-bottom: 0;
	margin-top: 5px;
}
.inline-modal
{
	position: relative;
	top: 0;
	left: auto;
	margin: 0 auto;
	max-height: 999999px;
	z-index: 1;
}
.scroll-y
 {
 	
 }
#main
{
	padding-top: 10px;
	position: relative;
}
#page{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
    }
.group {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
}
.question
{
	padding: 5px;
	border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 5px;
}
.question-disabled
{
	  opacity: 0.5;
  filter: alpha(opacity=50);
}
.question-header {
	padding: 10px;
	padding-left: 0;
}
.question [rel="popover"]
{
	border-bottom: 1px dotted #333333;
}
.answers
{
	margin-left: 20px;
}

.display-group, .display-question, .display-answer
{
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	
}
.display-question, .display-answer {
	margin: 10px 0;
}
.display-group
{
	border: 1px solid #5BB75B;
	background-color: rgba(250, 255, 255, 0.7);
	margin: 10px 0;
}
.display-group:hover {
	 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91,183,91,0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91,183,91,0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91,183,91,0.6);
}
.display-question
{
	border: 1px solid #0069D6;
	background-color: rgba(250, 255, 255, 0.7);
}
.display-question:hover {
	 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	background: rgba(82, 168, 236, 0.07);
}
.display-answer {
	border: 1px solid #FBEED5;
	background-color: rgba(255, 255, 255, 0.7);
	margin-top: 0;
}
.display-group .group-header, .display-question .question-header, .display-answer .answer-header
{
	padding: 5px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-border-radius: 0.5em 0.5em 0 0;
	border-radius: 0.5em 0.5em 0 0;
}
.display-group .group-header
{
	background: #DFF0D8;
	border-bottom: 1px solid #D6E9C6;
}

.display-question .question-header
{
	background: #D9EDF7;
	border-bottom: 1px solid #BCE8F1;
}
.display-question:hover .question-header {
	background: rgb(152,206,233);
	border-bottom: 1px solid #7bd2e3;
}
.display-answer .answer-header {
	background-color: #FCF8E3;
	border-bottom: 1px solid #FBEED5;
}
.display-group .group-header h3, .display-question .question-header h3
{
	font-size: 14px;
}
.group-header h3,
.question-header h3,
.answer-header h3
{
	padding: 0;
	margin: 0;
	line-height: 22px;
}
.display-group .group-header h3
{
	color: #468847;
	
}
.display-group .group-body
{
	padding: 5px 7px;
}
.group-body .alert {
	text-align: center;
	margin-bottom: 3px;
}
.display-question .question-header h3
{
	color: #3A87AD;
}
.display-question:hover .question-header h3
{
	color: #265972;
}
.question-header .btn {
	margin-bottom: 2px;
}
.question-header .btn i{
	margin-top: -1px;
}
.display-answer .answer-header h3 {
	color: #C09853;
}
.question-body, .answer-body {
	padding: 5px;
}

.question-body .alert {
	text-align: center;
	margin-bottom: 3px;
}

table td form, table td form input
{
	margin-bottom: 0;
}

.subnav
{
	overflow: hidden;
	width: 100%;
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    margin-bottom: 10px;

}
.subnav-fixed
{
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
	border-color: #d5d5d5;
	border-width: 0 0 1px; /* drop the border on the fixed edges */
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
}
.subnav h2, .subnav h3
{
	margin: 0 20px;
}
.subnav .progress.progress-warning
{
	margin-bottom: 7px;
}
.progress-container
{
	padding-top: 4px;
}
.progress-wrap {
	margin: 0 10px;
	vertical-align: middle;
}
.well .form-actions {
	padding-bottom: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.question .btn-group
{
	margin-left: 0;
}
.answer .input-prepend input {
	margin-bottom: 0;
}
@media (max-width: 979px) 
{
	.subnav-fixed
	{
		top: 0;
	}
}
.btn-group-vertical{position:relative;margin-left:0;*zoom:1;*margin-left:.3em}
.btn-group-vertical:before,.btn-group-vertical:after{display:table;content:""}
.btn-group-vertical:after{clear:both}.btn-group-vertical:first-child{*margin-left:0}
.btn-group-vertical+.btn-group-vertical{margin-bottom:5px}
.btn-group-vertical .btn {
	margin-top:-1px;
	position:relative;
	float:none;
	display:block;
	text-align:left;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius: 0;
	padding: 0;
}
.btn-group-vertical .btn .radio, 
.btn-group-vertical .btn .checkbox{padding: 6px 10px 8px 28px;margin-bottom:0;}
.btn-group-vertical .btn div.radio input[type="radio"],
.btn-group-vertical .btn div.radio input[type="checkbox"] {
	margin-top: 6px;	
}
.btn-group-vertical .btn div.radio input[type="text"] {
	margin-bottom: 0;	
}
.btn-group-vertical .btn.btn-primary label{color:#fff;}
.btn-group-vertical .btn:first-child{
	margin-left:0;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
}
.btn-group-vertical .btn:last-child{-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px}
.btn-group-vertical .btn.large:first-child{margin-left:0;-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px}
.btn-group-vertical .btn.large:last-child,.btn-group-vertical .large.dropdown-toggle{-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px}
.btn-group-vertical .btn:hover,.btn-group-vertical .btn:focus,.btn-group-vertical .btn:active,.btn-group-vertical .btn.active{z-index:2}


.overlay{position:fixed;
         top:0;
         right:0;
         bottom:0;
         left:0;
         z-index:2080;
         /*background-color:#000;*/
         opacity:0.7;filter:alpha(opacity=70)}

.tabbable.tabs-left .span9.tab_content {
	margin-left: 0;
	width: 76.5957%
}
@media (min-width: 1200px) 
{
	.tabbable.tabs-left .span9.tab_content {
		width: 76.9231%
	}
}
@media (max-width: 767px) 
{
	.tabbable.tabs-left .span9.tab_content {
		width: auto;
		display: block;
		float: none;
	}
}
.questions-left {
	    display: inline-block;
    float: right;
    text-align: center;
}
.scroll-x {
	overflow-x: scroll;
}
scroll-y {
	overflow-y: scroll;
}
.btn-group .btn label {
	margin-bottom: 0;
}
.btn-group .btn.btn-primary label {
	color: #fff;
}

.col1 td
{
    visibility: hidden;
}
.col2 th
{
    visibility: hidden;
}
.col-wrap1
{
    width: 100%;
}
    
.col-wrap2
{
    width: 100%;
    margin-right: -100%;
    position: relative;
    left: 200px;
}
    
.col1
{
    float: left;
    width: 200px;
    margin-right: -100%;
    position: relative;
    left: -200px;
    border-right: 1px solid #DDDDDD;
}
.col1-content
{
    overflow: hidden;
}
.col2-content{
	overflow: hidden;
	margin-right: 200px;
}
#contentTableWrap {
	margin-left: -204px;
}
.propagated-table {
	width: auto!important;
}
.table-row-header {
	width: 184px!important;
}

.clear
{
    clear: both;
    font-size: 0;
    overflow: hidden;
}
    
.center
{
	text-align: center;
}
.galleria-errors
{
	display: none !important;
}
.thumbnail form {
	display: inline;
	margin-bottom: 0;
}
form {
	margin-bottom: 0;
}
/*.btn
{ padding: 7px;}
*/
.modal.gallery
{
    margin-left: -275px;
    width: 550px;
}
.modal.gallery .modal-body {
	max-height: 500px;
	padding-top: 5px;
}
a.btn {
	outline: none;
}
.preview img {
    max-height: 120px;
    max-width: 160px;
}
.thumbnail
{
	background: #FFFFFF;
    color: #333333;
    display: inline-block;
    -webkit-text-shadow: none;
	-moz-text-shadow: none;
    text-shadow: none;
}
.hidden-input
{
	background: transparent;
	border: 1px solid transparent;
	box-shadow: none;
}
.hidden-input:focus
{
	border:1px solid rgba(82, 168, 236, 0.8);
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
	outline:0;
	outline:thin dotted \9;
}



.bs-docs-sidenav {
	width: 228px;
  margin: 0 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}



/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .bs-docs-container {
    max-width: 970px;
  }
  .bs-docs-sidenav {
    width: 258px;
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* When affixed, space properly */
  .bs-docs-sidenav {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .bs-docs-sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }


}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }


}

.field-validation-error,
.control-label span  {
    color: red;
}