.ui-no-corners .ui-btn-corner-all
{
	border-radius: 0;
}
.splitview .ui-selectmenu .ui-header
{
	position: relative !important;
}
.splitview .page .ui-content
{
	top: 45px !important;
   
}

.ui-footer .ui-btn-left, .ui-footer .ui-btn-right
{
	top: -4px;
	position:absolute;
}
.nav-glyphish-example .ui-btn .ui-btn-inner
{
	padding-top: 12px !important;
	padding-bottom: 13px !important;
}
.nav-glyphish-example .ui-btn .ui-icon
{
	width: 30px !important;
	height: 30px !important;
	margin-top: -15px !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}
#dashboard .ui-icon
{
	background: url(img/bar-chart.png) 50% 50% no-repeat;
	background-size: 24px 22px;
}
#statistics-btn .ui-icon
{
	background: url(img/bar-chart.png) 50% 50% no-repeat;
	background-size: 29px 24px;
}
#complete .ui-icon
{
	background: url(img/lock.png) 50% 50% no-repeat;
	background-size: 20px 24px;
}

.ui-footer .ui-title
{
	 margin: 0.6em 0 0.8em;
}

.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-b, .ui-grid-b .ui-block-c
{
	width: 33.33333333%;
}
.ui-li.grid-header {
	padding-top: 5px;
	padding-bottom: 5px;
}
.grid-header h3 {
	margin: 0;
}
#main .dashboard-list  .ui-grid-b  .ui-block-a
{
	width: 20%;
}
#main .dashboard-list .ui-grid-b  .ui-block-b
{
	width: 46.6666666%;
}
#main .ui-block-c .ui-btn-inner
{
	padding: 0.6em 14px;
}
#main .answer-cell
{
	border: 1px solid #ccc;
	font-size: 16px;
    line-height: 1.4;
    outline: 0 none;
    padding: 0.4em;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	border-radius: 0.6em 0.6em 0.6em 0.6em;
	cursor: not-allowed;
	margin-right: 10px;
}
.navigation {
	
}
.navigation  h1.ui-title {
	text-align: left;
	margin-left: 15px;
	margin-right: 225px;
}
.navigation-btn-group {
	width: 215px;
	text-align: right;
}
.navigation-btn-group a
{
	display: inline-block;
	margin: 0;
	margin-top: 9px;
	margin-left: 5px;
}
.splited-button.ui-li-link-alt {
	width: 80px;
}
.splited-button.ui-li-link-alt .ui-btn-inner {
	
}
.splited-button.ui-li-link-alt .ui-btn{
	left: 5px;
	right: auto;
	 margin-top: -14px;
}
.splited-button.ui-li-link-alt .ui-btn-text{
	display: block;
    padding: 10px 10px 10px 30px;
}

#sidebar .ui-listview .ui-btn-text
{
	padding-right: 0;
}

#sidebar .ui-listview .ui-btn-text .ui-link-inherit 
{
	padding-right: 30px;
}
#sidebar  .ui-li-has-count .ui-li-count
{
	right: 10px;
}

.ui-header .ui-btn-left.breadcrumb, .ui-header .ui-btn-right.breadcrumb,
.breadcrumb
{
	position: relative;
	display: inline-block;
	margin: 0.5em 0 0 5px;
	top: -5px;
	left: auto;
	right: auto;
	max-width: 130px;
}
.ui-simpledialog-container .ui-header{
    position: relative;
}

.ui-listview-inset .ui-li.propagated-list-item {
	padding: 0;
}
.propagated-list-item  .ui-block-a {
	width: 100%;
}
.propagated-list-item  .ui-block-b {
	width: 35px;
	position: absolute;
	right: 0;
	border-left: 1px solid #CCCCCC;
	height: 100%;
}
.propagated-list-item  .ui-block-a a{
	color: #2F3E46 !important;
	text-decoration: none;
	padding: 0.9em 15px;
	display: block;
	margin-right: 35px;
}
.propagated-list-item  .ui-block-a a:hover{
	background: 			#dadada /*{c-bhover-background-color}*/;
	font-weight: bold;
	color: 					#101010 /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 1px /*{c-bhover-shadow-radius}*/ #fff /*{c-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ededed /*{c-bhover-background-start}*/), to( #dadada /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#ededed /*{c-bhover-background-start}*/, #dadada /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#ededed /*{c-bhover-background-start}*/, #dadada /*{c-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(#ededed /*{c-bhover-background-start}*/, #dadada /*{c-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(#ededed /*{c-bhover-background-start}*/, #dadada /*{c-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(#ededed /*{c-bhover-background-start}*/, #dadada /*{c-bhover-background-end}*/);
}
#dashboard-page .ui-li.divider .ui-li-count {
	right: 90px;
}
#sidebar .ui-content.with-footer
{
	margin-bottom: 40px;
}

