@using WB.Core.BoundedContexts.Headquarters.Services
@using WB.UI.Headquarters.Code
@model object
@{
    ViewBag.Title = Users.APIUsers;
}

@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
