@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@using WB.Core.BoundedContexts.Headquarters.Resources
@using WB.UI.Headquarters.Code
@{
    ViewBag.ActivePage = MenuItem.Teams;
    ViewBag.Title = Pages.CreateUser;
}

@section Scripts{
    @Html.RenderHqConfig((object)Model)
}
<div id="vueApp"></div>
