@using WB.Core.SharedKernels.SurveyManagement.Web.Models
@using WB.Core.BoundedContexts.Headquarters.Resources
@using WB.UI.Headquarters.Code
@{
    ViewBag.ActivePage = MenuItem.ManageAccount;
    ViewBag.Title = Strings.HQ_Views_DisableTwoFactorAuth_Title;
}

@section Scripts{
    @Html.RenderHqConfig((object)Model)
}
<div id="vueApp"></div>
