@model string

@{
    ViewBag.Title = Pages.Maintenance_Title;
    Layout = "~/Views/Shared/_NoAuthenticationLayout.cshtml";
}
<div class="well form-signin">
    <h2>@Pages.MaintenanceRebuild_Header</h2>

    <br />

    <h4>
        @Pages.Maintenance_RebuildDescription
        <br>
    </h4>


    <br />

    @section scripts{
        <script type="text/javascript">
            setTimeout(function () {
                window.location.href = '@this.Model';
            }, 10000);
        </script>
    }
</div>
