<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Raven.IsEmbeded" value="false"/>
      
    <add key="Supervisor.Raven.DocumentStore" value="http://localhost:8899" />
    <add key="Supervisor.Raven.Databases.Events" value="HeadquartersEvents" />
    <add key="Supervisor.Raven.Databases.Views" value="HeadquartersViews" />
    <add key="Supervisor.Raven.Databases.PlainStorage" value="SupervisorPlainStorage" />

    <add key="Headquarters.Raven.DocumentStore" value="http://localhost:8899" />  
    <add key="Headquarters.Raven.Databases.Events" value="HeadquartersEvents" />
    <add key="Headquarters.Raven.Databases.Views" value="HeadquartersViews" />
    <add key="Headquarters.Raven.Databases.PlainStorage" value="HeadquartersPlainStorage" />

    <add key="SupportedQuestionnaireVersion.Major" value="1" />
    <add key="SupportedQuestionnaireVersion.Minor" value="6" />
    <add key="SupportedQuestionnaireVersion.Patch" value="2" />
  </appSettings>
</configuration>