<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Raven.IsEmbeded" value="false"/>

    <add key="Supervisor.Raven.DocumentStore" value="http://localhost:8080" />
    <add key="Supervisor.Raven.Databases.Events" value="SupervisorEvents" />
    <add key="Supervisor.Raven.Databases.Views" value="SupervisorViews" />
    <add key="Supervisor.Raven.Databases.PlainStorage" value="SupervisorPlainStorage" />

    <add key="Headquarters.Raven.DocumentStore" value="http://localhost:8080" />
    <add key="Headquarters.Raven.Databases.Events" value="HeadquartersEvents" />
    <add key="Headquarters.Raven.Databases.Views" value="HeadquartersViews" />
    <add key="Headquarters.Raven.Databases.PlainStorage" value="HeadquartersPlainStorage" />
  </appSettings>
</configuration>