<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Raven.IsEmbeded" value="false"/>
    <add key="Raven.DocumentStore" value="http://localhost:8081" />
    <add key="Raven.Username" value="Stacy" />
    <add key="Raven.Password" value="Nastya12" />
    <add key="ShouldUsePersistentReadLayer" value="true" />
  </appSettings>
</configuration>