<section id="header" class="row">
    <div class="designer-logo"></div>
    <div class="breadcrumbs">
        <ul>
            <li><a href="/Designer">Designer home</a></li>
            <li><a href="/Designer">My Questionnaires</a></li>
        </ul>
    </div>
    <div class="questionnarie-title" ng-click="unfold();">
        <div class="title">
            {{questionnaire.Title}} <span>({{questionnaire.Statistics.QuestionsCount}}Q, {{questionnaire.Statistics.GroupsCount}}G, {{questionnaire.Statistics.RostersCount}}R)</span>
            <input type="button" class="wb-inline-button error" value="VERIFY" />
            <span class="error-message">5 errors in <a href="">3 questions</a></span>
        </div>
    </div>
</section>

<section id="spacer" class="row">
    <div class="left"></div>
    <div class="right"></div>
</section>

<section id="main" class="row">
    <div class="questionnaire-tree col-xs-6">
        <div class="chapter-title">
            {{currentChapter.Title }} <span>({{currentChapter.Statistics.QuestionsCount}} Questions, {{currentChapter.Statistics.GroupsCount}} Groups, {{currentChapter.Statistics.RostersCount}} Rosters)</span>
            <ul class="controls-right">
                <li><a href="" class="filter" title="Toggle Filter"></a></li>
                <li><a href="" class="search" title="Toggle Search"></a></li>
            </ul>
        </div>
        <div class="chapter-panel" ng-click="unfold();">
            <div class="foldback-button" ng-click="foldback();$event.stopPropagation()"></div>
            <ul class="chapters">
                <li ng-repeat="chapter in questionnaire.Chapters" ng-click="changeChapter(chapter)">
                    <div class="holder">
                        <div class="inner">
                            <h1>{{chapter.Title}}</h1>
                            <span>({{chapter.Statistics.QuestionsCount}} Questions, {{questionnaire.Statistics.GroupsCount}} Groups, {{questionnaire.Statistics.RostersCount}} Rosters)</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="question-list">

            <div ng-repeat="group in documents.Groups | filter: {Level: 0}">
                <div class="section item" ng-click="setItem(group)">
                    {{ group.Title }} - {{questionnaire.Title}}
                </div>

                <div class="question item cat-multianswer" ng-repeat="child in group.Children" ng-click="setItem(child)">
                    <div class="icon"></div>
                    {{ child | truncateFilter:documents }}
                    <div class="qname-block">
                        <a href="" class="linked"></a>visit_health<div class="dropdown-btn"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="question-editor col-xs-6">
        <div ng-if="item != undefined">
            <form>
                <p>
                    {{questionnaire.Title}}
                    <input type="text" name="input" value="{{ item | truncateFilter:documents }}" ng-pattern="word" required ng-trim="false"
                           style="width:500px">
                </p>
                <p>
                    <input type="submit" value="Save" ng-click="submit()">
                </p>
            </form>
        </div>
    </div>

    <!--
      <h2>Chapters</h2>
      <li ng-repeat="chapter in chapters">
        <b>{{ chapter.Title }}</b>
      </li>

      <h2>Groups</h2>
      <ol>
        <li ng-repeat="group in documents.Groups | filter: {Level: 0}">
          {{ group.Title }}
            <ol>
              <li ng-repeat="child in group.Children">
                {{ child | truncateFilter:documents }}
                <ol ng-if="child.Type==10">
                  <li ng-repeat="c in child| truncateFilter2:documents">
                    {{ c | truncateFilter:documents}}
                  </li>
                </ol>
              </li>
            </ol>
        </li>
      </ol> -->
</section>