<section id="header" class="row">
    <div class="designer-logo"></div>
    <div class="breadcrumbs">
        <ul>
            <li><a href="/Designer">Designer home</a></li>
            <li><a href="/Designer">My Questionnaires</a></li>
        </ul>
    </div>
    <div class="questionnarie-title">
        <div class="title">
            {{questionnaire.Title}} <span>({{questionnaire.QuestionsCount}}Q, {{questionnaire.GroupsCount}}G, {{questionnaire.RostersCount}}R)</span>
            <input type="button" id="verify-btn" class="wb-inline-button error" value="VERIFY" data-container="body" data-toggle="modal-popover" data-placement="bottom" ng-click="verify()" />
            <span ng-hide="verificationStatus.errorsCount == 0" class="error-message ng-hide"><a href=""><span ng-bind="verificationStatus.errorsCount"></span>  errors</a></span>
            <span ng-show="verificationStatus.errorsCount == 0">OK</span>
        </div>
    </div>
</section>

<section id="spacer" class="row">
    <div class="left"></div>
    <div class="right"></div>
</section>

<section id="main" class="row">
    <div class="questionnaire-tree col-xs-6">
        <div class="chapter-title">
            {{currentChapter.Title }}
            <span>({{currentChapter.QuestionsCount}} Questions, {{currentChapter.GroupsCount}} Groups, {{currentChapter.RostersCount}} Rosters)</span>
            <ul class="controls-right">
                <li><a href="" class="filter" title="Toggle Filter"></a></li>
                <li><a href="" class="search" title="Toggle Search"></a></li>
            </ul>
        </div>
        <div class="chapter-panel" ng-click="unfold();" ng-class="{unfolded: isFolded == true}">
            <div class="foldback-button" ng-click="foldback();$event.stopPropagation()"></div>
            <ul class="chapters">
                <li ng-repeat="chapter in questionnaire.Chapters" ng-class="{current: currentChapterId == chapter.ChapterId}" ng-click="changeChapter(chapter);">
                    <div class="holder">
                        <div class="inner">
                            <h1>{{chapter.Title}}</h1>
                            <span>({{chapter.QuestionsCount}} Questions, {{chapter.GroupsCount}} Groups, {{chapter.RostersCount}} Rosters)</span>
                            <div class="dropdown-button">
                            </div>
                            <div>
                                <a ng-click="addNewChapter()">Add new</a>&nbsp;
                                <a ng-click="editChapter()">Edit</a>&nbsp;
                                <a ng-click="cloneChapter()">Clone</a>&nbsp;
                                <a ng-click="deleteChapter()">Delete</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="button-holder">
                <input type="button" class="wb-inline-button lighter-hover" value="ADD NEW CHAPTER" ng-click="addNewChapter()">
            </div>
        </div>

        <div class="question-list">
            <div ng-repeat="i in items">
                <div class="section item" ng-click="setGroup(i)" ng-class="{'selected' : i.GroupId == currentItemId}">
                    {{i.Title}}
                </div>
                <div ng-repeat="q in i.Questions" ng-click="setItem(i, q)"
                     class="question item "
                     ng-class="{'selected' : q.QuestionId == currentItemId, 'cat-singleanswer': q.Type == 1, 'cat-singleanswer': q.Type == 2, 'cat-multianswer' : q.Type == 3, 'cat-intedit' : q.Type == 4, 'cat-datetime' : q.Type == 5, 'cat-geoloc' : q.Type == 6, 'cat-textedit' : q.Type == 8, 'cat-textarea' : q.Type == 9,  'cat-multimedia' : q.Type == 10, 'cat-textedit' : q.Type == 7, 'cat-singleanswer' : q.Type == 0 }">
                    <div class="icon"></div>
                    {{ q.Title }}
                    <div class="qname-block">
                        <a href="" class="linked"></a>{{q.Variable}}<div class="dropdown-btn"></div>
                    </div>
                </div>
                <div class="buttons-item">
                    <input type="button" class="wb-inline-button lighter-hover" value="ADD QUESTION" />
                    <input type="button" class="wb-inline-button lighter-hover" value="ADD SUBGROUP" />
                </div>
            </div>
        </div>
    </div>

    <div class="question-editor col-xs-6">
        <div ng-if="item != undefined">
            <form>
                <p>
                    {{questionnaire.Title}}
                    <input type="text" name="input" value="{{item.Title}}" ng-pattern="word" required ng-trim="false"
                           style="width:500px">
                </p>
                <p>
                    <input type="submit" value="Save" ng-click="submit()">
                </p>
            </form>
        </div>
    </div>

    <!--
        <h2>Chapters</h2>
        <li ng-repeat="chapter in chapters">
            <b>{{ chapter.Title }}</b>
        </li>

        <h2>Groups</h2>
        <ol>
            <li ng-repeat="group in documents.Groups | filter: {Level: 0}">
                {{ group.Title }}
                <ol>
                    <li ng-repeat="child in group.Children">
                        {{ child | truncateFilter:documents }}
                        <ol ng-if="child.Type==10">
                            <li ng-repeat="c in child| truncateFilter2:documents">
                                {{ c | truncateFilter:documents}}
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol> -->
</section>