<div class="questionnaire-tree col-xs-6">
  <div class="chapter-title">
    Chapter 1. Household <span>(34 Questions, 4 Groups, 2 Rosters)</span>
    <ul class="controls-right">
      <li><a href="" class="filter" title="Toggle Filter"></a></li>
      <li><a href="" class="search" title="Toggle Search"></a></li>
    </ul>
  </div>
  <div class="chapter-panel">
    <div class="foldback-button"></div>
    <ul class="chapters">
      <li class="current">
        <div class="holder">
          <div class="inner">
            <h1>Chapter 1. Household</h1>
            <span>(34 Questions, 4 Groups, 2 Rosters)</span>
          </div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="inner">
            <h1>Chapter 2. Overall working conditions<br/> and political enviroment</h1>
            <span>(34 Questions, 4 Groups)</span>
          </div>
        </div>
      </li>
      <li>
        <div class="holder">
          <div class="inner">
            <h1>Chapter 3. Nutrition</h1>
            <span>(34 Questions, 4 Groups, 1 Roster)</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="question-list">

    <div ng-repeat="group in documents.Groups | filter: {Level: 0}">
      <div class="section item" ng-click="setItem(group)">
      {{ group.Title }}
      </div>

      <div class="question item cat-multianswer" ng-repeat="child in group.Children"  ng-click="setItem(child)">
        <div class="icon"></div>
        {{ child | truncateFilter:documents }}
        <div class="qname-block">
          <a href="" class="linked"></a>visit_health<div class="dropdown-btn"></div>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="question-editor col-xs-6">
  <div ng-if="item != undefined">
    <form>
      <p>
        <input type="text" name="input" value="{{ item | truncateFilter:documents }}" ng-pattern="word" required ng-trim="false"
          style="width:500px">
      </p>
      <p>
        <input type="submit" value="Save" ng-click="submit()">
      </p>
    </form>
  </div>
</div>

<!--
  <h2>Chapters</h2>
  <li ng-repeat="chapter in chapters">
    <b>{{ chapter.Title }}</b>
  </li>

  <h2>Groups</h2>
  <ol>
    <li ng-repeat="group in documents.Groups | filter: {Level: 0}">
      {{ group.Title }}
        <ol>
          <li ng-repeat="child in group.Children">
            {{ child | truncateFilter:documents }}
            <ol ng-if="child.Type==10">
              <li ng-repeat="c in child| truncateFilter2:documents">
                {{ c | truncateFilter:documents}}
              </li>
            </ol>
          </li>
        </ol>
    </li>
  </ol> -->
