<form role="form">
    <h3>Question</h3>
    <div class="form-group">
        <label for="edit-question-title">Question Title</label>
        <input id="edit-question-title" type="text" ng-model="activeQuestion.title" class="form-control">
    </div>
    

    <div class="form-group">
        <label for="edit-question-variable-name">Variable name</label>
        <input id="edit-question-variable-name" type="text" ng-model="activeQuestion.variableName" class="form-control">
    </div>
    
    <div class="form-group">
        <label for="edit-question-type">Type</label>
        <select id="edit-question-type" class="form-control" ng-model="activeQuestion.type" ng-options="scope.value as scope.text for scope in activeQuestion.questionTypes"></select>
    </div>
    
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="activeQuestion.isPreFilled">
            fre-filled question
        </label>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="activeQuestion.isMandatory">
            mandatory question
        </label>
    </div>
    
    <div class="form-group">
        <label for="edit-question-validation-expression">Validation expression</label>
        <input id="edit-question-validation-expression" type="text" ng-model="activeQuestion.validationExpression" class="form-control">
    </div>
    
    <div class="form-group">
        <label for="edit-question-validation-message">Validation expression</label>
        <input id="edit-question-validation-message" type="text" ng-model="activeQuestion.validationMessage" class="form-control">
    </div>
    <div class="form-group">
        <label for="edit-question-enablement-condition">Enablement cndition</label>
        <input id="edit-question-enablement-condition" type="text" ng-model="activeQuestion.enablementCondition" class="form-control">
    </div>
    <div class="form-group">
        <label for="edit-question-scope">Question scope</label>
        <select for="edit-question-scope"  ng-model="activeQuestion.questionScope" ng-options="scope.value as scope.text for scope in activeQuestion.questionScopes " class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="edit-question-instructions">Instructions</label>
        <input id="edit-question-instructions" type="text" ng-model="activeQuestion.instructions" class="form-control">
    </div>
    <p>
        <input type="submit" value="Save" id="edit-question-save-button" ng-click="saveQuestion()">
    </p>
</form>