@model object
@{
    ViewBag.ActivePage = MenuItem.Assignments;
    ViewBag.Title = Common.CreateNewAssignment;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
