@model object
@{
    ViewBag.ActivePage = MenuItem.Assignments;
    ViewBag.Title = Common.CreateNewAssignment;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@section styles
{
    <!-- css_markupWebInterview:css -->
    <link rel='stylesheet' async href='@Url.Content("~/Dependencies/build/markup-web-interview.css")'>
    <!-- endinject -->
    <!-- css_markupInterviewReview:css -->
    <link rel='stylesheet' async href='@Url.Content("~/Dependencies/build/markup-interview-review.css")'>
    <!-- endinject -->
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>
