@using System.Web.Optimization
@using WB.Core.BoundedContexts.Headquarters.UserPreloading.Dto
@using WB.Core.SharedKernels.SurveyManagement.Views.PreloadedData
@using WB.Core.SharedKernels.SurveyManagement.Views.SampleImport
@using WB.Core.SharedKernels.SurveyManagement.Views.User
@model string
@{
    Layout = "~/Views/Shared/_LayoutWithoutSidebar.cshtml";
    ViewBag.Title = "Index";
}
<div class="row-fluid">

    <h3 data-bind="visible: state()==@((int)UserPrelodingState.CreatingUsers) || state()==@((int)UserPrelodingState.ReadyForUserCreation)"><b data-bind="text: createdUsersCount"></b> out of <b data-bind="text: recordsCount"></b> users have been created</h3>

    <h3 data-bind="visible: state()==@((int)UserPrelodingState.Finished)">All <b data-bind="text: recordsCount"></b> users have been created</h3>

    <div data-bind="visible: state()==@((int)UserPrelodingState.FinishedWithError)">
        <h3>Finished with error, Reason: <span data-bind="text: errorMessage"></span></h3>
        <b data-bind="text: createdUsersCount"></b> out of <b data-bind="text: recordsCount"></b> users have been created
        @Html.ActionLink("Upload new file", "UserBatchUpload", null, new { @class = "btn btn-default btn-primary pull-right" })
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/components/bindings.js", "~/Scripts/pages/userpreloading.js")
    <script type="text/javascript">
        var updateVerificationStatusApiUrl = '@(Url.RouteUrl("DefaultApiWithAction", new {httproute = "", controller = "PreloadingApi", action = "UserPreloadingDetails"})+"/"+Model)';
        var viewModel = new Supervisor.VM.Preloading.UserPreloading(updateVerificationStatusApiUrl, [@((int)UserPrelodingState.CreatingUsers), @((int)UserPrelodingState.ReadyForUserCreation)]);
        viewModel.load();

        ko.applyBindings(viewModel);
    </script>
}
