@{
    Layout = null;
}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Designer</title>
    <meta name="viewport" content="width=device-width">
    <link href="~/UpdatedDesigner/externals/bootstrap-select-1.5.2/bootstrap-select.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/UpdatedDesigner/stylesheets/markup.css.css">
    <link href="~/UpdatedDesigner/styles/dropdown.css" rel="stylesheet" />
    <style>
        /*quick fix for layout*/
         #designer-editor.container section#main > .questionnaire-tree > .question-list .item:first-child {
             margin-top: 5px;
         }
    </style>
</head>
<body ng-app="designerApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="designer-editor" class="container" ng-view>
    </div>

    <!--[if lt IE 9]>
    <script src="~/UpdatedDesigner/vendor/es5-shim/es5-shim.js"></script>
    <script src="~/UpdatedDesigner/vendor/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="~/Scripts/jquery-2.1.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/UpdatedDesigner/externals/bootstrap-select-1.5.2/bootstrap-select.min.js"></script>

    <script src="~/UpdatedDesigner/vendor/underscore/underscore.js"></script>
    <script src="~/UpdatedDesigner/vendor/angular/angular.js"></script>
    <script src="~/UpdatedDesigner/vendor/angular-route/angular-route.js"></script>
    <script src="~/UpdatedDesigner/vendor/angular-cookies/angular-cookies.js"></script>
    <script src="~/UpdatedDesigner/vendor/angular-resource/angular-resource.js"></script>
    <script src="~/UpdatedDesigner/vendor/angular-sanitize/angular-sanitize.js"></script>

    <script src="~/UpdatedDesigner/vendor/angular-underscore/angular-underscore.js"></script>

    <script src="~/UpdatedDesigner/scripts/app.js"></script>

    <script src="~/UpdatedDesigner/scripts/controllers/main.js"></script>
    <script src="~/UpdatedDesigner/scripts/controllers/chapters.js"></script>
    <script src="~/UpdatedDesigner/scripts/controllers/verification.js"></script>
    <script src="~/UpdatedDesigner/scripts/controllers/chapter.js"></script>
    <script src="~/UpdatedDesigner/scripts/controllers/question.js"></script>
    <script src="~/UpdatedDesigner/scripts/controllers/roster.js"></script>

    <script src="~/UpdatedDesigner/scripts/services/commandService.js"></script>
    <script src="~/UpdatedDesigner/scripts/services/questionnaireService.js"></script>
    <script src="~/UpdatedDesigner/scripts/services/verificationService.js"></script>
    <script src="~/UpdatedDesigner/scripts/services/utilityService.js"></script>
    <script src="~/UpdatedDesigner/scripts/services/navigationService.js"></script>

    <script src="~/UpdatedDesigner/scripts/jquery.mCustomScrollbar.js"></script>
    <script src="~/UpdatedDesigner/scripts/jquery.mousewheel.js"></script>

</body>
</html>
