@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Open</title>
    <script type="text/javascript">
        window.location = '@ViewBag.RedirectTo';
    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
