<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hostMap" type="NConfig.HostMapSection, NConfig"/>
  </configSections>

  <hostMap>
    <add alias="TLK" host="Ironhide" />
    <add alias="TLK" host="Smokescreen" />
    <add alias="TLK" host="Powerglide" />
    <add host="RLA376582" alias="Roma" />
    <add host="V" alias="Vitalii" />
    <add host="DESKTOP-DIAFTQ4" alias="Vitalii" />
    <add host="seropyan" alias="Ira" />
    <add host="Slava-PC" alias="Slava" /> 
    <add host="ryu" alias="ank" />
    <add host="vgl" alias="vgl" />
    <add host="spuv-work" alias="SPuV" />
    <add host="spuv-dell" alias="SPuV" />
    <add host="XPS" alias="SPuV" />
    <add host="SPuV" alias="SPuV" />
    <add host="magpie" alias="ANK" />
  </hostMap>

</configuration>
