<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.3.0" targetFramework="net471" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net471" />
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net471" />
  <package id="AutoMapper" version="7.0.1" targetFramework="net471" />
  <package id="CaptchaMvc.Mvc5" version="1.5.0" targetFramework="net471" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net471" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net471" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net471" />
  <package id="Common.Logging.NLog40" version="3.4.1" targetFramework="net471" />
  <package id="CSCore" version="1.2.1.2" targetFramework="net471" />
  <package id="CsvHelper" version="6.1.0" targetFramework="net471" />
  <package id="Dapper" version="1.50.5" targetFramework="net471" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="EntityFramework6.Npgsql" version="3.2.0" targetFramework="net471" />
  <package id="Esri.ArcGISRuntime" version="100.2.1" targetFramework="net471" />
  <package id="Esri.ArcGISRuntime.WPF" version="100.2.1" targetFramework="net471" />
  <package id="FluentMigrator" version="1.6.2" targetFramework="net471" />
  <package id="Humanizer.Core" version="2.4.2" targetFramework="net471" />
  <package id="Humanizer.Core.es" version="2.4.2" targetFramework="net471" />
  <package id="Humanizer.Core.fr" version="2.4.2" targetFramework="net471" />
  <package id="Humanizer.Core.id" version="2.4.2" targetFramework="net471" />
  <package id="Humanizer.Core.it" version="2.4.2" targetFramework="net471" />
  <package id="Humanizer.Core.pt" version="2.4.2" targetFramework="net471" />
  <package id="Humanizer.Core.ru" version="2.4.2" targetFramework="net471" />
  <package id="Humanizer.Core.zh-CN" version="2.4.2" targetFramework="net471" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net471" />
  <package id="ImageResizer" version="4.2.5" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.1" targetFramework="net471" />
  <package id="Microsoft.AspNet.SignalR.Ninject" version="1.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.1" targetFramework="net471" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net471" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.1.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net471" />
  <package id="Modernizr" version="2.8.3" targetFramework="net471" />
  <package id="NConfig" version="1.1.23" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="NHibernate" version="5.1.2" targetFramework="net471" />
  <package id="Ninject" version="3.3.4" targetFramework="net471" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.3.1" targetFramework="net471" />
  <package id="Ninject.Extensions.Factory" version="3.3.2" targetFramework="net471" />
  <package id="Ninject.Extensions.NamedScope" version="3.3.0" targetFramework="net471" />
  <package id="Ninject.MVC5" version="3.3.0" targetFramework="net471" />
  <package id="Ninject.Web.Common" version="3.3.0" targetFramework="net471" />
  <package id="Ninject.Web.Common.OwinHost" version="3.3.0" targetFramework="net471" />
  <package id="Ninject.Web.Common.WebHost" version="3.3.0" targetFramework="net471" />
  <package id="Ninject.Web.WebApi" version="3.3.0" targetFramework="net471" />
  <package id="Ninject.Web.WebApi.OwinHost" version="3.3.0" targetFramework="net471" />
  <package id="NLog" version="4.5.7" targetFramework="net471" />
  <package id="NLog.Web" version="4.5.3" targetFramework="net471" />
  <package id="Npgsql" version="4.0.2" targetFramework="net471" />
  <package id="Owin" version="1.0" targetFramework="net471" />
  <package id="prometheus-net" version="1.3.5" targetFramework="net471" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net471" />
  <package id="Quartz" version="2.6.1" targetFramework="net471" />
  <package id="RecaptchaNet" version="2.1.0" targetFramework="net471" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net471" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net471" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net471" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net471" />
  <package id="StackExchange.Exceptional" version="2.0.0-alpha3-00183" targetFramework="net471" />
  <package id="StackExchange.Exceptional.Shared" version="2.0.0-alpha3-00183" targetFramework="net471" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net471" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net471" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net471" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net471" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net471" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net471" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net471" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net471" />
  <package id="WebGrease" version="1.6.0" targetFramework="net471" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net471" />
</packages>