<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <section name="Exceptional" type="StackExchange.Exceptional.Settings, StackExchange.Exceptional" />
        <section name="eventBus" type="WB.UI.Shared.Web.Configuration.EventBusConfigSection, WB.UI.Shared.Web, Version=3.0.60.0, Culture=neutral" />
        <section name="applicationSecurity" type="WB.UI.Shared.Web.Configuration.HqSecuritySection, WB.UI.Shared.Web" />
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <sectionGroup name="userPreloadingSettingsGroup">
            <section name="userPreloadingSettings" type="WB.UI.Headquarters.UserPreloadingConfigurationSection, WB.UI.Headquarters" allowLocation="true" allowDefinition="Everywhere" />
        </sectionGroup>
        <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <appSettings>
        <add key="owin:AutomaticAppStartup" value="true" />
        <add key="owin:AppStartup" value="WB.UI.Headquarters.Startup, WB.UI.Headquarters" />
        <add key="ReadSide.Version" value="6" />
        <add key="AdminEmail" value="wbcapi@worldbank.org" />
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="enableSimpleMembership" value="false" />
        <add key="autoFormsAuthentication" value="false" />
        <add key="ReadSide.CacheSize" value="2048" />
        <add key="Esent.Cache.Enabled" value="true" />
        <add key="Esent.Cache.Folder" value="Temp\EsentCache" />
        <add key="Synchronization.Key" value="60bb37838d8649aaa37c0575b7240667" />
        <add key="Synchronization.UseBackgroundJobForProcessingPackages" value="false" />
        <add key="InterviewDetailsDataScheduler.RetryCount" value="3" />
        <add key="Scheduler.SynchronizationParallelExecutorsCount" value="1" />
        <add key="Export.BackgroundExportIntervalInSeconds" value="15" />
        <add key="Export.EnableInterviewHistory" value="true" />
        <add key="Export.MaxRecordsCountPerOneExportQuery" value="300" />
        <add key="Export.InterviewsExportParallelTasksLimit" value="4" />
        <add key="Export.LimitOfCachedItemsByDenormalizer" value="100" />
        <add key="Export.InterviewIdsQueryBatchSize" value="40000" />
        <add key="Export.ErrorsExporterBatchSize" value="200" />
        <!--Parsed with https://msdn.microsoft.com/en-us/library/se73z7b9(v=vs.110).aspx -->
        <add key="Tracking.WebInterviewPauseResumeGraceTimespan" value="00:00:10" />
        <add key="PreLoading.InterviewsImportParallelTasksLimit" value="1" />
        <add key="InterviewDetailsDataScheduler.SynchronizationInterval" value="10" />
        <add key="Scheduler.SynchronizationBatchCount" value="64" />
        <add key="IsDevelopmentEnvironment" value="false" />
        <add key="IsHttpsRequired" value="false" />
        <add key="DesignerAddress" value="https://designer.mysurvey.solutions" />
        <add key="RestTimeout" value="180" />
        <add key="WebInterviewEnabled" value="false" />
        <add key="MaxCachedAggregateRoots" value="100" />
        <add key="MaxWebInterviewsCount" value="100" />
        <add key="DataStorePath" value="~/App_Data" />
        <add key="recaptchaPublicKey" value="6LetABMUAAAAAC9mnsMHUbQ0a5u_h2ewO8ZrBy_V" />
        <add key="recaptchaPrivateKey" value="6LetABMUAAAAACisQeimQpOOLM8TW1ZbI7vgpQD2" />
        <add key="recaptchaApiVersion" value="2" />
        <add key="CaptchaService" value="hosted" />
        <add key="NewVersionCheckEnabled" value="true" />
        <add key="NewVersionCheckUrl" value="https://mysurvey.solutions/api/apps/release" />
        <add key="Google.Map.ApiKey" value="AIzaSyBHKhdb1w6Fv9MuyR9Sr5Msu6UnbFc_vtc" />
        <add key="Storage.S3.Enable" value="false" />
        <add key="Storage.S3.Endpoint" value="" />
        <add key="Storage.S3.Region" value="us-east-1" />
        <add key="Storage.S3.BucketName" value="decdatabackup" />
        <add key="Storage.S3.Prefix" value="binary" />
        <add key="AWSAccessKey" value="" />
        <add key="AWSSecretKey" value="" />
        <add key="Metrics.Gateway" value="" />
    </appSettings>
    <connectionStrings>
        <add name="Postgres" providerName="Npgsql" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=Qwerty1234;Database=SuperHQ;" />
    </connectionStrings>
    <eventBus>
        <eventHandlers>
            <disabled>
                <!--<add type="WB.Core.SharedKernels.SurveyManagement.EventHandler.DummyEventHandler, WB.Core.SharedKernels.SurveyManagement"/>-->
            </disabled>
            <withIgnoredExceptions>
                <add type="WB.Core.BoundedContexts.Headquarters.EventHandler.InterviewStatusTimeSpanDenormalizer, WB.Core.BoundedContexts.Headquarters, Version=1.0.0.0, Culture=neutral" />
                <add type="WB.Core.BoundedContexts.Headquarters.EventHandler.CumulativeChartDenormalizer, WB.Core.BoundedContexts.Headquarters, Version=1.0.0.0, Culture=neutral" />
            </withIgnoredExceptions>
        </eventHandlers>
        <ignoredAggregateRoots>
            <!--<aggregateRootId>3fefab305b474f2ba6c4420dce52eae9</aggregateRootId>-->
        </ignoredAggregateRoots>
    </eventBus>
    <Exceptional applicationName="HQ">
        <!-- This entire section is optional, if you want to log all exceptions you can leave off <IgnoreErrors> -->
        <IgnoreErrors>
            <Regexes>
                <!-- Exceptions with messages matching a regular expression here will not be logged -->
                <add name="404" pattern="was not found or does not implement" />
            </Regexes>
            <Types>
                <add name="OperationCanceledException" type="System.OperationCanceledException" />
            </Types>
        </IgnoreErrors>
        <LogFilters>
            <Form>
                <add name="password" replaceWith="***" />
                <add name="confirmPassword" replaceWith="***" />
            </Form>
            <Cookies>
                <add name="__RequestVerificationToken" replaceWith="***" />
                <add name=".AspNet.Cookies" replaceWith="***" />
                <add name="ASP.NET_SessionId" replaceWith="***" />
            </Cookies>
        </LogFilters>
        <!-- Email settings to send to, if an email per exception is desired, only toAddress is required, other defaults are pulled from the <system.net> section -->
        <!-- Which ErrorStore to use, if no element is declared here a Memory store with defaults will be used -->
        <!-- Other store types, common attributes:
         - rollupSeconds: optional (default 600 seconds), determines how long the window is to roll up exceptions with the same stack trace - 0 to not roll up
         - backupQueueSize: optional (default 1000), determines how many errors to cache (excluding roll-ups) in memory when logging fails...every 2 seconds we'll retry logging and flush these out to the final store -->
        <!-- JSON: size defaults to 200, this is how many files are kept before the oldest error is removed -->
        <ErrorStore type="JSON" path="~\App_Data\Elmah" size="2000" />
    </Exceptional>
    <applicationSecurity>
        <passwordPolicy minRequiredNonAlphanumericCharacters="0" passwordMinimumLength="10" passwordStrengthRegularExpression="^(?=.*[a-z])(?=.*[0-9])(?=.*[A-Z]).*$" />
        <cookieSettings expirationTime="24" slidingExpiration="true" name=".AspNet.Cookies" httpOnly="true" />
    </applicationSecurity>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
    <system.web>
        <httpCookies httpOnlyCookies="true" requireSSL="false" lockItem="true" />
        <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/genericError.html">
            <error redirect="~/Error/NotFound" statusCode="404" />
            <error redirect="~/Error/Forbidden" statusCode="403" />
            <error redirect="~/Error/AccessDenied" statusCode="401" />
        </customErrors>
        <compilation debug="true" targetFramework="4.7.1">
            <assemblies>
                <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
            </assemblies>
        </compilation>
        <authentication mode="None" />
        <profile>
            <providers>
                <clear />
            </providers>
        </profile>
        <httpRuntime targetFramework="4.7.1" maxRequestLength="307200" maxQueryStringLength="10240" enableVersionHeader="false" />
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
                <add namespace="System.Web.Optimization" />
            </namespaces>
        </pages>
        <globalization culture="en-US" uiCulture="auto:en" />
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add verb="GET" path="*.js" name="Static for js" type="System.Web.StaticFileHandler" />
            <add verb="GET" path="*.json" name="Static for json" type="System.Web.StaticFileHandler" />
            <add verb="GET" path="*.css" name="Static for css" type="System.Web.StaticFileHandler" />
            <add verb="GET" path="*.png" name="Static for png" type="System.Web.StaticFileHandler" />
            <add verb="GET" path="*.jpg" name="Static for jpg" type="System.Web.StaticFileHandler" />
            <add verb="GET" path="*.eot" name="Static for eot" type="System.Web.StaticFileHandler" />
            <add verb="GET" path="*.svg" name="Static for svg" type="System.Web.StaticFileHandler" />
            <add verb="GET" path="*.ttf" name="Static for ttf" type="System.Web.StaticFileHandler" />
            <add verb="GET" path="*.woff" name="Static for woff" type="System.Web.StaticFileHandler" />
            <add verb="GET" path="*.otf" name="Static for otf" type="System.Web.StaticFileHandler" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />

            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="ErrorLog" type="StackExchange.Exceptional.ExceptionalModule, StackExchange.Exceptional" />
        </modules>
        <staticContent>
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <remove fileExtension=".tpk" />
            <mimeMap fileExtension=".tpk" mimeType="application/octet-stream" />
        </staticContent>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="314572800" maxQueryString="10240"></requestLimits>
            </requestFiltering>
        </security>
    </system.webServer>
    <runtime>
        <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.SecureString" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Graph.Core" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Globalization.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.7.0" newVersion="3.2.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.668" newVersion="2.0.0.668" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Remotion.Linq.EagerFetching" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <location path="~/ImportExport/Import" inheritInChildApplications="false">
        <system.web>
            <httpRuntime maxRequestLength="2097151" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="16777208" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <location path="HQ/SampleBatchUpload" inheritInChildApplications="false">
        <system.web>
            <httpRuntime maxRequestLength="307200" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="314572800" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <location path="HQ/SampleBatchUploadAndVerify" inheritInChildApplications="false">
        <system.web>
            <httpRuntime maxRequestLength="307200" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="314572800" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <location path="HQ/PanelBatchUploadAndVerify" inheritInChildApplications="false">
        <system.web>
            <httpRuntime maxRequestLength="307200" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="314572800" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <location path="api/interviewer/v2/tabletInfoAsFile" inheritInChildApplications="false">
        <system.web>
            <httpRuntime maxRequestLength="102400" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="104857600" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <location path="api/interviewer/v2/tabletInfo" inheritInChildApplications="false">
        <system.web>
            <httpRuntime maxRequestLength="102400" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="104857600" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <location path="api/interviewer/v1/tabletInfo" inheritInChildApplications="false">
        <system.web>
            <httpRuntime maxRequestLength="102400" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="104857600" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <location path="api/mapsapi/upload" inheritInChildApplications="false">
        <system.web>
            <httpRuntime maxRequestLength="2097151" />
        </system.web>
        <system.webServer>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="1073741824" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
    <nlog throwExceptions="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <variable name="logDirectory" value="${basedir}/App_Data/" />
        <variable name="emailSupportSubject" value="Critical state of application" />
        <targets async="true">
      <target name="logfile" xsi:type="File" fileName="${logDirectory}/logs/${shortdate}.log" layout="${longdate}[${level}] ${logger:shortName=true} - ${message} [${onexception:${exception:format=toString,Data}|${stacktrace}}]" />
            <target name="console" xsi:type="Console" />
            <target name="email" xsi:type="Mail" smtpServer="smtp.gmail.com" smtpPort="587" smtpAuthentication="Basic" smtpUserName="survey.solutions.notifier@gmail.com" smtpPassword="Ot^9qMecWACHrGC" enableSsl="true" timeout="15000" useSystemNetMailSettings="false" subject="${emailSupportSubject}" from="survey.solutions.notifier@gmail.com" to="vitaliy.balabanov@gmail.com" />
            <target name="auditTarget" xsi:type="File" fileName="${logDirectory}/logs/Audit/Current.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss zz}; [User ${aspnet-User-Identity}]; ${message}" archiveFileName="${logDirectory}/logs/Audit/Archive.{#}.log" archiveNumbering="Rolling" archiveAboveSize="5242880" encoding="UTF-8" />
        </targets>
        <rules>
            <logger name="WB.Core.BoundedContexts.Headquarters.Services.Internal.AuditLog" minlevel="Trace" writeTo="auditTarget" />
            <logger name="WB.Core.BoundedContexts.Headquarters.DataExport.*" minlevel="Debug" writeTo="logfile" final="true" />
            <logger name="*" minlevel="Info" writeTo="logfile" />
            <logger name="*" minlevel="Trace" writeTo="console" />
        </rules>
    </nlog>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog40">
                <arg key="configType" value="INLINE" />
            </factoryAdapter>
        </logging>
    </common>
    <startup>
        <supportedRuntime version=".NETFramework,Version=v4.7.1" />
    </startup>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
            <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
        </providers>
    </entityFramework>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Npgsql" />
            <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
        </DbProviderFactories>
    </system.data>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
</configuration>
