@model WB.UI.Headquarters.Controllers.LogsModel

@{
    ViewBag.Title = TabletLogs.PageTitle;
    ViewBag.ActivePage = MenuItem.TabletLogs;
    Layout = "~/Views/Shared/_MainLayoutHq.cshtml";
}
@section Scripts{
    @Html.RenderHqConfig(Model)
}
<div id="vueApp"></div>

