@using Questionnaire.Core.Web.Helpers
@using RavenQuestionnaire.Core.Views.Question
@model CompleteQuestionView

@using (Html.BeginCollectionItem("Answers", true, Guid.NewGuid()))
{
    ((IDictionary<string, object>) ViewBag.EnabledRadioBoxSettings).Add("onchange", "$(this.form).submit();");
    string dateValue = Model.Answer == null ? string.Empty : Model.Answer.ToString();
    var required = string.Empty;
    if (Model.Mandatory) { required = "true"; }
    @Html.Hidden("Parent", Model.PublicKey)
    <div class="answer hide-date-box">
        @Html.Hidden("Selected", true)              
        @Html.IconInput("AnswerValue", dateValue, Model.Title,
                          new
                          {
                              data_options = "{\"zindex\": 9999999, \"centerWindow\": true, \"mode\": \"datebox\",\"calStartDay\": 1,\"noButtonFocusMode\": true, \"dateFormat\": \"MM/dd/YYYY\"}",
                              type = "hidden",
                              @class = "hidden",
                              data_role = "datebox",
                              onchange = "$(this.form).submit();",
                              @required
                          }, new { @class = "calendar" },
                          new { @class = "bold" })
    </div>
}