@using Questionnaire.Core.Web.Helpers
@model RavenQuestionnaire.Core.Views.Question.CompleteQuestionView

@using (Html.BeginCollectionItem("Answers", true, Guid.NewGuid()))
{
    ((IDictionary<string, object>)ViewBag.EnabledRadioBoxSettings).Add("onchange", "$(this.form).submit();");

    var dateValue = Model.Answer == null ? string.Empty : Model.Answer.ToString();
    @Html.Hidden("Parent", Model.PublicKey)
   
    <div class="answer hide-date-box">
        @Html.Hidden("Selected", true)

        @Html.IconInput("AnswerValue", dateValue, Model.Title,
        new
        {
            data_options = "{\"zindex\": 9999999, \"centerWindow\": true, \"mode\": \"datebox\",\"calStartDay\": 1,\"noButtonFocusMode\": true, \"dateFormat\": \"MM/dd/YYYY\"}",
            type = "hidden",
            @class = "hidden",
            data_role = "datebox",
            onchange = "$(this.form).submit();"
        }, new { @class = "calendar" },
    new { @class = "bold" })
   </div>
}




