<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl" version="1.0.7" targetFramework="MonoAndroid50" />
  <package id="Flurl.Http" version="0.6.0" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid403" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="MonoAndroid50" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="MonoAndroid50" />
  <package id="PCLStorage" version="0.9.6" targetFramework="MonoAndroid50" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="MonoAndroid50" />
</packages>